[2014-07-02 19:33] danielbachhuber opened #17 "WP-CLI/Drush Interactive mode"
As a Pantheon developer, I don't want to have to include `terminus` each time I want to use WP-CLI. I'd like to be able to enter an interactive mode where I can run whichever WP-CLI commands I want against my remote environment.

[2014-11-20 00:01] mikevanwinkle opened #29 "Users should be able to sort/filter lists"
This would apply to `backup list` and `sites show` especially

[2014-12-02 19:09] mikevanwinkle opened #31 "Unix user should not have to specify site"
Instead of requiring the --site param, we should have a prompt like we do with env

[2014-12-10 21:15] mikevanwinkle opened #36 "Input functions like ::prompt and ::menu should be moved to \Terminus\Helpers\Input"
Helper functions should be clearly name-spaced and isolated in Helpers/Input.

[2014-12-10 23:18] joshkoenig opened #38 "Interactively gather site argument"
In the old Terminus we had a way of running more interactively to pick up common args like `site` and `env`. This used the local data cache to quiz the user for the value if a required one was not provided.

While I don't think there's a built in "pick a value from this list" thing in our current framework, and I don't want to copy the old code, but from a DX perspective I miss this. It's probably

[2014-12-11 19:35] mikevanwinkle opened #39 "Users should be able to add a message for the deploy log from terminus"

[2014-12-11 22:27] mikevanwinkle opened #40 "Remove Team API in favor of Memberships API"
Replace with new membership api.

[2014-12-18 07:59] bmackinney opened #41 "Terminus site create does not prompt for organization"
This prevents users from successfully selecting custom upstreams at the upstream selection prompt.

[2014-12-19 23:46] ari-gold opened #43 "`terminus site team add` should add team member to site"
$ terminus site team list --site=test
+-------+------+---------------------+--------------------------------------+
| First | Last | Email               | UUID                                 |
+-------+------+---------------------+--------------------------------------+
| Test | Example | test@example.com | 8562d806-78cb-458f-ad3b-c874447cadfd |
+-------+------+---------------------+-------------

[2015-01-02 17:46] dearmond commented on #199
Looks like that fixed it! Thanks!

[2015-01-07 21:37] joshkoenig commented on #201
Hey Shawn,

The limit is indeed there to prevent an out of control script from negatively impacting the platform (which has happened). However, we're thinking about raising these limits or making them per-user configurable.

That said, I'd be curious what you're doing that's running one command every 1.5 seconds. Can you describe more how you are hitting this limit?

[2015-01-07 21:50] dearmond commented on #201
Well, a lot of commands in Terminus simply queue a task to execute, so the commands themselves are run rather quickly. For example, I run a command to manually backup the dev, test, and live sites for all of our production sites. That's three commands times 20(ish) sites = 60 commands, and it runs super quick because it just queues the backups.

However, I also run other commands like psite-name a

[2015-01-07 22:02] joshkoenig commented on #201
Ah, I see. Thanks for the details.

One short answer is that if you are burning a bunch of API calls to read data, it's good architectural design to start storing that data on your side rather than relying on us as a remote data source for names/etc.

On our end, we'll be working to set limits that relate to load/work (e.g. no reason we can't be more free with GET requests vs POSTS, etc). Also hav

[2015-01-09 21:25] bwood opened #45 "terminus site create: PHP Fatal error: Class 'Self' not found"
Here's what I've tried:

[code]

I get the same results when I try to install other products.

I tried both HEAD and 0.3.1-beta with the same results.

[code]

[2015-01-12 16:43] ghost opened #46 "Ability to create annotated git tags?"
I noticed the function `terminus site code` and its support for log, branches, branch-create, diffstat and commit.  Is it possible for it to support annotated git tags in the future?

[2015-01-12 16:52] ghost opened #47 "Undefined property: stdClass::$update_log with `terminus site upstream_updates`"
<pre>
$ terminus site upstream_updates --site=XXXXX
+-------------+-------------------+
| Environment | Status            |
+-------------+-------------------+
| dev         | Updates Available |
+-------------+-------------------+
Success: No updates to show
PHP Notice:  Undefined property: stdClass::$update_log in phar:///usr/local/bin/terminus/php/commands/site.php on line 1146
PHP Stack trace:

[2015-01-13 22:12] #45 closed, assigned to nobody

[2015-01-13 23:30] bwood opened #49 "terminus site create: Call to undefined method Products_Command::getById(). Also, permission to install product is not granted."
In reference to issue https://github.com/pantheon-systems/cli/issues/45. I saw this PR https://github.com/pantheon-systems/cli/issues/45 so I tested and hit a new error:

First, my terminus version:

[code]

(I pulled the latest code from git@github.com:pantheon-systems/cli.git master at about 15:00PDT)

[code]

I corrected this error with the following:

[code]

Now `terminus sites create` works,

[2015-01-14 17:45] #49 closed, assigned to nobody

[2015-01-14 18:10] bwood opened #50 "'terminus site create' could return the resulting UUID and site name"
In terminus 1.0, `psite-create` returned the UUID and site name.  This was really useful in multistep scripts when I wanted to perform further operations on the site I'd just spun up (e.g. add team members).  I could do this without making another call to `psite-info`

[code]

We could improve on `psite-create` in these ways:
1. Return the data on STDOUT, not STDERR
2. Support --json to avoid the

[2015-01-16 23:01] mikevanwinkle opened #51 "Error getting backups when none available"
[code]

[2015-01-16 23:07] cboyden-ucb opened #52 "Commit log not updated in command response"
When I run a terminus site code commit, I don't always see that commit in the log that's output to the terminal.

[code]

[2015-01-19 18:25] mikevanwinkle opened #53 "Backups not downloading."
When trying to get a download url the API returns

[code]

Need to investigate what changed in the API and what the solution is.

[2015-01-20 20:10] cboyden-ucb opened #54 "Option to create sites without waiting on workflow completion"
The previous version included a --no-poll flag so the script wouldn't wait for operations to complete before returning to the command prompt. Are you planning to add this to CLI v2?

[2015-01-20 22:41] #51 closed, assigned to nobody

[2015-01-20 22:41] #53 closed, assigned to nobody

[2015-01-22 01:06] bwood opened #55 "'terminus site info' would nicer not to require --nocache after site creation"
[code]

[code]

I need the site uuid...

[code]

What...? Oh maybe I need:

[code]

Some people might not think to try --nocache.  If it's got to be required, it would help to output a message about this in the 'sites create' output.

[2015-01-22 01:15] bwood opened #56 "'terminus site organizations list' doesn't list organizaitons"
[code]

With what org is this site associated?

[code]

If you simply hit Enter at that prompt you get a fatal error:

[code]

If you choose an org, you get a different error:

[code]

[2015-01-22 01:36] bwood opened #57 "terminus site organization add: fatal error. Help text --org inconsistent."
[code]

Do some commands take the org UUID and other the org _name_?

[code]

[code]

It would be nice if those could be consistent.

Try to add an org to a site with org NAME:

[code]

Try to add an org to a site with org UUID:

[code]

Try to select an org:

[code]

[2015-01-23 19:31] cboyden-ucb opened #58 "Error in terminus organizations sites"
I'm getting the following error when trying to list sites in an organization:

[code]

[2015-01-23 21:16] bwood opened #59 "terminus site create: Sporadic failures. "Not Found" and "Bad Gateway""
This is probably an infrastructure problem, but not sure where to report it.  Can you pass it along as appropriate?

While scripting `terminus sites create` commands I'm getting about 2 failures for each 6 site creation attempts:

[code]

I did get the access granted email containing: https://dashboard.getpantheon.com/sites/313d09e8-e105-4112-88fa-e3ed0d643e38

Earlier I saw this one:

[code]

htt

[2015-01-23 22:22] bwood opened #60 "json output contains double-quoted single-quoted strings like "'UC Berkeley - Testing'""
[code]

It would help to remove the single quotes--or escape them if there is some reason they should be preserved.

One place I see this is `organizations list`

[code]

Here's a workaround to prevent json_decode() from choking on the "label" value:

[code]

[2015-01-25 01:07] bwood opened #61 "Provide a way to refresh your drush aliases"
I don't see a way of refreshing your pantheon.aliases.drushrc.php.  In the old days I used `drush paliases` all the time--but for the last 4-6 months I stopped using it because it takes way too long and it flat out fails leaving me with an empty pantheon.aliases.drushrc.php about 70% of the time.  (The problem might be that we are team members of too many sites--the rest of the UC Berkeley admins

[2015-01-25 01:12] bwood opened #62 "terminus help --all: Show all subcommands"
I keep typing multiple `terminus help commands to try to find the subcommand I need. I'm elevating the [this comment](https://github.com/pantheon-systems/cli/issues/55#issuecomment-71061500) I made to its own issue for your consideration.

It would be great to have something like terminus help --all which would spit out all commands and subcommands. If there was another switch like --raw (or somet

[2015-01-26 19:46] ari-gold opened #63 "Help for each command should show available arguments"
For example this appears to work:

`terminus organizations sites --json --nocache --org=e6657950-fbdf-44ae-bde1-8bff77e66f80`

while `terminus help organizations sites` just gives:

[code]

[2015-01-27 20:50] bwood opened #65 "'terminus cli cache-clear' appears to log me out"
[code]

Test 1:

[code]

Test 2:

[code]

[2015-01-27 22:16] hengkit opened #67 "Inconsistent JSON returned for site information"
`terminus organizations sites --org=[orgid] --json` returns

[code]

and `terminus sites show --json` returns

[code]

[2015-01-27 22:41] joshkoenig opened #68 "Terminus\Loggers\Self not found"
Using the latest released phar file runnign many commands I'm running into:

[code]

[2015-01-28 15:44] calevans opened #70 "set connection mode returns no valuable information"
[code]

This command does not return anything of value. Whether it is successful or not, it returns a table of data about the site. The connection mode is not listed in this table.

Failure does not return a failure or a reason. It returns the same table.

I suggest that the command should return a 0 on failure or a 1 on success unless a verbose flag has been set. In the case of verbose, it should

[2015-01-28 16:33] calevans opened #71 "terminus sites delete command-line-test spews"
[code]

Yes, I know that's the wrong format. But it shouldn't spew. :)

Cheers!
=C=

[2015-01-28 16:49] calevans opened #72 "Creating a site screws things up"
Steps to reproduce

1 Create a site
2 `terminus sites show`
## Output Expected

[code]
## Output Received

[code]

Logging out - `terminus auth logout` - and then back in will show the sites again.

This also prevents you from adding and deleting a site in the same session.

I also tried the --no-cache just in case it was a caching issue. Still did not display properly.

Cheers!
=C=

[2015-01-28 16:55] calevans opened #74 "creating a site should return a return code"
Hi!

This is an opinionated enhancement request, not a bug. :)

All commands, but right now since I am working on creating sites, the `sites create` should return a result code of  `0`  if it failed and `1` if it succeeded.

The current output for `sites create` is a listing of all sites. This is a good output if the --verbose flag is set but otherwise, a return code would be better as it makes th

[2015-01-28 17:13] calevans opened #75 "sites delete should honor the --yes flag"
Again, opinionated enhancement request. :)

The make this usable in scripting it would be nice if the site delete command honored the `--yes` flag. This would make deleting a site scriptable. Yes, it's a dangerous option but we have to assume that if they got terminus installed and operational, they know what they are doing. :)

Cheers!
=C=

[2015-01-28 17:36] calevans opened #76 "creating a site with --product=wordpress does not fail, but does not work either"
Hi!

It is possible to pass in an invalid product ID and the system will create a half-formed repo.
## Steps to reproduce

1 ``terminus sites create --name=site-name --label=some_label --org=eace756e-33b1-471c-9f0c-2e51eca126bd --product=wordpress
2 Go to your dashboard

A site was created but there is nothing in it. An error appears in the dashboard.

![screen shot 2015-01-28 at 11 19 18 am](http

[2015-01-28 19:27] #74 closed, assigned to nobody

[2015-01-28 20:01] calevans opened #77 "consistency in verbs"
Hi!

This is a low-priority enhancement request

We have 3 different ways to say the same thing, depending on the command we are issuing. I would like to see us standardize

e.g.

[code]

I suggest that we standardize on one of them - I prefer list - across all commands. We should implement the chosen verb across all commands but not remove the existing verb. Depreciate it and remove it at a later

[2015-01-28 21:53] calevans opened #78 "terminus wp media import --post_id does not pass the post_id correctly to wp-cli"
Hi!

Ok, I'm not entirely sure this is a terminus problem. I'll report it here but if it's deemed to be wp-cli issue, close it.

When I execute the command:

[code]

Notice the warning. Yes, it imports the image but it does not pick up the post_id.

This however, works:

[code]

Notices the escaped quotes around the 1.

I tested it with wp-cli directly on my personal server and a test site and wp-

[2015-01-29 01:06] calevans opened #79 "terminus site backup download fails silently"
Hi!

[code]

This command will fail silently. I realize download isn't a valid action but shouldn't it tell the user that and exit with a status code 1?

Cheers!
=C=

[2015-01-29 22:28] #56 closed, assigned to nobody

[2015-01-30 00:15] #65 closed, assigned to nobody

[2015-01-30 00:15] #68 closed, assigned to nobody

[2015-01-30 00:15] #71 closed, assigned to nobody

[2015-01-30 00:15] #72 closed, assigned to nobody

[2015-01-30 00:15] #75 closed, assigned to nobody

[2015-01-30 00:15] #76 closed, assigned to nobody

[2015-01-30 00:15] #79 closed, assigned to nobody

[2015-01-30 00:26] calevans opened #82 "terminus auth login email@address.com fails"
[code]

If I do not pass in my email address it prompts me and correctly logs me in.

Cheers!
=C=

[2015-01-30 00:37] #77 closed, assigned to nobody

[2015-01-30 00:37] #82 closed, assigned to nobody

[2015-01-31 03:09] ElliotFriend opened #84 "`terminus help <command>` throws an error"
[code]

Whenever I run `terminus help <command>` I receive the following:

[code]

Commands and subcommands throughout the rest of terminus seem to be working properly, however. `terminus help` without any commands also works without any trouble.

When I revert this commit: 3d14e7c, the problem is resolved.

[2015-01-31 18:53] joshkoenig opened #87 "Include Help Functions in Tests"
As surfaced in #84 we would be well-served in having our help functions tested automagically as part of the rest of the test run.

[2015-02-02 18:36] #70 closed, assigned to nobody

[2015-02-03 00:58] bwood opened #90 "terminus "site" vs "sites" command"
According to help, the subcommands to "sites" are supposed to be "Actions on multiple sites," but currently `terminus sites [create | create-from-import | delete]` only operate on _one_ site.  Are there plans to make these act on multiple sites? If not, why are these not subcommands of "site?"

The multiple site functionality  that I am most interested in currently is "upstream_updates."  When Dru

[2015-02-03 01:06] bwood opened #92 "terminus site upstream_updates: underbar inconsistent"
Might it be appropriate to change upstream_updates to upstream-updates, since all of the other subcommands use a dash?

[2015-02-03 01:10] bwood opened #93 "terminus site upstream_updates: incorrect for dev environment"
[code]

[code]

When I visit the site dashboards for both of these sites, there is no yellow notice at #dev/code telling me that upstream updates are available.  From this I conclude that the "updates available" in the dev environments above are incorrect.

[2015-02-03 04:19] calevans opened #94 "Deleting a site should not print the site list by default"
Hi!

This should be prefaced with IMHO. :)

[code]

The command above should by default, only return an exit code (it does) and not a complete list of sites.

This is the second (or third?) issue I've raised about returning things. Maybe we should have a discussion about it. If I'm in the minority, I'm fine with that but I would love to see the output standardized.

I may be using terminus as an e

[2015-02-04 18:19] #61 closed, assigned to nobody

[2015-02-04 18:23] #84 closed, assigned to nobody

[2015-02-04 19:31] mikevanwinkle opened #101 "Behat behavioral testing needed"
We need a behat testing suite to test the interactions between with the command line to ensure regressions aren't introduced in untestable "command" functions.

[2015-02-04 21:03] chrisgross opened #102 "Enable Site Add-ons with Terminus"
Would it be possible to add some functionality to terminus that would allow additional site settings to be configured programmatically rather than through the dashboard? Specifically, I'm thinking enabling Add-Ons such as Redis, Solr, etc.

[2015-02-04 23:41] #92 closed, assigned to nobody

[2015-02-04 23:59] #59 closed, assigned to nobody

[2015-02-05 00:01] #58 closed, assigned to nobody

[2015-02-05 00:02] #57 closed, assigned to nobody

[2015-02-05 00:04] #47 closed, assigned to nobody

[2015-02-05 00:05] #55 closed, assigned to nobody

[2015-02-05 00:05] #41 closed, assigned to nobody

[2015-02-05 00:06] #39 closed, assigned to nobody

[2015-02-05 00:09] #31 closed, assigned to nobody

[2015-02-05 22:43] bwood opened #106 "Semantic version numbers should always contain major, minor and patch"
At the risk of nitpicking...

[code]

Should the above be 0.4.0-beta?

0.4-beta borks my function that checks for a minimum terminus version.  I assumed there would always be a patch number to check. I was going by http://semver.org/.  If you guys are doing things differently, I can adapt.

[2015-02-06 00:05] bwood opened #107 "'terminus site organizations add' reports conflicting results, returns 1, and fails to add orgs"
[code]

[code]

[2015-02-06 21:25] bmackinney opened #108 "terminus site dashboard, --yes option doesn't work."
[code]

Version: 0.4 beta

[2015-02-06 21:45] cboyden-ucb opened #109 "Terminus site backup create doesn't have a flag for retention time"
On the dashboard, you have the option to choose whether a backup will be saved for 1 month or 6. There's no way to tell from the UI (or, I believe, from Terminus) how long a backup will be saved. What's the default for backups kicked off via CLI, and can you add a flag CLI to set the retention time?

[2015-02-06 23:17] ElliotFriend opened #111 "`terminus site dashboard` throws an error"
[code]

I'm using Linux Mint 17.1 (based on Ubuntu 14.04.1). Here's the output that I get:

[code]

[2015-02-06 23:50] #108 closed, assigned to nobody

[2015-02-07 21:17] mikevanwinkle opened #113 "Move --yes logic into the Terminus::confirm() function"
This should make it more reliable and easier to unit test.

[2015-02-09 20:23] calevans opened #114 "--site and --name"
Hi!

In most commands we use the flag `--site` except for `sites create` there we use `--name`.

Would it be possible to use `--site` throughout all commands? Help old men like me not have to remember which is which.

Perfectly ok not to get rid of `--name`, just deprecate it.

Cheers!
=C=

[2015-02-09 21:20] calevans opened #115 "code needs help"
[code]

and `terminus help code` doesn't help.

It would be nice to have a complete help output like the other commands.

=C=

[2015-02-09 21:24] calevans opened #116 "site code commit need to return Success or Error"
Hi! :)

For consistency sake, `site code commit` needs to return "Success" or "Error" by default. Currently it outputs what I believe to be the commit log. (My test sites only have 2 commits so I am guessing)

This would be the proper output if the `-v` flag.

Cheers!
=C=

[2015-02-09 21:25] #115 closed, assigned to nobody

[2015-02-10 17:55] ElliotFriend commented on #111
I'm working on a branch to get the `--print` flag working, and should have that done pretty quickly.

I discovered that in Linux (at least Linux Mint, although it appears to be a pretty standard inclusion in most distros) `xdg-open http://example.com` works the same way `open` does on Mac OS (and it's not available in a Mac's terminal). Although, I don't know how to check if that program exists us

[2015-02-10 17:58] ElliotFriend commented on #111
While I'm looking at this code block, would it be worthwhile to include `--env` as one of the arguments? Seems like it might be useful.

[2015-02-10 18:18] suzannealdrich opened #118 "As a developer, I would like to authenticate with my SSH key rather than my dashboard password with the CLI"
**Motivation:**
- As a developer, I would like to authenticate with my SSH key rather than my dashboard password with the CLI

**Use Cases:**
- Scripting of Terminus API commands for CI

**Minimum Viable Product:**
- Ability to choose authentication with password or SSH key
- Choice of SSH key can be accomplished with SSH config

[2015-02-10 19:11] ElliotFriend opened #120 "`terminus site dashboard` should take an `--env` flag"
It would probably be pretty useful for the dashboard to command to take an optional argument to specify which environment the dashboard should open.

[2015-02-11 00:32] joshkoenig opened #121 "Fix docstring for `site backup`"
https://twitter.com/jarsenx/status/565244803407835136

We should make sure `list` is listed as an option, and that no option calls list. Right now an "action" is required.

[2015-02-11 00:55] joshkoenig commented on #118
Not possible at the moment. The Dashboard Authentication API just uses user/pass (or SAML).

However, this would certainly be nice. +1 for the feature.

[2015-02-11 03:04] iamEAP commented on #121
Related, but maybe warrants a different fix...  The docstring that lists possible elements specifies `db` for database, but you actually have to use `database`.

`terminus site backup get --element=database`

I imagine either the docs should be updated or, maybe because the `--db` flag is so widespread elsewhere, it should accept `db` as an element.

[2015-02-11 03:18] ElliotFriend commented on #121
@iamEAP +1 for that suggestion!

[2015-02-11 13:55] ghost commented on #121
I think this is more than just a documentation issue. Here's what I get when I try to run the command:

->terminus site backup list --site=genius-in-disguise --env=dev --element=files
**Error:** Invalid positional value: list

I ran the _get_ command the same way and it worked fine:

->terminus site backup get --site=genius-in-disguise --env=dev --element=files --to-directory=. --latest
Downloadin

[2015-02-11 17:16] joshkoenig commented on #121
Pre-patch "list" worked fine for me:

[code]

[2015-02-11 17:19] joshkoenig commented on #121
Also works the same after applying @ElliotFriend's PR. Can you make sure your local copy is up to date?

(FYI - we'll get freshness checking built into a pending release very soon)

[2015-02-11 17:50] ElliotFriend opened #124 "Wrong Guzzle method used for CurlException"
I'm working off the `master` branch.

My laptop was having trouble resolving DNS this morning (totally separate issue). When trying to login with Terminus, I received the following error:

[code]

[2015-02-11 18:11] ElliotFriend commented on #121
Using either `0.4-beta` or `master` gives me the same error as @jarsenx, using my `site-backup-docstring` branch works as expected.

[2015-02-11 18:35] bwood commented on #118
+1

Until this is possible, is the best alternative to create a "robot" users with the administrator role in your organization and to have the script authenticate as that user?

[2015-02-11 18:59] ElliotFriend commented on #118
+1

[2015-02-11 19:07] joshkoenig commented on #118
@bwood yes, and with upcoming Change Management release, you can even limit said "robot" to dev-only. ;)

[2015-02-11 19:15] ElliotFriend opened #126 "`terminus sites aliases` ends with wrong permissions for alias file"
Here's what I see on my Linux Mint 17.1 (Ubuntu 14.04.1) machine, using both `0.4-beta` and the `master` branch:

[code]

Maybe this is another Linux vs. Mac OS X issue?

[2015-02-11 19:15] mikevanwinkle commented on #124
See also #83

[2015-02-11 19:23] mikevanwinkle commented on #126
@ElliotFriend I suspect this was fixed here: https://github.com/pantheon-systems/cli/commit/668fa2012f977997aa6e35dd14850bb71fc08c33

You can see we do a chmod on the file in the function https://github.com/pantheon-systems/cli/blob/cbcd6dab62810fefb8bfcd6fa2c9c32b953b136c/php/commands/sites.php#L224, but previously it was doing the chmod on the file. Can you download the "bleeding edge" and give

[2015-02-11 20:48] ElliotFriend commented on #126
That `chmod` is what made me so confused. I saw it in my local repo, and couldn't figure out why it wasn't working properly.

I've pulled locally and am current with the `master` branch, and I'm still seeing the same issue:

[code]

[2015-02-11 20:54] mikevanwinkle commented on #126
try rm'ing the existing file and then running @ElliotFriend

[2015-02-11 20:56] mikevanwinkle commented on #126
You might also try running with sudo.

I haven't been able to reproduce yet, but I only tried one. I'll try again shortly.

[2015-02-11 20:58] ElliotFriend commented on #126
Tried removing it, too. After running the command, I'm still left with `-r----x--t` for the permissions.

I figured out a fix that works on my machine. PR incoming.

[2015-02-11 22:26] ElliotFriend commented on #126
Fixed with #129

[2015-02-11 22:26] #126 closed, assigned to nobody

[2015-02-11 22:46] mikevanwinkle commented on #121
Merged pull request.

[2015-02-11 23:38] mikevanwinkle commented on #101
So we're halfway there after #128 , but the fixtures for testing don't quite work yet.

[2015-02-11 23:48] ghost commented on #121
I was using the 0.4-beta release. I rolled back to 0.3.4-beta and the site backup list command is working now. Thanks a lot for your patience and all the help. This is a great tool.

[2015-02-12 00:14] mikevanwinkle commented on #106
The next version will be 0.5.0-beta

[2015-02-12 00:15] #116 closed, assigned to nobody

[2015-02-12 19:11] mikevanwinkle commented on #124
merged

[2015-02-12 19:11] #124 closed, assigned to nobody

[2015-02-12 19:18] #121 closed, assigned to nobody

[2015-02-12 23:29] #113 closed, assigned to nobody

[2015-02-12 23:29] #114 closed, assigned to nobody

[2015-02-13 21:31] #109 closed, assigned to nobody

[2015-02-13 21:59] bwood opened #133 "'terminus sites show' should handle the condition where the user has no sites"
Yes, an edge case...

[code]

Instead of the following, it would be good to see "There are no sites that list you as a team member" or something like that.

[code]

When I add this user as a team member on a site, things look good:

[code]

[2015-02-13 22:18] bwood opened #134 "Clarify that Organization API should be passed an Org UUID"
[code]

The user is a member of an organization:

[code]

--org="UC Berkeley - Testing" fails:

[code]

Using the UUID succeeds after tons of output on STDERR:

[code]

[2015-02-13 22:27] bwood opened #135 "Terminus does not cache a User's Orgs' Sites; making those sites unuseable unless you are a Site Team Member"
This is an API question and maybe belongs in a different issue queue.

The user ist-drupal@lists.berkeley.edu is an admin on "UC Berkeley - Testing."  This user can get site info for a site where they are on the team:

[code]

But they can't get info for another site in this organization where they are not on the team:

[code]

That error message is not true--the site does exist.

I'd argue that O

[2015-02-14 00:06] mikevanwinkle commented on #134
Yeah that's ugly. I think the issue here though is that the API expects --org to be the org uuid NOT the name. The only time the name is used is when adding a site to an org.

[2015-02-14 00:06] mikevanwinkle commented on #134
I can add some validation around the org inputs though.

[2015-02-14 00:53] mikevanwinkle commented on #93
fixed by #103

[2015-02-14 00:53] #93 closed, assigned to nobody

[2015-02-14 00:53] #94 closed, assigned to nobody

[2015-02-14 01:03] bensheldon commented on #134
Just confirming that Add Org Membership is the snowflake command that references an organizations name; passing a UUID is the normative that all other commands do. We're resourcing a fix on the API side to make the Add Org Membership call consistent with everything else.

Sorry for the confusion.

[2015-02-17 15:20] aaronbauman opened #137 "Restore drush support"
I appreciate Pantheon's desire to deliver a standalone installable for Terminus.
This makes sense for some users, I'm sure.

However, personally I don't want to use yet another tool when drush is working perfectly fine.
Any possibility to restore drush commands into the CLI?

[2015-02-17 16:33] mikevanwinkle commented on #137
Hi @aaronbauman, I'm not sure I understand what you are asking. Currently you can run drush commands using `terminus drush <command>` but are you saying you wan the drush terminus commands available as well?

[2015-02-17 16:38] aaronbauman commented on #137
yes, exactly.
"terminus drush --site=$site --env=$env" is a bit verbose for my taste
"drush @$alias" was much easier

it's nit-picky and trivial, i know, but if it's an easy thing to add in to terminus it would save so many keystrokes.

[2015-02-17 17:29] joshkoenig commented on #137
Nothing should be preventing you from using Drush and our aliases directly. They're still there, and Drush is still Drush.

There's even a command in terminus to freshen your local aliases: `terminus sites aliases`

We simply no longer support making Pantheon platform calls via a drush wrapper.

[2015-02-17 22:21] rachelwhitton opened #139 "terminus site connection-mode does not return correct mode"
'Connection mode: Sftp' is returned even when the site is in GIT mode.

[2015-02-18 01:20] joshkoenig commented on #139
Can you make sure you're on the latest release? I feel like we fixed this recently on this issue:

https://github.com/pantheon-systems/cli/issues/70

[2015-02-18 16:41] rachelwhitton commented on #139
Woops! Updated to Terminus 0.4-beta and the issue is resolved. Thanks! Closing issue.

[2015-02-18 16:41] #139 closed, assigned to nobody

[2015-02-18 22:12] bwood opened #141 "`terminus drush` commands should recommend environment be in SFTP-mode"
The ability to auto-install our sites is an important feature.  I hope terminus can support this soon.

[code]

terminus drush site-install fails:

[code]

However the corresponding drush command works fine:

[code]

[2015-02-18 22:37] joshkoenig commented on #141
Are we sure this isn't a timing issue? They're doing the same command on the back-end, so there's no reason writability would change one way or the other. However, if it's a super-fresh site, it's possible that the container isn't unlocked for write access at the time of the first command.

[2015-02-18 22:42] bwood commented on #141
I just tried to run the 'drush terminus' command again now (28 min later) and I'm getting the same "not writable" error.

[2015-02-18 22:44] bwood commented on #141
...and the plain drush version of the command still succeeds.

[2015-02-18 22:53] cboyden commented on #141
The Terminus command tries to create a sites/[sitename] directory, but the plain drush command doesn't.

[2015-02-18 22:54] bwood commented on #141
Yeah the difference is that a drush alias is used with the drush command.   Maybe I can fake the alias...

[2015-02-18 23:24] mikevanwinkle opened #142 "Semantic Versioning in 0.5.0 Release"
Starting with version 0.5.0 we are committing to semantic versioning for Terminus. ( Read more about semantic versioning at http://semver.org/ )
## Versions

In keeping with the standards of semantic versioning, backward-incompatible fixes will be targeted to "Major" versions. "Minor" versions will be reserved for significant feature/bug releases needed between major versions. "Patch" releases wil

[2015-02-18 23:35] nstielau commented on #142
LGMT

[2015-02-18 23:49] #50 closed, assigned to nobody

[2015-02-18 23:49] #60 closed, assigned to nobody

[2015-02-18 23:57] mikevanwinkle commented on #141
@bwood I'm going to try and replicate this on my dev server and see if I can figure out what's happening.

[2015-02-18 23:58] mikevanwinkle commented on #106
closing in favor of #142

[2015-02-18 23:58] #106 closed, assigned to nobody

[2015-02-18 23:59] #63 closed, assigned to nobody

[2015-02-19 00:43] joshkoenig commented on #141
Could be that a different version of Drush is being invoked. If one is trying to create the dir and the other is not, that'd be likely.

[2015-02-19 13:28] mparker17 commented on #142
:+1:

[2015-02-19 16:31] ghost commented on #52
I have also experienced this issue running commits in Terminus.  Have not yet tried the --no-cache flag.

[2015-02-19 16:42] ghost opened #144 "Ability to merge branches with Terminus?"
Working on scripting module updates with Terminus, but there's two places where it fell down.  One is that there's no way to merge branches with Terminus.  Still have to login to dashboard to click the merge button. `terminus site code` supports creating new branches and making commits, but no merges.

Is there a technical obstacle?  Is this being considered?

Thanks!

[2015-02-19 16:50] ghost opened #145 "How to know if a process has completed?"
The second place where scripting module updates has fallen down is knowing when a process has completed.  For example, we spin up a new multidev environment for applying and testing updates before merging them in to master branch for deployment through dev, stage and prod.

After running `terminus site create-env` we get a success message, but if we jump right then into `terminus drush up` the dru

[2015-02-19 17:03] bwood commented on #145
Hey you'd want to use `terminus site jobs` to check the status of a job.  `--json` will probably be helpful.  Here is how I was doing it in terminus 1.0 (where `--json` wasn't available).

[code]

[2015-02-19 17:22] bensheldon commented on #145
In the interactive command, we'll poll the status of the "workflow" ("tasks" are deprecated  nomenclature now) for you. Though I think you're right that the json output flag sidesteps that polling.

I'll take a look at whether how/if we expose a command for checking workflow status and see how/if we can chain together the two commands to get what you want.

Another idea is to have a --wait flag or

[2015-02-19 20:08] bval opened #146 "publish updated composer package on packagist"
Since the older terminus repo is officially deprecated, it would be nice for this revised CLI tool to be available for install via composer/packagist. Currently the old one is the only package available:
https://packagist.org/packages/pantheon-systems/terminus

I see a composer.json already in the root of this project so it sounds like it's a matter of working composer into the release workflow.

[2015-02-19 21:13] bwood opened #147 "'terminus sites create' doesn't receive --product value"
[code]

[code]

When using --product, I'm still prompted to choose a product:

[code]

`--product="Open Berkeley 7"` yields same behavior.

[2015-02-19 21:25] ghost opened #148 "`terminus site deploy` fails with "Undefined property: stdClass::$body""
Running `$ terminus site deploy --site=my-site-name --env=test --from=dev --cc --updatedb --note='Deploy module updates to test.'` produces the following output:

[code]

The PHP Notice and stacktrace proceed to repeat over and over till I use ctrl+c.  I'm using 0.4-beta. I reinstalled and was still able to reproduce the error.

[2015-02-19 21:52] ghost commented on #148
It appears this was not a problem with Terminus, but a problem with a backlog of migrations on Pantheon's servers.  Closing this ticket.

[2015-02-19 21:52] #148 closed, assigned to nobody

[2015-02-20 16:32] ElliotFriend commented on #120
Fixed in #119

[2015-02-20 16:32] #120 closed, assigned to nobody

[2015-02-20 16:53] mikevanwinkle commented on #147
I believe this was fixed in another pull request ... but I can't find it. Are you on the bleeding edge? Or using the stable version?

[2015-02-20 17:31] ElliotFriend commented on #111
Fixed in #119

[2015-02-20 17:31] #111 closed, assigned to nobody

[2015-02-20 21:19] mikevanwinkle commented on #147
disregard, the place where this was fixed hasn't been merged yet. Will squeeze it in on 0.5.0.

[2015-02-20 21:51] mikevanwinkle commented on #146
Yes, this is a great idea. I'm adding it to the road map for 1.0.0 :+1:

[2015-02-20 22:01] #147 closed, assigned to nobody

[2015-02-20 22:31] #142 closed, assigned to nobody

[2015-02-23 17:01] ari-gold opened #154 "First deploy should deploy codebase, database, and files like Site Dashboard"
`$ terminus site deploy --site=site_name --from=dev --env=test --note="1st deploy"`
currently only deploys codebase, but should deploy codebase, database and files like Site Dashboard  does.

[2015-02-23 17:02] ari-gold opened #155 "Clarify usage of the --from flag on `site deploy`"
`site deploy` uses `--env=` and `--from=`

`site clone-env` uses `--from-env=` and `--to-env=`

How about for both: `--from=` and `--to=` ?

Or even better, work the way `cp` or `mv` does. first is source and second is destination?

$ terminus cli version
Terminus version: 0.5.0
Terminus script: terminus

[2015-02-23 17:41] mikevanwinkle commented on #155
I like this suggestion ... so combining with something I'd like to do I would ideally say it should be like this. Where `:sitename` is a shortcut that functions like aliases in drush. Thoughts?

`terminus site:mytestsite deploy dev test`

[2015-02-23 17:42] mikevanwinkle commented on #155
This is something I don't like about the current framework, that it too often uses flags where arguments make more sense.

[2015-02-23 18:42] ari-gold commented on #155
yes!

or even:
`terminus mysite deploy dev test`

[2015-02-23 18:51] ghost opened #156 "Is it possible to retrieve a list of sites by tag?"
I need to retrieve a list of all the sites for my organization that have been tagged as "in-dev" on the Sites tab of the Organization dashboard page. Is that possible? Thanks.

[2015-02-23 23:20] mikevanwinkle commented on #156
@jarsenx So currently terminus is not providing this possibility but it's a great idea and I'll add it to the 1.0 roadmap

[2015-02-23 23:45] bensheldon commented on #145
I am completely wrong in how the `terminus site create-env` command works. In the most-recent version, the command will not exit until the the full operation has finished (completely opposite to what I described above).  So it already implicitly 'waits' for completion (and there is _not_ currently a way to _not wait_).

So if the command exited successfully but the environment is not been fully re

[2015-02-24 05:14] ojkelly opened #157 "0.5 fails on create-env"
Hey,

Love what you guys have built here, I'm working on CI using Bamboo, and this has made it all possible :)

**Bug**
When running `terminus site create-env` I get:

[code]

[2015-02-24 06:30] ojkelly commented on #157
Alternatively, running the current HEAD of master, they build and give me this:

[code]

![schwartz_media_account___pantheon_dashboard](https://cloud.githubusercontent.com/assets/666613/6344305/9e574adc-bc4a-11e4-99c9-73607453ef43.png)

EDIT: The reason I was seeing this error, was becuase I have run create-env but not clone-env.

[2015-02-24 15:32] mikevanwinkle commented on #157
Hi Owen, thanks for reporting. I'm looking into this and will update shortly.

[2015-02-24 16:02] ari-gold commented on #157
@mikevanwinkle  I wonder if this has to do with an invalid branch name? See warning when pushing an invalid branch name with Git: https://gist.github.com/ari-gold/8452234976ebe155a98d

[2015-02-24 18:27] mikevanwinkle commented on #157
This is confirmed. I'll get a patch out asap.

[2015-02-24 19:22] mikevanwinkle commented on #157
This is resolved in version 0.5.1 https://github.com/pantheon-systems/cli/releases/tag/0.5.1

[2015-02-24 20:08] #157 closed, assigned to nobody

[2015-02-24 20:11] ghost commented on #145
At the time that I filed this ticket, the latest version was 0.4-beta, and that's what I was using.  Here's the relevant excerpt from the bash script where I ran into this issue:

[code]

When I ran into the problem, the `read` commnd did not exist between `terminus site create-env` and `drush up`.  The script would start to run the drush up command after the the create-env command, but the new en

[2015-02-24 20:23] ghost commented on #145
Looks like it worked this time, but it also looks like two attempts were made to run `drush up` when the first attempt failed.  Here's the output (I changed a few identifiers to keep it anonymous):

[code]

[2015-02-24 20:34] ghost commented on #145
Oops, ran that before updating to 0.5.1....

Things are broken again with the update to 0.5.1.  What's the preferred update method?  I've just been going to https://github.com/pantheon-systems/cli/wiki/Installation and copy-pasting the curl string at the top to update my version of Terminus.

Output:

[code]

For some reason it returns success on changing to sftp mode even though the environment o

[2015-02-24 20:57] ojkelly commented on #157
Awesome thanks for quick fix.

I'm not 100% sure on the reason the branch name is wrong, am I right in thinking they must be lowercase?

[2015-02-24 21:24] mikevanwinkle commented on #145
@livewyer Hi, sorry that was totally my fault, I uploaded the wrong executable. Try installing again. You can always verify that you installed the right version with `terminus cli version`

[2015-02-24 21:26] mikevanwinkle commented on #145
Can you try again with the new version and confirm this is fixed. I'm worried there's still an issue with the `drush up`

[2015-02-24 21:27] mikevanwinkle commented on #145
@livewyer that last message was for you

[2015-02-24 21:29] ghost commented on #145
@mikevanwinkle Just saw this.  Will test momentarily--need to switch gears from a different project.  Thanks

[2015-02-24 21:45] ghost commented on #145
Looks like I was running 0.5.0.  It updated to 0.5.1 this time.  I now get a preformatted array of output on mutlidev commands like `terminus site create-env` and `terminus site delete-env`.

Also, looks like terminus drush still not working.  I got the same message `Drush command terminated abnormally due to an unrecoverable error.       [error]` on both `drush up` and `drush updb`.  I don't thin

[2015-02-24 22:43] ojkelly commented on #157
Can confirm this is working, and that I had to translate my branch name to lower case

[code]

[2015-02-24 23:38] mikevanwinkle commented on #145
Ugh ... I'm not doing well today. That was sort of the same issue, I built
the executable with debug code in it :facepalm:. Try it again and you won't
get the preformatted code.

I'm looking into the `drush up` issue which appears unrelated.

On Tue, Feb 24, 2015 at 1:45 PM, livewyer notifications@github.com wrote:

##

Mike Van Winkle
708-289-3136
mike@mikevanwinkle.com
http://www.mikevanwinkle.c

[2015-02-25 17:12] ari-gold opened #158 "wp core install fails when title has spaces"
`$ terminus --site=sitename --env=test wp core install --url=http://test-sitename.pantheon.io --title="Test With Robots" --admin_user=admin --admin_password=something_incredibly_secure --admin_email=test@example.com
Running wp core install --url=http://test-sitename.pantheon.io --title="Test With Robots" --admin_user=admin --admin_password=something_incredibly_secure --admin_email=test@example.com

[2015-02-25 17:59] bensheldon commented on #158
@ari-gold I think this is a Bash escaping issue. For curiosity, could you try double-quoting the title?

[code]

I'm thinking maybe in this line we should interpolate some quotes:
https://github.com/pantheon-systems/cli/blob/860eb17753f5b7dca41a3362739463b60ac5a98f/php/commands/wp.php#L66

[2015-02-25 18:27] ari-gold commented on #158
Double-quoting the title fails. Escaping does work though. Thanks for the workaround.

[2015-02-25 18:32] alphex opened #159 "Question: best documentation for Terminus + Drush commands?"
I just successfully erased the DEV environment database on pantheon, of a site I'm building using this command.

$ terminus drush sql-sync --site=semper-payments --env=dev semper

Where "semper-payments" is the site name,  and "semper" is my local alias name.

This erased the DEV-SEMPER-PAYMENTS site's database on pantheon, and didn't pull down a copy to my local environment.

Following the docume

[2015-02-25 21:25] ari-gold opened #161 "site wipe should ask for confirmation"
`terminus site --site=example --env=test wipe`
deletes the site's files and database without asking for confirmation.

[2015-02-26 00:51] mikevanwinkle commented on #159
Ouch. I'm very sorry about that. It's not clear to me at the moment that the command was run properly ( or that it should be run via terminus at all), but even if not, I wouldn't expect the database to actually be removed. One thing is that our servers are running drush5.x, but I'm not sure if that would have affected it. I'll look into what's happening but for now I'd just use native drush for sy

[2015-02-26 01:04] alphex commented on #159
Thank you Michael!
I had a back up... I've old and scarred enough to make backups when I try
new things :)

Is there a list of working Drush Commands for the Pantheon CLI?

Thank you.
ᐧ

] duran goodyear
] alphex information solutions, llc
] w: http://alphex.com // v: 267.225.7439 // e: duran@alphex.com

On Wed, Feb 25, 2015 at 7:51 PM, Michael Van Winkle <
notifications@github.com> wrote:

[2015-02-26 17:47] ghost commented on #145
We just ran `terminus site create-env --env=hotfix-up --from-env=live --site=tech2stalk`
We visited the site in the browser after Terminus said the new environment had been created, but we got a Drupal install screen.  Looking in the Dashboard at the recent jobs, we see that it tried to create the new environment "hotfix-up" from "hotfix-up", instead of from live.  See attached screenshot to see w

[2015-02-26 18:01] mikevanwinkle commented on #145
I'm not sure this is a terminus issue, since I cannot replicate. There maybe something going on with your DB. Can you please open a ticket @livewyer

[2015-02-26 18:02] mikevanwinkle commented on #145
I'm closing this since I cannot replicate. If there is a bug or issue, it's going to be at the api/server level. Reporter is advised to open ticket.

[2015-02-26 18:04] mikevanwinkle commented on #145
Actually, to clarify, after testing again I was able to replicate but I'm still not convinced it's a terminus issue.

[2015-02-26 18:04] ghost commented on #145
Will do.  Also, please let us know when you get the drush up bug fixed.

Thanks

[2015-02-26 18:08] mikevanwinkle commented on #145
@livewyer disregard what I said previously, it was in fact a terminus bug. I'm patching this morning. apologies for the inconvenience. Feel free to close the ticket if you've already opened one.

[2015-02-26 18:12] ghost commented on #145
I would close the ticket in Dashboard, except that now all links to tickets load a page with no content.
![screenshot from 2015-02-26 12 11 43](https://cloud.githubusercontent.com/assets/1088354/6398360/ae99f77a-bdb0-11e4-8528-7f314f30a82f.png)

[2015-02-27 03:17] ojkelly opened #162 "Ability to delete git branch when deleting environment"
Hi,

Would it be possible to add a flag such as `terminus site delete-env --remove-branch` so that the git branch is deleted when the environment is?

Terminus is pretty damn good for getting CI working on Pantheon, but I'm stuck with a heap of branches.

I can delete the branches in a separate task but that requires maintaining a local copy of the git repo. It would be significantly cleaner if we

[2015-02-27 05:27] bensheldon commented on #162
Great suggestion! The Browser Dashboard also has this 2-step process, but I agree it could be optimized. I'll need to check our internal documentation to see if there is an updated api workflow operation to perform this action. Let me get back to you.

[2015-02-27 08:37] vincenzo opened #163 "PHP Notice: Undefined property: stdClass::$finish_time"
Using terminus `0.5.1` and running

[code]

I do, eventually, get the list of backups, but the following is displayed first:

[code]

[2015-02-27 20:02] mikevanwinkle commented on #145
@livewyer this issue is now fixed in version 0.5.2 which was just released. Thanks for your patience.

[2015-02-27 20:02] #145 closed, assigned to nobody

[2015-03-03 23:26] mikevanwinkle commented on #146
https://packagist.org/packages/terminus/terminus

[2015-03-03 23:26] #146 closed, assigned to nobody

[2015-03-03 23:27] mikevanwinkle commented on #163
Hi @vincenzo can you confirm that you have backups for that site and are still getting this error?

[2015-03-03 23:36] ojkelly opened #164 "Error on env-create"
Hey,

After running site create-env I'm getting this. It was working yesterday.

I think this might be a change on the api side, as my version of terminus (0.5.1) hasn't changed.

It looks like environments aren't being created properly as well.

[code]

[2015-03-03 23:37] #163 closed, assigned to nobody

[2015-03-03 23:52] mikevanwinkle commented on #164
I can confirm I too am receiving this error.

[2015-03-04 01:06] ojkelly commented on #164
This looks fixed now

[2015-03-04 01:06] #164 closed, assigned to nobody

[2015-03-04 03:52] bval commented on #146
:metal:

[2015-03-04 22:43] bwood opened #167 "'terminus sites create' yeilds stacktrace"

[2015-03-04 22:55] bwood commented on #167
Version 0.5.3 (bleeding edge)

Here's the error:

[code]

[2015-03-04 22:59] bwood opened #168 "'terminus auth logout' fails to log me out"
Version: 0.5.3 (bleeding edge)

[code]

[2015-03-04 23:02] mikevanwinkle commented on #167
Hi @bwood I don't think this has anything to do with the original issue. This error generally means there's an issue with the API. I can't reproduce though so I'm going to run it by the API engineers.

[2015-03-04 23:14] bwood commented on #141
@mikevanwinkle were you able to reproduce this?  Let me know if you need any other info from me.

3/27 we're making a big announcement about Open Berkelely at UC Berkeley and a webform that spins up a pantheon container and installs your Open Berkeley site is supposed to be part of that.

In the absence of 'terminus drush site-install' I've got a pretty hacky workaround where we could include inst

[2015-03-04 23:15] mikevanwinkle commented on #167
Can you test without the org? Then with the org but without the product? Just trying to narrow down the issue, since I cannot reproduce. I suspect it has something todo with permissions at the API level, but I'm not certain.

[2015-03-05 16:45] hugovk commented on #202
The README has been updated. @joshkoenig can you close this?

[2015-03-05 17:28] mikevanwinkle commented on #168
Confirmed, this was a regression after fixing #65 ... I'll have a patch in today.

[2015-03-05 17:48] bwood commented on #167
3 tests without the org:

[code]

[2015-03-05 17:51] bwood commented on #167
2 tests without the product:

[code]

[2015-03-05 19:31] mikevanwinkle commented on #159
@greg-1-anderson Can we talk about how this would/should work on Pantheon?

[2015-03-05 20:34] mikevanwinkle commented on #141
@bwood When I run `terminus drush site-install` everything works as expected.

Can you try again using the latest version? We've changed the create_site workflow some since this ticket was opened.

[2015-03-05 23:51] bwood commented on #141
Hi Mike,

I just pulled your latest code, updated composer and ran build.sh.  I'm still seeing the same problem:

[code]

[2015-03-06 00:03] bwood commented on #141
Our sites are in Git mode by default.  I changing to SFTP mode before running site-install might do the trick.  Testing....

[2015-03-06 00:09] bwood commented on #141
That was it!

So it would be awesome if 'terminus drush' were able to catch that condition and say "Try switching to SFTP mode,"  but if that's not a priority for you guys, I'm fine with you closing this.

[2015-03-06 16:33] ghost opened #173 "clone-env says dev environment doesn't exist"
You can see below first the results of `terminus site environments`, and then you see an attempt to clone live to dev, with Terminus saying that dev doesn't exist.  We did this for a different site just before this one, and that worked fine.  When I logged in to the Dashboard, we could see the dev site and successfully cloned live to dev.

[code]

[2015-03-06 19:05] mikevanwinkle commented on #173
I can confirm this issue. It's only related to cloning to the dev environment and has to do with how the code detects the environment. I'm working on a fix and should have it in today.

[2015-03-06 19:22] ghost commented on #173
Excellent. Thank you!

On March 6, 2015 1:05:25 PM CST, Michael Van Winkle notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-03-06 22:06] mikevanwinkle commented on #173
This is fixed in version 0.5.5
https://github.com/pantheon-systems/cli/releases/tag/0.5.5

[2015-03-07 00:42] mikevanwinkle opened #174 "Consolidate and refactor create-env and delete-env"
create-env and delete-env should be part of one overall environments command that supports list, create, delete

[2015-03-08 19:20] vincenzo commented on #163
@mikevanwinkle Sorry for the very late reply, but you were right: I had no backups. Thanks for fixing this ;)

[2015-03-08 19:24] vincenzo opened #175 "More switches for 'sites list'"
Kind of related to #156 - it'd be nice to filter the list by framework, e.g.

[code]

or by Service Level

[code]

[2015-03-09 09:58] hugovk commented on #155
With the old Drush Terminus, and with the dashboard interface you can only deploy from dev to test, and from test to live.

For example, deploy from dev to live:
`drush pantheon-site-deploy mysiteuuid live`

Is this the case with the new Terminus CLI? If so, there's no need for the `--from` flag.

[2015-03-09 14:32] bwood commented on #175
+1

[2015-03-09 14:40] mikevanwinkle commented on #163
No problem @vincenzo, it was still a bug with our error handling that I wanted to fix, so thanks for reporting.

[2015-03-09 17:52] solipsist commented on #137
Problem is, Pantheon CLI aka Terminus seems inferior to the Drush implementation for what I use it for. I've set up a workflow that depends on drush pf and drush pd. There are no equivalents for these short and brief commands now. I wish you had kept your users in the loop and collected feedback on how we've grown used to using Drush for day to day work, instead of just dropping support.

In an at

[2015-03-09 19:38] mikevanwinkle commented on #137
Hi @solipsist can you be more specific about what `drush pf` and `drush pd` do? If you're on your local you should still be able to still use them and since they don't appear to be standard commands they aren't implemented on our infrastructure anyway. Can you be more specific?

[2015-03-09 19:45] bensheldon commented on #137
Also, here is a link to Pantheon Documentation on using Drush: https://pantheon.io/docs/articles/local/drush-command-line-utility/

The only change being deprecated is the brief reference to the old Drush-based Terminus.

[2015-03-09 19:48] solipsist opened #178 "Recreating workflow from Drush – site backup load asks for MySQL password"
Hi,

I'm used to doing this:

drush pd sitename.dev
drush pf sitename.dev

I've tried using `terminus site backup load` but not managed to get it to work as Terminus complains about missing password for MySQL. Yet I've not found where to configure that. Can you please advise?

Terminus for Drush was such an awesome tool and didn't require as much typing as Pantheon CLI.

For reference (pd and pf a

[2015-03-09 19:51] solipsist commented on #137
@mikevanwinkle I opened a separate issue about it as it's such an integral part of my workflow.

From Drush:
 terminatur-data       Pulls down the database for a Pantheon site.
 (pulldata, pd)

 terminatur-files      Pulls down the files for a Pantheon site.
 (pullfiles, pf)

[2015-03-09 19:53] ari-gold commented on #137
Just to piggyback on what everyone has already said. You can invoke Drush through terminus: `terminus --site=<sitename> --env=<env> drush status` but if you prefer to use Drush aliases you can do that directly. The "new workflow" might look like:

[code]

[2015-03-09 19:55] solipsist commented on #137
@mikevanwinkle These commands don't work with `terminus drush` as it doesn't recognize them. I cannot use regular Drush anymore as `drush pauth` won't log me in to the dashboard. You removed that quite recently, I think.

These commands are great as they're brief and easy to remember. More of that, please :)

[2015-03-09 21:22] #173 closed, assigned to nobody

[2015-03-10 10:33] solipsist commented on #178
For some reason, `drush pauth` stopped working yesterday. It works now which means I can use the commands above.

My request is that once you decide to remove support for Terminatur for good, please ensure that he same tasks can be done with Pantheon CLI.

[2015-03-10 12:09] vincenzo opened #179 "Error (PHP Strict standards) when attempting second login after first one failed"
**Cli version is 0.5.5.**

The copy and paste from my terminal should tell more than a thousand words:

[code]

[2015-03-10 12:14] vincenzo commented on #179
**More info:**

Just noticed that any execution of terminus (any command) right after the first failed login will throw the same error.
After the error is thrown, though, a third execution of terminus (any command) will be fine.

[2015-03-10 16:12] bwood commented on #178
I reported the 'drush pauth' error on Friday in irc and via a support ticket. I also was worried that the old drush was being silently retired, but I was assured that was not the case.

You're aware of 'terminus help drush' right? I've been using this in scripts recently. Works well.

I agree with you on the increased keystrokes. Command completion would really help here. I'll bet it's planned. Ma

[2015-03-10 16:18] mikevanwinkle commented on #178
@solipsist we've been having some issues with old drush host but it should be resolved now. Re: terminatur, that's actually not our product and appears to be already deprecated by Kalamuna and they recommend you use this instead: https://github.com/kalabox/kalabox

To @bwood's point we are working on aliasing commands and shortening the keystrokes required.

[2015-03-10 16:22] mikevanwinkle commented on #178
The `terminus site backup load` function currently expect you to already have a database setup that you are installing to. So you would need to run something like this in your script first:

[code]

[2015-03-10 16:24] mikevanwinkle commented on #179
@vincenzo what versions of php are you running?
`php -v`

[2015-03-10 16:26] vincenzo commented on #179
[code]

[2015-03-10 16:33] mikevanwinkle commented on #179
ok thanks for reporting I'll get a fix in asap.

[2015-03-10 16:34] vincenzo commented on #179
Cool, thanks!

[2015-03-10 19:41] #175 closed, assigned to nobody

[2015-03-10 21:53] solipsist commented on #178
@mikevanwinkle Thanks for the suggestions! You're right, Terminatur was made by Kalamuna. But it's become indispensable to me. Kalabox is still too shaky for me to take the step from Kalastack.

It would be great though if Terminus had the same functionality (pd, pf) and allowed you to push and pull files and databases from local and to/from dev.

Before I start working on a customer website I usu

[2015-03-11 18:39] iamEAP opened #182 "Handling "latest" backup during an ongoing backup"
Currently, if you try and do something like this...

[code]

...And you happen to do so while the backup is actually happening, the URL you get will end up with a 404.

[2015-03-17 10:34] jurgenhaas opened #183 "Problem authorizing drush command via crontab"
Have created a script on a server I own that looks like this:

[code]

When I'm running that script from the console, it works fine and produces verbose output. The site reports in watchdog that the cron run has been completed.

However, when I call this script via a crontab on my own server every 5 minutes, then the script gets executed but it logs only the following 3 lines:

[code]

Nothing els

[2015-03-17 14:41] mikevanwinkle commented on #183
Have you tried putting 2>&1 at the end of the crontab cmd?

On Tue, Mar 17, 2015 at 3:34 AM, Jürgen Haas notifications@github.com
wrote:

##

Mike Van Winkle
708-289-3136
mike@mikevanwinkle.com
http://www.mikevanwinkle.com
http://www.twitter.com/mpvanwinkle
http://www.facebook.com/mpvanwinkle

"All excellent things are as difficult as they are rare." -Spinoza

[2015-03-17 14:59] jurgenhaas commented on #183
I've just tried that again, it makes no difference.

[2015-03-17 22:57] mikevanwinkle opened #184 "Site info should return sql connection info"

[2015-03-17 22:58] mikevanwinkle opened #185 "site info should accept `fields` argument"
I should be able to run `terminus site info --fields=name` to simply return a site's name

[2015-03-18 22:25] cboyden-ucb commented on #135
Without this feature, we are stuck waiting for the org dashboard to load in order to get info about most of our sites.

[2015-03-19 15:09] dustinleblanc commented on #179
FYI I am seeing this in 5.5.22 as well

[2015-03-19 17:36] mikevanwinkle opened #186 "site info should accept `fields` argument"
I should be able to run `terminus site info --fields=name` to simply return a site's name

[2015-03-19 17:55] bwood opened #187 "'terminus site connection-mode' caching causes confusion"
[code]

I appreciate the desire to cache as much as possible, but in this case it could confuse the end user:

[code]

[2015-03-23 17:09] rachelwhitton opened #188 "rename `terminus site upstream_update` and allow `--env=` to specify environment"
No other commands use _
For continuity, I suggest renaming this to `terminus site upstream-update`

Also, I suggest changing the `--update=<environment>` parameter to `env=<environment>` to specify an environment. The current syntax seems to be a one off, where all other commands use `env=<environment>`.

I've been testing all the terminus commands recently and usually I can guess what parameters

[2015-03-23 17:16] bwood commented on #188
+1.

I reported this in https://github.com/pantheon-systems/cli/issues/92 and Mike closed it, but I'm not sure that the patch he references there fixed the problem.

[2015-03-24 21:06] bwood opened #189 "'terminus upstream_updates' should not return HTML when there is an infrastructure issue"
[code]

Does the "gateway timeout" mean that the command failed?
Is the "Up-to-date" status accurate?

[code]

I got this on two other sites.  All errors occured around Tue Mar 24 13:48:30 PDT 2015.

[code]

[code]

[2015-03-25 17:06] bwood opened #191 "'terminus site backup create' Fails (sporadically) with various errors. Retry usually succeeds."
[code]

It would be more clear if `Error: [INFO] Successfully queued backup_priority` was made either an "Error" message or an "Info" message.

We've seen this sporadically in over the last 48 hours:

[code]

On investigation I found that a backup was created with the timestamp: Tue, Mar 24th 2015, 1:46:41 (13 UTC). The backup row on the site dash had links to code and db tarballs, but there was n

[2015-03-25 18:33] bwood commented on #186
+1

(It's `--field` (no "s") in `terminus help site info`.)

Currently:

[code]

[code]

[2015-03-26 18:13] jbutkus opened #192 "Abandoned composer package `rhumsaa/array_column`"
When running `composer update` I get the following:

[code]

[2015-03-27 09:21] ghost opened #193 "Use ssh keys for authentication instead of auth login"
Writing the auth login each time I open a new session is getting on my nerves. Why can't terminus work with ssh keys?

[2015-03-27 15:41] ElliotFriend commented on #193
Issue #118 has seen some discussion of this previously.

[2015-03-27 21:07] bwood opened #194 "'terminus site backup list' reports wrong size for database element"
[code]

[code]

The database is 945.8KB according to https://dashboard.getpantheon.com/sites/3e1d1268-0c97-63f9-2519-19591e8b6271#dev/backups/backup-log and that size is correct when I download the tarball:

[code]

[2015-03-27 23:50] bwood commented on #194
I think the problem is that this database is < 1MB and the sizes are being rendered in MB. Displaying a fractional number of MB would be okay. (DB size of 0MB is apt to distress a site administrator.)

[2015-03-30 10:49] jbutkus opened #195 "Undefined property: stdClass::$site_name in php/commands/sites.php on line 129"
Command to reproduce:

[code]

Additional note: `JSON` is not produced at the end of this command though `--json` global option is set.

[2015-03-31 05:51] jbutkus opened #196 "Operation `sites delete` fails with "No site exists with this name""
# Steps to reproduce
1. Attempt to create a site

[code]
1. Attempt to delete it

[code]
# Comments

**Expected behaviour**: site being deleted.

**How we were using it before**: we were capturing UUID from `sites create` and passing it to `sites delete`. Now UUID is removed from `sites create` output thus making it impossible to delete by UUID which seems to work correctly, unlike delete by name.

[2015-03-31 07:15] jurgenhaas commented on #118
Not sure how that "robot" approach should help. I've submitted another issue (see https://github.com/pantheon-systems/cli/issues/183) and there I'm having the very same problem and I don't know how to write a shell script that authenticates and then executes a drush command. Any advise?

[2015-03-31 07:17] jurgenhaas commented on #183
Just realized that in /var/mail/username there are messages about the failure:

[code]

Before that there is the output which indicates the proper authentication from the first command in the script, so I wonder why the second command is not picking that up.

[2015-03-31 17:22] bensheldon commented on #183
@jurgenhaas Terminus persists its authentication info in your user's home directory: https://github.com/pantheon-systems/cli/blob/d768dc1b8be39c41ed42ef8ab468cd2af308e19f/php/class-terminus.php#L65 . Perhaps on your server it doesn't have permission to write to that directory. You can pass a `TERMINUS_CACHE_DIR` environment variable to override it.

[2015-03-31 17:36] bensheldon commented on #194
Appears to be a problem with this line: https://github.com/pantheon-systems/cli/blob/d438b91fc9ddbd51ab85380f4bad46628eee0ca6/php/commands/site.php#L507

[2015-03-31 17:36] bensheldon commented on #193
Closing as a duplicate of #118

[2015-03-31 17:37] #193 closed, assigned to nobody

[2015-03-31 18:16] bwood opened #197 "'terminus site dashboard --print' would be better without the label in the output (--json support?)"
[code]

[code]

I'd like an option (e.g. --json) that does not include "Dashboard URL: ".  As it stands I have to write code that parses out "Dashboard URL: " and the brittleness of that will be exposed if terminus changes something significant in the string. Currently I `explode(':', $output)` so only a change to ':' would break it, but it'd be nice not to have to parse this value at all.

[2015-03-31 21:24] bwood commented on #191
I just  checked technology-ucb-581 (https://dashboard.getpantheon.com/sites/a083cd4d-66f5-4a91-b11c-5503f497ee76#dev)  to make sure that the backup wasn't just taking a long time. That was not the case.  The "Tue, Mar 24th 2015, 1:46:41" backup is still incomplete. The "Restore" column shows "  Unable to Restore."

[2015-03-31 22:44] bwood commented on #191
Just now I hit this error:

[code]

I retried this backup and it succeeded.

I'm getting then above so often on various sites/environments that I went to the trouble to catch it and retry 6 times in my script. This script applies upstream updates and some other security updates semi-automatically.  Taking backups at various points (and ensuring that they are good backups) is critical.

I have also

[2015-03-31 23:01] bwood commented on #191
Because I believe I've gotten false positives on backups, I attempt to verify them with `terminus site backup list` when `terminus site backup create` exits with 0 (success). Sporadically, I'm seeing:

[code]

Script functions:

[code]

[2015-04-01 02:24] ezheidtmann opened #198 "PHP Fatal error when trying to run terminus"
Hey all,

I just followed the [installation instructions](https://github.com/pantheon-systems/cli/wiki/Installation) and am seeing this error message:

[code]

I'm on Ubuntu 14.04 ("trusty") and running php 5.5.9.

Thanks for your help. Please let me know if there is anything I can do to help debug this problem.

_EDIT_: For the record, this is the installation I performed:

`curl https://github.c

[2015-04-01 07:31] jurgenhaas commented on #183
@bensheldon that doesn't seem to be the reason. Remember, when I'm running the script from the shell as user xyz, all is working fine. If the script is run via crontab in the context of the same user xyz then it fails.

However, I've checked the permissions of $home/.terminus/cache and all directories and files are writable by the user. I added write permission for the group as well but that makes

[2015-04-01 15:29] mikevanwinkle commented on #198
If it's a new install of trusty make sure you have php5-curl installed. Terminus cannot work without curl, and the one time I saw this error it was because php5-curl wasn't available able. Perhaps Terminus should check and throw a smarter warning in this case.

[2015-04-01 15:32] mikevanwinkle commented on #198
By the way, so install php5-curl just run

[code]

[2015-04-01 15:35] ezheidtmann commented on #198
Indeed, that's it! I would wholeheartedly agree that it should tell me about that dependency, or at least the install instructions should mention it.

Looking at the source, it appears that the `$logger` is uninitialized when the curl error is found. Perhaps call `Runner::init_logger()` a little earlier?

And the `apt-get` is sufficient for terminus because it's running in php-cli, not php-fpm.

T

[2015-04-01 18:18] loganyott commented on #118
+1 for this. Or if it would require some modifications to the authorization API anyway, perhaps looking at some kind of secret key gen?

[2015-04-01 18:31] bensheldon commented on #183
@jurgenhaas thanks for the help in exhausting potential causes! Next idea...

The `terminus drush` and `terminus wp` commands both actually just wrap shell commands. When running in the crontab, does that user have access to your ssh certificates? Perhaps its working because you're forwarding your local certificates over ssh when doing it interactively, but when run in cron it doesn't have those c

[2015-04-01 18:33] #36 closed, assigned to nobody

[2015-04-01 18:34] bensheldon commented on #52
@livewyer Do you have any update on this issue? Have you tried using the --no-cache flag?

[2015-04-01 18:37] #137 closed, assigned to nobody

[2015-04-01 18:40] bensheldon commented on #144
@livewyer you are correct that there is currently no way in terminus to merge a multidev branch back into the Dev environment. I agree that this should be a feature.

[2015-04-01 18:55] ari-gold commented on #144
@livewyer As a workaround, until this enhancement is added to Terminus, have you tried to script git to do the merging?

[2015-04-01 20:59] ghost commented on #52
@bensheldon I have not tried with the --no-cache flag because now terminus does not go on to the next step until the previous step has finished.  I was needing to check status because previously it would just plow on ahead without first making sure the previous task was complete.

[2015-04-01 21:02] ghost commented on #144
@ari-gold  We're have a script now that ought to do that, hopefully triggered with Jenkins.  Not yet tested.  We needed that anyway since we have our own remote in addition to Pantheon and need to keep both in sync.  Have not yet had a chance to integrate that with our script that (mostly) automates Drupal contrib module updates.

[2015-04-02 06:12] jurgenhaas commented on #183
That was it! The same user was used for running the script from console and running the same script from the crontab, but of course I had cert forwarding enabled and that made the console script to work but wasn't available for the crontab script.

Thanks @bensheldon for your great support. This is now resolved.

[2015-04-02 06:12] #183 closed, assigned to nobody

[2015-04-02 12:56] davidneedham opened #199 "Font elements in the command line"
Whenever I run terminus commands I see font elements with styles appear in the command line.

For example:

[code]

[2015-04-06 18:06] rachelwhitton opened #200 "sites create / create-from-import fails"
`terminus sites create-from-import` fails to execute and produces the following output:

[code]

I'm using Terminus version: 0.5.5

Using `terminus sites create` with the import argument produces the following error:

[code]

[2015-04-06 18:20] bwood opened #201 "'terminus site deploy' should report "nothing to deploy" if there is nothing to deploy"
[code]

If I try to deploy test to live when there is no code waiting to be pulled to live, terminus goes ahead and attempts the deploy.  It would be more useful, if terminus reported that there was nothing to deploy. Perhaps this should be an non-zero error condition. This would be useful for scripting.

[code]

[2015-04-06 19:32] bmackinney opened #202 "Automatically generate documentation"
It's cumbersome to run `terminus help` to view the subcommands and arguments available for each command. We should be able to have the build process generate the documentation from the comments and push them into this wiki.
- [ ] Evaluate tools
  - [x] http://www.phpdoc.org/
  - [ ] http://phpdox.de/
  - [ ] http://www.apigen.org/
- [ ] Decide on target location
- [ ] Add to Travis

[2015-04-06 21:23] bwood commented on #202
Linking: https://github.com/pantheon-systems/cli/issues/62.

Wiki is nice, but when I'm at the cli, I'd prefer not to have to switch to a browser.

[2015-04-06 21:31] bwood opened #203 "Adding tab completion would make learning terminus easier"
Along the lines of https://github.com/pantheon-systems/cli/issues/202 and https://github.com/pantheon-systems/cli/issues/62:

It'd be great if we could type, for example, `terminus cli ver[TAB]` and get "version" completed.

It'd be doubly awesome if we could type, for example, `terminus site[TAB][TAB]` and see a listing of all subcommands to "site".  This would make picking up terminus a lot easi

[2015-04-07 18:42] rachelwhitton opened #204 "Create description for subcommands"
The following commands/subcommands should be updated to include a description:

terminus cli cache-clear
terminus cli session-dump
terminus organizations
terminus products

Example:
![example](https://cloud.githubusercontent.com/assets/10119525/7030695/c9f6d5fc-dd2b-11e4-909e-c482e25784b1.png)

[2015-04-07 19:47] rachelwhitton commented on #204
PR #205 Merged. Closing this issue.

[2015-04-07 19:48] #204 closed, assigned to nobody

[2015-04-08 16:59] bensheldon opened #207 "Wrap Behat tests with VCR API Fixtures"
Currently the Behat feature specs fixture the Terminus output, rather than the Terminus API calls. This causes the Behat tests to be testing the fixtures rather than testing the behavior within Terminus. The  result is that a regression in the Terminus code will not be reflected in the test suite.

The challenge is that our Behat suite runs in a separate process from the actual terminus command un

[2015-04-08 17:01] bensheldon commented on #101
I am closing this in favor of #207

[2015-04-08 17:01] #101 closed, assigned to nobody

[2015-04-08 17:03] bensheldon commented on #168
I am closing this issue because it seems like it was fixed in #171

[2015-04-08 17:03] #168 closed, assigned to nobody

[2015-04-08 17:04] bensheldon opened #208 "$logger is uninitialized when the curl error is found."
Perhaps call Runner::init_logger() a little earlier.

Split from #198

[2015-04-08 17:07] bensheldon commented on #198
@ezheidtmann I noted the $logger issue in #208 and documented the Curl dependency in the install instructions:

https://github.com/pantheon-systems/cli/wiki/Installation#curl-dependency

Thanks for digging into this!

[2015-04-08 17:07] #198 closed, assigned to nobody

[2015-04-08 21:05] suzannealdrich opened #209 "Using tilde (~) in result-file flag value causes download failure"
When choosing a directory to download backups for the `terminus site backup` command, if a tilde exists in the path, the download will fail:

[code]

Running the same command without a tilde in the filename, actually results in successful download:

[code]

[2015-04-09 14:52] rachelwhitton commented on #209
While we're popping the hood on the site.php script - we should align the `element` arrays in all cases of the `backup` function.

`terminus site backup create --element=db` and `terminus site backup create --element=database` both work, but `terminus site backup get --element=db` fails.

[code]

Usage:
- [--element=< code | files | db | all >]
- : Element to download or create. _all_ only used fo

[2015-04-09 15:58] rachelwhitton opened #210 "case 'load' in site.php returns MySQL error / Enhancement Request"
Bug:

[code]

Enhancement Requests:

[`case 'load'`](https://github.com/pantheon-systems/cli/blob/d438b91fc9ddbd51ab85380f4bad46628eee0ca6/php/commands/site.php#L440-L482) does not prompt the user to select a target backup or element.
`$target = $this->backup(array('get'), $assoc_args);`
1. `case 'load'` should be revised so that the user is prompted to select the desired backup and element (db, f

[2015-04-09 17:47] rachelwhitton opened #211 "wp-cli command `wp db import` fails when using Terminus"
Bug:

[code]

The import fails to locate the sql file. Same result when I run the command from within the directory containing the sql file.

When no file is designated, the following error is returned:

[code]

I changed the name of my sql file to `pantheon.sql`, but the same `Import file missing` error occurs.

[2015-04-09 19:07] bjdevil21 commented on #202
Hi, Ari! Is there a set date that Terminus 1.0 will stop working with Pantheon?

[2015-04-09 21:19] rachelwhitton commented on #210
On the same note, users should be able to `get` full backups since it's an option in `create`.

After running:

[code]

A user should be able to send the backup to S3 or download locally. Right now you cannot:

[code]

[2015-04-10 00:24] ari-gold commented on #202
Hi @bjdevil21!

I don't know, but keep in mind that as long as you have the Pantheon drush aliases file locally you can continue to use many drush operations against your Pantheon site using just plain old drush, without this legacy drush extension. If you haven't done so already, also check out  https://github.com/pantheon-systems/cli

Closing this issue because the README was updated

[2015-04-10 01:25] ojkelly opened #212 "terminus auth login exposes password on fail"
So this isn't the biggest flaw, but it's does expose the password to bash's history.

![1__terminus_drush_codeception_run_sma_cc_project_acceptance_ngcivi___--env_ngciv__ssh_](https://cloud.githubusercontent.com/assets/666613/7080346/183480a8-df74-11e4-8ca2-a05fb50f7d24.png)

[2015-04-10 18:19] bwood opened #213 "Feature request: 'terminus site backup url'"
[code]

It would be very helpful to add a `url` subcommand to 'terminus site backup'.  This would generate a signed url for the backup element and print it to STDOUT.  (This functionality is currently available by using `drush psite-get-backup`.)

**Use case:** I want to copy a Pantheon backup to my own s3 bucket:

[code]

[2015-04-10 18:33] bwood opened #214 "'terminus site backup get' should be available non-interactively"
[code]

Currently you can't download a backup tarball without interacting with terminus.  This makes scripting inconvenient. This was possible using `drush psite-dl-backup`.

[code]

[2015-04-10 18:44] suzannealdrich commented on #213
Here is the URL I get when I use this command:

[code]

Is this not sufficient for your needs?

[2015-04-10 19:08] bwood commented on #213
Thanks @suzannealdrich.

Given this help snippet:

[code]

and given the fact that `get` _downloads_ a backup tarball (when not used in combination with `--latest`) e.g:

[code]

I would not have guessed that `--latest` provides this functionality.  Good to know.

Is there a way to get the signed url for a backup that is not the latest?

[2015-04-13 01:49] awolfey commented on #200
Getting the same.

[code]

[code]

[2015-04-13 16:13] rachelwhitton commented on #200
My first test was with a WP site, I tested this again with a Drupal archive created with drush and received the same error for both commands `terminus sites create` and `terminus sites create-from-import`

The import is successful when the site is created first using `terminus site create` and then using `terminus site import --url=`

[2015-04-13 16:29] mikevanwinkle commented on #200
@awolfey @rachelwhitton Try using the UUID for the product instead of the name i.e. `--product=21e1fada-199c-492b-97bd-0b36b53a9da0`. Let me know if that works.

[2015-04-13 16:32] rachelwhitton commented on #200
@mikevanwinkle, same error w/UUID
Output from `terminus products list` shows the following UUID for Drupal 7
192494ea-6fa4-4d59-80c2-dcf5c86126d0 | Drupal 7

[2015-04-13 16:56] bwood commented on #195
+1

[code]

[code]

[2015-04-13 18:16] joshkoenig commented on #195
Uff... that's prety ugly with a stack trace on the notice. We'll take a look at this and see if we can roll a 0.5.6 release with a fix for this.

[2015-04-13 18:20] dearmond commented on #175
Related: #156

--tag=critical

[2015-04-13 19:48] jcandan opened #215 "terminus site backup get --element=database should be db"
tl;dr Need to change `$ terminus site backup get ... --element=database` to accept `--element=db`

Currently the command option element help notes the following accepted option configurations:
`[--element=<code|files|db|all>]`

However, `db` errors out: `Error: Invalid backup element specified.`

One can get around this currently with:
`$ terminus site backup get ... --element=database`

[2015-04-13 20:07] jcandan opened #216 "terminus site backup load --element=database should be db"
tl;dr Need to change `$ terminus site backup load ... --element=database` to accept --element=db

Currently the command option element help notes the following accepted option configurations:
`[--element=<code|files|db|all>]`

However, `db` errors out: `Error: Invalid backup element specified.`

One can get around this currently with:
`$ terminus site backup load ... --element=database`

[2015-04-14 02:01] awolfey commented on #200
@rachelwhitton I came up with the same UUID that @mikevanwinkle did.

I think I narrowed down the problem to the --org option and was able to get a site installed from from a script like this by answering the site create script's request for an organization. Maybe the issue is that I need to set it to 1/None.

[code]

[2015-04-14 16:41] mikevanwinkle commented on #200
@rachelwhitton ... actually I think that might be a real bug. The code
doesn't have a way to cleanly set the org to none. It might work with a
dash or 'None' but I doubt it.

On Mon, Apr 13, 2015 at 7:01 PM, Aaron Wolfe notifications@github.com
wrote:

##

Mike Van Winkle
708-289-3136
mike@mikevanwinkle.com
http://www.mikevanwinkle.com
http://www.twitter.com/mpvanwinkle
http://www.facebook.com/mpv

[2015-04-14 19:25] bwood opened #218 "Feature request: "terminus site tag [add|remove]""
Add the ability to add and remove tags (the tags that appear on the organization dashboard) to/from a site.

**Use case:**  When we run our script which creates and installs sites, we'd like to add one or more tags that appear on our organization dashboard.

Linking: https://github.com/pantheon-systems/cli/issues/156

[2015-04-14 19:51] bwood opened #219 "'terminus sites aliases --location': Filename, Permissions, Error Checking, Help documentation"
[code]

**1. (Removed). Basically this was user error.**

**2. The downloaded file should not have execute bit set.**

**3. Help documentation could be clearer. Proposal:**

[code]

**4. If you provide just a directory name (e.g. `--location=/tmp`) you get a big stack trace. This could be prevented by testing the user input with `if (!is_dir($input))`.**

[code]

[2015-04-14 22:42] hengkit opened #220 "Include switch for drush 7"
cli should have a parameter so that users can select whether to use drush 5 or drush 7

[2015-04-14 23:26] kbenedicto commented on #198
@bensheldon I just encountered this problem even though I saw the note about the Curl dependency.  I thought it referred to the curl command (which I did have available), rather than php5-curl.  Could you please clarify the docs at https://github.com/pantheon-systems/cli/wiki/Installation#curl-dependency?  Here's a suggested edit:

[2015-04-15 16:40] rachelwhitton commented on #200
Thanks @mikevanwinkle and @awolfey! I appreciate the help on this one. We'll hopefully get this sorted out soon.

[2015-04-17 07:16] loganyott opened #221 "Terminus Project Config File"
I'm not sure if this would be used by others or not, but I have often found myself wanting a config file for terminus to set some default values. The idea is that this would be similar to the WP-CLI `wp-cli.yaml` file.

I've currently implemented a really rough version of this in a fork. Terminus searches current directory and up for a `.terminus` file, checks if valid JSON is found, and then eith

[2015-04-20 16:44] rachelwhitton opened #222 "Improve our most popular content so that we can drive developer activation"
Prioritization:

[Most read documentation](https://docs.google.com/a/getpantheon.com/spreadsheet/ccc?key=0Au460EhPipUwdEE3dkdkcy1hUU9NdzBVckc0Qk1sU0E#gid=0)
/docs/articles/sites/code/using-the-pantheon-workflow/
/docs/articles/users/importing-an-existing-site/
/docs/articles/local/git-faq/
/docs/articles/local/drush-command-line-utility/
/docs/articles/sites/code/redirect-incoming-requests/
/docs/

[2015-04-20 16:46] rachelwhitton opened #223 "As a Pantheon employee I want a plan so that users understand how and are able to contribute content."
Created by Natalie

[2015-04-20 17:08] rachelwhitton commented on #222
Wrong repo.

[2015-04-20 17:08] #222 closed, assigned to nobody

[2015-04-20 17:08] rachelwhitton commented on #223
Wrong repo.

[2015-04-20 17:08] #223 closed, assigned to nobody

[2015-04-21 17:33] bwood opened #224 "'terminus site backup get --latest' and 'terminus site backup list' Errors with 28-day-old manual backup"
[code]

I have a site that only has 1 manual backup.  That backup was made 28 days ago.

[code]

Maybe there is an issue with backups this old, so I create a new backup and try again:

[code]

Success.  Try listing the backups:

[code]

I don't know what's up with those 0MB files.  I'm sorry I can't give you repeat-by steps to create those.

[2015-04-21 17:45] bmackinney opened #225 "Add command to convert MyISAM to INNODB"
From pantheon-systems/wp_launch_check#12

See https://pantheon.io/blog/moving-mysql-tables-myisam-innodb for inspiration

[2015-04-23 07:07] solipsist commented on #137
I haven't been able to run terminatur through CLI.

In essence, my request is: please ensure Pantheon CLI is at least functionally equivalent to terminatur by Kala. As it stands now, despite being deprecated, terminatur offers superior ease of use and supports the development workflow much better. CLI is a laudable effort and I would prefer to use something Pantheon endorses and maintains.

[2015-04-23 11:02] and1truong opened #226 "Can we create new Drupal site from a make file?"

[2015-04-24 17:13] hawkemediadev opened #227 "terminus sites create-from-import does not import files (but does import code and db)"
When I use terminus sites create-from-import, the site imports and I get the "Success: Import complete" message, but none of the files have imported. I am migrating sites from another hosting server, and have used the drush archive-dump to create the archive for importing. Code and Database seem to import just fine, I'm just missing the files.

[2015-04-28 21:18] bensheldon commented on #227
@tributemedia Hmm. I'm wondering if the issue is in Terminus or within our Platform. Can you please try importing the archive via the Web Dashboard with the same archive file?

[2015-04-28 21:23] hawkemediadev commented on #227
@bensheldon Yup, I am able to import the same archive file, via the dashboard, with no problems.

[2015-04-28 21:40] bensheldon commented on #226
You could script commands via Terminus using a Make file. Many users of Terminus just put together a simple Bash script. Could you please elaborate on what you have in mind or what your use case is?

[2015-04-29 02:08] abeb commented on #184
Definitely need this as well; would allow for so much more capability. Would be a shame to see an essential feature  in Terminus 1 vanish in 2.

[2015-04-29 02:15] abeb commented on #118
Also Very interested in this; otherwise it is impossible to get an external box to automatically work with the server (get sql info, run db scripts etc.).

[2015-04-29 07:39] hugovk opened #229 "Cache email for `terminus auth login`"
Enhancement request.

`terminus auth login` expires after some time and you need to log in again. That's fine. But when you run `terminus auth login` again, it prompts for "Your email address?:".

It would be nice if the email address could be cached. I believe the old Drush-based Terminus used to cache the email address and only prompt for the password.

I know you can log in with `terminus auth

[2015-04-30 15:23] rachelwhitton commented on #200
Awesome! Thanks @bensheldon for the quick turn around!

@awolfey @mikevanwinkle - we have a fix #228

[2015-05-01 01:47] #200 closed, assigned to nobody

[2015-05-01 01:48] bensheldon commented on #200
@rachelwhitton, et al: I just merged #228. It should fix this problem. Please give it a try.

[2015-05-01 01:55] bensheldon commented on #135
This is currently due to a mismatch between how the Pantheon REST API is designed and indexed (by Site UUID) and how the Terminus interface has been designed (using Site Name). The Pantheon REST API doesn't currently have a way to lookup a site's UUID by site-name, which is why Terminus must cache a User's site list in order to convert the site-name into a UUID before Terminus actually dispatches

[2015-05-01 01:59] bensheldon commented on #212
That's not good :-(

[2015-05-01 02:00] bensheldon commented on #227
@tributemedia I just made a PR in #228 that modifies the `create-from-import` method. I didn't directly address your issue in my changes, but I think it may fix your problem.

[2015-05-01 14:18] hawkemediadev commented on #227
@bensheldon Thanks for the heads up! I'll give it a test later today, and let you know how it goes.

[2015-05-02 17:38] joshkoenig opened #230 "Inform users that the "connection-mode" command has no effect in Test or Live"
Right now you can attempt the following:

`terminus site connection-mode --set=sftp --site=sitename --env=live`

And you could be led to believe that would work. We should inform users that the connection-mode cannot be set in Test or Live.

[2015-05-04 11:27] clemens-tolboom opened #231 "PHP Strict standards: Only variables should be passed by reference"
Just grabbed latest release

[code]

running gives

[code]

I guess this is solved in HEAD as line 450 is gone so this is probably for the record but IMHO deserves a new release.

[2015-05-06 16:14] nstielau opened #232 "Automate downloading logs from servers"
It would be nice to add a command to download log files from servers, perhaps using rsync.

https://gist.github.com/ari-gold/c63e6a2b5d47037dc8d7

[2015-05-06 21:46] joshkoenig commented on #226
Check out this proof of concept:

https://github.com/joshkoenig/drush-make-ci

[2015-05-06 21:47] joshkoenig opened #233 "Switch PHP Version"
Terminus should allow you to toggle the PHP version for a site/environment.

[2015-05-07 03:07] and1truong commented on #226
Yeah, thanks (:

[2015-05-07 03:07] #226 closed, assigned to nobody

[2015-05-07 15:28] msteurs commented on #179
I am having the same error, can the fix of @mikevanwinkle get merged? Thanks!

[2015-05-08 13:19] wmcmillian-coalmarch opened #235 "Add database piping tool"
Right now we can download databases via the 'terminus site backup get' command and we can create the latest via 'terminus site backup create.'

The problem with this method is twofold
1.) Even when specifying just the database element, it creates backups for the database, code, and files (and waits until all are complete before succeeding).

2.) This also adds a backup to the backup queue in the p

[2015-05-14 15:38] spleshka commented on #231
Confirm the issue, just have got the same warning. Nevertheless, i think this issue duplicates https://github.com/pantheon-systems/cli/issues/179.

[2015-05-14 15:41] clemens-tolboom commented on #231
Duplicate of #179 ... not sure why I missed that issue. Thanks.

[2015-05-14 15:41] #231 closed, assigned to nobody

[2015-05-14 19:42] dustinleblanc commented on #229
`alias tlogin='terminus auth login [email]@[domain].com --password=“password_here”` is what I am basically doing

[2015-05-15 14:35] jamesrward opened #236 "Auth login shows ??? then exits"
Attempting to install terminus on a new machine and running terminus auth login immediately after install just spits out some question marks then exits.  I am guessing there are some undocumented dependencies that I am missing.  I tried 0.4-beta with the same result.

![screen shot 2015-05-15 at 10 31 57 am](https://cloud.githubusercontent.com/assets/316094/7654874/135b12f0-faee-11e4-8dd5-f7a170b8

[2015-05-19 06:44] spazzwig commented on #118
++ Yes please

[2015-05-20 19:32] ElliotFriend commented on #230
Opened a pull request #238

[2015-05-28 16:10] burlapdesign opened #239 "Windows 8 setup"
Tried running this setup on Windows but it fails because it seems to be looking for PHP in a *nix structure. Is that the case or should this work for Windows as is. Thanks.

[2015-06-02 13:48] wmcmillian-coalmarch commented on #235
Maybe, perhaps tying into the export functionality on the dashboard

[2015-06-04 21:11] erik-pantheon opened #240 "Terminus connection-mode showing success on SFTP switch in Test, Live"
If you don't pass an env parameter via Terminus when calling the connection-mode function, it will return a list of all environments for that site, including Test and Live. This comes from the static function env():

---

public static function env( $args = array(), $key = 'env', $label = 'Choose environment', $choices = null) {
    if (!$choices) {
      $choices = array('dev','test','live');

[2015-06-04 21:15] ghost opened #241 "`terminus site code branch-create` drops hyphens from branch names"
If I were to run `terminus site code branch-create --site=sitename --branchname=hotfix-up` then the branch I actually get is "hotfixup".

I've also tried quoting the branch name like so: `terminus site code branch-create --site=sitename --branchname="hotfix-up"`

but the same thing happens.  Should I be escaping certain characters in branch names?  Should I be avoiding certain characters?

Thanks

[2015-06-09 13:44] hedinfaok opened #242 "Clarification on terminus auth login with session"
From #169 and #166, I see that a `session` authentication option was added to the cli.  Would someone be willing to clarify the usage of this session option?

[From searching the issue queue for session](https://github.com/pantheon-systems/cli/issues?utf8=%E2%9C%93&q=session+), I didn't find anything that mentions the intended usage, but maybe it's meant to replace #193 ?

Here's what I was able t

[2015-06-09 14:52] bensheldon commented on #242
You shouldn't rely on the `--session` arg for scripting purposes as the session will expire. The intent is to allow 2-factor users to reuse their Dashboard session to authenticate Terminus.

The reason that the session expire value is zero (default value) is because when one authenticates Terminus normally, Terminus gets the session and expiry during that auth step. But if you pass in a session di

[2015-06-10 22:44] ari-gold opened #243 "terminus drush ws --type="page not found" should return watchdog entries"
### Steps to reproduce:

[code]
### Known workarounds:
1. Escape quotes

[code]
2. Use drush directly after downloading aliases with terminus

[code]

[2015-06-11 10:19] supermoos opened #244 "Possible to send database from local development to dev environment via terminus / drush command?"
Is it possible to send database from local development to dev environment via terminus / drush command?

Bypassing the need to login to the Pantheon dashboard, manually uploading and importing the database file?

[2015-06-11 18:01] hedinfaok commented on #242
Hey, thanks for chiming in here.  All good to know :+1:

Closing issue.

[2015-06-11 18:01] #242 closed, assigned to nobody

[2015-06-11 19:30] hengkit opened #245 "Terminus site upstream-updates returns false success message"
If `terminus site upstream-updates --update` is executed on a site with an upstream repo that will cause a merge conflict when applied, terminus does not apply the update and incorrectly returns a success message instead of reporting the merge conflict or failure

[2015-06-14 15:26] ghost commented on #224
The 0MB files are ones that have a size of less than 1MB. Just sayin'.

[2015-06-16 22:45] ari-gold opened #246 "Terminus "breaks" when trying to add many hostnames"
Running script:

[code]

Output:

[code]

Tried reinstalling and removing ~/.terminus. Reboot allowed terminus to be invoked again without an error.

[2015-06-17 06:05] bensheldon commented on #246
My first inclination is that you are being throttled by our API in the number of DNS updates that can be made. There probably is insufficient error handling in terminus for API errors in this circumstance.

[2015-06-17 16:30] timani opened #247 "Add support for kill-queries command to kill long running transactions in mysql"
In the event a flood of slow transactions hits the database and lock up or hang, queries can be killed if they are over 10 seconds.

This would be a port of the existing kill-queries command to terminus.

[2015-06-17 16:59] timani opened #248 "Add support for collect_logs in the cli"
Allow users to quickly get a snapshot of the logs on the site. We use this in the event of a downtime to try capture as much data to debug and isolate issues.

This would help users reduce downtime and root cause analysis when things go awry or even during the course of regular development

[2015-06-17 17:32] aaronbauman opened #249 "terminus help to stdout?"
terminus help output is getting piped through less, and I can't figure out how to redirect or override this setting. any help?

[2015-06-17 17:45] giteshk opened #250 "unable to use "terminus sites list""
Whenever I try to run the above command I am getting the following error.

Can someone help ? is the API down?

terminus sites list
Error: Request GET /api/users/xxxxxxxxxxxxxxxxxxxxxxx/sites HTTP/1.1
Host: dashboard.getpantheon.com
User-Agent: Terminus/0.5.5 (php_version=5.5.20&script=terminus)
Cookie: X-Pantheon-Session=xxxxxxxxxxxxxxxxxxxxxxx

 had failed: [curl] 35: Server aborted the SSL hand

[2015-06-17 17:58] bensheldon commented on #250
That could be a network or server blip. We haven't had any other reports this morning of API errors. For (potentially) transient errors like this, you should open a Pantheon Support Ticket.

[2015-06-17 18:26] bensheldon commented on #248
This is a feature not yet supported by the Pantheon Platform or web UI. Feature requests of that nature should best be proposed via Support Tickets.

[2015-06-18 15:15] giteshk commented on #250
I have opened a support ticket with pantheon.
Wasn't sure if anyone else is seeing errors running "terminus sites create " too?

Any help would be appreciated.

[2015-06-18 16:28] SaraMcCutcheon commented on #250
Very odd. It works like a charm for me.
![image](https://cloud.githubusercontent.com/assets/868204/8236325/623b63ac-159c-11e5-9388-fa08ebaf3ca5.png)

[2015-06-18 17:36] giteshk commented on #250
It works for me now. It stops working sporadically from yesterday.

Thanks for looking into this.

[2015-06-18 19:22] aaronbauman commented on #249
OK, so this is not just an issue for help.

In fact all terminus output is not useful for scripting because of its attempts to be so user-friendly.

For example, it's exceedingly difficult for me to script the creation, download, and manipulation of a database backup, because of all the cruft that the command outputs besides the actual name of the backup file.

Is there a different means of using

[2015-06-18 19:26] loganyott commented on #249
You could use the `--json` flag. This probably isn't super useful for shell scripting, but you can pipe to other scripts that support it more natively.

[2015-06-18 19:30] aaronbauman commented on #249
Oh - i just found the --bash flag as well.
Still not ideal, but better than nothing.

Reverting title

[2015-06-18 19:57] aaronbauman opened #251 ""terminus site backup get" does not accept "--element=db""
for some reason, "site backup get" will accept --element=database, but not --element=db

This is contrary to documentation, and doesn't match other backup args.

[2015-06-18 19:58] aaronbauman opened #252 ""site backup list" does not respect --element argument"
"site backup list" shows all code, file, and db backups, regardless of input provided in the --element argument

this command should only show the given element(s)

[2015-06-18 20:16] ari-gold commented on #246
Ah, ok. Do you know what the rate limit is and how many seconds to sleep between iterations to get the script to complete successfully?

[2015-06-18 20:35] bensheldon commented on #246
We limit the maximum number of hostnames for a site to 200. Please open a ticket with Support if you require more hostnames than that.

[2015-06-18 20:35] #246 closed, assigned to nobody

[2015-06-18 20:39] loganyott commented on #251
FWIW, there's a PR out to address this now. #217

[2015-06-18 20:57] aaronbauman commented on #251
huzzah, thanks.

[2015-06-18 20:57] #251 closed, assigned to nobody

[2015-06-18 21:32] SaraMcCutcheon commented on #250
I'm glad it's working again, @giteshk! If it stops working again, please open a ticket to support.

[2015-06-18 21:32] #250 closed, assigned to nobody

[2015-06-18 22:01] #215 closed, assigned to nobody

[2015-06-18 22:02] SaraMcCutcheon commented on #251
We've merged the fix - pull request #217 into master.

[2015-06-18 22:05] #216 closed, assigned to nobody

[2015-06-18 22:33] SaraMcCutcheon commented on #252
Hi, @aaronbauman. I couldn't duplicate the issue. May I ask what the exact command you are using is and the output of your sites list?
![image](https://cloud.githubusercontent.com/assets/868204/8243787/0fe60746-15cf-11e5-84ed-712061f3a14d.png)

[2015-06-19 13:14] aaronbauman commented on #252
terminus site backup _list_, not site backup _get_

You can see --element=db or --element=database lists files, and code, as well as database backups.
![message_agency_ _messageagency_685470-app1___ _bash_ _166x40](https://cloud.githubusercontent.com/assets/508451/8254118/c9507a1a-1663-11e5-8aab-62c0e4610581.png)

[2015-06-19 14:40] aaronbauman opened #254 "feature request: "skip-tables", "structure-tables", more options for db backups"
drush offers many options which are not available to "terminus site backup" command.

Since commands like skip-tables and structure-tables are not supported, synching the pantheon-hosted database with non-pantheon environment (e.g. local) is exceedingly tedious.

if offering equivalent functionality is not possible, what about providing a pantheon-specific drush command to extend compatibility for

[2015-06-19 17:36] aaronbauman opened #255 "--silent, --bash flags ignored for terminus drush command"
The output from "terminus drush" is not bash-ready and not silent when these flags are specified.
e.g. the command:

Pre-pends the following to its output, which breaks things:

[2015-06-21 12:10] spleshka opened #256 "Issue with waitOnWorkflow method"
Hi,

On some projects on Pantheon we have really huge databases. To clone a database to multidev environment we use the following cli command:

[code]

The issue is that sometimes this command finishes faster than the database was really migrated to the multidev environment. The reason of this issue is in the method waitOnWorkflow() (see https://github.com/pantheon-systems/cli/blob/master/php/clas

[2015-06-21 12:56] spleshka commented on #256
Just if it will help anyone with similar issue, here is the workaround we use to solve this issue:

[code]

[2015-06-22 11:23] spleshka opened #257 "Terminus auth login randomly fails"
We're running `terminus auth login` command during our circleci build. From time to time this command fails for no reasons. Re-running the build with all the same works properly. Any ideas what could cause the issue?

![cli-issue](https://cloud.githubusercontent.com/assets/1053418/8280839/375c4736-18ea-11e5-8d37-1062a285ce6d.png)

[2015-06-22 11:56] spleshka commented on #255
I've got the similar issue. When I run

[code]

cli invokes "drush rr --cache-clear" on pantheon environment. So I have to use the following workaround:

[code]

The command above executes `drush rr --no-cache-clear` on test environment. I think that cli "eats" a part of attributes passed to terminus.

[2015-06-22 12:16] spleshka commented on #257
Turns out that this issue was related to https://github.com/pantheon-systems/cli/issues/198. Installing php5-curl solved the issue.

[2015-06-22 12:16] #257 closed, assigned to nobody

[2015-06-22 20:01] SaraMcCutcheon commented on #185
Duplicate of issue #186

[2015-06-22 20:01] #185 closed, assigned to nobody

[2015-06-22 22:02] bwood opened #258 "`terminus site deploy` fails with "Undefined property: stdClass::$body""
A ticket of the same name (#148) is closed, but I'd like to gingerly and respectfully suggest that this problem should be addressed.  Perhaps the author of #148 was suggesting that this issue belongs in a non-terminus issue queue (i.e. it's an issue at the API level)?  I would like to suggest that terminus should at the very least 1) indicate to the user whether the deploy succeeded or failed and

[2015-06-22 22:40] timani commented on #246
@bensheldon unfortunately we are not increasing this limit on the total number of hostnames per site/env. This is fixed across the platform.

[2015-06-22 23:12] SaraMcCutcheon commented on #229
Maybe this could be input to a ~/.terminus/config.yaml (or some such) file. If so, implementation would be pretty similar to that of this issue's feature: https://github.com/pantheon-systems/cli/issues/221

[2015-06-23 14:36] seanr commented on #62
I like how drush does it with drush help (no additional options) just printing out all available commands.  With drush help, the --filter option limits the list to a specific category.

[2015-06-23 15:54] bwood commented on #62
Good point.  Following drush's lead makes sense.

[2015-06-23 18:46] bwood opened #260 "Sporadic "PHP Fatal error: Call to a member function error() on a non-object" when running script"
I initially posted this in the Pantheon issue queue because I wasn't sure if support requests (as opposed to bug reports) are appropriate here. Timani sent me over here.

I'm using Terminus version: 0.5.5

When Drupal security updates come out we use a script to exec a bunch of terminus and drush commands in order to apply dashboard updates, run updb, make decisions about reverting features etc. W

[2015-06-23 18:48] bwood commented on #260
Forgot to mention that all of the php installations running this are complied with php-curl, so that's not the problem.

[2015-06-23 18:56] bwood commented on #260
(Edited output to surpress a few things.)

[2015-06-23 20:28] bwood opened #261 "`terminus upstream updates` should provide --updatedb option and should update job history"
Terminus verision: 0.5.5

I believe that update.php is not run by default when you use `terminus upstream_updates`. For this reason my script does a `drush updb` on the site after execing `terminus upstream_updates`.  I _think_ that I'm seeing situations where upstream_updates returns success before the code is completely merged on the filesystem.  The result of this is that `drush updb` doesn't f

[2015-06-23 20:50] ari-gold commented on #260
Related: https://github.com/pantheon-systems/cli/issues/246

[2015-06-23 21:24] suzannealdrich opened #262 "terminus site clone-env fails whenever `to-env=dev`"
Actual Result: For the `clone-env` subcommand, whether run interactively or not, if the environment to be cloned to is the development environment, this command always fails with the error that the dev environment has not been created yet:

[code]

Expected Result: The `clone-dev` subcommand runs without failure if development environment actually exists.

The problem seems to be located in the `e

[2015-06-23 23:41] SaraMcCutcheon commented on #241
I've removed the hyphen from the list of characters which Terminus will automatically remove from branch names. Here's the list of the ones it will still expunge:
'['
'_'
' '
']'
'+'

[2015-06-23 23:41] #241 closed, assigned to nobody

[2015-06-24 00:00] SaraMcCutcheon commented on #239
Hi, @burlapdesign. Which terminal emulator are you using? Can you provide a copy of the terminal output when you try to install? Thanks!

[2015-06-24 00:15] SaraMcCutcheon commented on #252
Ah, my mistake and thank you. I have duplicated this issue.

[2015-06-24 00:26] SaraMcCutcheon commented on #210
Hi, @rachelwhitton. I'm unable to duplicate that bug without doing one of these three things:
-Uninstalling MySQL
-Turning MySQL off
-Renaming the MySQL command

Which version of MySQL is that machine using?

[2015-06-24 05:21] spleshka commented on #262
Confirm the issue above. Currently this problem breaks our CI, because we can't automatically clone database from test to dev environment. Looking forward for any solutions.

[2015-06-24 14:31] rachelwhitton commented on #210
Hey @TeslaDethray, here's the output provided by running `$ mysql -h localhost -V`:

[code]

Terminus version:

[code]

I'm still getting the same error when trying to load a backup:

[code]

[2015-06-25 16:44] bmackinney commented on #200
I'm still getting the same error. I refreshed my local repo, added its path to my .bashrc, updated dependencies with composer, and ran terminus to no avail. `terminus cli version` says 0.5.5, should that say something else if building from master?

[2015-06-25 16:46] rachelwhitton commented on #200
@bmackinney [Bleeding edge](https://github.com/pantheon-systems/cli/wiki/Installation#bleeding-edge--development) should give:

[code]

[2015-06-25 17:17] bmackinney opened #263 "Update outdated dependencies"
Composer update reveals:

[code]

[2015-07-02 23:10] chrskhl commented on #167
I get the following only when including the --org flag. When I leave off the --org flag I'm prompted for the value and things work.

[code]

To be precise, this works (but requires undesired manual intervention)

[code]

This doesn't

[code]

[2015-07-03 02:30] iamEAP commented on #184
Yep. This is especially important because it's no longer possible to retrieve it via drush.

[code]

...Returns those details, but because drush is run on the platform, the host is an internal IP. Not really useful.

[2015-07-06 19:01] ari-gold commented on #184
This seems to work:

[code]

[2015-07-06 19:08] iamEAP commented on #184
It's true! That's a decent work-around. I wish I didn't also have to have drush installed locally, though.

[2015-07-08 18:40] jbutkus commented on #184
@ari-gold: the `sites aliases` doesn't work with high number of sites. Is there any work-around to get it for just one site?

[2015-07-10 15:25] dalin- commented on #135
We had high-hopes for Terminus, but this bug seems to make things a non-starter.

[2015-07-10 21:53] bensheldon commented on #212
@ojkelly This has been fixed in #253. Could you try again off the master branch?

[2015-07-10 21:53] #212 closed, assigned to nobody

[2015-07-10 22:19] bensheldon commented on #230
Fixed in #238 (thanks!)

[2015-07-10 22:19] #230 closed, assigned to nobody

[2015-07-10 23:24] suzannealdrich opened #275 "Need silent option to suppress extra output line at top of terminus drush sql-dump command"
The following terminus command does retrieve a sql database dump while excluding tables listed in --structure-tables-list option.

[code]

However, the dump file has a syntax error that prevents it from being imported. When I investigated the file, I found the following was written to the file as the first line.

[code]

I can remove that line, and then import the file w/out issues.

[2015-07-10 23:35] bensheldon commented on #275
Yup. There are a few other issues that involve dropping the logging level to zero. Thanks for reporting.

[2015-07-10 23:40] bensheldon commented on #167
Dupe of #134.

[2015-07-10 23:40] bensheldon commented on #167
Whoops, just the last comment is a dupe. Sorry.

[2015-07-12 07:41] aidanlister commented on #260
I'm seeing the same thing

[2015-07-13 22:43] bensheldon commented on #225
I don't think this is something that can be implemented in Terminus. Terminus is intended to be a CLI for the Pantheon Platform and shadow Dashboard features.

[2015-07-13 22:43] #225 closed, assigned to nobody

[2015-07-13 22:45] bensheldon commented on #236
@jamesrward Can you please try again [using the development version of Terminus](https://github.com/pantheon-systems/cli#development)?

[2015-07-13 22:49] bensheldon commented on #275
Dupe of #255

[2015-07-13 22:49] #275 closed, assigned to nobody

[2015-07-13 22:49] #263 closed, assigned to TeslaDethray

[2015-07-14 20:26] zachwaggoner opened #279 "Support 2-factor Authentication"
**_I can seem to authenticate login after I login i get**_

[code]

**_then if i run**_

[code]

**_i get**_

[code]

[2015-07-16 12:42] spleshka commented on #256
Guys, any feedback/progress on this issue so far?

[2015-07-16 12:42] spleshka commented on #262
Guys, any feedback/progress on this issue so far?

[2015-07-16 22:30] dearmond opened #283 "show site tags in output"
I'd like to see site tags included in the output for:
terminus organizations sites --json

I'm beginning to use Tags as a way for my developers to withhold a site from automated updating because, say, they're working on it. So I'd like to be able to filter the list of sites by site tags.

It may make sense in other commands as well, such as:
terminus sites list
terminus site info

[2015-07-16 23:08] bwood commented on #283
Related: https://github.com/pantheon-systems/cli/issues/218

[2015-07-16 23:15] dearmond commented on #283
Thanks! I was searching for the keyword "labels". Silly me. I'll close this one.

[2015-07-16 23:16] dearmond commented on #283
Upon further reading, I think this one is different. I'll keep it open after all.

[2015-07-17 18:07] bensheldon commented on #279
Unfortunately 2-factor authentication isn't currently supported within Terminus.

The current recommended usage is to register a "machine user" (on a different domain than is managed by SAML) and add it as a team member to the sites you need to access with Terminus.

[2015-07-17 18:14] bensheldon commented on #256
I agree that we need to implement better timeout behavior within workflow. The current 5 min default is insufficient... and even 15 min probably isn't sufficient either given very large databases (the slowest part of a clone). I think the best course of action is to remove the timeout altogether, provide an optional timeout option and the option to not wait at all and just exit the process immedia

[2015-07-17 18:17] spleshka commented on #256
Great @bensheldon, looking forward to see timeout issue solved :) Let me know if I can help you. Thanks!

[2015-07-17 18:18] bensheldon commented on #258
I completely sympathize with the annoyance of failing API requests dumping context-less stack-traces. My initial assumption here is that the deploy `workflow` is polling for status and for some reason it is erroring out in the API. We should be trapping those API errors and returning something human-readable and debuggable.

[2015-07-17 18:32] zachwaggoner commented on #279
Awesome, that works fine.  Appreciate it.

[2015-07-17 19:55] pirog commented on #260
I'm getting more or less what @bwood is describing. Working on support for Pantheon-on-Kalabox2 so similarly chaining a decent amount of terminus commands together to do some things.

Don't think this will be a huge issue for normal Kalabox usages and workflows but certainly makes development a little more tricky. Will try to limit requests and do some caching on our end. I can confirm the rate li

[2015-07-17 20:08] bensheldon commented on #260
@pirog are you using the `0.5.5` phar file or the development version. The `0.5.5` release is rather out of date and I'd recommend testing with the development version.

[2015-07-17 20:11] pirog commented on #260
Yeah rolling with the `0.5.5` since that was the "latest release" indicated on the releases page.

Can def try a switch over to the dev version. Are there any significant api changes going from `0.5.5` to `dev`? Or is it more bug fixes and changes of that ilk?

[2015-07-17 20:31] bensheldon commented on #262
This has been fixed in #284

[2015-07-17 20:31] #262 closed, assigned to nobody

[2015-07-17 20:36] bensheldon commented on #240
I think a combination of #238 and #285 fixes this issue.

[2015-07-18 09:26] spleshka commented on #256
Hi @bensheldon, I tried to find examples of using `workflows` with no success. It's not mentioned in the documentation (https://github.com/pantheon-systems/cli/wiki/Available-Commands) and no dedicated method for it in the source code. Did I miss anything?

[2015-07-21 15:45] mark-casias opened #289 "Guzzle deprecated"
Installed today and received this notice:

`guzzle/guzzle suggests installing guzzlehttp/guzzle (Guzzle 5 has moved to a new package name. The package you have installed, Guzzle 3, is deprecated.)`

[2015-07-21 16:24] bensheldon commented on #256
@spleshka no, you didn't miss anything. The move from `job` resources to `workflow` resources is an Pantheon API change that hasn't yet been fully exposed in Terminus. (we are creating workflows via terminus, but not yet listing them).

@TeslaDethray [removed the timeout](https://github.com/pantheon-systems/cli/pull/287/files?diff=unified#diff-1ee27d709d06f9e32fe9fe222f4c8c7cL184) in #287, so that

[2015-07-21 16:27] spleshka commented on #256
Awesome @bensheldon, thank you! I'll check out how it works with the fix and get back to you.

[2015-07-21 20:27] bensheldon opened #290 "Proposal: Create SiteCache; deprecate http cache"
## Background

 The product requirement for Terminus's UI is that sites are specified by `name` attribute. Unfortunately, the Pantheon API, being built on a NoSQL database, keys off of the `id` (uuid) attribute. Therefore, Terminus must have a look-up function for looking up and mapping a site's `name` to `id`.

In order to perform a comprehensive lookup, for a given site `name`, Terminus must tra

[2015-07-21 20:52] #240 closed, assigned to nobody

[2015-07-21 21:59] jonwstern commented on #279
Hi Ben,
We are actually not quite sure what you mean by this solution:

Can you elaborate a little. What Zack did is use his personal email to set up Terminus and somehow link it to our Enterprise account. We obviously don't want to have to use personal email accounts as opposed to our business E-mail. Can we use SSK keys instead like Git does?

[2015-07-21 22:24] bensheldon commented on #279
I understand the reluctance. Unfortunately Terminus cannot currently authenticate Users that are managed by a SAML-enabled organization. An account set up with a personal email would need to be added to each site to have access via Terminus.

Terminus unfortunately uses an HTTP-based API which doesn't support SSH-key auth.

[2015-07-21 22:32] bensheldon commented on #159
I have started a list of non-functional `drush`/`wp` that cannot be emitted by this Terminus:

https://github.com/pantheon-systems/cli/wiki/Known-Issues

 This is because Terminus is invoking those commands on the remote server and thus does not have access to your local filesystem. I wish they weren't so catastrophic though.

[2015-07-21 22:32] #159 closed, assigned to nobody

[2015-07-21 22:33] #227 closed, assigned to nobody

[2015-07-21 22:34] bensheldon commented on #211
I have started a list of non-functional `drush`/`wp` that cannot be emitted by this Terminus:

https://github.com/pantheon-systems/cli/wiki/Known-Issues

 This is because Terminus is invoking those commands on the remote server and thus does not have access to your local filesystem.

[2015-07-21 22:34] #211 closed, assigned to nobody

[2015-07-21 22:37] joshkoenig opened #291 "Authentication via keys or tokens"
Terminus currently authenticates using the same HTTP service as the dashboard, which has a number of shortcomings:
- Incompatible with 2FA (#279)
- Unfriendly to automation (#118)

Implementing an alternative authentication mechanism will require work on the platform side, but we have to go down this path to support all our users.

[2015-07-21 22:37] joshkoenig commented on #279
The machine account is the current workaround. Keep track of the new issue (#291) for progress on a next-gen auth layer.

[2015-07-21 22:37] #279 closed, assigned to nobody

[2015-07-21 22:38] joshkoenig commented on #118
SSH keys aren't really the greatest answer here, but we have a good path forward. Please track issue #291 to follow progress. :)

[2015-07-21 22:38] #118 closed, assigned to nobody

[2015-07-21 23:40] jonwstern commented on #279
what do you mean by "machine account"

[2015-07-22 22:04] yosefromano opened #293 "composer install"
I am following the instructions here https://github.com/pantheon-systems/cli. I am holding at :
cd pantheon-cli
composer install

The command ‘composer install’ is giving me the following message :”-bash: composer: command not found”

I installed Composer using this command : https://getcomposer.org/doc/00-intro.md
which I found here https://getcomposer.org/doc/00-intro.md

[2015-07-22 22:28] ari-gold commented on #293
Hi @yosefromano.

Did you install composer globally? https://getcomposer.org/doc/00-intro.md#globally

Also, unless you want the bleeding edge version just follow the "Basic Installation" on https://github.com/pantheon-systems/cli/wiki/Installation

[2015-07-24 17:08] #158 closed, assigned to nobody

[2015-07-24 23:17] ari-gold opened #296 "`terminus organizations sites` should return full list of sites or provide way to list next page"
Previously it would return the full list of sites associated with an org. Now it only returns the first 100 sites, with no apparent option to retrieve the next set of 100.
### Steps to reproduce
1. terminus auth login test@example.com # test@example.com is an admin of org
2. terminus organizations sites --org=<org with more than 100 sites> | wc -l
3. See only 101 rows, should see more

[code]

[2015-07-27 17:59] spleshka commented on #256
@bensheldon I've tested it and it works! Thanks indeed. Closing the issue.

[2015-07-27 17:59] #256 closed, assigned to nobody

[2015-07-28 00:19] cboyden opened #297 "Password printed to screen in cleartext if auth fails"
When authorization failed, my password was printed to the terminal screen in cleartext.

[code]

[2015-07-28 22:22] joshkoenig commented on #232
:+1: for this - we should review whether this comes before or after 1.0, but it's a no-brainer to give it to folks.

[2015-07-28 22:23] bensheldon commented on #232
I think we should implement this in the platform, and expose it through Terminus. Rather than implement it in Terminus.

[2015-07-28 22:30] ari-gold commented on #232
So I just discovered yesterday that by creating a script that does an rsync every X seconds and tail -F you can pretty much stream logs locally. Not sure if that's a viable solution to bake into Terminus?

[2015-07-29 17:52] joshkoenig commented on #291
I graphed up a little diagram of out I think the authentication flow would work for a user.

![terminus x509 flow 1](https://cloud.githubusercontent.com/assets/143186/8965281/51a83552-35df-11e5-8dea-68d5fc1a515b.png)

The flow would be like:
1. User issues the `terminus setup` command.
2. This prompts them for their account email address, password, and "app label" (defaults to "terminus on (local

[2015-07-29 19:03] bensheldon opened #301 "Proposal: Release a not-backwards-compatible 0.6.x version branch"
When we committed to Semantic Versioning in #142, we said that we would not be releasing another minor (0.x) version and instead would have 1.0 as our next release. It seems like we are still somewhat far from a 1.0 release.

**Proposed**: Release a `0.6.x` branch of terminus that has backwards incompatible changes with `0.5.x` branch. This goes against semantic versioning (minor releases should n

[2015-07-29 19:20] bmackinney commented on #301
:+1:

[2015-07-30 17:39] erik-pantheon opened #305 "Teminus backup fails catastrophically on backups with large file systems"
When a backup done via Terminus is used on a site with an overly large File structure, the failure is catastrophic instead of graceful. If it's called as part of a larger process, like the mass-update, said failure causes the parent process to fail as well.

Terminus errors:
Warning: file_put_contents(.terminus/cache/59b73a159445b1a94061a16797081c53): failed to open stream: Too many open files in

[2015-07-30 17:50] bensheldon commented on #305
Whoah. That's awful.

It looks like it may be a problem with the http cache, which I am eager to remove (#290). I think what is happening is that we're starting the backup, which creates a `workflow` object (basically an item in our worker queue). We then poll the API for that workflow's status until it is finished. Because it's a big backup, we're polling the API quite a bit, which is somehow flo

[2015-07-30 19:02] joshkoenig commented on #301
+1

We have a small enough active user-base (for now!) that we don't need to feel unduly constrained by the "rules" of semantic versioning.

I think being more flexible here will help us move forward in the near term, and we can start to go more "by the book" once we hit 1.0 and we have grown our community.

[2015-07-30 20:14] bensheldon opened #307 "Remove the --nocache flag"
http caching has been removed in #306. The flag itself needs to be removed entirely, but may break people's implementations.

https://github.com/pantheon-systems/cli/blob/master/php/config-spec.php#L34-L39

[2015-07-31 17:10] #290 closed, assigned to nobody

[2015-07-31 17:10] bensheldon commented on #290
Completed.

[2015-07-31 17:11] bensheldon commented on #293
Still waiting for response.

[2015-07-31 17:11] #293 closed, assigned to nobody

[2015-07-31 17:16] bensheldon commented on #289
Thanks for the heads up about us being on a very old version of Guzzle. I'm thinking we may move to the Requests library from Guzzle (reason: more compatible, doesn't require curl, simpler interface). See #309

[2015-07-31 17:19] bensheldon opened #309 "Replace Guzzle with Requests"
We're 2 major versions behind on Guzzle (#289) and we can have a simpler interface and greater compatibility with Requests library: http://requests.ryanmccue.info/docs/why-requests.html

[2015-07-31 17:19] #289 closed, assigned to nobody

[2015-07-31 19:17] joshkoenig commented on #235
This has gotten a lot of +1's from the Power Users list.

[2015-07-31 19:20] joshkoenig commented on #235
What we probably need is something like:

`terminus site sql-dump --site=foo --env=live`

You could then pipe that to a local file:

`terminus site sql-dump --site=foo --env=live > dumpfile.sql`

Or even directly to your locally running instance of mysql:

`terminus site sql-dump --site=foo --env=live | mysql -h 127.0.0.1 -u root local_db_name`

[2015-07-31 19:24] joshkoenig opened #311 "Shell autocompletion"
This would be very nice for developers. We should be able to inherit this from upstream:

https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Completions.php

[2015-07-31 19:33] bwood commented on #311
Linking: https://github.com/pantheon-systems/cli/issues/203

[2015-07-31 19:33] bensheldon commented on #235
@joshkoenig I think we should have a discussion about to what extent terminus is a wrapper around the Platform (mostly REST) API, and to what extent Terminus is implementing new behaviors and plugging into local-machine resources (git, mysql).  We have another issue asking for SQL connection info (#184) that I think would be a better starting place.  Or, to address this issue, building fine-graine

[2015-07-31 19:36] #239 closed, assigned to nobody

[2015-07-31 19:36] #236 closed, assigned to nobody

[2015-07-31 19:39] bensheldon commented on #46
Git tags can be created locally via git and pushed to the platform. Commands in `site code` are intended to drive functionality within the platform, not to be a fully-featured wrapper for Git.

[2015-07-31 19:39] #46 closed, assigned to nobody

[2015-07-31 19:40] #167 closed, assigned to nobody

[2015-07-31 20:44] #203 closed, assigned to nobody

[2015-07-31 21:14] ari-gold opened #314 "`site info` git-url returns different value than `git remote -v`"
[code]

[code]

Any reason to not include  `/~/repository.git` as output from `site info`?

Also, for reference the Site Dashboard gives this string to copy/paste:
ssh://codeserver.dev.d12f63b9-bcb9-4329-8d63-9592c7ab4c87@codeserver.dev.d12f63b9-bcb9-4329-8d63-9592c7ab4c87.drush.in:2222/~/repository.git terminus-demo

[2015-07-31 21:16] joshkoenig commented on #314
Yes, because this is showing platform data. It's not designed to be the same thing.

If people want a way to generate the git repo, we don't need to query the API for that. It should be constructed locally based on the UUID.

[2015-07-31 21:16] #314 closed, assigned to nobody

[2015-07-31 21:36] ari-gold opened #315 "`organizations sites --json` should include Site UUIDs"
[code]

[2015-07-31 22:06] bwood opened #316 "'terminus sites list': Ability to filter by wildcard"
Our organization contains a large number of sites. Often a site will get cloned if we are migrating it to a new upstream product or doing some major revision.  We often wait awhile before we delete the original site in case we need to revert a cutover or reference the old site. We follow some loose site naming conventions.  The result of this is that we might have 3 copies of a site:
- security
-

[2015-07-31 22:09] bwood commented on #316
Another thing that would help would be to have wildcard matching that could be used in conjuction with --print for `terminus site dashboard`. E.g.

[code]

[2015-07-31 22:09] ari-gold commented on #316
As a workaround how about piping to grep?

`terminus sites list | grep security`

[2015-07-31 22:12] bwood commented on #316
Good point @ari-gold.  Yeah, I should have mentioned that we do that.

Since Josh is soliciting feedback for 1.0 features, I wanted to get this in there.

[2015-07-31 22:21] bensheldon commented on #186
I'm pretty sure this is fixed in #298

[2015-07-31 22:21] #186 closed, assigned to nobody

[2015-07-31 22:34] ari-gold opened #317 "`site upstream_updates` returns Up-to-date, but Dashboard shows available updates"
This doesn't happen with all sites, but seeing it with one of my sites:

[code]

<img width="967" alt="terminus-upstream_updates" src="https://cloud.githubusercontent.com/assets/7874556/9018944/9ca31fac-3799-11e5-8174-be42b7a0e1eb.png">

[2015-07-31 22:43] bensheldon commented on #187
Good news, the http cache has been removed (#306), so commands to read out the status should be accurate and up to date.

[2015-07-31 22:43] #187 closed, assigned to nobody

[2015-07-31 23:03] ari-gold commented on #317
Deleted code cache and looks good. Closing.

[2015-07-31 23:03] #317 closed, assigned to nobody

[2015-07-31 23:09] bensheldon commented on #317
@ari-gold do you think this is related to #306 ?

[2015-07-31 23:12] bensheldon commented on #305
I have removed the http cache in #306. I think it should solve this issue.

[2015-07-31 23:12] #305 closed, assigned to nobody

[2015-07-31 23:13] bensheldon commented on #52
I have removed http caching (#306) which I think should solve this issue.

[2015-07-31 23:13] #52 closed, assigned to nobody

[2015-07-31 23:14] ari-gold opened #318 "'sites mass-update` updates sites not intending to update and doesn't update sites intending to update"
[code]

[2015-07-31 23:18] bensheldon commented on #78
@calevans I think this has been fixed with #288

[2015-07-31 23:18] #78 closed, assigned to nobody

[2015-07-31 23:20] bensheldon commented on #107
@bwood I'm gonna assume that this is related to http caching which was removed in #306. Could you verify please?

[2015-07-31 23:24] bwood opened #320 "`terminus sites hostname`: Look up hostname to find site name."
(That's "sites" not "site" and "hostname" not "hostnames").

In the same vein as https://github.com/pantheon-systems/cli/issues/316, sometimes we need to find the dashboard of a site in our organization, but all we have is a production url. Currently to find the site name  we have to go to our billing records.  One way that terminus could help with this problem would be to add a command like:

[co

[2015-07-31 23:30] bensheldon commented on #320
That would be really interesting. We'd need to have the platform support an api that would probably have to:
1. Lookup the hostname and find the associated site
2. Verify that the user requesting the site is authorized to view that site
3. (assuming 2 is true) return the site data

[2015-07-31 23:49] bensheldon commented on #209
@suzannealdrich I've clarified that an absolute path is required in #322

@rachelwhitton That behavior looks to have been previously fixed. Both db/database are acceptable values for `site backup get --element=`

[2015-08-01 18:18] alphex commented on #235
Just my +1 for either (OR BOTH)

[code]

[2015-08-02 13:26] spleshka opened #327 "terminus site create-env doesn't clone db and files"
Hi, I've tried to use the following command to create a new environment:

`terminus site create-env --site=sitename --env=gitbranch --from-env=test --yes`

It creates a new environment properly, but doesn't clone neither database or files. For me it's fine to skip cloning of the content, but in this case `--from-env` param should be deleted from the API and documentation.

[2015-08-02 14:20] spleshka commented on #327
Debug shows the following:

[code]

Obviously, data which is being sent to the server has wrong `from_environment` params.

[2015-08-02 14:54] spleshka commented on #327
I've found the reason of this issue. This function returns wrong source environment name:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L650

It uses the wrong key (2nd argument) for identification of the source environment. It should be `from-env` instead of `env`:

`$src = Input::env($assoc_args, 'from-env', "Environment to clone content from", $site->availableEnviro

[2015-08-02 15:36] spleshka opened #328 "Fatal error: Cannot use object of type stdClass as array in SiteWorkflow.php on line 56"
I'm trying to use the following command to create a new environment:

`terminus site create-env --site=sitename --env=devops --from-env=test`

It throws the following error and stops waiting for the operation to complete:

`Fatal error: Cannot use object of type stdClass as array in /home/ubuntu/vendor/cli-master/php/Terminus/SiteWorkflow.php on line 56`

My current investigation brought me to the

[2015-08-02 17:46] bensheldon commented on #328
Thanks for digging into this. I'm not even sure why there is that branching logic there because the API should always be returning a single resource, not a list of resources, when creating a workflow

Feel free to submit a PR or I'll get this fixed this week. Thanks again!

[2015-08-02 17:47] bensheldon commented on #327
Again, thanks for looking into this. Feel free to submit a PR or I'll work on it this week.

[2015-08-03 14:45] asentner commented on #235
+1 for me. This would be great enhancement! Hope to see this feature added

[2015-08-03 14:47] eslynunez commented on #235
+1 pls pantheon pls.

[2015-08-03 19:11] #209 closed, assigned to nobody

[2015-08-03 19:11] #133 closed, assigned to bensheldon

[2015-08-03 19:12] #327 closed, assigned to nobody

[2015-08-03 19:24] bwood commented on #156
This could be implemented as

`terminus sites list --tag=foo`

Additionally as suggested in https://github.com/pantheon-systems/cli/issues/283, it could be available in the output of `terminus organizations sites`

[2015-08-03 21:07] bensheldon commented on #156
@bwood so it would need to be slightly more complicated than that because tags are part of the join between an organization and a site. So it would need to be within the context of a particular organization (because sites can be part of more than one organization).

So it would probably have to be:

`terminus organization sites --tag=foo`

...and I looked and there isn't even an `organization` com

[2015-08-03 21:20] dearmond commented on #141
I was unable to run terminus drush site-install even in sftp mode. It kept giving me:
Failed to create directory sites/test-[SITENAME].pantheon.io

[2015-08-03 22:13] bwood commented on #141
Hi Shawn,

We have new site script that works reliably.  Basically it does this:

[code]

[2015-08-03 22:23] dearmond commented on #141
Yeah, that's what I had before. I tried to use:
terminus drush site-install ...

but that didn't work. I went back to the "old" way, and it works fine, so be it!

What does that last line do: "install_configure_form.update_status_module......."

Thanks!
Shawn

[2015-08-03 23:53] #194 closed, assigned to bensheldon

[2015-08-04 00:02] #107 closed, assigned to nobody

[2015-08-04 00:18] dearmond opened #335 "PHP Notice: Undefined property: stdClass::$waiting_for_task when running terminus sites create"
I run:

[code]

I get the following error repeated six times. The site does get created, so I can't tell if anything is ACTUALLY wrong.

[code]

[2015-08-04 00:21] bensheldon commented on #335
What version of terminus are you using? Please paste the output of `terminus cli info`. Thanks!

[2015-08-04 00:23] dearmond commented on #335
[code]

[2015-08-04 00:31] #318 closed, assigned to nobody

[2015-08-04 17:11] bwood commented on #141
Ah...that's some install-profile-fu that un-checks the options telling Drupal to check for module updates and to email the site email address about updates.  This is the install form page you see after your modules install. If you create custom install profile steps with form elements you can also configure them this way.

Happy to talk more, but we should probably take it to email since we've lef

[2015-08-04 17:16] bwood commented on #156
Thanks for the detail.

`terminus organization sites --tag=foo`

The above would be fine with us!

[2015-08-04 21:44] joshkoenig commented on #315
+1 for this - the UUID is a highly valuable piece of data, even though we support the site shortname as a convenience for interactive input, for scripting circumstances having the UUID available is worth doing.

[2015-08-04 22:05] joshkoenig commented on #311
This was added in #313 - confirmed working.

[2015-08-04 22:05] #311 closed, assigned to nobody

[2015-08-04 22:08] joshkoenig commented on #233
Closing this for now. I think the longer term answer is that this should be part of a config file that's pushed with the project, not a toggle that's fiddled in terminus.

[2015-08-04 22:08] #233 closed, assigned to nobody

[2015-08-04 22:10] joshkoenig commented on #248
Not going to expose the internal btool stuff. Closing this in favor of tracking log access on #232

[2015-08-04 22:57] joshkoenig opened #341 "Clean up "code" commands"
The `code` command file was never fully implemented. It doesn't contain any working commands:

https://github.com/pantheon-systems/cli/blob/master/php/commands/code.php

Some  of commands that were to be handled there appear to all be handled in the site command file:
- `branch-create`
- `upstream-info`
- `upstream_updates`

And some of these are present as sub-options in the `site code` command:

[2015-08-04 23:00] joshkoenig opened #342 "Fix docstring for `terminus help`"
The docstring for `terminus help` references a nonexistant "core" command in its example:

https://github.com/pantheon-systems/cli/blob/master/php/commands/help.php#L15

We should change this to reference the "sites" command:

[code]

[2015-08-04 23:05] joshkoenig opened #343 "Change "products" command/flags to "upstreams""
The standard nomenclature we are using to refer to git repositories that sites can be started from is now "upstream" rather than "product". We should rename the `products` command to `upstreams`:

https://github.com/pantheon-systems/cli/blob/master/php/commands/products.php

Likewise, we should rename the `--product` flag on the `sites create` command to be `upstream`:

https://github.com/pantheon

[2015-08-04 23:14] joshkoenig opened #344 "`site backup` Fixes"
Setting this up to capture several changes to make to the `backup` command:
- [x] Rename high level command to `backups` (interactions with lists of things are pluralized)
### Question: drop the `load` command?

This command seems weirdly out of place:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L459

It's attempting to download and unzip a backup from the platform a

[2015-08-04 23:42] joshkoenig opened #345 "`sites list` should be global by default"
Currently the base `sites list` command is scoped down unhelpfully: it only shows a user the sites they are on the team for, but not sites they can access as part of their organization.

We should change this to be more useful out of the box:
- [x] it should be global in scope, showing direct team membership, and organization access.
- [x] We can add a `--team-only` flag to show sites that you're

[2015-08-04 23:52] joshkoenig opened #347 "Should we rename "clone-from-env"?"
I think the command-name in Terminus is pretty opaque:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L586

Something better might be `clone-env-content`.

CC @informanddelight - any thoughts in terms of verbiage? I realize this is what it says in the dashboard, but I feel like the command should explicity reference the fact that it's a _content_ operation.

If we want

[2015-08-04 23:56] joshkoenig opened #348 "Replace `site jobs` and `site notifications` with a `site workflows` command"
This command can die in a :fire:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L1018

And this too:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L1108

Workflows or bust!

`terminus site workflows --site=outlandish-josh`

Output:

[code]

[2015-08-04 23:59] bensheldon commented on #347
I would be in favor of dropping the "-env" entirely and naming it "clone-content". I think the description and interactive prompts make it clear that its operating on an environment.

Otherwise, I think we might consider adding another leaf to the site command, eg `site environment clone-content`. We have a not insignificant number of commands that operate on environments and it gets rather tireso

[2015-08-05 00:04] informanddelight commented on #347
All of the suggestions sound good to me. From the verbiage standpoint it gives a little more clarity around the action/emphasis, cloning content.

[2015-08-05 00:05] joshkoenig opened #349 "`site team` should allow roles to be set"
We allow this for org memberships, but not individual user memberships:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L1227

[2015-08-05 00:20] joshkoenig commented on #347
@bensheldon +1 for `clone-content` - it's a little special in the it has `--from-env` and `--to-env` flags.

While we are it, I'd support changing the other flags to be `--db-only` and `--files-only`. IMHO the common case should be both, and therefore making people type less saves time.

[2015-08-05 00:23] joshkoenig opened #350 "Allow default ENV vars for common params (e.g. --site, etc)"
**Previous Title**: Add a `terminus use --site --env` command to set site/env defaults for a session

In interactive mode the need to keep setting the `--site` and `--env` commands can be tiresome. If we had a nice standard around shell ENV vars we could let people set them once at the beginning of a session. We'd want to emit a notice when we are using the default value as well.

We'd also want t

[2015-08-05 00:26] joshkoenig commented on #297
This looks like it was unable to reach the host at all, not just an auth failure. The full curl is dumped out to help with debugging. If you simply supply the wrong credentials, you get a nice error message.

At the moment I don't think we'll fix this since the potential threat is narrow: someone looking over your shoulder at a time when there's a connectivity problem.

I'd rather fix this by gett

[2015-08-05 00:26] #297 closed, assigned to nobody

[2015-08-05 00:28] #248 closed, assigned to nobody

[2015-08-05 00:39] bensheldon commented on #350
I like this idea, but I worry the interface is a little too barebones. As alternative I suggest a "defaults" command with actions "set", "unset", "list" and "clear". This defaults would also be cleared on login and logout.

Eg

`terminus defaults set --something --key=value`

Would save and use the --something flag and the --key=value" argument and use it for all following commands.

I'm not sure

[2015-08-05 00:44] bensheldon commented on #350
Maybe if we added dotenv support (or whatever the PHP library is that reads out environment vars from a `.env` file. So like TERMINUS_SITE, TERMINUS_ENV and TERMINUS_FORMAT (which is a little different than the --json flag, but we can make it flexible)

[2015-08-05 00:45] bensheldon commented on #350
And for the record, I use foreman (ruby's version of dotenv) for injecting TERMINUS_HOST, etc for development.

[2015-08-05 13:54] bensheldon commented on #347
I'm in full support of using --only flags. Good defaults are good.

[2015-08-05 16:33] #328 closed, assigned to bensheldon

[2015-08-06 00:10] bensheldon opened #353 "Rename `site clear-caches` to `site clear-cache`"
This action name should match the vernacular as well as platform workflow name ("clear_cache").

[2015-08-06 00:11] bensheldon opened #354 "Rename `cli cache-clear` to `cli clear-cache`"
This matches the syntax of `site clear-cache` command (see #353)

[2015-08-06 01:06] bensheldon opened #356 "Document/enable custom commands"
Wp-cli has a `--require=<path to php file>` (https://github.com/wp-cli/wp-cli/issues/335#issuecomment-19702294) that allows for writing custom commands. We should consider implementing this (or documenting it if we already have it) in order to more easily extend terminus.

Also, this would help create a feedback loop for improving the internal Terminus API (and doc blocks) for modeling platform re

[2015-08-06 14:57] skwashd commented on #179
I hit this on a fresh install on OS X 10.10.4 running PHP 5.5.27 after running the installation instructions in the README.md.

[2015-08-06 20:39] bensheldon opened #358 "Improve `site upstream-update` syntax to have an `info` and `apply` sub-actions"
Originally the issue is "Change `site upstream-update --update=<env>` arg to `--env=<env>`"
This makes the action's argument name consistent with other site actions that operate on an environment.

[2015-08-06 20:43] bensheldon commented on #358
It appears the action doesn't even use the `--update=<env>` arg and hardcodes the dev environment. So this change will be noop in practice.

[2015-08-06 20:45] bensheldon commented on #358
Oh, it looks like the arg is actually acting like a boolen to mean "if you use the `--update=<env>` arg, then offer to update the site". Which isn't clear at all. We should probably just have an `upstream-updates info` and `upstream-updates apply` actions rather than a confusing (and implicitly broken) flag.

[2015-08-07 12:05] rvtraveller commented on #345
+1 to this, especially if it means I can also use the sites in the `--site` parameter of other commands.

Real world use case I encountered yesterday:
Another developer was having trouble accessing a site he had just imported from an outside company (developer did not have terminus setup at the time) and needed the password changed for the admin user.  I offered to reset it for him thinking it wou

[2015-08-07 14:31] bensheldon commented on #345
Would this also imply that when using Terminus interactively (eg when you don't pass in --site=), that all team+org sites would be listed too? I think it should show all sites you have access to, but that could be quite a list.

[2015-08-07 14:40] bensheldon commented on #345
in regards to the "role" column, I'm reluctant to add that because one can have multiple memberships to the site with different roles (team, via multiple orgs) and while the platform logic will choose the maximal set of permissions, that isn't exposed via the API. I'd prefer to just list the relationships you have to the site without the role, and add a site command like "site role" that shows a t

[2015-08-07 14:45] bensheldon commented on #345
I guess we could show a role column on `sites list`if you pass in a --team or --org flag, but that also then means it's not just a filter if we change the signature of the return to have more info.

This is one of those situations where 99% of the cases will be really simple, but that one site where you have 3 different roles based on your memberships will cause all the confusion.

[2015-08-07 14:48] bensheldon commented on #345
Or the "role(s)" column could just be a comma separated list of roles, just like the "membership(s)" column, so filtering down would just filter down. I'll do that. Seems simple. And then we can have a role filter too.

So like:

| site | role | membership |
| --- | --- | --- |
| awesomesauce | admin, developer | team, Big Agency |

[2015-08-07 17:43] bensheldon commented on #345
So digging into this, I'm reminded that a Site->Organization relationship has a role, in addition to the User->Organization relationship. Which means for a given site, even within a single organziation, there are two overlapping roles `Site->{role}->Organization->{role}->User`. So I plan on dropping that role column altogether.

[2015-08-07 19:31] bensheldon commented on #345
This is what I've got:

![screen shot 2015-08-07 at 12 31 07 pm](https://cloud.githubusercontent.com/assets/47554/9144194/358bc33e-3d00-11e5-960e-24c34f3226fe.png)

[2015-08-07 19:57] rvtraveller commented on #345
Looks good to me.  A few minor things that could possibly enhance this but aren't major show stoppers:
1.  There is an underscore in "Service_level" whereas version 0.5.5 has that underscore being a space.  Not sure if that is a regression or just something from testing.
2.  Is the Id column necessary?  I feel like it makes the table overly wide (and therefore difficult to fit on a terminal screen

[2015-08-07 20:12] bensheldon commented on #345
@bthompson-mindgrub thanks for the feedback. I agree with you on every point. The challenge though is one of output formatters. The same data array that generates the table is also used to output json or bash-formatted data. And we don't currently have a good abstraction for inflecting or renaming keys (`service_level` is the correct and consistent key value across the platform) or omitting them (

[2015-08-10 08:51] alexdicianu opened #363 "Error: Invalid backup element specified"
When running the commands below, `Error: Invalid backup element specified` is triggered, although the docs state the commands should work.

[code]

`--element=code` and `--element=files` work fine.

This is where I got the command from: https://github.com/pantheon-systems/cli/wiki/Available-Commands

[2015-08-10 16:12] bensheldon commented on #363
`all` is only a valid element for `backup create`: https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L384

I wouldn't disagree if one thought that the `backup` action was overloaded.

[2015-08-10 16:12] #363 closed, assigned to nobody

[2015-08-10 17:01] bjdevil21 opened #364 "Undefined property: stdClass::$php_version in /home/myacct/pantheon-cli/php/Terminus/Site.php on line 156"
When I run 'terminus sites list', it properly returns the list - but only after the following warning is output 144 times:

PHP Notice:  Undefined property: stdClass::$php_version in /home/myvm/pantheon-cli/php/Terminus/Site.php on line 156
PHP Stack trace:
PHP   1. {main}() /home/myvm/pantheon-cli/php/boot-fs.php:0
PHP   2. include() /home/myvm/pantheon-cli/php/boot-fs.php:22
PHP   3. Terminus\Ru

[2015-08-10 17:34] #315 closed, assigned to bensheldon

[2015-08-10 20:16] bensheldon opened #365 "Have a CHANGELOG.txt"

[2015-08-10 21:58] bensheldon commented on #135
This issue has been fixed as of #361. the `sites list` action now lists all sites a user has access to, and that is also used to fetch the site in `site *` actions

[2015-08-10 21:58] #135 closed, assigned to nobody

[2015-08-10 22:02] bensheldon commented on #43
I'm not sure when this was fixed, but this step is included in our QA script, so it should work: https://github.com/pantheon-systems/cli/pull/325

[2015-08-10 22:02] #43 closed, assigned to nobody

[2015-08-10 22:02] bensheldon commented on #196
This has been fixed alongside #135

[2015-08-10 22:02] #196 closed, assigned to nobody

[2015-08-10 22:05] bensheldon commented on #243
@ari-gold I think this has been fixed with #288. Please let me know if you're still experiencing issues.

[2015-08-10 22:05] #243 closed, assigned to nobody

[2015-08-10 22:19] bensheldon commented on #67
Right now the only difference is that `organizations sites` _has_ the `created_at` key, while `sites list` does not. Do we want to add `created_at` for consistency, or remove it for consistency?

[2015-08-10 22:29] bensheldon commented on #154
This functionality is now triggered via the `site init-env` command to align it with the UI of the Dashboard: #324. Initializing the `test` environment will pull content from dev, and initializing the `live` environment will pull content from test.

[2015-08-10 22:29] #154 closed, assigned to nobody

[2015-08-10 22:32] bensheldon commented on #358
Also see #188

[2015-08-10 22:37] bensheldon commented on #179
@skwashd did you download the phar version, or did you clone via git? I think this is fixed on HEAD and we're working on releasing a `0.6.x` branch.

[2015-08-10 22:38] bensheldon commented on #192
Thanks! Fixed in #274.

[2015-08-10 22:38] #192 closed, assigned to nobody

[2015-08-10 22:39] SaraMcCutcheon commented on #365
https://github.com/pantheon-systems/cli/commit/006f755430cd1dd1d844db72b43ab0716c5f4307
On 0.6 branch, to be included in 0.6 release
https://github.com/pantheon-systems/cli/pull/369

[2015-08-10 22:40] SaraMcCutcheon commented on #301
https://github.com/pantheon-systems/cli/releases/tag/v0.6.0

[2015-08-10 22:49] bensheldon commented on #155
I think the `--from` flag on deploy is a little confusing. It really means "copy content from that environment to the one being deployed". The code itself that's being deployed follows the Pantheon workflow of dev -> test -> live.

In the Dashboard, when deploying the test environment, we give the option of "Copy content from Live", which I think is really the only option we want to support here.

[2015-08-10 22:52] bensheldon commented on #144
There are now commands for merging multidev environments into dev and vice-versa: #340.

[2015-08-10 22:52] #144 closed, assigned to nobody

[2015-08-10 22:56] bensheldon commented on #178
The `site backup load` command is currently slated for deprecation (#344). We have other projects currently in flight (#357) for achieving this functionality.

[2015-08-10 22:56] #178 closed, assigned to nobody

[2015-08-10 23:04] #301 closed, assigned to nobody

[2015-08-10 23:06] bensheldon commented on #38
I think this issue has evolved to become a dupe of #221.

[2015-08-10 23:06] #38 closed, assigned to nobody

[2015-08-10 23:07] #365 closed, assigned to nobody

[2015-08-10 23:07] #207 closed, assigned to nobody

[2015-08-10 23:08] bensheldon commented on #29
Plenty of specific issues for addressing this.

[2015-08-10 23:08] #29 closed, assigned to nobody

[2015-08-10 23:22] bensheldon commented on #341
@joshkoenig it seems we will need a `delete-branch` command to fully match dashboard functionality (deleting a multidev environment does not delete the corresponding branch; the Dashboard has view dedicated to displaying and deleting existing branches). But I think the `delete-branch` should be strictly limited to matching the functionality on the dashboard for cleaning up multidev branches. See #

[2015-08-10 23:24] #174 closed, assigned to nobody

[2015-08-10 23:27] bensheldon commented on #335
@dearmond we just released a mew version of Terminus. Could you please give that a try: https://github.com/pantheon-systems/cli/releases

[2015-08-11 00:31] nstielau commented on #67
I think it is useful information, and would vote for adding it to `site
list`

On Mon, Aug 10, 2015 at 3:19 PM, Ben Sheldon notifications@github.com
wrote:

##

Nick Stielau | p 415-515-2120
Director of Engineering | Pantheon

[2015-08-11 07:24] alexdicianu commented on #363
This still produces an error:

[code]

[2015-08-11 14:44] hugovk opened #372 "Does `terminus site deploy` now also update the database?"
I've just updated terminus to 0.6.0 and it appears that after running `terminus site deploy --site=MYSITE --from=test --env=live --cc` that the live database was overwritten with the test one.

It didn't in the whichever version I had before 0.6.0.

This commit looks like it's changed the behaviour:
https://github.com/pantheon-systems/cli/commit/9096321cf057108cf45ddfde917db178481927ea

Please can

[2015-08-11 15:47] bensheldon commented on #372
Yes, that behavior isn't right at all. Only when deploying test should content have the option of content being copied over. That will be fixed.

[2015-08-11 16:51] #372 closed, assigned to bensheldon

[2015-08-11 17:07] hugovk commented on #372
Thanks for the fix.

Please could you release this as soon as possible, as the current 0.6.0 has the potential to overwrite live databases with old ones?

[2015-08-11 17:11] bensheldon commented on #372
@hugovk I'm working on that right now in #374

[2015-08-11 17:31] bensheldon commented on #372
@hugovk I have published v0.6.1: https://github.com/pantheon-systems/cli/releases/tag/0.6.1

[2015-08-11 18:23] bensheldon commented on #155
@ari-gold I added a `--clone-live-content` flag in #373 to clarify the Pantheon workflow. It is only applicable when deploying the Test environment

[2015-08-11 18:23] #155 closed, assigned to nobody

[2015-08-11 18:46] #90 closed, assigned to bensheldon

[2015-08-11 18:47] #283 closed, assigned to bensheldon

[2015-08-11 18:48] jfrederick opened #375 "PHP Notice: Undefined property: stdClass::$framework in phar:///usr/local/bin/terminus/php/Terminus/SitesCache.php on line 167"
When I run _terminus sites list_ (as both a member of individual sites, and as a member of an organization that has associated sites), I get this error:

[code]

---

[code]

[2015-08-11 18:50] bensheldon opened #376 "`site upstream-updates` should allow an environment to be specified"
Currently the 'dev' environment is hardcoded in the `site upstream-updates` command. Upstream Updates should be able to be applied to Dev _or Multidev_ environments.

Add a `--env=<environment>` option that allows a multidev environment to be passed (but shouldn't allow test/live environments).

[2015-08-11 18:51] bensheldon commented on #358
Closing in favor of #376.

[2015-08-11 18:51] #358 closed, assigned to nobody

[2015-08-11 18:53] bensheldon commented on #350
Also, I'm not sure how this relates to #38 and #221, which seem to get towards the same outcome.

[2015-08-11 18:54] bensheldon commented on #375
@jfrederick can you please try running `terminus cli cache-clear`, then try running the your action again?

I think this may be due to an issue migrating the old cache to the new one.

[2015-08-11 19:06] jfrederick commented on #375
@bensheldon I did try that, to no avail. Running _terminus cli cache-clear_ logged me out, so I logged back in, ran _terminus sites list_, got the errors still, ran _terminus cli cache-clear_, became logged out again.

Here is the full stack trace, btw, which appears above a very useful list of all my sites, organization-based and otherwise:

[code]

[2015-08-11 19:20] bensheldon commented on #375
@jfrederick could you please open a Pantheon Support Ticket. I think the issue may be with the data coming back from the API and a support ticket will let me get your account data in a more private/secure manner.

[2015-08-11 19:30] bensheldon commented on #364
Thanks @bjdevil21, I'm looking into the cause of the problem.

[2015-08-11 19:34] bensheldon commented on #195
This should be fixed as part of the new 0.6.x release: https://github.com/pantheon-systems/cli/releases

[2015-08-11 19:34] #195 closed, assigned to nobody

[2015-08-11 19:35] bensheldon commented on #350
See also #229 for a request to also cache the user

[2015-08-11 19:36] bensheldon commented on #156
This has been implemented in  #371

[2015-08-11 19:36] #156 closed, assigned to nobody

[2015-08-11 19:37] bensheldon commented on #179
A 0.6.x branch has been released: https://github.com/pantheon-systems/cli/releases

[2015-08-11 19:37] #179 closed, assigned to nobody

[2015-08-11 19:41] bensheldon commented on #210
The `load` command is slated for removal entirely in #344.

[2015-08-11 19:41] #210 closed, assigned to nobody

[2015-08-11 23:06] reynoldsalec commented on #375
Wanted to note that I'm seeing this error as well, although interestingly enough the site id is still provided after several iterations of the error.

[code]

[2015-08-11 23:26] dearmond commented on #335
Trying it on 0.6.0, it does appear to create the site, but got this:

[code]

0.6.1 won't work at all for me. Lots of errors.

[2015-08-11 23:55] bensheldon commented on #335
@dearmond that's odd that you're seeing a substantial difference between `0.6.0` and `0.6.1` as the latter has only isolated bugfix. Could you try [installing the development version from git](https://github.com/pantheon-systems/cli#development) and see if it still displays the same errors? I'm suspecting there is an incompatibility with your environment but I'm not sure.

[2015-08-12 00:13] dearmond opened #380 "site info and cli info returning nothing"
[code]

[2015-08-12 00:13] dearmond commented on #380
Using 0.6.0 by the way

[2015-08-12 00:53] ari-gold commented on #239
Also see https://github.com/pantheon-systems/documentation/issues/807

[2015-08-12 07:46] hugovk commented on #372
Thank you.

So if I use commands like this with 0.6.1, will they only deploy code changes, and not clone the database?

[code]

[2015-08-12 16:18] greg-1-anderson opened #381 "Terminus cli version issues"
`terminus cli version` reports 1.0.0, regardless of the version of Terminus installed.

Version 0.6.1 is available in github, but Packagist only knows about version 0.5.6.

[code]

Let me know if you'd like me to show you how to set up Packagist integration on GitHub, so your releases stay up to date.

[2015-08-12 16:56] bensheldon commented on #381
We need to codify our release playbook and make sure releases are getting to packagist. Terminus `0.6.1` should have the proper version attached though.

[2015-08-12 16:57] greg-1-anderson commented on #381
The only thing you need to do to get your release to Packagist is tag it in GitHub (already done), and add the Packagist integration service. I can show you how to do the later -- it only takes a couple of minutes.

[2015-08-12 17:05] bensheldon commented on #372
The `--from` command has been deprecated and is nonfunctional because it was part of the confusion about code vs content (e.g. files and database).

Specifying only the `--env=test` flag will do the proper thing of pulling code from Dev -> Test; or `--env=live` will pull code from Test -> Live.

If you would like to copy the Live database+files to the Test environment, you would add the `--clone-l

[2015-08-12 20:38] bensheldon commented on #224
Backups that are 0MB, (either because they do not have a size property or are truly 0) are either "in-progress" or failed.  Unfortunately there isn't a clean way to determine which camp that backup falls into. I will mark these as "not ready" or something specifically ambiguous, but to be clear that they should not be used for restoration.

[2015-08-12 21:16] bensheldon commented on #213
@bwood I'm not sure if the functionality changed between when you opened this issue and now, but `site backup get` only downloads the file if you pass the `--to-directory=` argument. Otherwise it provides an interactive/selectable list of backups that return a URL.

There isn't currently a programmatic (not interactive e.g. passing in bash args) way to select a backup that isn't the latest.

Do yo

[2015-08-12 21:46] bensheldon opened #387 "Prevent `site init-env` command from overwriting already initialized Test/Live Environment"
We need a way to check whether a given environment has been initialized, and have that block the command if it already has been.

[2015-08-12 21:53] bensheldon commented on #380
@dearmond That's weird because the debug output looks like its using an api that was removed in `0.6.x` branch. I saw in #335 that you were unable to get the 0.6.1 version running. Have you had a luck with installing via Git and running the development version?

[2015-08-12 21:57] bensheldon commented on #344
This conflicts with what is asked for in #213. Can you reconcile the interface for both your proposals?

[2015-08-12 21:58] bensheldon commented on #213
@bwood in regards to selecting a backup via `get`, there is a proposal in #344 to require the entire filename:

[2015-08-12 21:58] bensheldon commented on #345
#67 is also asking that `created` column be added here as well.

[2015-08-12 22:17] bensheldon commented on #349
@joshkoenig is this only for Sites that are owned by Organizations who have Change Management enabled?

[2015-08-12 23:42] joshkoenig commented on #349
That's correct, but Terminus doesn't need to care about this; it should expose the commands make the API calls. If they get negged by the back-end, that's ok.

[2015-08-12 23:55] bensheldon commented on #349
Does that mean that we shouldn't provide an interactive menu to select the role if none is provided via commandline arg?

[2015-08-13 00:59] joshkoenig commented on #341
Ok, that works. I guess it's enough of an obscuro use of git to prune remote branches like so:

`git push origin :branch-to-delete`

That we should provide a CLI wrapper for the API.

[2015-08-13 15:32] #182 closed, assigned to bensheldon

[2015-08-13 15:32] #224 closed, assigned to bensheldon

[2015-08-13 15:32] #134 closed, assigned to bensheldon

[2015-08-13 15:32] #296 closed, assigned to bensheldon

[2015-08-13 15:32] #161 closed, assigned to bensheldon

[2015-08-13 16:00] bensheldon commented on #244
This is a great suggstion. There is some planning work in #235. If you have thoughts about implementation, please add them there.

[2015-08-13 16:00] #244 closed, assigned to nobody

[2015-08-13 16:02] bensheldon commented on #254
@aaronbauman There is some momentum coalescing around tools for syncing and piping databases in #235. I think your suggestions would contribute well to that discussion.

[2015-08-13 16:02] #254 closed, assigned to nobody

[2015-08-13 16:49] ari-gold commented on #341
+1 to match dashboard, but just a note that as of git 1.7 there's also the less obscure:

[code]

https://github.com/gitster/git/blob/master/Documentation/RelNotes/1.7.0.txt#L154

[2015-08-13 19:53] bensheldon commented on #188
I've captured the specifics of a `--env=` flag for applying upstream-updates to multidev environments in #376.

[2015-08-13 19:58] rachelwhitton commented on #188
Awesome! Thanks @bensheldon - closing this issue.

[2015-08-13 19:58] #188 closed, assigned to nobody

[2015-08-13 20:08] #261 closed, assigned to bensheldon

[2015-08-13 20:34] #219 closed, assigned to bensheldon

[2015-08-13 20:36] #252 closed, assigned to bensheldon

[2015-08-13 20:53] greg-1-anderson commented on #220
From Slack:

"The platform has a switch in the admin dashboard to select "Drush 5" or "Drush 7".  Drush 6 and 8 are also installed, but they are not selectable from the admin dashboard.  On the "Debug" pane of the admin dashboard, each environment has a bunch of switches: Pantheon maitenance, php version, php stable / testing, drush version, fusedav version,ssl / nossl for styx."

[2015-08-13 21:09] #40 closed, assigned to TeslaDethray

[2015-08-13 21:10] bensheldon commented on #220
Ah, ok. if it's in the Dashboard Debug Panel, then it's not something we're currently exposing to customers. We don't talk about product roadmap publicly, but if/when we do make that functionality generally available, it will be exposed in Terminus. cc @joshkoenig

[2015-08-13 21:10] #220 closed, assigned to nobody

[2015-08-13 21:15] greg-1-anderson commented on #220
@joshkoenig has in the past said that for some things we might want to go the other direction -- expose it through Terminus first, for early adopters, and then make the UI changes in the dashboard to support it.

Of course, the feature should be on the roadmap as something that should be exposed to customers.  I think we should do this, but it should be formally recognized.

n.b. you can pick your

[2015-08-13 21:32] SaraMcCutcheon commented on #341
According to the API, there's a param we can pass in called delete_branch that should do the trick. We simply haven't been passing it in.

[2015-08-13 21:40] #345 closed, assigned to bensheldon

[2015-08-13 22:36] #376 closed, assigned to bensheldon

[2015-08-13 22:42] #342 closed, assigned to TeslaDethray

[2015-08-13 22:44] bensheldon commented on #214
I think this request is adequately captured here https://github.com/pantheon-systems/cli/issues/213#issuecomment-130451296 and will hopefully be rolled into #344

[2015-08-13 22:44] #214 closed, assigned to nobody

[2015-08-13 22:49] bensheldon commented on #349
We decided to check whether the Site has the feature available, and show the menu if they do. Otherwise we pass thru the commandline args and let the api sort it out.

[2015-08-13 22:49] #349 closed, assigned to TeslaDethray

[2015-08-13 22:53] #162 closed, assigned to TeslaDethray

[2015-08-13 22:53] #341 closed, assigned to TeslaDethray

[2015-08-13 22:54] #387 closed, assigned to bensheldon

[2015-08-13 23:00] joshkoenig commented on #220
I don't think it's a big secret that we want to let people run their choice of major drush versions, but we should make sure we are all aligned on how this works. Is it something you define when you invoke drush, or is it a function of the site (container) implementation? TBD.

For customers that need this now, Greg's point above is the best answer.

[2015-08-14 00:17] bensheldon commented on #316
@bwood do you have a preference for using glob style `*` wildcards or regexps? I'd like to be consistent in how we do matching, e.g. same as in #213

[2015-08-14 16:39] bensheldon commented on #218
Tags live on the join between sites and organizations. So this command would require an `--org=` argument as well to determine in which org the tags will be applied for this site.

[2015-08-14 16:52] hengkit commented on #218
+1 We are starting to get more and more requests for this

[2015-08-14 17:08] bensheldon commented on #348
Workflows are an unbounded size. How do we want to handle the maximum number of workflows to load? I suggest 100.

[2015-08-14 17:26] bensheldon commented on #67
Ok. So the change to be done is "add the `created` key to `sites list` command."

[2015-08-14 17:43] joshkoenig commented on #344
This issue is a little fuzzy. I am going to re-write it as a new spec for the backup command.

[2015-08-14 17:49] bensheldon commented on #350
This has been scoped down to  to the following variables:
- TERMINUS_SITE (`--site`)
- TERMINUS_ENV (`--env`)
- TERMINUS_ORG (`--org`)
- TERMINUS_USER (email address for `auth login` command)

Anything that would persist/sustain these variables are out of scope and will be done later (if ever) as part of another issue).

[2015-08-14 18:03] bensheldon opened #399 "Re-spec `backup get` command"
Removed from #344
- [x] if no `--to-directory` option is specified,  `get` should offer the option to start a download to the current working directory rather than dumping the url to STDOUT
- [x] when url is dumped, it should be armored by a few newlines
- [x] add a `--file` option to allow the user to specify a file from the `list` command
- [x] should respect the global `--json` flag for scripta

[2015-08-14 18:26] bensheldon commented on #184
Looking into this, a challenge is that a site has 3 different mysql servers (at least), one for every environment. I'm thinking we probably should have something that specifically has connection strings. e.g. `site connection-info --env=dev`. That would have similar info to what is shown in the dashboard.

[2015-08-14 18:50] iamEAP commented on #184
^++

Maybe `site connetion-info --env=dev --service=redis|mysql|sftp|git`

[2015-08-14 22:00] #184 closed, assigned to bensheldon

[2015-08-14 22:16] #67 closed, assigned to bensheldon

[2015-08-15 15:02] #347 closed, assigned to TeslaDethray

[2015-08-15 16:08] #343 closed, assigned to TeslaDethray

[2015-08-16 01:58] dalin- commented on #135
Thanks @bensheldon and @TeslaDethray

[2015-08-16 18:26] bensheldon commented on #135
@dalin- happy to help!

[2015-08-17 20:33] bensheldon opened #406 "Update Import code to use separate workflows depending on element being imported"
If importing all elements, still use `do_import`, otherwise we'll need to use `import_code`, `import_database`, and `import_files`.

[2015-08-18 18:23] hengkit opened #408 "Passing in an invalid org causes stuff to blow up"
![screen shot 2015-08-14 at 10 12 47 am](https://cloud.githubusercontent.com/assets/2086579/9338786/6e541c7c-459b-11e5-8b6d-830ea2a9f6cc.png)

[2015-08-18 18:42] #350 closed, assigned to TeslaDethray

[2015-08-18 19:07] SaraMcCutcheon commented on #221
Hi, @loganyott. We just added the ability to include some arguments by putting them into the environment. There's --site (TERMINUS_SITE), --org (TERMINUS_ORG), --env (TERMINUS_ENV), and the user (TERMINUS_USER). You can choose to load them yourself, or add them to a .env file in whichever directory you choose to invoke Terminus from and Terminus will load them for you. I hope this helps!

[2015-08-18 19:07] #221 closed, assigned to nobody

[2015-08-18 19:09] SaraMcCutcheon commented on #229
Hi, @hugovk and @dustinleblanc.
We just added the ability to include some arguments by putting them into the environment. You can add your user with the env var TERMINUS_USER, and there's also --site (TERMINUS_SITE), --org (TERMINUS_ORG), and --env (TERMINUS_ENV). You can choose to load these yourself, or add them to a .env file in whichever directory you choose to invoke Terminus from and Terminu

[2015-08-18 19:09] #229 closed, assigned to nobody

[2015-08-18 21:53] dearmond commented on #380
I have installed the development version via git and I'm still having the issue. Even when using the --debug, --verbose, --json, and/or --bash flags, the command returns nothing.

[2015-08-18 22:14] bensheldon opened #410 "Terminus Architecture"
![terminus architecture](https://cloud.githubusercontent.com/assets/47554/9344056/c6e4f7ca-45ba-11e5-94ab-22d7acb12151.png)

The above is the result of some brainstorming on how to better separate concerns of
- fetching data from and triggering effects on the Pantheon platform
- interacting with user input and generating user output

Also, it didn't get on the Command (left), but also managing exi

[2015-08-18 22:19] bensheldon commented on #309
We should also clean up the `simple_request` method (and swap it out with the `request` method that has realm/etc).

[2015-08-18 23:03] bensheldon opened #411 "Create abstract class for Model and Collection"
Models:
- id
- fetch
- get(attribute)

Collections
- models
- fetch
- get(id)
- all

[2015-08-18 23:32] bwood opened #413 "Standardize "system" messages like "Warning: There is a newer version of Terminus..." to prevent output parsing errors in scripts."
Currently our scripts use exec() to run terminus commands and then loop over the resulting output array to parse the results of the command. (Is there a better practice?) When `Warning: There is a newer version of Terminus...` began appearing most of this parsing broke.

It'd be great if terminus could define some rules that I could depend on about how such messages will be output. For example mes

[2015-08-19 00:10] bensheldon commented on #413
@bwood thanks for the feedback. I've been organizing all of these issues under the [Output Formatting Tag](https://github.com/pantheon-systems/cli/issues?q=is%3Aopen+is%3Aissue+label%3A%22Output+Formatting%22).

We're thinking about how to comprehensively address this, and I think it will be a combination of:
- being very deliberate with the levels at which we log data (debug, info/warn, or termin

[2015-08-19 01:10] joshkoenig commented on #348
Yes, 100 is good for now. Pagination can wait for a later release.

[2015-08-19 01:45] dearmond commented on #380
Now, with 0.6.0, it appears that terminus cli info does return something, but is missing value for PHP binary.

[code]

But terminus site info does not:

[code]

But when I try it with the development version of Terminus, neither work.

[2015-08-19 01:49] dearmond opened #414 "Feature request: terminus self:update"
Or at least some documentation on the Installation wiki page for how to properly update Terminus.

It may be that all you have to do is run that curl ... command that's used for install, but then what? clear cache? update composer? nothing?

I'm having some problems with newer versions of terminus, and I can't help but wonder if I'm not updating them properly.

[2015-08-19 04:38] hugovk commented on #229
Sounds great, thank you!

[2015-08-19 20:24] dearmond commented on #335
I installed Terminus via Git so I can switch between versions. I then run composer install after switching versions. 0.6.0 appears to work as expected. 0.6.1 returns nothing, as does master.

On 0.6.1, I changed the command to:
terminus sites create --name=$TESTSITENAME --org=$ORG --upstream=$DISTRO --label=$TESTSITENAME

(replaced "product" with "upstream")

[2015-08-20 21:01] #344 closed, assigned to TeslaDethray

[2015-08-20 21:25] #307 closed, assigned to TeslaDethray

[2015-08-20 21:30] #218 closed, assigned to TeslaDethray

[2015-08-20 21:40] #348 closed, assigned to TeslaDethray

[2015-08-20 22:03] QueSaraSera opened #419 "Update dependencies"
Save this for last.

[2015-08-20 22:35] SaraMcCutcheon commented on #408
I tried every command that accepts the --org flag and the only one that blew up is:
`to site organizations add/remove --org=<org> --site=<site>`
I will start fixing that one right now. Were there any others, @hengkit? If so, under what conditions did they splode?

[2015-08-20 23:10] dearmond commented on #380
You can add terminus cli version to the list too.

[2015-08-21 10:45] spleshka opened #420 "'site clone-env' is not a registered command"
Hi,

We're using the latest master branch of cli. A week ago we started to get the following error when running usual `terminus site clone-env --site=sitename --from-env=test --to-env=branchname --db --yes` command:

`
Error: 'site clone-env' is not a registered command. See 'terminus help'
`

Sometimes this issue disapears itself, sometimes it appears again. I'll update the issue if I find the re

[2015-08-21 10:48] spleshka commented on #420
Update: `terminus help site clone-env` doesn't show any information. For other commands `terminus help` works properly.

[2015-08-21 11:00] spleshka commented on #420
Steps to reproduce the issue are simple:
1. Clone the latest master branch of cli
2. run `composer install` inside of a cloned git repo
3. try to run`site clone-env`` command - it doesn't work.

[2015-08-21 11:07] spleshka commented on #420
Okay, found the reason in your changelog:

``
- `site clone-env` is now `site clone-content`. Flags have changed from inclusive --db and --files to exclusive --db-only and --files-only and defaults to cloning both. (#403)
  ``

Thanks for keeping the changelog, guys! Much appreciated. The issue was solved.

[2015-08-21 11:07] #420 closed, assigned to nobody

[2015-08-21 17:27] SaraMcCutcheon commented on #380
Good morning, @dearmond! Would you please try the newest [0.7.0](https://github.com/pantheon-systems/cli/releases/tag/0.7.0) release to see if it ameliorates the issues you are experiencing? With the exception of not finding the location of the php.ini being used, it works on my local:
![image](https://cloud.githubusercontent.com/assets/868204/9414603/aecd9d78-47ee-11e5-87c1-e2170c71299c.png)
Woul

[2015-08-21 17:34] SaraMcCutcheon commented on #380
My mistake, @dearmond, it seems the issue happens in 5.3, but not 5.4+. I'll be fixing this today.

[2015-08-21 18:08] dearmond commented on #380
I get the same behavior on 0.7.0.

[2015-08-21 21:38] #380 closed, assigned to TeslaDethray

[2015-08-21 21:47] SaraMcCutcheon commented on #380
I cut the [0.7.1](https://github.com/pantheon-systems/cli/releases/tag/0.7.1) release for you, @dearmond.

[2015-08-24 19:57] giteshk opened #423 "Terminus command to set the php version"
Is there a terminus command for setting the PHP version of a site to 5.5 ?

[2015-08-25 19:07] QueSaraSera opened #427 "`site environments` does not populate with sites if the site list has not already been retrieved"
![image](https://cloud.githubusercontent.com/assets/868204/9476449/abc87c3e-4b21-11e5-9336-5799144b2151.png)

[2015-08-26 10:37] spleshka opened #430 "Failed to connect. Check your credentials, and that you are specifying a valid environment."
Hi, while running terminus drush commands on Pantheon environment we're getting the following error:

[code]

The thing is that it happens absolutely randomly. For example, in our devops we have 2 terminus commands which are being runnung subsequently:

[code]

Sometimes the error occurs during the first command execution, sometimes during the second. The weird thing is that it may take different

[2015-08-26 10:50] spleshka commented on #430
Looks like CLI executes proper ssh command on the remote server:

[code]

Is it possible that the issue might be on a Pantheon server?

Another observation - this issue occurs only on one of our Pantheon project. The same terminus commands run on another projects without any issues.

[2015-08-26 13:30] bensheldon commented on #430
I think you're right that the issue could be either on the server or in our ssh proxy that sits between them. Terminus itself isn't particularly complex in dispatching ssh commands.

If you don't find anything after poking around, please open a Support Ticket as that will make it easier/safer to find and access the server logs and try to find where these failures are happening.

[2015-08-26 13:33] spleshka commented on #430
Thanks @bensheldon. I haven't found anything from CLI end what could cause the issue, so I've opened a support ticket. I'll update this issue when our problem will be resolved.

[2015-08-26 16:25] pirog opened #431 "Indicate php version the site is using somewhere"
holla holla,

haven't seen this yet so apologies if its there and i'm blind but it would be great to see the php version listed either in the generic site info or for the binding info for a specific appserver. something like this

[code]

The use case here is for pulling a site down with Kalabox. It would be great to grab the php version so we can set it automatically on our end this would
1. Redu

[2015-08-26 16:29] bensheldon commented on #431
PHP version is set on an environment level. Sites have a "default", but it can be overridden on any/all environments. Would you want an "environment-info" command that could include this?

Also, right now we manage patch-versions platform wide . So it would be limited to "5.3" or "5.5"

[2015-08-26 16:34] pirog commented on #431
yeah!!!! that would be awesome and helpful to our purposes.

patch version isn't necessary so all good on minor version.

[2015-08-26 16:38] pirog commented on #431
For now we can set reasonable "defaults" depending on the framework. Does that sound about right?

[code]

Is that you guys have?

[2015-08-26 18:06] SaraMcCutcheon commented on #431
@pirog Yes, those are the defaults we have. We are planning on changing the defaults on all but D6 (which will remain 5.3) to PHP 5.5 soon.

[2015-08-26 18:11] pirog commented on #431
Awesome @TeslaDethray! Best way to know when you guys make the switch?

[2015-08-26 18:21] kibra commented on #431
Hi @pirog

You'll find platform changes like that here: https://pantheon.io/docs/changelog/ It's not always 100% up-to-date, but I'll make sure PHP version changes at least make it in.

There's a good chance we'll also gives a 'heads-up' to our power users mailing list as we're rolling out the change: https://groups.google.com/a/pantheon.io/forum/#!forum/power-users

[2015-08-26 20:16] pirog commented on #431
Thanks Kyle! Should be equipped for success then.

[2015-08-26 23:02] pirog commented on #290
Catching up on 7.1 things. +1 for this awesomeness. :100:

[2015-08-27 15:08] ttrowell commented on #375
I am seeing the same issue even after running `terminus cli-cache clear`

[code]

[2015-08-27 19:13] SaraMcCutcheon commented on #399
- [x] --to-directory should be able to use `~`

[2015-08-27 19:26] SaraMcCutcheon commented on #364
Hi, @bjdevil21! I believe this issue was fixed in #389, and that fix is part of our current release. Would you please try the new release to see if it has cleared up this issue for you? If it does not, please reply back and/or pop this issue back open.

[2015-08-27 19:26] #364 closed, assigned to bensheldon

[2015-08-27 19:45] #375 closed, assigned to TeslaDethray

[2015-08-27 20:40] joshkoenig commented on #54
Hey All,

Just wanted to close this thread out. At the moment we aren't ready to restore a `--no-poll` style option, because what we've seen is that this can easily be misused to create a lot of sites programatically, with less than stellar results.

The "right" answer to this problem is for us to implement proper rate-limiting and quotas on the platform side. Until that's done and we're confident

[2015-08-27 20:45] joshkoenig opened #434 "Terminus command for syncing content files (rsync wrapper)"
The platform supports rsync, which is an ideal way to sync files from local to remote. It's bundled into most popular development environments.

https://pantheon.io/docs/articles/local/rsync-and-sftp/

However, it's complex and easy to mess up via human error. We should offer a wrapper in Terminus to make this easy for customers. Let's make something better!
### Command Spec

`terminus sync <local

[2015-08-27 21:46] loganyott commented on #221
Super cool :+1: ! Thanks for following up and letting me know it's been implemented.

[2015-08-28 16:43] joshkoenig commented on #430
Yup - this is an SSH connectivity issue. It's not a problem with the CLI.

[2015-08-28 16:43] #430 closed, assigned to nobody

[2015-08-28 17:28] xaqrox opened #437 "drush commands don't respect .env variables"
Running version 0.7.1, I have a file named `.env` in my current working directory with the

[code]

`terminus site info` succeeds while `terminus drush status` returns:

[code]

`terminus --site=my-site drush status` works fine.

[2015-08-28 23:58] joshkoenig commented on #437
Thanks for the report. I can replicate here as well.

[2015-08-29 00:00] joshkoenig commented on #437
This should be a pretty quick fix. The drush command spec is set to be super-strict about what flags it wants, but it's an easy change to make it fall back to the ENV var.

[2015-08-29 00:31] joshkoenig commented on #423
There isn't and probably won't be. This is going to be rolled into a project config file (e.g. `.pantheon.yml`) and actually get pulled from the dashboard.

The idea is that you want to be deploying a PHP version update in step with any code changes required for compatibility. There will be a bunch of other nice things in that config file too. :)

[2015-08-29 00:31] #423 closed, assigned to nobody

[2015-08-29 04:19] giteshk commented on #423
Is there a issue number I can track?

[2015-09-01 14:59] ustange commented on #236
No fun for me too: `curl https://github.com/pantheon-systems/cli/releases/download/0.7.1/terminus.phar -L -o /usr/local/bin/terminus && chmod +x /usr/local/bin/terminus` and then `terminus auth login` returns question marks and quits.

Trying to use the development version won't get me anywhere either: after `git clone` and `cd pantheon-cli` running `composer install` returns:

[code]

Ideas?

[2015-09-01 15:09] bensheldon commented on #236
What version of composer are you running? Also, can you try running "terminus cli info" and pasting the output? (you will need to run this from the packaged version)

[2015-09-01 15:24] ustange commented on #236
Ran `1.0.0-alpha9 2014-12-07 17:15:20`.
Updating to `1.0-dev (afd98b74f13b9def1b2447f16fd0bfd4d96dff94) 2015-08-31 09:58:50` did the trick; `bin/terminus auth login` works.

`terminus cli info` prints `????`

`bin/terminus cli info` prints

[code]

[2015-09-01 18:27] rvtraveller opened #443 "Windows CLI Doesn't Star Out Password"
When using terminus on Windows via the standard Windows command line, the user's password is not starred out as they try and log in.

Repro:
1.  Run `terminus auth login`
2.  Enter email address
3.  Observe error "'stty is not recognized as an internal or external command, operable program or batch file"
4.  Observe that the password you type in is displayed (obviously in the screenshot, this is n

[2015-09-01 18:28] rvtraveller commented on #443
Based on my quick research, the crux of the issue is that Windows doesn't support stty (like Unix based OSes do) and there aren't very many equivalents out there.  All the stackoverflow posts I was reading seem to indicate that you need to write out a bit of VBScript to accomplish this:  http://stackoverflow.com/questions/664957/can-i-mask-an-input-text-in-a-bat-file

[2015-09-01 18:30] bensheldon commented on #443
This is the upstream discussion: https://github.com/wp-cli/wp-cli/issues/129

[2015-09-02 15:30] cnovak commented on #249
This would be a good feature, if I use drush help <command>, I can see the help context and a prompt to type the command.  The way terminus works I have to quit out of help in order to get a prompt.  I cannot view help and type at the command at the same time.

[2015-09-02 15:38] bensheldon commented on #249
I'm thinking I'll make the default print to stdout and adding a "--less" flag will output it through less.

Does anyone actually like using less for terminal scrolling? I assume most people are using a terminal with scrollback.

[2015-09-02 15:45] bwood commented on #249
I have also been frustrated that I can't see both help output and the commandline prompt at the same time.

I sometimes he is less if I want to be able to easily search through the help output. Of course iTerm,  and I'm sure other terminal programs, can search the entire terminal for you.

I am so used to piping things through less that I might not use --less, but it certainly wouldn't hurt to hav

[2015-09-02 15:49] suzannealdrich opened #446 "Users in SAML enabled organizations can't use Terminus"
**Summary:** As a user in an organization that has SAML enabled for email addresses matching the organization's domain, I cannot use Terminus to perform any commands on my sites.

**Scope:** Users in organizations with SAML enabled whose account email addresses match the organization's domain. Users whose emails don't match can successfully authenticate with their dashboard passwords and perform T

[2015-09-02 16:04] bwood commented on #249
One more thought, FWIW. I've always liked the way 'git log' works in my brew-installed git 2.3.5: The log comes up in less (the viewer probably depends on $VISUAL) and I can scroll through it looking for the commit hash I want, then when I quit less the output I was viewing in less (at that position) remains in the terminal just above my prompt.

[2015-09-02 16:10] cnovak commented on #423
It would be great to be able to set the PHP version in the meantime if it the .pantheon.yml is going to be a long term fix.

[2015-09-02 16:55] cnovak opened #447 "'terminus organizations sites' takes ~ 1 min to display"
We have ~800 sites, which makes 'terminus organizations sites' take a very long time to respond when searching for a site. Is there a way to cache this request for large amounts of sites?

[code]

[2015-09-02 18:11] ari-gold commented on #446
Also see https://github.com/pantheon-systems/cli/issues/291

Hey @suzannealdrich !!

[2015-09-02 18:26] davidstrauss commented on #446
Marking as a feature request because it was a limitation known in the initial design. The current workaround is to set up a machine account (that is user/password-based), add it to specific sites, and use that user with Terminus, but we're working on real, passwordless Terminus authentication.

[2015-09-02 22:41] joshkoenig commented on #447
This is pretty hard to do at the moment.

Would paging through the sites be a better option for you?

[2015-09-02 22:43] joshkoenig opened #448 "Check for available updates"
I've been hassling people who have old versions of Terminus, and I feel like we should build version-checking into the product so that it will alert people if there's an update available.

Let's get this done for 1.0!

[2015-09-02 23:10] cnovak commented on #447
We usually get a support request and have to find that site, so we would be doing:

[code]

Maybe there is a better way to find a site to add yourself to it?

[2015-09-02 23:22] bensheldon commented on #447
@cnovak when you run `terminus sites list` we cache all your sites and org sites. So if you run that once, then run `terminus site info --site= myclientssitename` it should bring it up out of the cache.

[2015-09-03 17:38] joshkoenig opened #450 "Create backup: option to block until complete"
Got a good request from a user via email, who is using Terminus to set up a separate disaster-recovery site and freshen it nightly.
1. Use terminus to trigger a backup of the database
2. Use terminus to get an URL of the latest backup of the database
3. Download the database and load it into our disaster recovery DB

Because we do not know when #1 will complete, I’m spacing out the cron schedule b

[2015-09-03 17:46] bensheldon commented on #450
Running `terminus site backup create` _should_ block until the backup workflow completes ([code](https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Environment.php#L343)). So I don't think this workflow requires any changes in Terminus.

![screen shot 2015-09-03 at 10 45 43 am](https://cloud.githubusercontent.com/assets/47554/9666089/f68f0b9e-5228-11e5-965c-5d0e944ecd8d.png)

[2015-09-03 18:29] tleesmg commented on #450
I first encountered this problem around 5 months ago. I can confirm it blocks w/ the latest release of terminus and this is no longer an issue. Thanks!

[2015-09-03 21:39] joshkoenig commented on #450
Awesome. Thanks!

[2015-09-03 21:39] #450 closed, assigned to nobody

[2015-09-03 21:42] joshkoenig opened #451 "Deprecate "dashboard.getpantheon.com" in favor of "dashboard.pantheon.io""
We should ditch the old url pattern.

https://github.com/pantheon-systems/cli/blob/895beca8e0932f7ace8f3d7ac027be2f9806bd64/php/terminus.php#L35

Also lots of instances in the test fixtures, etc.

[2015-09-04 16:18] rachelwhitton opened #452 "sites create 7.1- DNS does not resolve & org related php failure"
## Dev URL DNS Does Not Resolve (Latest Release and Bleeding Edge)

`terminus sites create` successfully executes with no errors on latest release (See #453 for PHP Notices on bleeding edge install when running this command). The site is created and a commit appears in the code tool. Development site URL returns server not found error/DNS error.

Issue can be seen on the following sandbox URLs:
ht

[2015-09-04 16:26] bensheldon commented on #452
@rachelwhitton Thanks for the reports. Could you please open separate Issues for each problem as it makes it easier to isolate, triage, fix, and close and track.

[2015-09-04 16:33] rachelwhitton opened #453 "sites create 0.7.1 Bleeding Edge Install org_id PHP Notices and Ownership"
`$ bin/terminus sites create` no longer prompts for input to "Choose organization" - after naming the site you are prompted to select a product.

**WP** Script produces PHP Notices, site is created but cannot verify if it was installed successfully because development URL does not resolve. Site is owned by my user as expected.
**Drupal 7** If the user inputs 5 for the upstream prompt, the followin

[2015-09-04 16:35] rachelwhitton commented on #452
done! thanks @bensheldon - had them together at first since they were on the same command.

[2015-09-04 19:19] rachelwhitton opened #454 "terminus drush sql-connect - $ENV --host=10.223.176.79"
`$ terminus drush sql-connect` returns 10.223.176.79 for the host value within the generated connection string, whereas `drush @pantheon.$SITENAME.$ENV sql-connect` returns `dbserver.{env}.{site-id}.drush.in`. Connection string generated with Drush establishes a connection with the site's dbserver, but executing via terminus does not.

[code]

terminus cli info
PHP binary: /usr/local/Cellar/php55/