[2015-09-04 19:44] rachelwhitton opened #455 "wp db cli fails to connect to db server"
`terminus wp db cli --site={site-name}` fails to connect to db server. If `wp db` is found to be problematic, suggest adding the command to the [Known Issues](https://github.com/pantheon-systems/cli/wiki/Known-Issues) page.

[code]

terminus cli info
PHP binary: /usr/local/Cellar/php55/5.5.28/bin/php
PHP version:    5.5.28
php.ini used:   /usr/local/etc/php/5.5/php.ini
Terminus root dir:  phar://t

[2015-09-04 19:50] bensheldon commented on #455
I don't believe that `wp db cli` will work because wp/drush commands are executed atomically on the remote and `wp cli` expects to open a REPL. I've added it to the Known Issues page.

[2015-09-04 19:50] #455 closed, assigned to nobody

[2015-09-04 20:19] geigel opened #456 "Dynamically creating a Pantheon subdomain from within a PHP file"
Hi everyone.  I appreciate your help and much :heart: to anyone that can figure this out.  Please note that before I've posted this question I've scoured Stack Overflow and have also opened a ticket with Pantheon.  To date I have not found a solution.

My goal is to create a PHP function where I pass it a string representing a subdomain that I want added to my Pantheon account.  Thus, I'm trying t

[2015-09-04 20:26] bensheldon commented on #456
My first thought is that `shell_exec` isn't executing within a particular user environment. Running  `terminus auth login` stores a session token in `~/.terminus/cache/session` that is used for subsequent commands. You might try doing something like mentioned in this [Stack Overflow](http://stackoverflow.com/a/6913571/241735) answer to run it under a specific user.

[2015-09-04 21:30] geigel commented on #456
Okay, I think we're getting somewhere.  I updated my PHP code to be the following:

[code]

And I've updated my sudoers file with the following line.  I fully know this is insecure but I'm just trying to see if I can get somewhere.

[code]

Then when I execute the PHP file from a browser it _is_ able to successfully auth and create the subdomain from within my PHP function.

## My next question is

[2015-09-04 21:32] geigel commented on #456
Or, if it's safe to allow the 'www-data' user to execute the file then what should I change it's privileges line to within the sudoers file to not give it too many privileges?

[2015-09-08 02:14] rvtraveller opened #457 "You can see organization sites but can't run commands against them"
When I run `terminus sites list` I see all the sites I have access to which includes those sites that are part of organizations to which I belong.  However, I can't run other terminus commands against them (such as `terminus drush uli --site=<organization site>`).  My expected behavior would be that I can run terminus commands against any site in an organization, even if I am not explicitly on the

[2015-09-08 02:19] rvtraveller commented on #457
So, I originally thought this was a backend API issue that would need to be fixed outside of Terminus to get working.  However, in looking at it, it looks like the site check for commands (outside of `terminus sites list`) uses a different API to retrieve user sites and then checks for access to them client side.  Presumably there are also access checks happening server side but when I comment out

[2015-09-08 18:49] rachelwhitton opened #459 "Site code commit should prompt for commit message if none specified"
Re: [`$ terminus site code commit --message=<message>`](https://github.com/pantheon-systems/cli/blob/d84728a49c33fb875c7cd33bc49dbec3f17a5197/php/commands/site.php#L124)

Feature Request - Terminus should prompt the user for a commit message instead of using "Terminus Commit" when null.
Suggest:

[code]

[2015-09-08 19:20] QueSaraSera opened #460 "organizations sites uses --add --remove flags"
Other commands use subcommand add/remove/list, but this command uses flags.

[2015-09-08 19:21] QueSaraSera opened #461 "site clone-content uses --from-env and --to-env"
Other commands use or --from and --env

[2015-09-08 19:23] QueSaraSera opened #462 "site create-env uses --env and --from-env"
Other commands use --to-env and --from

[2015-09-08 19:24] QueSaraSera opened #463 "`site deploy` should use only --env, with --sync-content as a special boolean."
Currently the command spec for `site deploy` is as follows:

[code]

We should drop the `--from` flag since this is not something that can be customized.

[2015-09-08 19:27] QueSaraSera opened #464 "site tags does not have a "list" subcommand"
You currently have to use `organizations sites` to see the tags, which is not intuitive.

[2015-09-08 19:28] QueSaraSera opened #465 "sites create uses --import"
Other commands use --url

[2015-09-08 19:28] QueSaraSera opened #466 "site import uses --url"
Other commands use --import

[2015-09-08 19:29] bensheldon commented on #463
We should be removing those flags entirely. Deploys only have these 2 options: "deploy test from dev (and pull content from Live)" and "deploy live from test". That's it.

[2015-09-08 19:31] bensheldon commented on #462
We should be clear we mean "copy content from this environment" because the code will always come from Master.

[2015-09-08 19:35] QueSaraSera opened #467 "site instruments does not use explicit action"
Unlike all but two other commands, site instruments does the following things:
No flags: Lists instruments available to user
Site flag only: Lists current instrument on site
Site and set flags: Sets site to instrument in set flag
Which is not as intuitive as other commands. Can we make this more explicit by adding subcommands?

[2015-09-08 19:36] QueSaraSera opened #468 "site service-level does not use explicit action"
Unlike all but two other commands, site service-level does the following things:
Site flag only: Lists current service level on site
Site and set flags: Sets site to service level in set flag
Which is not as intuitive as other commands. Can we make this more explicit by adding subcommands?

[2015-09-08 19:44] QueSaraSera opened #469 "site owner does not use explicit actions"
Unlike all but two other commands, site owner does the following things:
Site flag only: Lists current owner of site
Site and set flags: Sets site to owner to user in set flag
Which is not as intuitive as other commands. Can we make this more explicit by adding subcommands?

[2015-09-08 19:51] QueSaraSera opened #470 "Remove --from-env flag from site deploy"
Command should always go from test to live or dev to test.
See #463

[2015-09-08 19:52] SaraMcCutcheon commented on #463
In that case, one flag still need exist in order to indicate which environment is the target (test or live), the question, then, is whether it ought to be --to-env or --env (which has my vote).
Added a ticket #470 for removal of --from-env.

[2015-09-08 19:53] bensheldon commented on #463
I think keeping --env is best. If those other flags aren't marked "deprecated" then that's my bad because I think I cleaned up that interface and left some stuff for backwards compatibility.

[2015-09-08 20:53] joshkoenig commented on #456
Hey Art - this isn't really a Terminus question per se. These are fundamentally questions about how to do shell scripting, which we can't really answer in the Termminus issue queue.

You may want to investigate the Power Users list as a potential resource for all things advanced in relation to Pantheon:

https://pantheon.io/docs/articles/power-users/

But more generally I would advise sinking some

[2015-09-08 20:53] #456 closed, assigned to nobody

[2015-09-08 20:54] joshkoenig commented on #454
This is a legit bug. It's pulling the private network interface, which will not work well.

[2015-09-08 20:55] joshkoenig commented on #457
Hey Ben,

Thanks for bringing this to our attention and tracking it down. Should get fixed soon!

[2015-09-08 20:55] joshkoenig commented on #459
+1 for this.

[2015-09-08 20:58] joshkoenig commented on #447
If we had an API to search for sites (in your universe) by name that might also help.

We don't have such an API, but it's been suggested before that we should.

[2015-09-08 21:16] SaraMcCutcheon commented on #469
site-info lists owner, set-owner should be new action

[2015-09-08 21:17] SaraMcCutcheon commented on #468
site-info should show service level, set-service-level should be new action

[2015-09-08 21:21] SaraMcCutcheon commented on #467
site set-instrument to set, site info should return site's instrument, terminus instruments list would list instruments, possible to filter with --org, etc

Maybe drop this command entirely for the 1.0.0 release and reinstate as this is probably not a non-trivial amount of work.

[2015-09-08 21:24] SaraMcCutcheon commented on #462
Where there is a to and a from env, --to-env and --from-env will be the flags for commands where there is more than one --env flag.

[2015-09-08 21:24] SaraMcCutcheon commented on #461
Where there is a to and a from env, --to-env and --from-env will be the flags for commands where there is more than one --env flag.

This issue is void.

[2015-09-08 21:24] #461 closed, assigned to nobody

[2015-09-08 21:25] SaraMcCutcheon commented on #463
It is decided that where there is a to and a from env, --to-env and --from-env will be the flags for commands where there is more than one --env flag.

[2015-09-08 22:41] joshkoenig commented on #463
I think I may have misspoken on this one. We don't want to have two flags in this case, because that would open up the potential for impossible commands.

For the `deploy` command, we should have just the single `env` flag, with two valid values only: `test` and `live`.

We should also make sure we review the `merge-from-dev` and `merge-to-dev` commands in multidev; I need to review how they map t

[2015-09-08 22:44] joshkoenig commented on #470
I like the answer on #463 - closing this issue as a dupe.

[2015-09-08 22:44] #470 closed, assigned to nobody

[2015-09-08 22:47] joshkoenig commented on #469
+1 for moving this to a `set-owner` command.

[2015-09-08 22:53] joshkoenig opened #471 "Docblock for `site code` references out of date subcommands"
We no longer have a `branch-create` subcommand — people should use git, or else create a multidev env, which will make a branch — but we reference it in the doc block, which feeds the helptext:

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L92

We should probably cut the reference to `--branchname` altogether. It does not appear to be used.

[2015-09-08 22:56] joshkoenig opened #472 "Consistency with namespacing"
We have a fair bit of legacy code in command files which includes classes from the Global namespace, e.g.:

[code]

In all the `Terminus` cases, and likely Guzzle too since it's part of the Composer project, this is not necessary and we should standardize.

[2015-09-08 23:07] joshkoenig opened #473 "Clean up `site upstream_updates` interface"
1. The command name has an underscore which we don't want: need to make it `@subcommand upstream-updates` I think, rather than `@alias`.
2. The interface is awkward. It should be more like the `site team` where the first positional arg is expected to be the action.
3. Needs an `--accept-upstream` auto-conflict resolver

Should be something like this:

[code]

[2015-09-08 23:11] joshkoenig commented on #466
I believe we should rename this command to be `import-content` and deprecate the "all" and "code" options. This brings it into parity with the "workflow > import" interface in the Dashboard.

Let's keep the `--url` flag as-is.

We should also fix the url in the docbloc while we are at it - https://pantheon.io/docs/articles/sites/migrate/ is the place!

[2015-09-08 23:13] joshkoenig commented on #465
I believe the right option here is to present distinct commands for the user between `sites create` and `sites import`. We know that on the back-end they are doing similar things, but from an end-user perspective they're pretty different animals.

We should make a separate `sites import` command which can be used to set up a new site. This can have a `--url` flag.

[2015-09-10 19:10] cnovak opened #475 "terminus site team list: Cannot find site"
I am trying to list out the email addresses of persons on a site dashboard, but when I run 'terminus site team list' I get a "cannot find site" message:

[code]

This also fails if I do not use --site and it prompts me to pick one by number.

[2015-09-10 19:27] cnovak commented on #447
Thanks for the idea @bensheldon. I am trying that call but it is still taking 35-40 seconds to display a site even if I make calls right after each other.

[2015-09-10 19:57] #437 closed, assigned to joshkoenig

[2015-09-10 19:58] joshkoenig opened #476 "Workflow polling needs to handle "Aborted" status"
We have been improving the workflow system on the API side so that it now supports an "aborted" status, but this is not handled by Terminus yet, which can lead to infinite workflow polling.

This can be replicated by applying upstream updates to a site that's in SFTP mode.

[2015-09-10 22:06] #411 closed, assigned to TeslaDethray

[2015-09-11 01:34] bensheldon commented on #476
Workflows shouldn't be polling for specific outcome, but rather _a_ outcome. I think the result key changes from null to something.

[2015-09-11 01:38] bensheldon commented on #476
Reading through the code, my description above is what is implemented: https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Workflow.php

So this issue's description of the work to be done is incorrect. Either the command is using the workflow model improperly or the problem has a different cause.

[2015-09-11 18:24] SaraMcCutcheon commented on #208
@bensheldon To be clear, the problem is that there is a fatal error if PHP-CLI is not installed and we want to be able to use the logger to tell the user that if they don't have it. Yes?

[2015-09-11 18:28] bensheldon commented on #208
@TeslaDethray I think the problem is that we are trying to use the logger to tell the user that the app wasn't able to bootstrap itself. I'm totally fine if we want to declare "the logger is not available until the app is fully bootstrapped. Any warns/errors that need to happen before that bootstrap is complete will just get dumped to the console".

I think the main problem is just "not a clear ap

[2015-09-11 18:30] bensheldon commented on #208
Or, an alternative is we initialize the logger as early as possible.

[2015-09-11 18:37] bensheldon commented on #208
Though I think the challenge is that the log level may be determined dynamically based on command flags, which don't get loaded until the app is fully bootstrapped.

So to come back to lifecycle, I think we may want to say:
1. Default log level during bootstrap is `error`
2. Default bootstrap log level can be changed to `info/debug` via `LOG_LEVEL` environment variable. An alternative is that we t

[2015-09-11 18:41] bensheldon commented on #208
Also, just to brainstorm, I'd like to differentiate between "logging" and "outcome". Logging to me means "data being printed _before_ there is outcome". Which makes me want methods like:

Loggers:
- `debug()`
- `info()`
- `warn()`

Outcomes:
- `success()`
- `failure()`

Outcomes happen when the program exits (or _trigger_ the exit), and become part of the output formatter.

[2015-09-11 22:12] SaraMcCutcheon commented on #208
The original bug is a the same as #260. (Same error, same line)

[2015-09-15 03:42] rubelyn opened #478 ""Allowed memory size exhausted" error -- downloading file size of 3gb or more"
Hello,

Terminus is giving the following error when trying to download a backup file of 3gb size:

Allowed memory size of 1610612736 bytes exhausted (tried to allocate 1602488900 bytes) in phar:///usr/local/bin/terminus/php/Terminus/Request.php on line 87

Ticket url : https://pantheon-systems.desk.com/agent/case/44925

[2015-09-15 07:35] QueSaraSera opened #479 "Makes sites list --json/--bash empty result an array"
Per Ronan's advice:
https://github.com/pantheon-systems/cli/pull/477#issuecomment-140119871

[2015-09-15 10:14] ghost opened #481 "Terminus backups failing ...."
With regards to this site: d152e5b4-a2f7-445b-8866-be2cd81d44f9

I am connected, and attempting to run backups via terminus. This is what I am trying:
terminus site backups create --site=SITENAME --env=live --element=all

Getting this error:
.....................................................................................Error: Exception thrown - [curl] 35: Server aborted the SSL handshake [ur

[2015-09-15 17:35] SaraMcCutcheon commented on #199
This issue was caused by the old logger. Once #477 is merged, it will be fixed.

[2015-09-15 21:30] QueSaraSera opened #484 "Replace internal copy of KLogger with Katzgrau/KLogger"
Once this pull request is merged, this issue should be addressed:
https://github.com/katzgrau/KLogger/pull/66
Because a need this change in an unreasonable amount of time, I've made a copy at php/Terminus/JLogger. Steps:

-Run `composer require katzgrau/klogger`
-Change use statement in php/Terminus/Logger.php
-Remove php/Terminus/JLogger.php

[2015-09-15 21:42] #208 closed, assigned to TeslaDethray

[2015-09-15 21:42] #260 closed, assigned to TeslaDethray

[2015-09-15 22:09] #199 closed, assigned to TeslaDethray

[2015-09-15 22:09] #249 closed, assigned to TeslaDethray

[2015-09-15 23:43] SaraMcCutcheon commented on #258
The thing causing this error to appear was fixed last month, but the fact that it would spit out this long, ugly error message was fixed in #477.

[2015-09-15 23:44] #258 closed, assigned to TeslaDethray

[2015-09-16 00:31] SaraMcCutcheon commented on #413
This cause of this specific output was removed before the 0.6.0 release, and all the output from php/terminus.php, before the logger and outputter are instantiated.

[2015-09-16 00:31] #413 closed, assigned to nobody

[2015-09-16 01:35] #419 closed, assigned to TeslaDethray

[2015-09-16 02:43] #255 closed, assigned to TeslaDethray

[2015-09-16 06:23] #479 closed, assigned to TeslaDethray

[2015-09-16 06:50] #197 closed, assigned to nobody

[2015-09-16 12:46] wizonesolutions opened #493 "Let me choose the download filename in terminus site backups get"
I can choose the `--to-directory`, but I can't rename the file. This makes me have to jump through hoops or just glob to write scripts.

[2015-09-16 15:06] SaraMcCutcheon commented on #493
This is a very good idea, and it would be simple to implement. I'm going to place it on the 1.0.0 milestone, due out in a couple of weeks.

[2015-09-16 17:02] wizonesolutions commented on #493
Awesome. I'm writing a script that uses Terminus a bit to pull down Pantheon backups for a user-specified site and use it in a hashbangcode/vlad configuration to spin up a developer VM. This'll simplify things.

[2015-09-16 20:40] bensheldon commented on #381
@greg-1-anderson FYI, I'll ne setting up automatic release as soon as #398 gets deployed shortly.

[2015-09-16 21:33] SaraMcCutcheon commented on #475
Hi @cnovak,

We've completely re-architected the internals of Terminus with a release made last night. While I could not duplicate your error with the previous release either, I am wondering whether the new version would've seen that fixed for you. If you would be so kind, please download the newest release and give it another try.

Thank you,
Sara

[2015-09-16 21:34] SaraMcCutcheon commented on #459
If the user is using --silent, should we use a default message anyway? Perhaps an env var could replace it as the default message?

[2015-09-16 21:39] QueSaraSera opened #497 "Drush&WP-CLI log on run not displaying properly"
![image](https://cloud.githubusercontent.com/assets/868204/9919267/91d8c804-5c80-11e5-9865-8352da849414.png)

[2015-09-16 23:41] greg-1-anderson commented on #381
Cool -- let me know if you run into any issues.

[2015-09-17 14:19] fyaconiello opened #498 "Batch Deleting Posts with the WP CLI and terminus does not work"
because of the messages that terminus automatically outputs at the beginning of each command

http://wp-cli.org/commands/post/delete/ suggests that you run a command like so

[code]

which translates into:

[code]

but that does not execute due to the fact that the inner terminus command `$(terminus wp post list --post-type='program' --format=ids --site=mysite --env=dev)` returns a message like:

[2015-09-17 17:07] ronan opened #502 "Clean up `site upstream-updates show` output"
The command:

`site upstream-updates show` outputs two different tables. The first shows the url of the upstream and whether or not there are updates available and the second shows the list of updates. This works ok in an interactive setting, but causes unusable output for piping or json output. Each command should only return one value type:

[code]

I would suggest we move the 'Updates Available

[2015-09-17 18:44] #469 closed, assigned to ronan

[2015-09-17 20:14] #497 closed, assigned to ronan

[2015-09-17 20:28] #493 closed, assigned to ronan

[2015-09-17 20:49] #353 closed, assigned to ronan

[2015-09-17 21:00] #473 closed, assigned to ronan

[2015-09-17 21:26] cnovak commented on #475
I downloaded latest and still have this issue:

[code]

[2015-09-17 21:41] SaraMcCutcheon commented on #427
Fixed this in #474

[2015-09-17 21:41] #427 closed, assigned to nobody

[2015-09-17 21:57] #471 closed, assigned to ronan

[2015-09-17 22:00] ronan commented on #245
Fixed in #501

[2015-09-17 22:00] #245 closed, assigned to nobody

[2015-09-17 22:00] #468 closed, assigned to TeslaDethray

[2015-09-18 14:33] ttrowell opened #509 "Typo in Warning message to update"
Warning: There is a newer version of Terminus (0.8.0) avaiable

avaiable => available

[2015-09-18 18:09] drakythe commented on #475
I am also experiencing issues with Terminus. I can list out sites but I cannot execute any commands against the site. Terminus was installed today.

I have attached a screenshot of my experience.

https://www.evernote.com/l/AAWsq0a5UcxJf6j5kKirZaSP9xuUv2R6Mas

[2015-09-18 18:19] SaraMcCutcheon commented on #475
@cnovak: The --product parameter was removed a few versions ago. Have you tried switching it for the --upstream param? When I try to run your command, I get:
![image](https://cloud.githubusercontent.com/assets/868204/9967376/272e53d4-5df7-11e5-9029-42eab12a909b.png)
(Note: `alias "to=TERMINUS_HOST=onebox terminus"`)

[2015-09-18 18:20] SaraMcCutcheon commented on #475
@drakythe: Although it was installed today, it doesn't appear that you are using the most recent version of Terminus. The newest version formats the labels on the table differently, like this:
![image](https://cloud.githubusercontent.com/assets/868204/9967252/52abdba4-5df6-11e5-9d79-224f7c1df2f6.png)
(Note: `alias "to=TERMINUS_HOST=onebox terminus"`)
The newest version is here: https://github.com/

[2015-09-18 19:14] ronan commented on #465
Fixed by #506

[2015-09-18 19:14] #465 closed, assigned to ronan

[2015-09-18 19:33] SaraMcCutcheon commented on #509
@ttrowell: That message was removed in 0.6. The client needs only update Terminus to fix it.

[2015-09-18 19:43] #509 closed, assigned to TeslaDethray

[2015-09-18 19:45] SaraMcCutcheon commented on #354
@ronan fixed this in #495

[2015-09-18 19:45] #354 closed, assigned to nobody

[2015-09-18 20:07] #451 closed, assigned to ronan

[2015-09-18 20:41] cnovak commented on #475
@TeslaDethray thanks for pointing that out, but the issue is not creating the site, I just wanted to show you the site was just created and exists.  The issue I am still having is that I am getting an error  when using 'site team' commands:

[code]

[2015-09-18 22:18] bobbygryzynger opened #513 "PHP Strict Standards Warnings"
I'm getting the following warnings preceding output of all Terminus (0.8.0) commands:

[code]

I see that this issue is already documented in #179 , but I was under the impression that it had been fixed as of Terminus 0.6.x. Has it cropped back up?

Here is some of my environment information:

OS
Mac OSX 10.10.5

PHP

[code]

Terminus

[code]

[2015-09-18 22:45] bobbygryzynger commented on #481
I can confirm that this is an issue in version 0.8.0.

The following command: `terminus site backups create --element=database --site=<site> --env=<env>`

Produces this message:

[code]

I am running PHP 5.4.32 under Mac OSX 10.10.5.

[2015-09-18 22:56] #463 closed, assigned to ronan

[2015-09-19 00:22] #467 closed, assigned to TeslaDethray

[2015-09-19 02:39] SaraMcCutcheon commented on #475
Sorry for the confusion, @cnovak. This specific error happens when the site was not found in the cache. Do any other site-based commands work for you? The format of the cache data has changed somewhat in the last update.

Is it possible to run `terminus sites list` and try the command just one more time? If it's still failing you, would you please take a screen shot of the results of `terminus cli

[2015-09-21 16:05] drakythe commented on #513
Getting the same error.
OS:
  OSX 10.10.5
PHP:
  PHP 5.6.7 (cli) (built: Mar 22 2015 19:03:55)
Terminus:
  Terminus version: 0.8.0

[2015-09-21 18:36] SaraMcCutcheon commented on #513
Thanks for catching this. I'll address it today.

[2015-09-21 19:23] #408 closed, assigned to TeslaDethray

[2015-09-21 19:45] #462 closed, assigned to TeslaDethray

[2015-09-21 20:44] pingevt commented on #183
@jurgenhaas @bensheldon

I am running into this same issue, but I am not very familiar with cert forwarding. How did you enable it it or make it available for the crontab script?

[2015-09-21 22:08] bensheldon commented on #381
In order to update the Packagist path, we will need to remove some of the old tags that point to code that is un-buildable by packagist. These are all of the historical tags:

[code]

[2015-09-21 22:13] greg-1-anderson commented on #381
I'm not sure which of these are causing problems.  I think the easiest thing to do would be to delete everything except the most recent, and then add them back in from newest to oldest until a) we have enough history to satisfy us, or b) it stops working.

[2015-09-21 22:14] bensheldon commented on #381
@greg-1-anderson I think that sounds good. Let's start removing the tags older than 0.5.x.

[2015-09-21 22:17] greg-1-anderson commented on #381
Okay, I will delete just those tags older than 0.5.x, and see if that makes Packagist happy.

[2015-09-21 22:35] greg-1-anderson commented on #381
Okay, this is set up and working w/ auto-updates in Packagist now.

https://packagist.org/packages/pantheon-systems/cli

[2015-09-21 22:36] bensheldon commented on #381
@greg-1-anderson yay! Let's mark [terminus/terminus](https://packagist.org/packages/terminus/terminus) as abandoned and reference the new package. Thank you for working on this.

[2015-09-21 22:46] greg-1-anderson commented on #381
I think the only way to do anything with terminus/terminus would be to make a GitHub repository that contained a composer.json named terminus/terminus, and point the Packagist project at that. Ironically enough, the old Drush "terminus" already has a composer.json file, and is named pantheon-systems/terminus.  Otherwise, we could just use that.  As it is, I think we would need to make https://gith

[2015-09-21 22:51] greg-1-anderson commented on #381
If you click on "Abandon" in the terminus/terminus project, then I think it will just disappear.  You could start with that, and make a shell project later if you want to have a pointer to the new location.  It should be easy to find at pantheon-systems/cli, presuming folks know where the GitHub repository is.

[2015-09-21 23:25] greg-1-anderson opened #519 "Typo in sites aliases help"
[code]

The correct path is '~/.drush/pantheon.aliases.drushrc.php'.

The code is correct; only the help is wrong.

[2015-09-22 14:23] bensheldon commented on #466
think we should preserve an "import everything" (maybe a "re-import") that will overwrite an existing site. This is similar in functionality to visiting "/sites/id/configure" that wil let you overwrite an existing site either with a product or import.

[2015-09-22 16:28] bensheldon commented on #381
I've abandoned the `terminus/terminus` package and referenced `pantheon-systems/cli`. Also updated the changelog.

[2015-09-22 16:28] #381 closed, assigned to nobody

[2015-09-22 20:38] #464 closed, assigned to TeslaDethray

[2015-09-22 22:52] greg-1-anderson opened #523 "Terminus site code functions not working (only 'commit' works)"
[code]

Similar errors are reported for diffstat and branches.

Terminus 0.8.0.

[2015-09-22 23:01] greg-1-anderson opened #524 "Terminus site connection-mode claims success to soon because it's not using workflows"
Start with a site in 'git' mode, and run:

`terminus --site=my-site --env=dev site connection-mode`

Confirm output is "git".  Then, open up the site's dashboard in a web browser, and run:

`terminus --site=updates-test --env=dev site connection-mode --set=sftp`

Note that the command returns right away.  Look at the "Active Workflows" in the dashboard (spinner next to "Team").  Note that the site

[2015-09-22 23:12] bensheldon commented on #524
@greg-1-anderson Thanks for the heads up. It looks like this is a place in Terminus that hasn't been updated to use Workflows:

https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Environment.php#L634-L684

It's still using the deprecated `POST` method, which means that it isn't waiting for the `enable_on_server_development` or `enable_git_mode` workflows to complete.

[2015-09-22 23:37] greg-1-anderson commented on #523
Oh, actually, `site code commit` fails in the same way:

[code]

[2015-09-23 17:33] QueSaraSera opened #526 "site connection-mode uses --set param and does not have subcommand to list"
Unlike other inconsistent commands, `site connection-mode`'s default - to display the current mode - does not appear in `site info`'s info. To standardize, we would change the set command to `site set-connection-mode` and the `--set` param would be `--mode`, but where would the user get the current connection mode if we did this?

One way to do it would be to retrieve the attributes of each enviro

[2015-09-23 17:34] SaraMcCutcheon commented on #526
Related to #524

[2015-09-23 17:51] SaraMcCutcheon commented on #457
I can verify that we can now run commands against organization sites as of 0.8.0:
![image](https://cloud.githubusercontent.com/assets/868204/10053428/e35dc0b6-61e0-11e5-9e59-01aebf707561.png)
Where `alias "to=TERMINUS_HOST=onebox bin/terminus"`

[2015-09-23 17:51] #457 closed, assigned to TeslaDethray

[2015-09-23 18:43] #513 closed, assigned to TeslaDethray

[2015-09-23 18:44] #519 closed, assigned to TeslaDethray

[2015-09-23 18:48] drakythe commented on #475
@TeslaDethray Thanks. I guess I caught the Wiki while it was being updated. Installing the latest 0.8.0 release has resolved my issue.

[2015-09-23 19:50] SaraMcCutcheon commented on #526
I would really love your thoughts on this, @ronan & @joshkoenig.

[2015-09-23 20:18] joshkoenig commented on #526
Good catch! Let's fix this before 1.0.

It is possible that we may want a `terminus site environment-info` or `environments-info` command much like `site-info` but specifically provides information about the environment.

However, I think we'd need more of a use-case than just getting the connection mode. I'm tempted to say we can go 1.0 without a way of "fetching" the current state of the connect

[2015-09-23 20:22] joshkoenig commented on #526
Actually, if we look at the results from the API for an environment now:

https://dashboard.pantheon.io/api/sites/<uuid-here>/environments/dev

The `on_server_development` value tells us if it's in SFTP mode. I think this is useful info. It helpfully includes the target ref/tag for test and live as well:

https://dashboard.pantheon.io/api/sites/<uuid-here>/environments/test
https://dashboard.panth

[2015-09-23 20:24] ronan commented on #526
It would be pretty quick to add the connection mode to the output of `site environments` which would be probably good enough for people but less so for scripts.

[2015-09-23 20:26] ronan commented on #526
Oops, cross-post. I guess I didn't realize that 'OnServer Dev?' is in fact the connection mode. Should that be changed to be consistent with the language in the dashboard (Connection Mode: SFTP/Git)?

[2015-09-24 00:33] SaraMcCutcheon commented on #452
@rachelwhitton Are you still able to recreate this with 0.8.0 or the bleeding edge? I _think_ this one is already cleared up. I've tried to duplicate by running:
`terminus sites create --site=saras-test --label=saras-test --upstream=WordPress --org=d3ecc20c-395a-43c4-93ee-f5f43808b6c8`
and also with:
`terminus sites create --site=saras-test --label=saras-test --upstream=WordPress --org="Pantheon E

[2015-09-24 00:43] SaraMcCutcheon commented on #453
@rachelwhitton I believe this bug was closed up on 9/2 with the overhaul of the Site model. Now no instance of $obj->framework is ever called without at least being set to null. (https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Site.php#L42-L54)

Can you still recreate this error?

[2015-09-24 00:57] SaraMcCutcheon commented on #191
I can no longer duplicate this issue as of 0.8.0.

[2015-09-24 00:57] #191 closed, assigned to nobody

[2015-09-24 14:30] rachelwhitton commented on #452
@TeslaDethray yes I'm still seeing the issue on 0.8.0 and my bleeding edge no longer executes, I'm getting fatal PHP errors. Could this be an issue with my local PHP version?

## Bleeding Edge

[code]

## Terminus 0.8.0

http://dev-terminus-080-wp-test.pantheon.io/

[code]

## Info

[code]

[2015-09-24 14:31] SaraMcCutcheon commented on #452
@rachelwhitton Is it possible that `composer update` was not run after the 0.8.0 update? The PSR package should be installed by it. The strict errors should've already been cleared up on bleeding edge.

[2015-09-24 14:52] rachelwhitton commented on #452
@TeslaDethray the PHP notices are definitely cleared up on bleeding edge after `composer update` - thanks for the tip!

I'm still not able to visit the dev URL after the site is created, same DNS errors. I've tried with a few different user accounts, same results. With or without an org associated, same results.

[2015-09-24 15:05] rachelwhitton commented on #453
@TeslaDethray no I cannot recreate this issue on bleeding edge, awesome!

I'm not getting a prompt to select an organization, but I can associate one successfully by setting the argument. Just curious if that's expected/intended?

[2015-09-24 15:06] SaraMcCutcheon commented on #453
Great! The removal of `--org` as a required param was an intentional change.

[2015-09-24 15:07] #453 closed, assigned to nobody

[2015-09-24 15:08] SaraMcCutcheon commented on #452
@rachelwhitton I don't know what could possibly be different about that request when you send it. May I ask you to try something for me, please? Please insert this line here: https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Collections/Sites.php#L52
`die(print_r($data, true));`
then run `terminus sites create` and send me what it spit out?

[2015-09-24 15:15] rachelwhitton commented on #452
[code]

[2015-09-24 15:25] SaraMcCutcheon commented on #452
Darn, it's no different than mine.

[code]

May I ask for just one more thing, please? If you could please remove that line, then run this:
`VCR_MODE=new_episodes VCR_CASSETTE=debug_sites_create terminus sites create`
This request will never finish. (Terminus requests the status of the workflow repeatedly, and waits for a `result: "succeeded"` result. VCR does not ever replay a request, so it'll f

[2015-09-24 15:31] rachelwhitton commented on #452
@TeslaDethray thanks for the help! Here's my [tests/fixtures/debug_sites_create](https://gist.githubusercontent.com/rachelwhitton/44a4709142084c369518/raw/80c8ddba4e77ac83672bfe07a4bf9551a04a69de/debug_sites_create) file

[2015-09-24 17:10] rachelwhitton opened #528 "Feature Request - terminus sites aliases"
Feature request for `terminus sites aliases` to update local aliases for all org associated sites, instead of only updating for sites in which the user is a direct team member.

Surfaced in pantheon-systems/documentation#969

[2015-09-24 17:15] bensheldon commented on #528
Unfortunately this feature needs to be elevated to the platform level as the aliases file that Terminus downloads is generated on the Pantheon Platform, not in Terminus. I'll bring this to the next roadmap discussion.

[2015-09-24 17:20] rachelwhitton commented on #528
Thanks @bensheldon!

[2015-09-24 17:28] bensheldon opened #529 "Request for Feedback: Remove `site attributes` command"
I'm not sure what the intent of the command is; we already have `site info` which has a curated list of attributes that are properly coerced/maintained. The `site attributes` command just dumps what the API returns, which may not be consistent.

https://github.com/pantheon-systems/cli/blob/master/php/commands/site.php#L25-L42

Unless anyone objects, I propose we remove this command.

[2015-09-24 17:35] bensheldon commented on #452
Irregularities aside, this may be a Pantheon Platform issue as this sounds somewhat similar to issues we've had recently in hostnames not resolving after creating Test/Live Environemnts.

Pinging @kibra who might be able to shed insight into whether the workflow being used could have an issue: https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Collections/Sites.php#L27-L59

[2015-09-24 18:19] #460 closed, assigned to TeslaDethray

[2015-09-24 18:20] #524 closed, assigned to TeslaDethray

[2015-09-24 19:30] kibra commented on #452
@rachelwhitton I talked with @Hornswoggles about this, and the issue is potentially related to a spike in API errors that we're currently investigating. We should attempt to repo this bug after we've fixed the API errors. I'll ping back here when that's been addressed.

/cc @bensheldon

[2015-09-24 20:40] ronan opened #531 "Further cleanup of output/logging"
I would like to propose another round of cleanup for output and logging. The new logger class and outputter are a big step forward but there are still some inconsistencies and iffy patterns at play.

My proposal is:
1. Use dependency injection to pass outputter/logger to commands
2. Remove all 116 references to `Terminus::(error|success|line|warning|log|failure)` from the code. All logging and out

[2015-09-24 22:01] SaraMcCutcheon commented on #335
@dearmond Would you do us the favor of giving the bleeding edge a whirl, please? The variable causing the issues that beleaguered you is now extinct, and the logging/outputting greatly improved.

[2015-09-24 22:01] #335 closed, assigned to nobody

[2015-09-24 22:03] SaraMcCutcheon commented on #189
This issue has become non-duplicable as of 0.8.0.

[2015-09-24 22:03] #189 closed, assigned to TeslaDethray

[2015-09-24 22:05] SaraMcCutcheon commented on #478
A kind developer-user fixed this for us in #480

[2015-09-24 22:05] #478 closed, assigned to nobody

[2015-09-24 22:14] SaraMcCutcheon commented on #481
@bobbygryzynger The error you were seeing has been fixed as of #494, due soon to be added to the 1.0.0 release.

[2015-09-24 22:30] SaraMcCutcheon commented on #481
@nimzie While I was unable to duplicate the server timeout error you were receiving, I believe it was related to the fact that this command was not properly formatting your requested element, and so sending improper requests which were still legal by the API's standards. I have fixed the selection in PR #532.

[2015-09-24 22:44] dearmond commented on #335
Did a full brand new clone from the repo, using master branch, composer self-update, and composer install, and now bin/terminus doesn't appear to do anything.

[2015-09-24 23:27] #528 closed, assigned to nobody

[2015-09-24 23:57] fujin commented on #531
JSON output pretty generator could be nice too! :)

[2015-09-25 14:52] ronan commented on #531
@fujin I think so to. Super easy to add, the only question is if we're starting to add too many flags at that point. We currently use `--json` and `--bash` (with the default being human-readable). We could switch to `--format=xxx` and add `json`, `json-pretty` and `bash` as the options. That would give us room to expand without cluttering up the inputs but I'd need to get feedback from Josh, Sara

[2015-09-25 14:59] ronan opened #533 "Replace `--bash` and -`json` with `--format=`"
Currently these flags are mutually exclusive with undefined behavior if both are specified. They also don't allow new formats to be easily added without cluttering up the interface. I propose we switch to a `--format` flag which specifies the output format.

The upsides of this are:
1. It matches what drush and wp-cli use which may make scripting more consistent
2. There can be only one format spe

[2015-09-25 15:00] ronan commented on #531
@fujin Added a ticket to address this: #533

[2015-09-25 15:18] #481 closed, assigned to TeslaDethray

[2015-09-25 15:19] ronan commented on #531
@joshkoenig, @bensheldon, @TeslaDethray:

Can I get your take on whether this is worth the effort? I should be able to get most if this done today if it seems worthwhile.

[2015-09-25 15:20] ronan commented on #533
@joshkoenig @bensheldon @TeslaDethray

Thoughts? It's a super easy change, but changes the UX so I'd like to get a consensus on whether it's a fit for 1.0

[2015-09-25 16:24] SaraMcCutcheon commented on #529
I'd be for it if we change site info to also display membership info.

[2015-09-25 16:25] bensheldon commented on #533
I'm in favor of the idea of making format be a param, rather than a flag. Also makes it easier to add as an environment variable.

...but I don't know about collisions with wp-cli/drush. do we maybe want to look at that signature entirely before 1.0. I'm wondering if we might want to parameterize the entire wp-cli/drush input string (force it to be quoted maybe at the least) so we don't have to wo

[2015-09-25 16:33] ronan commented on #533
I think in this case the wp-cli/drush collision works somewhat in our favor. Since both of those tools use the `--format` param the behavior of `--format=json` should be consistent for native commands as well as those passed through to wp-cli and drush.

Bigger picture, I like the idea of parameterizing the drush/wp-cli inputs as it's kind of ambiguous right now. We've run into issues already with

[2015-09-25 16:39] SaraMcCutcheon commented on #533
I like the idea a lot.

While Terminus does a good job of consuming the arguments it needs before passing them on to WP-CLI or Drush, I'm generally in favor of setting the Drush/WP-CLI args apart somehow. It's clunky how we have it set up now - looking at the commands as a human is a lot more frustrating than it is for Terminus, and as our target users are developers, anything we can do to keep th

[2015-09-25 16:48] SaraMcCutcheon commented on #531
1. We already use constructor injection to pass in the logger and outputter. How do you suppose we change it?
2. Same as 3
3. Yes, please do let's! I've been dying to do these since we implemented the new logger and outputter.
4. Where are logging and outputting in the models? I thought we'd been careful to extricate the logging and outputting from the models during our re-architecting.

OOS 1. Ca

[2015-09-25 16:55] joshkoenig commented on #533
+1 for doing this before 1.0

[2015-09-25 17:08] ronan commented on #531
1. We're not actually using injection, the command constructor is pulling the logger and outputter from the Terminus object which is _kinda_ like a DI container, but not really. I propose we either have the runner explicitly set the logger/outputter before running the command OR have the dispatcher inject them into the constructor when the command object is created. The former would be easier (sin

[2015-09-25 17:17] bensheldon commented on #531
This would be my preference. In my imagination, the outputter would be a property of the Command(er) instance, and thus available within a particular command/action via `$this->output`. e.g. the outputter instance would be injected when the SiteCommand is instantiated and attached as a property inside the constructor, making it accessible to any command within that instance.

I think doing it this

[2015-09-25 17:41] ronan commented on #531
I agree with all of this.

The logger should be available pretty much everywhere so we can start adding more --debug or -vvv sort of output.

I may punt in the DI stuff altogether for now since having commands use their own copy of the outputter/logger rather than relying on the global version is a prerequisite for this and finding the right spot to inject them correctly is starting to unravel thi

[2015-09-25 17:57] SaraMcCutcheon commented on #448
Closed by #512. Not sure why it didn't reflect here.

[2015-09-25 17:57] #448 closed, assigned to TeslaDethray

[2015-09-25 18:37] SaraMcCutcheon commented on #523
Closed by #525

[2015-09-25 18:37] #523 closed, assigned to TeslaDethray

[2015-09-25 18:44] QueSaraSera opened #534 "Lint all PHP files"
Before we release 1.0.0, I would really like to see the rest of Terminus linted. A great deal of it was when the re-architecting went on, but many files (and all the command files) were not. We will need a subset of rules specifically for the command files, as the comments that the dispatcher relies upon are not compatible with it.

[2015-09-25 20:47] QueSaraSera opened #536 "bin/terminus does nothing in PHP 5.3"
It still worked at the 0.8.0 release, but some change since then on the bleeding edge now makes bin/terminus do absolutely nothing. Using PHP 5.3.28.

[2015-09-25 20:48] SaraMcCutcheon commented on #335
Yikes! I installed Windows and an old version of PHP and am able to duplicate the issue of Terminus simply doing nothing. Thank you for finding this out. I've added this in as issue #536.

[2015-09-27 10:33] jurgenhaas commented on #183
@pingevt cert forwarding is not an option here as there is no active sessions from your local PC when the crontab is executing the script. What you need to do instead is to create a new key on your host where you've installed your crontab script and upload the private key to your Pantheon account too so that authentication is working properly.

[2015-09-27 22:26] repel opened #539 "Output formatting of Drush output"
I've been actively writing sync utility of sorts to leverage terminus to query, merge data into a model and contain the data at a Rest api.  That way it gives me some flexability of where and how I consume necessary Pantheon data.

Having completed the above, I thought I'd begin structuring some endpoints to contain documentation related items like enabled module list for a site.

I then realized

[2015-09-27 22:48] repel opened #540 "terminus site code <any command> not functioning"
I'm running the latest version 0.8.0 and when attempting to run commands to code I'm receiving the following error:

PHP Fatal error:  Call to undefined method Terminus\Models\Site::getEnvironment() in phar:///usr/local/bin/terminus/php/commands/site.php on line 95

[2015-09-28 17:38] SaraMcCutcheon commented on #540
@repel Thanks for reporting this bug. It was fixed in pull request #525.

[2015-09-28 17:38] #540 closed, assigned to nobody

[2015-09-28 18:02] lukaspawlik opened #542 "Terminus returns different connection-info than Dashboard"
As in subject. When I use `terminus site connection-info` I get different connection information than I see on Pantheon Dashboard. Credentials (and port) returned by `terminus` are incorrect - Pantheon Dashboard displays correct info.

[2015-09-28 18:46] joshkoenig commented on #542
Looking at the specific site that was shared over email, I can replicate this. It looks like terminus may not responding with the right environment's data.

[2015-09-28 18:47] atjuch commented on #452
@kibra I wanted to follow-up that I was able to reproduce this today and a client has reported this not working this morning as well.

[2015-09-28 21:55] SaraMcCutcheon commented on #539
@repel This is something we're aware of and are working on for the 1.0.0 release. We discussed handling inputs on Drush/WP-CLI commands in issue #533, FYI. I'm placing this issue on the 1.0.0 milestone to ensure it is addressed.

[2015-09-28 22:07] SaraMcCutcheon commented on #536
Closed by #541

[2015-09-28 22:07] #536 closed, assigned to nobody

[2015-09-28 22:09] SaraMcCutcheon commented on #335
@dearmond The issue was with using modern syntax in Terminus. We've repaired compatibility for PHP 5.3.x.

[2015-09-29 00:00] QueSaraSera opened #544 "Terminus shows extra error output on login in Windows"
[code]

[2015-09-29 00:05] SaraMcCutcheon commented on #443
@bthompson-mindgrub I am unable to duplicate this issue testing in Git Bash and Console2 in Windows 8.1. Which Windows version and terminal are you using so I can fix this for you?

[2015-09-29 14:58] HongPong commented on #475
I was having trouble getting a newly setup site to show on the list. Switching to bleeding-edge and dumping the .terminus cache files both got the site to show up, and got rid of the static notices 0.8.0 is filled with too!

[2015-09-29 17:46] rvtraveller commented on #443
@TeslaDethray Windows 7.  Regular command prompt, Cmder, or power shell.  I would speculate that any Windows based command line program would have the issue because it doesn't have stty.

[2015-10-01 19:12] QueSaraSera opened #548 "Get basic i18n working"

[2015-10-01 19:13] QueSaraSera opened #549 "Internationalize auth commands"

[2015-10-01 19:14] QueSaraSera opened #550 "Internationalize cli commands"

[2015-10-01 19:14] QueSaraSera opened #551 "Internationalize drush commands"

[2015-10-01 19:15] QueSaraSera opened #552 "Internationalize instruments commands"

[2015-10-01 19:15] QueSaraSera opened #553 "Internationalize organizations commands"

[2015-10-01 19:15] QueSaraSera opened #554 "Internationalize site commands"

[2015-10-01 19:15] QueSaraSera opened #555 "Internationalize sites commands"

[2015-10-01 19:15] QueSaraSera opened #556 "Internationalize upstreams commands"

[2015-10-01 19:15] QueSaraSera opened #557 "Internationalize wp commands"

[2015-10-01 19:16] QueSaraSera opened #558 "Stretch goal: Internationalize help commands"

[2015-10-02 13:42] wizonesolutions opened #562 "Return non-zero exit code when `terminus auth whoami` prints "You are not logged in.""
Then I won't have to do this (first two lines):

[code]

[2015-10-02 17:05] QueSaraSera opened #563 "Remove private visibility overrides"
The Logger class overrides some of its parents visibility to access private properties, and duplicates some functions. If/when the [pull request to change these elements to protected](https://github.com/katzgrau/KLogger/pull/69) is accepted, we should update the Logger class as it no longer requires these modifications.

[2015-10-02 17:06] #484 closed, assigned to TeslaDethray

[2015-10-02 21:03] gremy commented on #431
+1 The php version would be very useful. On some projects the default is not enough, especially if we have the php version set to 5.5. For example we have one of those projects, and we are using Redis 3.x, which uses the shorthand array, that breaks everything locally with Kalabox 2.

[2015-10-02 21:06] labboy0276 commented on #431
+1 we do need PHP version differentiation somehow.

[2015-10-02 21:59] SaraMcCutcheon commented on #431
We do not intend to implement this because we are going to eventually be changing all sites to use 5.5 only, with the exception of Drupal 6, which will be 5.3 only.

[2015-10-02 21:59] #431 closed, assigned to nobody

[2015-10-02 22:04] SaraMcCutcheon commented on #431
Additionally, you can find the PHP version of a site by using
`terminus site info`
![image](https://cloud.githubusercontent.com/assets/868204/10258829/b1445922-6916-11e5-91c4-f1293f2125e5.png)
Additionally, the --json and --bash flags now work consistently, so you can have all this output as you please.

[2015-10-02 22:08] pirog commented on #431
Oh very nice on the site info. Didn't see that last time I checked. Def
sufficient for our needs!

On Friday, October 2, 2015, Sara McCutcheon notifications@github.com
wrote:

##

Mike

##

Mike Pirog
Co-Founder, Products
http://kalamuna.com

Stay connected with Kalamuna on: Twitter
http://t.sidekickopen01.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs1pwYhxW8qlTmx64kckdW8pTc_456dT6hf3BRzQ602?

[2015-10-04 09:11] twooten opened #571 "terminus site code commit throws error "Call to undefined method""
<img width="1042" alt="screen shot 2015-10-04 at 3 41 42 pm" src="https://cloud.githubusercontent.com/assets/500366/10267147/381775e6-6ab2-11e5-8c9c-61b896385f80.png">

Tims-MBP:~/projects $ terminus cli info
PHP binary: /usr/bin/php
PHP version:    5.5.27
php.ini used:
Terminus root dir:  phar://terminus.phar
Terminus global config:
Terminus project config:
Terminus version:   0.8.0

[2015-10-05 16:09] ronan commented on #533
This brings up a question that should probably be answered before we lock down the input flags for 1.0:

Right now the `--json` and `--bash` flags control 2 different settings: Output formatting and log formatting. With wp-cli, the `--format` flag seems to control input format and output format. In drush I believe `--format` affects output but not input or logging.

So we have 3 different things t

[2015-10-05 16:24] #472 closed, assigned to TeslaDethray

[2015-10-05 17:07] #452 closed, assigned to kibra

[2015-10-05 20:47] #548 closed, assigned to TeslaDethray

[2015-10-05 20:47] #549 closed, assigned to TeslaDethray

[2015-10-05 20:47] #550 closed, assigned to TeslaDethray

[2015-10-05 20:47] #551 closed, assigned to nobody

[2015-10-05 20:47] #552 closed, assigned to TeslaDethray

[2015-10-05 20:47] #553 closed, assigned to TeslaDethray

[2015-10-05 20:47] #554 closed, assigned to nobody

[2015-10-05 20:47] #555 closed, assigned to nobody

[2015-10-05 20:47] #556 closed, assigned to nobody

[2015-10-05 20:47] #557 closed, assigned to nobody

[2015-10-05 20:47] #558 closed, assigned to nobody

[2015-10-05 22:11] #443 closed, assigned to TeslaDethray

[2015-10-05 22:26] #54 closed, assigned to nobody

[2015-10-06 17:35] SaraMcCutcheon commented on #571
This issue was fixed in #525 and has been released as part of the 0.8.1 release. Please try the updated version. (https://github.com/pantheon-systems/cli/releases/tag/0.8.1)

[2015-10-06 17:35] #571 closed, assigned to nobody

[2015-10-06 17:56] SaraMcCutcheon commented on #562
This is not only reasonable, it's what we should be doing. I've opened a pull request to accomplish it.

[2015-10-06 18:50] #542 closed, assigned to TeslaDethray

[2015-10-06 19:17] #544 closed, assigned to TeslaDethray

[2015-10-06 20:06] #531 closed, assigned to ronan

[2015-10-06 23:30] pirog commented on #59
FWIW i've seen this a few times on Kalabox2 as well but it wasn't on a specific command, it just seemed to happen randomly.

[2015-10-07 17:58] #563 closed, assigned to TeslaDethray

[2015-10-07 18:09] #562 closed, assigned to TeslaDethray

[2015-10-07 18:13] QueSaraSera opened #579 "Make errors in commands exit with 1"
This involves TerminusException to use `$call = -1` in the constructor, or to call TerminusCommand::failure

[2015-10-07 18:14] SaraMcCutcheon commented on #562
@wizonesolutions Your feature request has been implemented for the `auth` commands. I've opened #579 to ensure that this is made uniform for the next release.

[2015-10-07 18:26] bensheldon opened #580 "Review and copy-edit CONTRIBUTING.md"
The text should be re-reviewed for intent and clarity.

[2015-10-07 21:26] #529 closed, assigned to TeslaDethray

[2015-10-07 21:29] #533 closed, assigned to TeslaDethray

[2015-10-08 00:23] #526 closed, assigned to TeslaDethray

[2015-10-08 00:38] uberhacker commented on #213
Can we please get rid of the label on --latest return values?  As of version 0.8.0, we get this unsightly "improvement".

[code]

The old way of just returning the url makes more sense from a scripting standpoint.

[2015-10-08 00:47] uberhacker opened #585 "Always include the latest release for composer"
Would it make more sense to always include the latest version for composer so installation is easier and updates are more manageable?  Currently, composer is one version behind (0.8.0 instead of 0.8.1).

[code]

This way, updates to terminus become a simple _composer update_.

[2015-10-08 00:54] #410 closed, assigned to nobody

[2015-10-08 00:55] #475 closed, assigned to nobody

[2015-10-08 16:18] timellemeet opened #586 "drush command error"
Hi,

I didn't have to use terminus or drush until now, but for some current site features I have to. All terminus commands are working without issues but any drush command gives an error, then asks password and seems to do what it's supposed to. However I tried to declare a new drush command and it replys it was not found (I did clear drush cache and cache from the dash). Interestingly though, at

[2015-10-08 21:33] SaraMcCutcheon commented on #586
Hi, @timellemeet. Does the bleeding edge cause this error for you still? The file being cited over and over no longer exists on it.

[2015-10-09 00:47] greg-1-anderson commented on #586
I don't think this is related to #518.

[2015-10-09 15:50] rachelwhitton opened #591 "'auth login' fatal error and notices on bleeding edge"
Issue only occurs on bleeding edge

[code]

I can successfully authenticate on bleeding edge by including credentials in the command, but output produces PHP notices

[code]
### bin/terminus cli info

[code]

[2015-10-09 16:15] rachelwhitton opened #592 "'sites create' returns client error response"
[code]

Site is created successfully, http://dev-d8-cli81.pantheon.io/
Error returned on multiple product selections
### terminus cli info

[code]

[2015-10-11 13:09] timellemeet commented on #586
Would this be a terminus issue? or perhaps a drush or drupal issue?

[2015-10-12 17:52] bwood opened #593 "terminus site backup list --json is no longer returning data keys"
This might be an API issue.  Let me know if there is a better place to report this.

("sitex" is not a real site.)

My app that wraps terminus relies on the "file", "size" and "date" keys in the first example. Were those keys intentionally removed over the weekend?

On 10/9 I ran `terminus site backup list --site=sitex --env=live --json` and I got this output:

[code]

Today I run the same command

[2015-10-12 19:43] bmackinney commented on #585
@uberhacker `terminus/terminus` was abandoned. Please use `pantheon-systems/cli`.
https://packagist.org/packages/pantheon-systems/cli

[2015-10-12 20:33] uberhacker commented on #585
@bmackinney, Thank you.  Should this info be included in the Installation section of https://github.com/pantheon-systems/cli/blob/master/README.md.

[2015-10-12 21:28] joshkoenig commented on #534
+1 having linter run as part of CI (and locally)

[2015-10-12 21:30] joshkoenig commented on #476
Mmmm... looking at the code:

https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Models/Workflow.php#L61

It _should_ be working now. A non-success result should yield an error. I will double-check.

[2015-10-12 21:49] joshkoenig opened #594 "Building site cache can take a long time. Needs feedback."
If I'm a user with quite a few sites / orgs, I might wait for a long time the first time I run a command while (I presume) the local site cache is being built out.

We should provide some user-feedback while this is happening so user's don't think Terminus is stuck.

[2015-10-12 21:50] joshkoenig commented on #476
@bensheldon you are correct sir. My test case of applying upstream updates to a site in SFTP mode now delivers the proper response:

`[error] Can't apply updates while SFTP is enabled.`

[2015-10-12 21:50] #476 closed, assigned to nobody

[2015-10-12 21:51] joshkoenig commented on #502
+1 for this suggestion.

[2015-10-12 21:53] joshkoenig commented on #466
+1 for `re-import` as a way to try to pull in everything via a tarball after a failed import.

[2015-10-12 23:29] #539 closed, assigned to TeslaDethray

[2015-10-12 23:29] #459 closed, assigned to TeslaDethray

[2015-10-12 23:49] SaraMcCutcheon commented on #594
Indeed, but wouldn't it be better if there were just one place hit the API which gathers all this data recursively rather than having to make several calls to the API for each and every site? The amount of time the command takes to run due to all the necessary calls can be [rather long](https://github.com/pantheon-systems/cli/issues/447).

[2015-10-13 00:50] joshkoenig opened #596 "Should the "site" command monolith be broken up?"
Emerging from the discussion on PR #516, an interesting question: should we break up the `site` command (currently home to some 55 (!!) different operations, into smaller command files?

Here are some of the arguments in favor:
- This would allow us to make use of the underlying CLI's framework of command/subcommand much better. Changing `site backups get` to `backups get` is much cleaner in terms

[2015-10-13 00:53] SaraMcCutcheon commented on #593
@bwood To be honest, I'm not sure how the first set of data was ever returned by 0.5.6. I've done a bit of investigating, detailed below, but none of that really helps you now. It would be pretty simple to slide the keys passed into Terminus_Command#handleDisplay which would keep you from having to upgrade right now and/or change all your scripts around. I will put that 0.5.7 release together for

[2015-10-13 03:11] bwood commented on #593
Apologies!  I made an incorrect assumption that the keys had always been there. The result I got on 10/9 must have been when I was testing the latest release. Since I'm upgrading my code to work with the latest terminus, there is no need for you to make a 0.5.7--(I appreciate your willingness to do so).

I'm closing this, and I'll try not to get myself confused in the future.

[2015-10-13 03:11] #593 closed, assigned to nobody

[2015-10-13 17:36] #466 closed, assigned to TeslaDethray

[2015-10-13 17:37] SaraMcCutcheon commented on #406
Closed by #516

[2015-10-13 17:37] #406 closed, assigned to TeslaDethray

[2015-10-13 17:38] SaraMcCutcheon commented on #580
Closed by #595

[2015-10-13 17:38] #580 closed, assigned to nobody

[2015-10-13 17:39] SaraMcCutcheon commented on #591
This was fixed by #587.

[2015-10-13 17:39] #591 closed, assigned to nobody

[2015-10-13 17:39] SaraMcCutcheon commented on #592
This was fixed by #588.

[2015-10-13 17:39] #592 closed, assigned to nobody

[2015-10-13 18:08] SaraMcCutcheon commented on #596
I've started a Google spreadsheet here with how I think the `site` command ought to be broken down.
https://docs.google.com/a/getpantheon.com/spreadsheets/d/1IEVrRbFY1Ekjs9Is_VF7fRYggRxjX_XB_2jum9jl4Jc/edit?usp=sharing

![image](https://cloud.githubusercontent.com/assets/868204/10463677/c42afa96-719a-11e5-966a-b8dfebb2a1fa.png)

[2015-10-13 18:16] SaraMcCutcheon commented on #586
This is certainly a Terminus issue, and I cannot duplicate it since having done work on Drush commands on the bleeding edge. Does it still fail on the bleeding edge for you, @timellemeet?

[2015-10-13 18:17] SaraMcCutcheon commented on #593
No worries! If you're sure you won't need it, I won't make it, but I'm happy to help if you change your mind!

[2015-10-14 15:11] tedbow opened #599 "site create-env fails though environment is created. Database and files not cloned"
Running this command

[code]

The environment actually gets created but I get the error:

It appears the environment is created but the database and files are not copied to it. Is this the expected behaviour?  In previous version of Terminus the database and files would be copied with create-env.

Right now I am getting around this by running a clone right after create-env

Using: Terminus version

[2015-10-15 10:09] opdavies commented on #586
I'm also getting the same errors:

[code]

Despite the last line, the command does execute and returns the status information.

I followed the installation instructions given at https://github.com/pantheon-systems/cli/wiki/Installation.

[2015-10-15 18:17] bwood opened #601 "terminus site backups list: adding the element option results in an incomplete set of backups"
[code]

I expect to see more than two backups here:

[code]

I would expect the previous command to return the same number of "code" archives that I see in this output:

[code]

[2015-10-15 18:50] SaraMcCutcheon commented on #599
@tedbow This isn't intentional, it's a bug. Thank you for submitting this issue! I'll be making a pull request for the fix today, and it will be released as part of 0.9.0 this week.

[2015-10-15 19:50] SaraMcCutcheon commented on #601
@bwood I can confirm that I can duplicate this issue and will be fixing it today. The fix will be included in the 0.9.0 release due out this week.

[2015-10-15 21:47] #502 closed, assigned to TeslaDethray

[2015-10-16 19:01] SaraMcCutcheon commented on #586
The file in question `php/Terminus/KLogger.php` was removed 10 days ago. I cannot duplicate on bleeding edge.

[2015-10-16 19:01] #586 closed, assigned to TeslaDethray

[2015-10-16 20:31] #599 closed, assigned to TeslaDethray

[2015-10-16 21:09] #585 closed, assigned to TeslaDethray

[2015-10-16 21:13] bensheldon commented on #579
Is there a reason why we would use a not-positive exit code? My experience has always been that non-zero exit code failures have been positive.

[2015-10-16 21:19] bensheldon commented on #579
Ugh. Trying to google this is horrible. This GNU Bash manual says 0-255: https://www.gnu.org/software/bash/manual/html_node/Exit-Status.html

[2015-10-16 23:02] SaraMcCutcheon commented on #579
So I guess 1 it is!

[2015-10-16 23:18] #399 closed, assigned to TeslaDethray

[2015-10-16 23:54] #579 closed, assigned to TeslaDethray

[2015-10-17 00:33] #601 closed, assigned to TeslaDethray

[2015-10-21 00:12] cnovak opened #609 "sites create gives error "Request Failure: Client error response" 404"
We have automated site requests using Terminus, which has stopped working due to the command giving an error:

[code]

I turned on debug, and here is what I got:

[code]

[2015-10-21 00:20] bensheldon commented on #609
`GET /api/users//workflows/961fd480-7787-11e5-a4b4-bc764e10d7c2 HTTP/1.1`

For some reason Terminus isn't setting your user uuid correctly when trying to fetch the status of the workflow. That is odd.

[2015-10-21 00:22] SaraMcCutcheon commented on #609
This was fixed in #588, but it looks like I failed to put it in the changelog. Adding this to the changelog.

[2015-10-21 13:23] dalin- opened #611 "`terminus sites aliases` should also include organizations' sites"
I could be imagining this, but I think a previous version of terminus did include aliases of organization sites.  Regardless it would make things hugely easier for people that need to use remote drush commands against a wide variety of environments.

[2015-10-21 15:26] pirog opened #612 "Way to check if you have uncommitted changes on platform?"
This might be a feature request or a very easy ticket to answer.

Is there a way to check to see whether you have uncommitted changes on the platform? For Kalabox usage we generally are setting the connection mode to git so we can pull down the latest and greatest, however, if someone has uncommitted changes from SFTP mode this would blow their changes away. Obviously not ideal.

If there isn't a

[2015-10-21 17:04] pirog commented on #612
I think `terminus site code diffstat` is sufficient for our needs here!

[2015-10-21 17:04] #612 closed, assigned to nobody

[2015-10-21 17:55] cnovak opened #613 "site set-connection-mode returns "[error] There is no such field.""
I am using the master branch, and when I run the set connection mode command, I get an error "there is no such field", which I am not sure what that is.  Running with the --debug option gives no output.

[code]

[2015-10-21 18:38] bwood commented on #594
Ah, glad I found this.  Using 0.8.1 I am experiencing "hanging" commands each morning, usually around 11am.  I was puzzled.  Some indication of what's happening would be welcome.

[2015-10-21 18:53] QueSaraSera opened #614 "Terminus should return an error and exit with nonzero status when unable to find an item in a collection"
Currently, it'll just return `null` and then have a fatal error when trying to run an operation on that null-valued variable.

[2015-10-21 20:21] SaraMcCutcheon commented on #613
I can't duplicate this issue, but I can see how it is being caused. I am submitting a pull request to fix this right away.

[2015-10-21 20:24] SaraMcCutcheon commented on #611
I don't know whether I've seen it return organizational sites before, but this is definitely something that is inconsistent and we will look into how we can solve it.

[2015-10-21 23:28] #609 closed, assigned to TeslaDethray

[2015-10-21 23:28] #614 closed, assigned to TeslaDethray

[2015-10-22 17:23] #613 closed, assigned to TeslaDethray

[2015-10-22 23:26] #454 closed, assigned to TeslaDethray

[2015-10-23 00:20] QueSaraSera opened #620 "Implement login via refresh token"
- [x] `terminus auth login --token=<token>` saves refresh token to session
- [x] Automatic retrieval of new session tokens when one expires

[2015-10-23 00:22] QueSaraSera opened #621 "Send users w/o refresh tokens to Dashboard w/ info"
If using `terminus auth login` without any args, open the Dashboard to a token-creation page

[2015-10-23 14:34] gmcinnes opened #622 "Trying to install cli using the suggested composer command fails"
Trying to install cli via the suggested composer method fails:

[code]

[2015-10-23 14:43] junowilderness commented on #414
+1

[2015-10-23 16:05] aaronbauman opened #623 "Feature Request: list of team members for an organization"
I'm familiar with "site team list" command.

It would be helpful to have a "organizations team" command to expose all team members for an organization.

[2015-10-23 18:31] SaraMcCutcheon commented on #623
@aaronbauman That _would_ be a useful command. Thanks for the suggestion - I'm sure we'll get this one in soon.

[2015-10-23 20:41] kostajh commented on #622
Just got the same message.

[2015-10-23 21:36] SaraMcCutcheon commented on #622
Thanks for telling us, @gmcinnes and @kostajh! We're using a package that I have contributed some tweaks to, but has not been updated on Packagist to reflect those changes. I've pointed composer.json to its dev-master, which does not satisfy the default minimum-stability. There are four options to fix, in rough order of best to worst:
1. Ask the author of Katzgrau/Klogger to update the package on

[2015-10-23 22:45] QueSaraSera opened #625 "Disable auth logout for refresh token users"

[2015-10-25 11:39] wizonesolutions opened #629 "--latest broken in 0.9.0?"
`terminus site backups get --site=SITE --env=dev --element=files --to=../docroot/sites/default/files/files.tar.gz` — works, prompts me with list

If I append `--latest` to the same command:

[code]

I can't see anything in the codebase that should cause that. Both variants retrieve the list of backups the same way! But I admit the codebase is a little hard to reason about sometimes :)

[2015-10-26 20:57] jonatasleal commented on #622
Go to Terminus root folder where both composer.lock and .json are located, and run "composer install" command. It will take care of everything.

[2015-10-26 21:00] SaraMcCutcheon commented on #629
@wizonesolutions I am getting this error, too. I will write a fix and open a pull request for the fix today. Thank you for bringing this to our attention and I apologize for the trouble.

[2015-10-26 21:48] pirog commented on #629
Can also confirm this.

[2015-10-26 23:10] newtoid opened #630 "mass-update reports all sites updated"
All sites are reported as updated in terminus, sites in sftp mode abort and still report as updated.

Suggest sites in sftp mode are flagged as such or marked as not updated after running mass-update.

[2015-10-27 01:02] SaraMcCutcheon commented on #629
I've refactored the get action on the backups subcommand and added more tests. This will be packaged up with a few other issues into 0.9.1 tomorrow.

[2015-10-27 18:46] SaraMcCutcheon commented on #630
Thanks for pointing that out, @newtoid! I'll get a fix out for it today.

[2015-10-27 19:45] #629 closed, assigned to TeslaDethray

[2015-10-27 19:52] SaraMcCutcheon commented on #629
@wizonesolutions @pirog I've fixed this bug and one with `sites mass-update`, and will be releasing a 0.9.1 once the CI tests pass.

[2015-10-27 20:06] pirog commented on #629
yay! thanks @TeslaDethray!

[2015-10-27 20:29] #630 closed, assigned to TeslaDethray

[2015-10-27 21:50] SaraMcCutcheon commented on #630
@newtoid The fix has been incorporated and released as part of 0.9.1.

[2015-10-27 23:11] QueSaraSera opened #636 "Add an optional --cached flag to sites list"
This will prevent the user from running a possibly time-consuming command to retrieve all accessible sites if their list is already cached.

[2015-10-27 23:32] QueSaraSera opened #638 "Add ability to filter mass-update targets by tag"

[2015-10-27 23:58] QueSaraSera opened #639 "Outputter improperly capitalizes some UUIDs"
The capitalized 'B' on the org UUID makes the output useless for reuse.
![image](https://cloud.githubusercontent.com/assets/868204/10776124/e7e63018-7ccb-11e5-8bb9-55e272f4fce3.png)

[2015-10-28 18:49] mattking5000 opened #641 "Add command to merge master into multidevs"
Currently on the web dashboard, you can easily go to a multidev environment and merge in the latest code from Master(dev). In terminus, no such functionality exists. It would be really helpful if this functionality existed, like it does for merging in upstreams to environments.

[2015-10-28 22:38] uberhacker opened #644 "Key cached sites lists to UUID"
I have separate dashboard logins for projects and after a _terminus auth logout/login_ on the other account and executing _terminus site environments_, I still get the sites from the previous login "session".  Is there a way to prune the session cache to keep this from happening?  I'm using the latest version of terminus which is 0.9.1 at the time this issue was reported.

[2015-10-28 23:36] uberhacker commented on #622
This is how I updated terminus to version 0.9.1:

$ cd ~/.composer
$ vim composer.json (or using your favorite editor)

[code]

$ composer update

[2015-10-29 16:19] uberhacker commented on #644
I figured out how to force clear the session cache:

[code]

Would it make sense to do this (or just the files needed) during _terminus auth logout_?

[2015-10-29 16:53] mshaver commented on #414
Yes, this would be quite useful. The update notice is coming up properly, but no information on actually how to update.

[2015-10-29 21:20] greg-1-anderson opened #646 "Fail gracefully when the test for new Terminus versions fails"
[code]

This happened to a Pantheon user who had been doing a lot of builds to debug a Composer CI workflow, and exceeded his github API rate limit.  This was the source of mild confusion.  It would be helpful if Terminus would continue to work when optional operations fail.

[2015-10-29 22:22] greg-1-anderson commented on #646
Also, it appears that this problem is compounded by the fact that Terminus makes calls to github without using an OAUTH token, so the rate limit is much lower.  Perhaps Terminus should limit how many times it tests for new versions, e.g. once a day, or once every four hours, etc.

[2015-10-29 22:42] #639 closed, assigned to TeslaDethray

[2015-10-30 00:08] #636 closed, assigned to TeslaDethray

[2015-10-30 00:57] #638 closed, assigned to TeslaDethray

[2015-10-30 19:40] ossobuffo opened #650 "`terminus site environments` should not show test and live if they have never been configured."
I have a Pantheon sandbox site set up in which code/db has never been migrated to dev or test. If I execute this command:

[code]

I should not get any information about test or live. However, information on these two environments is returned, and there are no fields in the payload to distinguish them.

[2015-11-02 16:18] mattking5000 opened #651 "mass-update should have a --force option"
Currently the mass-update function which applies upstream updates to all of your organization's sites' dev environments requires an interactive y/n prompt for every site. Ideally there should be something along the lines of --force which automatically does the mass update to all sites without user input. This makes it easier to script into CI tools as well.

[2015-11-02 17:24] ari-gold commented on #651
HI @mattking5000

Would be nice for it to be included in the help for individual commands like `mass-update`, but if you do a regular `terminus help` you'll see `GLOBAL PARAMETERS` including  `--yes`

[2015-11-02 17:30] SaraMcCutcheon commented on #641
Does `terminus site merge-from-dev` fail?

[2015-11-02 17:31] SaraMcCutcheon commented on #644
`terminus cli cache-clear`

[2015-11-02 17:34] mattking5000 commented on #641
Ah i didn't see that...I think that's what I want. Thanks!

I think the wiki (where I usually go first to learn about terminus commands) could use a bit of updating to include a lot of the step that's only available via 'help' on the command line

[2015-11-02 17:34] #641 closed, assigned to nobody

[2015-11-02 17:35] mattking5000 commented on #651
good to know, thanks!

[2015-11-02 17:35] #651 closed, assigned to nobody

[2015-11-02 17:45] SaraMcCutcheon commented on #650
Leaving the uninitialized test and live environments in the environments list was a deliberate decision we made. They exist already, and we felt it useful to have their existence noted in the environments, otherwise users would attempt to create the test and live environments anew, which would lead to errors and confusion.

Do these environments being listed impair or impede your ability to use th

[2015-11-02 17:48] ossobuffo commented on #650
I am cycling through a list of sites to determine when the last logged-in-user activity occurred. If the live site exists, I want to query its database, else query the dev site. This helps us identify and prune sites that are no longer in use.

Additionally, we are working on a script to push updates to dev anytime we have a new release, and then update test and live only if they exist.

[2015-11-02 17:49] SaraMcCutcheon commented on #646
It already does limit the version testing to once per week per user.

I'm very surprised that the rate limit was hit - this would imply that we are having X number of users who are either newly installing Terminus or clearing out their cache per hour, where X is the hourly API limit.

I'm going to change it to catch this error and skip the test if the version check errs.

[2015-11-02 17:51] uberhacker commented on #644
That doesn't really answer the question.  There is also _terminus cli session-clear_.  My point is  shouldn't _terminus auth logout_ clear session cache?  Does this make sense?

[2015-11-02 17:54] SaraMcCutcheon commented on #644
Yes, but it would not do to have the logout function to clear the sites cache. Many of our users use logout for security's sake, but their sites lists are extremely long and can take several minutes to re-fetch.

[2015-11-02 17:58] SaraMcCutcheon commented on #650
Thanks for the extra info! Would it do for you to have the environments list denote whether the test and live environments have not yet been initialized? Then we would both have their existences noted and you can tell that they are not yet available, which would have the added bonus of making that function more useful, too.

[2015-11-02 17:59] uberhacker commented on #644
Why not leave the sites cache alone and just clear the session cache?  Does it make sense to start and new session and have old session residue left behind?  If it takes minutes to re-fetch a sites list, that is another issue.  I'm thinking it should take seconds, not minutes.

[2015-11-02 18:08] ossobuffo commented on #650
Yes, that would be great.

[2015-11-02 18:18] SaraMcCutcheon commented on #644
While I agree that it really ought to take seconds to fetch a thousand site-long sites list, I'm afraid that is not yet the case. I must disagree that the sites list constitutes session residue, but rather it is simple cached data, much as many other applications store between uses. The purpose of `terminus auth logout` is to simply log out, and erasing the sites list would be out-of-scope. Fortun

[2015-11-02 18:22] SaraMcCutcheon commented on #650
Super! I'll have a pull request out for this change today!

[2015-11-02 18:23] uberhacker commented on #644
Yes, that makes sense.  You could cache the new list and isolate it to the uid just like you do currently.  What doesn't make sense is if you logout with one uid and login with another uid and see the list of sites for the old uid.  It may be the case that you never need to clear the cache if the sessions are isolated correctly.

[2015-11-02 18:29] SaraMcCutcheon commented on #644
I will have a pull request out for this change today.

[2015-11-02 18:38] greg-1-anderson commented on #646
Thanks for the fix.

The problem happened when a user was trying to debug his Travis CI build, which he was running over and over again. This is how the rate limit was hit--from unrelated github API calls that happened in the course of running his build. Once he had hit his rate limit, it was frustrating that he could not run Terminus commands.  Allowing commands to continue in this situation will

[2015-11-02 18:41] SaraMcCutcheon commented on #646
Hmm, perhaps then it would also do to safeguard against making the version check at all in CI, which would be completely useless. Thank you so much for catching this!

[2015-11-02 19:08] greg-1-anderson commented on #646
Looks like testing for the `CI` environment variables would do the trick.

[Default environment variables for Travis](http://docs.travis-ci.com/user/environment-variables/):

[code]

[Default environment variables for Circle CI](https://circleci.com/docs/environment-variables)

[code]

[Default environment variables for CodeShip](https://codeship.com/documentation/continuous-integration/set-enviro

[2015-11-02 19:12] uberhacker commented on #644
You rock @TeslaDethray

[2015-11-02 23:21] bwood opened #655 "terminus site environment-info returns NULL for "php version""
[code]

PHP version tests:

[code]

Connection Mode is also null for this site in Live and Test. Above I see a "git" for the live environment of webaccess-ob7.

[code]

[2015-11-02 23:24] bwood opened #656 "Feature Request: terminus site set-php-version"
I believe that there is currently no way to set a site/environment php version using terminus?  Given today's Pantheon email about moving to php 5.5, I'm working on upgrading the php for our current sites.  It would be nice if Terminus could help with this.

[2015-11-02 23:35] #644 closed, assigned to TeslaDethray

[2015-11-02 23:36] bwood opened #657 "Feature Request: terminus site backups [get|set]-schedule"
Use case 1:

We manage a lot of sites.  Since our scripts are unable to enable scheduled backups, we do that manually.  Occasionally the manual process fails and we find that backups are not scheduled for a site, which is a serious problem.  I'd love to be able to enable scheduled backups with terminus.

Use case 2:

Periodically we want check that backups are running on all of our sites. I'd love

[2015-11-03 01:19] #650 closed, assigned to TeslaDethray

[2015-11-03 01:46] tim-wgbh opened #658 "Potential bug report: site backup + documenation fix"
If I do a backup list with terminus site backups list --site=<site-name> --env=<env> --element=<el>, it only returns the most recent manual backup and none of the automatic backups. Is that a bug or a feature?

Also, in the cli documentation at https://github.com/pantheon-systems/cli/wiki/Available-Commands, the backup command is given as:
terminus site backups <get|load|create|list> [--site=<site

[2015-11-03 18:53] #646 closed, assigned to TeslaDethray

[2015-11-03 19:06] SaraMcCutcheon commented on #657
This is definitely something we want to implement in the near future.

[2015-11-03 19:07] SaraMcCutcheon commented on #658
It's actually `--to`. We changed it last month so that you can point to either a directory or a file with it.

[2015-11-03 19:09] tim-wgbh commented on #658
Could you please address the first point, about which I'm more concerned?

[2015-11-03 19:41] SaraMcCutcheon commented on #658
My apologies. I can't seem to duplicate the issue you are seeing.
![image](https://cloud.githubusercontent.com/assets/868204/10919368/51a817d4-821f-11e5-9ada-bfb44c907763.png)

I'm wracking my brain to try to figure out why your other backups are being excluded. Does it list more than the one when you drop the `--element` param? Are the backup file sizes very large or small? Are they extremely rec

[2015-11-03 19:50] tim-wgbh commented on #658
It's the @--element@ parameter. If I select anything other than all, it excludes everything but the manual backup (or it may be that it's just listing the first one). On the other hand, if I specify all elements or drop the @--elements@ param, it will list everything. However, if I then add @--latest@, that seems to have no effect.

[2015-11-03 19:53] tim-wgbh commented on #658
With @--element@:
<img width="699" alt="screen shot 2015-11-03 at 2 51 11 pm" src="https://cloud.githubusercontent.com/assets/11877425/10919738/743bce42-823a-11e5-96e3-39adee4013fd.png">

Without:
<img width="686" alt="screen shot 2015-11-03 at 2 51 32 pm" src="https://cloud.githubusercontent.com/assets/11877425/10919739/76628670-823a-11e5-97e5-0570f20f86ec.png">

All elements, with @--latest@:
<i

[2015-11-04 17:05] peterfeddo commented on #611
I'd like to see this addressed as well so I can interface with the org owned sites with drush aliases.

[2015-11-04 18:08] nstielau opened #660 "Note if backups were automatic or manual"
The dashboard currently shows if backups were kicked of as automated, or manual.  This merely a nice-to-have feature that gives a little more parity with dashboard. :palm_tree:

[2015-11-04 22:35] bwood commented on #660
+1.

See use case #2 in https://github.com/pantheon-systems/cli/issues/657. Because we can't tell which backups are manual vs automatic, the gap analysis is inexact. (I notice that the raw HTTP response from the API (in the php-vcr cassette) does distinguish between manual and automatic backups.)

[2015-11-05 15:52] chrisgross opened #663 "Auto-resolve conflicts"
The Pantheon Dashboard has an option for auto-resolving conflicts, but Terminus does not seem to include this option, meaning if there is a conflict, your quick deployments must be halted and then each site must be manually merged. It seems sensible to include this as a flag in Terminus.

[2015-11-05 19:10] QueSaraSera opened #664 "Write documentation on how to use Terminus as a library"
After collecting a few scripts using Terminus and some great suggestions, it has become clear that we are not capitalizing on the flexibility of the system we've built by not helping our users with documentation on how to use Terminus as a library.

[2015-11-06 18:00] danielbachhuber opened #666 "Terminus steals WP-CLI's `--format=<format>` argument"
[code]

`--format=csv` is even more broken:

[code]

I'd expect Terminus to provide WP-CLI's results in the format I specified.

[2015-11-06 18:31] SaraMcCutcheon commented on #663
This would be really useful. Thanks for the great idea! We'll work it into our plans in the near future.

[2015-11-09 19:26] tadhgpearson opened #205 "Environment labels missing on Windos"
nasty bug on Terminus for Windows, when you run a command, it doesn’t label the environments.

    .
    .
    .
    Choose environment: 1
    [2015-11-09 18:38:32] [info] Running drush en rules on amadeus-sandbox-dev

For the longest time, I was trying to type `dev` and it was giving an error. When I looked at the source code, it was obvious ;)

[2015-11-09 22:52] ronan opened #668 "Use `Authorization: Bearer` header instead of 'X-Pantheon-Session' cookie"
To prepare for when we stop using sessions and instead use a JWT bearer token for authentication, Terminus should stop using the `Cookie: X-Pantheon-Session=XXX` header to send the session id and instead use `Authorization: Bearer XXX` to send it.

This will comply with the OAuth 2 spec: http://self-issued.info/docs/draft-ietf-oauth-v2-bearer.html#authz-header

[2015-11-09 23:00] #620 closed, assigned to TeslaDethray

[2015-11-10 19:00] bensheldon commented on #666
Sorry about that.

My proposal is that we have the (optional?) option to pass in a `--command=""` flag that invokes that command directly on the remote wp-cli/drush instance. Currently we munge together the local `terminus` portion and the remote portion, which can lead to this kind of collision.

[2015-11-10 19:03] danielbachhuber commented on #666
No worries — not a huge problem.

Avoiding munging seems like the best idea :)

[2015-11-10 20:36] bensheldon commented on #202
Running `terminus cli cmd-dump` can provide a set of json for all the commands. I'm thinking we could pass the output (the PHP code that generates an associative array) of that command through a template to generate markdown like `COMMANDS.md` that we can then commit to the root of the project and reference from the readme.

[2015-11-10 22:47] bwood opened #669 "Gateway Time-out Error occurs with first command after clear-cache"
Here's the repeat-by summary:
1. cache-clear
2. login (since the above logs you out)
3. run `backups list`: Get timeout error
4. repeat last command: Get the expected output

Here's the detail:

[code]

[2015-11-11 00:22] #622 closed, assigned to TeslaDethray

[2015-11-12 18:30] uberhacker opened #674 "Commit spoofing allowed?"
If I change my name and email address and push commits, Pantheon accepts them verbatim even though that email is not one of the repo users.  Would it make sense to check the commit email address against accounts with access to the repo?  Apparently, only the terminus session is used to authenticate.

[2015-11-13 17:14] bensheldon commented on #674
Pantheon only allows authorized accounts to _push_ commits into a Pantheon project. This is done via [SSH Key authorization](https://pantheon.io/docs/articles/users/loading-ssh-keys/), so if you've previously set that up, it may seem like there isn't an authorization step.

An authorized user is allowed to  _push_ commits authored by non-project committers as that allows pulling commits from open

[2015-11-13 17:17] bensheldon commented on #669
@bwood is this still happening? I think we may have had some API performance issues. For timeout errors, definitely open a Support Ticket as that will get these issues to the general engineering/operations team faster than through the Terminus product team.

[2015-11-13 17:28] bensheldon opened #675 "Workflow Operations Commands"
New terminus requirements for workflow operations feature. These are still [not final](https://github.com/pantheon-systems/frigg/pull/2).
- [x] `terminus workflows list --site=mysite`: moves the existing `site workflows` into the root of commands
- [x] `terminus workflows show --workflow_id=[workflow_id]`
- [x] `terminus workflows logs --site=mysite --workflow_id=[workflow_id]`
- [x] `terminus wor

[2015-11-13 19:03] uberhacker commented on #674
I do have SSH passwordless authorization set up but shouldn't Pantheon still check the terminus session against the accounts that have permission on the repo?  I should not be allowed to authenticate with terminus and then push a commit on a repo that doesn't authorize that account.  Has anyone on the Pantheon team actually tested this yet?

[2015-11-13 19:05] bensheldon commented on #674
@uberhacker Sorry, I must be confused by the problem you're describing. If this involves a security or privacy issue, you should open a support ticket through the Pantheon Dashboard.

[2015-11-13 19:49] uberhacker commented on #674
This is definitely a security issue and should be addressed.  I don't believe opening a support ticket via the Pantheon dashboard is going to resolve this terminus cli related session issue.

[2015-11-13 20:05] bensheldon commented on #674
@uberhacker I think there may be confusion in the difference between how Terminus Authenticates and Git Authenticates. When you perform `terminus auth` commands on your Terminus Session, it does not affect your SSH keys which are used by Git. Regardless of how you authorize/deauthorize Terminus, you will still be able to push git commits to _any_ Pantheon account that you have added your public SS

[2015-11-13 20:39] uberhacker commented on #674
@bensheldon, thank you for a proactive approach to solving this important issue.  Let's forget about SSH for a moment and concentrate on terminus alone.  Regardless of whether I have added ssh keys on my Pantheon account, I should never be able to push a commit from one account to another.  Pantheon (not ssh) should reject the commit if that account is not given permission.  I do not even have an

[2015-11-13 21:57] bensheldon commented on #674
@uberhacker `terminus auth login` and `terminus auth logout` has a completely separate authorization system than `git clone` or `git push`:
- `terminus` commands use a session token
- `git` commands use ssh keys

Logging in or out via Terminus should have no affect as to whether you can perform git operations and vice versa.

To isolate to just `git`:
1. Clone the git repo locally
2. Change the gi

[2015-11-14 13:41] wizonesolutions opened #678 "REGRESSION: #51 (405 error on terminus backups get)"
I think this is the same as #51. Maybe a later version broke it?

From my Ansible playbook using Terminus:

[code]

[2015-11-16 14:12] ttrowell opened #679 "Terminus update with composer fails"
CSE CASE: 49215
Attempting to update Terminus yields the following error scenario:

Terris-iMac-5:config terri$ composer require pantheon-systems/cli
Using version ^0.9.2 for pantheon-systems/cli
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packa

[2015-11-17 00:27] timani commented on #679
Any chance we could use Monolog instead of klogger?

https://packagist.org/packages/monolog/monolog

It is PSR-3 compliant with a large number of extensions and lot of framework support:

https://github.com/Seldaek/monolog

It would be cool to allow users in terminus to possibly get the benefit of some of these if they so please (slack, loggly, rsyslog, etc):

https://github.com/Seldaek/monolog/bl

[2015-11-17 03:30] joshkoenig commented on #675
One other I'd love to get is `rerun` to re-trigger an `operation_id` with the same input that its workflow gave it before. Could be clutch for debugging.

[2015-11-17 03:31] joshkoenig commented on #675
Also, not sure I remember why `show` and `operations` were two things?

[2015-11-17 16:12] bensheldon commented on #675
@joshkoenig I'm not exactly sure either what the difference is supposed to be between `show` and `operations` commands. I'm seat-of-the-pantsing it and we can find time to go over the output of the actual commands.

I added `watch` and `operation-rerun` too to the checklist.

[2015-11-17 16:20] joshkoenig commented on #675
Ok, I don't recall either. I had thought it had something to do with having "basic table output" at all the levels, but that still doesn't give me a clear idea what show vs operations meant.

On the re-run question... if we are going to keep the `id` users pass in as a workflow, which I believe is correct, I think we should actually call it `operations-rerun` (plural). I will fix that in the spec

[2015-11-17 16:28] bensheldon commented on #675
I've removed `operations` command from the todo list.

[2015-11-17 18:28] SaraMcCutcheon commented on #679
Hmm, how to handle this? See, the KLogger issue is actually all resolved for the bleeding edge. I changed the README.md because the source code is totally up-to-speed on this, but people are coming in and reading the BE readme when it's the release readme they need.

[2015-11-17 19:55] bensheldon opened #684 "Proposal: remove bash formatter (e.g. --format=bash)"
Removing support for the `--format=bash` outputter recently came up during a product design discussion. I am opening this for feedback and discussion.
## Reasons in Support
- Desire to produce more complex, nested data-structures in Terminus output
- maturity of command-line json parsing tools for use with `--format=json`
## Reasons  in Opposition
- Loss of grep-ability in output

[2015-11-17 22:27] SaraMcCutcheon commented on #679
Cut 0.9.3. Packagist finds and installs it successfully.

[2015-11-17 22:27] #679 closed, assigned to TeslaDethray

[2015-11-18 00:26] SaraMcCutcheon commented on #678
@wizonesolutions I can't duplicate this right off. Which version of Terminus are you using? The current version as of your posting had only a `}` on the line the error cites as the origin the issue.
https://github.com/pantheon-systems/cli/blob/83bac71722dd6d6015671d29ae50c0aa2bc23a98/php/commands/site.php#L498

[2015-11-18 01:06] QueSaraSera opened #691 "Proposal: Time Zones"
I would like to suggest that we allow users to set their time zone to whatever they please via TERMINUS_TIME_ZONE. If it is missing or blank, the time zone would default to UTC.

[2015-11-18 16:51] ccharlton opened #692 "There is no source for the requested "fist" artwork"
New terminus install (v0.9.3) error when running auth login:

`[error] There is no source for the requested "fist" artwork.`

[2015-11-18 18:01] QueSaraSera opened #693 "Replace old session login code for logins"
It was tossed when I implemented refresh token login, but is still needed.

[2015-11-18 18:06] ttrowell opened #694 "--env parameter does not list multidev sites on prompt"
If you leave off the --env param, dev, test, and live will be listed, _but_ it leaves off the multidev sites.

Example: This site has several multidev sites:

[code]

[2015-11-18 20:04] ari-gold opened #696 "Terminus hangs on first try, succeeds on second"
I seem to be running into this kind of thing lately:

[code]

[2015-11-19 06:06] leonk opened #697 "Error with guzzle when trying to retrieve site backups"
If I run `terminus site backups get --to=somepath`
I get the following error:
`'CURL_OPTIONS' PHP Fatal error: Undefined class constant on line 92 php/Terminus/Request.php`

After a bit of investigating it looks like this broke when the guzzle was updated 5a992f76c1ed9655f167e8a945edf5bfb7388558

[2015-11-19 18:05] SaraMcCutcheon commented on #696
@ari-gold Is it only the CommandWithSSH descendants (i.e. WP-CLI and Drush commands) that are doing this? Only the Drush WS command? I can't seem to make this happen. Does the appserver we're connecting to need to be removed from the known hosts list to occur (since it's asking for you to accept the host fingerprint)?

[2015-11-19 18:22] SaraMcCutcheon commented on #694
Nice catch! I'll fix this up right away.

[2015-11-19 18:29] SaraMcCutcheon commented on #692
@ccharlton I tried running a fresh install to see if the assets dir didn't make it through, but it did and I was so far unable to duplicate the error you're seeing. How did you install Terminus 0.9.3? If you cloned the repository, is the assets directory intact? (It should be in the project root and contains four text files.) Are the permissions too strict?

[2015-11-19 19:17] SaraMcCutcheon commented on #697
@leonk This was fixed in #690 on the bleeding edge. I will be rolling this fix into a point release very soon.

[2015-11-19 19:17] #697 closed, assigned to nobody

[2015-11-19 19:46] matgargano commented on #692
I am having this issue with a circleci build.

I am passing in:

[code]

If I change it to 0.9.2 it works fine. FWIW

[2015-11-19 21:32] ttrowell opened #699 ""ghost" issues - Need clarification on observations in CircleCI"
CASE : 49578

Today we experience a couple of ghost issues with terminus in our CircleCI integration right now.
1. _Sometimes_ commands are not finished after 10 min (CircleCI timeout): https://www.dropbox.com/s/1i9u3u3arvdb3yh/Screen%20Shot%202015-11-19%20at%2017.56.39.png?dl=0

Commands affected: drush rr, drush drush advagg-caf.
Terminus versions tested: 0.9.3; latest master
1. Sometimes we get

[2015-11-19 22:34] SaraMcCutcheon commented on #692
@matgargano Thank you for the extra information; I have duplicated this error. It seems that there is an issue with missing artwork in the PHAR file. I will investigate and fix promptly.

[2015-11-19 22:52] SaraMcCutcheon commented on #692
The issue was that I'd not added the assets directory to the PHAR-building script. I apologize for the trouble. I've updated the PHAR file in the release, so if you try it again it should work just fine.

[2015-11-19 23:26] SaraMcCutcheon commented on #684
At first blush, I am against this idea. Many of our users use the bash formatter (as we can tell whenever there's a bug with it), and it doesn't cause any trouble.

What sort of complex, nested data structures are unsuitable for the bash formatter, but are still suitable for the interactive (pretty) formatter?

[2015-11-19 23:27] #674 closed, assigned to nobody

[2015-11-19 23:28] #625 closed, assigned to TeslaDethray

[2015-11-19 23:29] #621 closed, assigned to TeslaDethray

[2015-11-20 00:14] keithdechant commented on #205
I see this, too. The same thing affects the newer pantheon-systems/cli project which replaced this project. After a bit of debugging it looks like this is not a bug in Terminus/CLI but rather in one of its Composer dependencies.

The problem seems to be in the Streams class in https://github.com/jlogsdon/cli. That project has been discontinued and replaced by https://github.com/wp-cli/php-cli-tool

[2015-11-20 18:08] shauntyndall commented on #622
I believe I'm seeing the issue occuring in my circleci builds that are failing:

[code]

If this is related could this issue be revisited?

[2015-11-20 18:20] bwood opened #703 "Can not authenticate using terminus 0.9.3: Call to undefined function GuzzleHttp\Handler\curl_reset()"
[code]

[code]

I switch between multiple versions of terminus by symlinking  `terminus -> terminus-093` etc.  I assume that shouldn't cause problems...?

Minutes after the above errors:

[code]

Now `auth whoami` doesn't give me errors in with 0.9.3.  Huh...

...but `auth login` on 0.9.3 still fails:

[code]

I can login with 0.9.2:

[code]

[2015-11-20 18:31] danshumaker opened #206 "PHP Fatal error: Call to undefined method Guzzle"
Just upgraded to Terminus 0.9.3 and am now getting this Guzzle error on simple site wake commands:

[code]
here's the terminus cli info
[code]
happens on both mac and ubuntu:

mac uname:
```Darwin mbpro97500 14.5.0 Darwin Kernel Version 14.5.0: Tue Sep  1 21:23:09 PDT 2015; root:xnu-2782.50.1~1/RELEASE_X86_64 x86_64```
ubuntu:
```Linux ornl 3.13.0-66-generic #108-Ubuntu SMP Wed Oct 7 15:20:27 UTC

[2015-11-20 21:49] SaraMcCutcheon commented on #703
@bwood This error is occurring because we have updated the dependencies for Terminus, and it is now compatible with PHP 5 >= 5.5.0. `curl_reset` was added in 5.5.0. Clearly, this breaks semantic versioning, so I will cherry-pick and fix this.

[2015-11-21 22:35] pirog opened #705 "Terminus 0.9.3 guzzle 6 upgrade breaks wake()"
[code]

`isSuccessful()` and `getInfo()` were removed in Guzzle 6
https://github.com/guzzle/guzzle/blob/master/UPGRADING.md#responses

[2015-11-23 19:24] #692 closed, assigned to nobody

[2015-11-23 19:54] #693 closed, assigned to TeslaDethray

[2015-11-23 19:55] #694 closed, assigned to TeslaDethray

[2015-11-23 22:41] danshumaker commented on #705
cross post: https://github.com/pantheon-systems/terminus/issues/206  sorry bout that.

[2015-11-23 22:43] SaraMcCutcheon commented on #705
I pulled in your PR @pirog and there's another open to update the syntax to our current Request class syntax.
https://github.com/pantheon-systems/cli/pull/707

[2015-11-23 23:03] danshumaker commented on #206
Waiting on this to be merged. https://github.com/pantheon-systems/cli/pull/707
 I still get the error after using the 705 fix.

[2015-11-23 23:05] danshumaker commented on #705
I still get the error after trying #705 fix.  I'll wait until #707 is merged and try again.

[2015-11-23 23:11] danshumaker commented on #207
related:https://github.com/pantheon-systems/terminus/issues/204

[2015-11-24 17:16] pirog commented on #705
@danshumaker https://github.com/pantheon-systems/cli/issues/705#issue-118225339 is not a fix, its the code from 0.9.2.

#706 has a fix for now

[2015-11-24 20:02] #534 closed, assigned to TeslaDethray

[2015-11-24 20:08] bensheldon commented on #684
The requested complex structure is something like this:

[code]

[2015-11-24 22:54] SaraMcCutcheon commented on #699
@ttrowell I can't duplicate this unless I intentionally bork the name of the targeted server. What are the steps to duplicate this, as you would explain to someone who does not use Drush/Drupal?

My `terminus drush rr` connects, but only throws this error:
`You need to specify an alias or run this command within a drupal site.`
The server doesn't seem to have a `drush advagg-caf` command available

[2015-11-25 19:32] SaraMcCutcheon commented on #684
We could deliver this data in bash format by comma-delineating arrays. Since the users are splitting the data at line break, then at tab, I don't think a third kind of delineation that is easily comprehensible would be trouble.

[2015-11-30 20:32] #705 closed, assigned to TeslaDethray

[2015-11-30 20:54] QueSaraSera opened #714 "Site backups interactive commands demand site and env info twice"
The bug was probably created when reducing the cyclomatic complexity of the SiteCommand#backups function.
![image](https://cloud.githubusercontent.com/assets/868204/11484166/724c28d4-9761-11e5-9a43-dd01ec295461.png)

[2015-11-30 21:21] #669 closed, assigned to nobody

[2015-11-30 21:21] #678 closed, assigned to nobody

[2015-11-30 21:21] #696 closed, assigned to nobody

[2015-11-30 21:21] #699 closed, assigned to nobody

[2015-12-01 01:28] iamEAP opened #719 "Error during site create"
Get this error maybe 50% of the time during site creates using terminus v0.9.3.  For background, I'm running terminus with PHP 5.5.21.

`[error] Successfully queued ellis_clone_database`

[2015-12-01 23:49] #660 closed, assigned to TeslaDethray

[2015-12-02 00:07] SaraMcCutcheon commented on #719
@iamEAP That particular error is platform-level. What are the exact steps and commands you are using to reach this error?

[2015-12-02 00:08] nstielau commented on #660
Yeehaw!

On Tue, Dec 1, 2015 at 3:49 PM, Sara McCutcheon notifications@github.com
wrote:

##

Nick Stielau | p 415-515-2120
Director of Engineering | Pantheon

[2015-12-02 00:13] iamEAP commented on #719
@TeslaDethray Yep.  Believe this ended up being an issue with our specific database that was causing clones to fail. Unrelated to the CLI.  Thanks for the attention, though!

[2015-12-02 00:13] #719 closed, assigned to nobody

[2015-12-02 08:46] wizonesolutions commented on #678
@TeslaDethray Sorry for being so slow to reply :o

The Vlad integration uses 0.9.2. I'm going to bump it to 0.9.3 and see what happens. But (with 0.9.2) I just had this happen again. The repro steps seem to be:
- Create new Pantheon site
- Try to get the latest files backup (I think any backup, but in this case files errored out) with: `terminus site backups get --site=SITENAME --env=dev --element

[2015-12-02 18:35] #668 closed, assigned to TeslaDethray

[2015-12-02 19:39] #714 closed, assigned to TeslaDethray

[2015-12-03 18:17] #309 closed, assigned to nobody

[2015-12-04 00:02] QueSaraSera opened #728 "Change env var file loading to make use of any *.env in the current directory"

[2015-12-05 01:46] #657 closed, assigned to TeslaDethray

[2015-12-05 02:17] #623 closed, assigned to TeslaDethray

[2015-12-07 02:28] leonk opened #731 "Unable to find Drupal for Drush commands"
I'm unable to use a terminus (or Drush aliases) with drush to issue any commands on the pantheon servers.  Below is an example of my console output.

[code]

My site is in git mode, and I'm using terminus version 0.9.3
I've tried this on multiple sites and environments, the same everywhere.

I've already contacted pantheon support and they have directed me here.

[2015-12-07 05:35] bensheldon commented on #731
Sorry to give you the support runaround, but this is definitely a platform issue rather than a Terminus issue. The error implies that Terminus was successfully able to connect to the platform's Drush instance and invoke the command. But for some reason the platform's Drush instance wasn't able to detect your Drupal site.

I'll follow up in the support ticket as it may require debugging your partic

[2015-12-07 05:35] #731 closed, assigned to nobody

[2015-12-07 11:43] ioskevich opened #732 "Change sites import to accept local files"
Terminus version: 0.9.3
Terminus script: boot-fs.php

I have prepared site archive using drush ard and was able to import it with no problem through Pantheon UI. However, it fails when trying to do the same with terminus (same archive loaded from local file system, same Pantheon account).

CLI input/output:

WORK-MBA:~ vitaly$ terminus sites import
Human-readable label for the site: CLI TEST
Machi

[2015-12-07 17:47] #62 closed, assigned to TeslaDethray

[2015-12-07 17:47] #320 closed, assigned to TeslaDethray

[2015-12-07 18:38] SaraMcCutcheon commented on #732
Hi, @ioskevich. The issue is that the `--url` param only accepts files already uploaded to the internet. Local files cannot be used with the command. I hope you don't mind, but I've changed the title of your issue here from "terminus sites import fails" to "Change sites import to accept local files" and marked it as a feature request.

[2015-12-07 18:53] ioskevich commented on #732
Cool, thanks for converting it into feature request. Being able to import local archive would be quite handy.

[2015-12-08 19:18] ehausen commented on #675
terminus workflows list and terminus workflows show take up to 10 seconds to fetch the data and probably create just unnecessary load. Maybe there could be a flag set how many entries to fetch. You seldom need to fetch 100 entries...

[2015-12-08 19:19] bensheldon commented on #675
@ehausen if you run the command a second time, do you still experience slowness or is it just the first time you run it? I'm wondering if the slowness is coming from caching your sites-list, rather than the actual workflows fetching.

[2015-12-08 19:29] ehausen commented on #675
Yes, I still experience slowness. It takes typically 10-15 seconds to get an answer
I tried them a couple of times.

[2015-12-08 22:08] greg-1-anderson opened #736 "`terminus site wake` fails with GuzzleHttp error"
`Fatal error: Call to undefined method GuzzleHttp\Psr7\Response::isSuccessful() in phar:///Users/ga/pantheon/terminus-cli/bin/terminus/php/Terminus/Models/Environment.php on line 829`

Maybe mismatch between expected and provided major version of Guzzle?

Terminus 0.9.3.

[2015-12-09 23:04] chikaramike opened #739 "Help installing Terminus"
I’m having problems installing Terminus. I’m on a Mac Yosemite 10.10.5

I downloaded composer with:

mkdir -p /usr/local/bin
curl sS https://getcomposer.org/installer | sudo php - —install-dir=/usr/local/bin —filename=composer

Then

composer require pantheon-systems/cli

Then tried

terminus auth login

but got -bash: terminus: command not found

I then tried

curl https://github.com/pantheon-sys

[2015-12-09 23:05] nkanderson commented on #414
+1

[2015-12-09 23:27] SaraMcCutcheon commented on #739
Hi @chikaramike, the first attempt - via Composer - probably failed because you do not currently have an alias or a bin file set for "terminus." To see that it is properly installed, please go to the directory you were in when you tried to install it (I'll call it `/install/dir` for simplicity.) and list its contents. You'll see a `vendor` directory that Composer created. Inside, you can drill dow

[2015-12-10 21:41] #658 closed, assigned to nobody

[2015-12-11 23:15] #739 closed, assigned to nobody

[2015-12-12 01:37] bwood opened #745 "'terminus auth whoami' now returns a UUID"
Okay this seems intentional:

[code]

Is there anyway for me to look up the user email using  the user_uuid?

[2015-12-14 15:50] dalin- opened #746 "SSH Tunnel"
SSH Tunnels are required for doing anything with a database.
https://pantheon.io/docs/articles/local/ssh-tunnels-for-secure-connections-to-pantheon-services/

This is a scriptable problem.  Terminus could provide a command such as
`terminus --site=foo --env=bar ssh-tunnel`

This could then be a stepping stone to allow commands like

`terminus --site=foo --env=bar drush sql-dump`

And then

`termin

[2015-12-14 18:23] bensheldon commented on #746
@dalin- there is some work in this direction (see #276).

There is a bit of an engineering challenge in providing and supporting deeper hooks into the local development system. Lots of benefits to adding workflow sugar, but also difficulty in ensuring compatibility across systems and setups. But we're definitely exploring these kinds of things.

[2015-12-14 18:25] bensheldon commented on #745
I would expect `whoami` to make an API lookup to `/user` to both verify the validity of the the session token as well as dump out the user object. I can make that change.

[2015-12-14 22:11] SaraMcCutcheon commented on #678
Thanks for the follow-up, @wizonesolutions. I've duplicated the error you described with version 0.9.2, but it has been fixed since a couple of weeks ago (after your last comment), when we refactored how backups are managed and moved the functionality into its own model & collection. We're going to be cutting a 0.10.0 release today with these changes.

[2015-12-14 23:31] QueSaraSera opened #747 "Ensure documentation is regenerated when cutting new releases"
Regarding #738

[2015-12-14 23:49] SaraMcCutcheon commented on #736
Fixed in #706

[2015-12-14 23:49] #736 closed, assigned to nobody

[2015-12-14 23:49] #664 closed, assigned to TeslaDethray

[2015-12-15 00:08] #666 closed, assigned to nobody

[2015-12-15 00:13] bwood commented on #745
Thanks.  In previous versions it returned the email of then logged-in user and my script depended on that.  I will work around this for now.

[2015-12-15 02:53] joshkoenig opened #748 "Site connection info should always supply SFTP credentials, not always Git credentials"
Currently the following:

[code]

Shows me git credentials that do not work, and lacks SFTP credentials that will. SFTP is always a valid way to manage files in the shared mount, but git connections only exist to dev environments. Can we fix this?

[2015-12-15 16:42] joshkoenig commented on #748
@bensheldon possible to sneak this in for the 0.10 release? It will make writing docs for putting secrets files in the private Valhalla area a bit easier.

[2015-12-15 18:15] amwelles opened #750 "Unable to download database"
Creating a backup seems to work just fine, but when I run `terminus site backups get --element=database --site=nchfa --env=dev --to=$HOME/Desktop/Backups/ --latest`, I get the following error messages in the terminal:

[code]

Version output for reference:

[code]

[2015-12-15 18:18] amwelles commented on #750
On second glance, it does look like it downloaded an empty database; the error still showed up in the terminal.

[2015-12-15 19:25] QueSaraSera opened #753 "Change internal doc syntax to match PHPStorm's formatting"
- [x] We can drop the brackets (`[`, `]`) around the param and return types
- [x] Add a `@throws` comment to such functions as require them
- [x] Add `throws` to the list of things the doc-making script picks out to note

[2015-12-15 22:11] greg-1-anderson opened #756 "`terminus drush` behaving strangely in today's HEAD of master"
`$ ./bin/terminus --site=quicker-8 --env=dev drush status Drupal`

This is now running "drush Drupal" instead of "drush status Drupal".

Argument handling seems to be shifting all the args over when there are multiple args on the command line.

[2015-12-15 22:21] greg-1-anderson opened #757 "`terminus site secret` command"
With the introduction of Quicksliver comes the need to [manage secrets on the Pantheon platform](https://github.com/pantheon-systems/quicksilver-examples/tree/master/slack_notification).  I was thinking it wouldn't be too hard to throw together a quick `site secret` command to make it easy to update these.

[code]

Sound worthwhile?  Any objection if I added [phpseclib/phpseclib](https://packagist

[2015-12-15 22:28] joshkoenig commented on #757
I like this idea. It would be another "macro" type command, which I think is a way for Terminus to provide a lot of value.

We'd need to be sure it failed gracefully if some underlying components were missing though.

[2015-12-15 22:33] greg-1-anderson commented on #757
With phpseclib/phpseclib in composer.json, the needed sftp functionality would be available always, so there shouldn't be any fear of failure (e.g. no dependency on an sftp executable).

[2015-12-15 22:35] greg-1-anderson commented on #757
Seems @bensheldon does not want this in terminus unless the functionality is provided via the platform API.  In contrast, the mechanism I was suggesting was sftp.

[2015-12-16 00:46] iamEAP commented on #756
Experiencing the same. Works fine on v0.9.3, but breaks as of v0.10.0.

[2015-12-16 01:46] joshkoenig commented on #748
Nice!

[2015-12-16 01:46] #748 closed, assigned to nobody

[2015-12-16 01:51] joshkoenig commented on #746
I'm curious if/how we can get past compatibility blockers. I'm open to the notion that some of these "macro" type commands will fail fast if they're run on incompatible systems (aka Windows without extra stuff installed).

As long as the failure is clear and refers users to helpful documentation, if we can deliver features that are valuable and helpful to 80% (or more) of users, I think that would

[2015-12-16 02:25] greg-1-anderson commented on #757
See https://github.com/pantheon-systems/quicksilver-examples/pull/11 for the standalone `secrets` script.  Maybe this can become a Terminus feature if we add a Quicksilver platform API feature that manages secrets for the user, and sets them in environment variables prior to firing scripts.

[2015-12-16 02:36] dalin- opened #758 "`terminus site backups load` throws fatal error"
[code]

I'm running 0.10.0, but this was also happening on the previous version.  Other `site backups` commands work as advertised.

[2015-12-16 02:43] dalin- commented on #235
+1 for this.

Pantheon really needs a quick and easy way to pull down a copy of the database.  None of the available options are really as slick as they could be:
- sql-sync-pipe
  - This would almost be awesome were it not for #611 which means I can't just add a contractor to my organization and tell them to run sql-sync-pipe.  I need to explicitly add them to every site, as if the organization f

[2015-12-16 16:56] wmcmillian-coalmarch opened #759 "backups error"
`--latest` doesn't seem to be working. In fact it pulls down what appears to be the _earliest_ elements.

also when listing elements it's just giving me a bunch of dots rather than a list to choose from

[2015-12-16 18:54] jackfoust commented on #756
Looks like this is the issue. https://github.com/pantheon-systems/cli/commit/a6068a2c656c90ae19d623436e21637e2fb85dcc

I can confirm terminus drush 'cc all' --env=dev --site=site works.

[2015-12-16 19:25] greg-1-anderson commented on #756
See #761

[2015-12-16 19:40] bwood opened #762 "Sporadic server errors on API calls"
In the past I've been told by Pantheon support to post issues like this here.  Let me know if that's changed.

[code]

[code]

[2015-12-16 20:54] danshumaker commented on #759
Yep, this happens for me too.

When I execute this command:

[code]

I get a database dump from six months ago, which is obviously not the "latest" backup from the autobackups that happen every night.

When I go to the pantheon dashboard and download the latest I get the latest dump file dated 12-16-2015, which is what i want.

Is there a work around besides using the pantheon browser interface?

[2015-12-16 22:11] bensheldon commented on #762
Sorry you're being told by Pantheon Support to open an issue here as you're seeing `Server error` rather than a Terminus client error. These issues should be escalated through Support rather than opened as issues here.

Sorry again for the support runaround; I'll make sure that the internal Pantheon support process is better defined.

Related to #731.

[2015-12-16 22:11] #762 closed, assigned to nobody

[2015-12-16 22:49] bwood commented on #762
So noted. Apologies.

[2015-12-17 14:06] wmcmillian-coalmarch commented on #759
As a temporary solution, I've downgraded to version 0.8.1

[2015-12-17 23:31] bwood opened #765 "'terminus organizations sites list' yeilds stack trace"
[code]

[code]

[2015-12-18 04:54] chikaramike commented on #739
Awesome!  Thank you!  I got a permission denied with the first attempt.  Was able to login with the extra instructions on the second attempt.

[2015-12-18 18:22] SaraMcCutcheon commented on #750
This issue was fixed in #690. Please give our newest release including this update, 0.10.0, a try.

[2015-12-18 18:22] #750 closed, assigned to nobody

[2015-12-18 19:46] bwood opened #767 "Using 'terminus site tags' to add a tag matching label created in UI results in separate, identical tag"
[code]

We have many sites tagged "Managed by IST Drupal" in our org. These tags were added using the web UI for the org dashboard.

If I try to add the same tag to a site using terminus:

[code]

The result is that it is not added to the same tag associated with our existing 97 sites:

![image](https://cloud.githubusercontent.com/assets/185537/11905693/b0c074de-a57c-11e5-8c22-a55458051044.png)

[2015-12-18 21:36] #765 closed, assigned to TeslaDethray

[2015-12-18 22:06] #758 closed, assigned to TeslaDethray

[2015-12-22 17:29] Tecdoc opened #773 "WP CLI commands not working within Terminus"
Using Terminus 0.10.0

Environments affected: Currently, dev environments for all sites our organization of sites
All URLs affected

Steps to reproduce this error: Running a WP command within Terminus

Example of the Coding error:
terminus wp core install --url=dev.testsite-www.pantheon.io --title="Test WWW" --admin_user=admin --admin_password=password123 --admin_email=myemail@example.com --env=de

[2015-12-22 18:48] SaraMcCutcheon commented on #773
@Tecdoc As of 0.10.0, a command being sent through Terminus to WP-CLI or Drush has to be put into quotes.
`terminus wp 'core install --url=dev.testsite-www.pantheon.io --title="Test WWW" --admin_user=admin --admin_password=password123 --admin_email=myemail@example.com' --env=dev`

https://github.com/pantheon-systems/cli/blob/master/CHANGELOG.md

[2015-12-22 20:37] Tecdoc commented on #773
Thank you @TeslaDethray, works perfect.

[2015-12-22 20:51] #773 closed, assigned to nobody

[2015-12-23 14:04] fariasf opened #777 "Terminus not working after upgrading from 0.7.1"
Hi!

Just upgraded from 0.7.1 to 0.10.0. Now I'm not being able to use `terminus` anymore.
I can log in, but I can't do any other operation: I get a lot of error messages, and the sites list is empty. Other commands I need to run for a site/env also fail.

Here's the version I'm using

[code]

This is the output for `terminus auth login`:

[code]

So far, so good. But then I try to `terminus sites

[2015-12-23 17:46] ossobuffo opened #778 "Spurious warning for `terminus sites aliases`"
Current git head (12240f76d4dfd9e994c02b550801fc18c1ced63e)

[code]

~/.drush/pantheon.aliases.drushrc.php correctly created with many sites.

[2015-12-23 18:19] joshkoenig opened #779 "Generate Drush Aliases for all Sites in an Org?"
Currently the generation of Drush aliases relies on an API call that only puts sites a user is a direct team member of into the file.

https://github.com/pantheon-systems/cli/blob/80f31bb1c4ae61a6f2dac5ccebd6113f374ad66b/php/Terminus/Commands/SitesCommand.php#L46

Members of organizations do not have an easy way to get an aliases file for all the sites in the org, and when there are many sites the

[2015-12-23 18:21] joshkoenig commented on #779
Heads up @ossobuffo and @greg-1-anderson :)

[2015-12-23 18:55] SaraMcCutcheon commented on #778
Thanks for pointing that out. I made a bad assumption in looking for a 'pantheon.io' domain as the sign of the presence of aliases.

[2015-12-23 21:30] #759 closed, assigned to TeslaDethray

[2015-12-23 21:46] cnovak commented on #779
I can see the difficulty in implementation, but would be great for our organization needs.

[2015-12-23 21:52] #756 closed, assigned to TeslaDethray

[2015-12-23 22:31] #778 closed, assigned to TeslaDethray

[2015-12-23 22:44] SaraMcCutcheon commented on #777
@fariasf I'm not sure how this would ever happen. Site descends from the abstract TerminusModel which owns a protected $attributes property. Additionally, nothing which would incite such an error appears on either of the lines mentioned by the notice. Does this happen when you install from Packagist or clone the repository? What PHP version are you using and on which OS?

[2015-12-23 22:50] fariasf commented on #777
@TeslaDethray thanks for your response!

I'm installing using cURL (`curl https://github.com/pantheon-systems/cli/releases/download/0.10.0/terminus.phar -L -o /usr/local/bin/terminus && chmod +x /usr/local/bin/terminus`).

I use HHVM on Linux Mint 17:

[code]

[2015-12-27 23:20] mygeweb commented on #356
It could be wonderful to add custom commands.

[2015-12-28 23:09] uberhacker opened #787 "terminus site backups get --latest not really the latest?"
$ terminus site backups get --site=pantheon-rocks --env=dev --element=db
1. pantheon-rocks_dev_2015-12-27T13-00-00_UTC_database.sql.gz
2. pantheon-rocks_dev_2015-12-26T13-00-00_UTC_database.sql.gz
3. pantheon-rocks_2015-12-24T13-00-00_UTC_database.sql.gz
4. pantheon-rocks_2015-12-23T13-00-00_UTC_database.sql.gz
5. pantheon-rocks_2015-12-22T13-00-00_UTC_database.sql.gz

Select a backup:

$ terminus

[2015-12-30 16:15] danshumaker commented on #787
https://github.com/pantheon-systems/cli/issues/759

[2015-12-30 20:02] uberhacker commented on #787
Thanks Dan.  Apparently, the commit there has not been merged into the latest version yet.

[2015-12-30 20:09] uberhacker commented on #759
This is still a bug in version 0.10.  Can we keep this issue open until the bug is fixed in the latest stable release please?

[2015-12-30 23:59] jrisebor opened #788 "Show recommended DNS records for a site"
It would be nice if there was a way to show all the recommended DNS records for a site.

Currently all I can find is a way to list all of the domains for a site:

[2016-01-05 21:48] bensheldon opened #789 "Allow adding/updating of HTTPS Certificates for Site Environments"
Currently this can be performed via the Dashboard, but not yet via Terminus. API path is

`POST sites/#{site_id}/environments/#{environment_id}/add-ssl-cert" { key, cert, intermediary }`

There doesn't seem to be an API distinction between adding vs updating a certificate. Perhaps the command could be `terminus site add-https-certificate`.

[2016-01-05 21:53] bwood commented on #789
My use case is always to _replace_ the certificates/keys.

[2016-01-06 23:33] SaraMcCutcheon commented on #789
@bensheldon To cover both the add/update behaviors, perhaps `terminus site set-https-certificate` would be adequately descriptive?

[2016-01-07 10:03] twooten opened #793 "terminus site redis clear is returning "[error] Redis cache not enabled""
Terminus version = 0.10.0

`terminus site redis clear --site=my-site --env=dev` is complaining that Redis is not installed when in fact, it is installed.

Connecting to Redis from the command line and running the `keys *` command shows all the keys currently cached and Redis is working fine.

This applies to both WordPress and Drupal 7.

[2016-01-07 21:10] rujelly opened #795 "'Fatal error: Call to undefined function GuzzleHttp\Handler\curl_reset()' on first use of terminus"
I just installed terminus, and I get the following error when I enter any type of terminus command:

`
Fatal error: Call to undefined function GuzzleHttp\Handler\curl_reset() in phar:///usr/local/bin/terminus/vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php on line 78
`

[2016-01-07 21:37] SaraMcCutcheon commented on #795
@rujelly The function `curl_reset` was added to PHP in 5.5.0. If you are getting this error, then you have a version of PHP which is too old to be compatible with Terminus 0.10.0, which supports PHP 5.5.9+.

[2016-01-07 21:40] #795 closed, assigned to nobody

[2016-01-07 21:41] #787 closed, assigned to nobody

[2016-01-07 22:05] #777 closed, assigned to nobody

[2016-01-07 22:06] #691 closed, assigned to nobody

[2016-01-08 19:58] SaraMcCutcheon commented on #793
@twooten I tried to recreate the issue, but could not. In fact, in 0.10.0, the `site redis` command seems to have been completely broken for a long time due to an issue with the Terminus/Models/Site#bindings function having an invalid API request string to retrieve a site's bindings.

I fixed the problem I found and opened PR #799, but I can't find a way to get it to tell me that Redis is uninstal

[2016-01-10 06:24] webidextrous opened #801 "terminus command not found?"
I installed terminus using cygwin and composer per these instructions (https://github.com/pantheon-systems/cli#installation), including the export and alias commands to path and alias the bin/terminus command. All went fine.

But after I close and reopen cygwin, when I run terminus auth login, I get:

$ terminus auth login
/home/Rob/pantheon-systems/cli/bin/terminus: line 8: $'\r': command not fou

[2016-01-11 05:38] SaraMcCutcheon commented on #87
Added in #730

[2016-01-11 05:38] #87 closed, assigned to nobody

[2016-01-11 15:23] ttrowell commented on #801
Terminus installed on Windows 10 using cygwin and composer per these
instructions (https://github.com/pantheon-systems/cli#installation),
including the chmod, export, and alias commands to path and alias the
bin/terminus command. All went fine.

[2016-01-11 18:17] #767 closed, assigned to TeslaDethray

[2016-01-11 18:18] #753 closed, assigned to TeslaDethray

[2016-01-11 18:36] #316 closed, assigned to TeslaDethray

[2016-01-11 18:40] #728 closed, assigned to TeslaDethray

[2016-01-12 01:28] webidextrous commented on #801
ttrowell's message above is to transfer this question to the github repository for resolution, but it truncates giving the impression the issue is resolved. See my OP for the details on why it's not.

[2016-01-12 17:07] Tecdoc opened #804 "Would like a list of sites that have a specific tag"
Would like to see a command that would output a list of sites that have a specific tag.
example: terminus sites list [--team] [--org=<id>] [--cached][--tag=<tagname>]

We are trying to do a mass-update command on specific sites that have a specific tag.  As a check, would like to list the sites that have this update tag.

Thanks.

[2016-01-12 17:40] SaraMcCutcheon commented on #779
@joshkoenig I have two versions of this which work and we could use.

This one does the processing in Terminus:
https://github.com/pantheon-systems/cli/pull/800

This one makes the change on the API:
https://github.com/pantheon-systems/titan-mt/pull/14102

@bensheldon Prefers an API change, otherwise the Dashboard aliases will not be consistent with Terminus'. IMHO, I agree that that is the best s

[2016-01-12 17:47] ossobuffo commented on #779
Whichever solution is chosen, it should take into account HTTP timeouts for organizations with ludicrous numbers of sites. With the old drush-based terminus, I could no longer fetch an aliases list because my HTTP connection would time out.

I don't know your internal architecture, but how about one task to queue generation of an aliases file on the server-side, and another task to fetch it once i

[2016-01-12 18:11] #745 closed, assigned to bensheldon

[2016-01-12 20:17] SaraMcCutcheon commented on #804
That wouldn't be too hard, although it may end up being a little slow to run. Thanks for the great suggestion! You'll see a PR for it soon.

[2016-01-12 20:18] #793 closed, assigned to TeslaDethray

[2016-01-12 20:44] SaraMcCutcheon commented on #611
Closing in favor of #779

[2016-01-12 20:44] #611 closed, assigned to TeslaDethray

[2016-01-12 22:00] peterfeddo commented on #779
Would love to see a performant solution for this with big organizations with lots of Pantheon sites and dev branches.

[2016-01-12 22:04] greg-1-anderson commented on #779
For teams with a very large number of sites, we are discussing improvements to site-local aliases. Historically these have had problems, but the situation is improving.  See: https://github.com/drush-ops/drush/issues/1532

[2016-01-13 01:13] SaraMcCutcheon commented on #611
@peterfeddo @dalin- We've encountered some issues with the efficiency of providing this functionality on a system level which we are working to have resolved, but in the mean time I've constructed [a script using Terminus as a library which creates the aliases for you](https://raw.githubusercontent.com/pantheon-systems/cli/addition/pantheon_aliases_demo/docs/examples/PantheonAliases.php).

Assumin

[2016-01-14 15:17] aaronbauman opened #810 "Latest version of terminus breaks pipes"
"site info" command returns extraneous label, does not accept --pipe flag
e.g. `terminus site info --site=$sitename --field=id`
returns a value like
"id: XXX-XXX-XXX"

the "id:" label breaks all my existing scripts which rely on setting a variable for site id.

supplying "--format" flag is not helpful either, because the return value is double-quoted.

[2016-01-14 17:56] SaraMcCutcheon commented on #810
You're right, the addition of the name of the very field you've just named is redundant. I'll make a PR for that today. Although, formatting it as JSON really should have quotes because it's a string. Formatting as bash proffers no quotes.

[2016-01-14 19:29] SaraMcCutcheon commented on #804
@Tecdoc I'd forgotten that we have an `organizations sites list --tag=<tag>` command already. It's currently got a bug with the organizational ID selection, but I've just made a fix for it. Would it suit your purposes to use this command?

[2016-01-14 19:46] Tecdoc commented on #804
Hi - been working with it and like it with any of the organizational sites we have in the dashboard.    I could check that we have all of the sites go into the organization that we use.  Thanks for looking into this!

[2016-01-14 19:51] SaraMcCutcheon commented on #804
If you don't have all the sites you want to glean in the same organization, it would still make sense to implement this argument in `sites list` as well. Is it by design that your sites are not all in the same organization? I want to make sure we cover all reasonable use-cases here.

[2016-01-14 19:54] Tecdoc commented on #804
Not by design - the ones outside of the organization are usually someone's sandbox sites for testing usually.  We can move forward using organizations sites list --tag=<tag>.  Thanks

[2016-01-14 19:56] #804 closed, assigned to nobody

[2016-01-14 20:56] SaraMcCutcheon commented on #291
This is being addressed with the Auth0 implementation. Closing.

[2016-01-14 20:56] #291 closed, assigned to nobody

[2016-01-14 23:08] SaraMcCutcheon commented on #102
To add:
- [x] site redis enable
- [x] site redis disable
- [x] site new-relic enable
- [x] site new-relic disable
- [x] site solr enable
- [x] site solr disable

[2016-01-15 14:18] aaronbauman commented on #810
Thanks, I guessed `--format=bash`, and that worked.
That flag could use more documentation - the man page says only "force json output"

[2016-01-15 22:12] Tecdoc opened #815 "Getting a Notice:Undefined index: HTTPS"
Hi,

How do we clear up this notice when a WP CLI command is ran in terminus:
Notice: Undefined index: HTTPS in phar:///opt/wp-cli/wp-cli.phar/php/WP_CLI/Runner.php(731) : eval()'d code on line 109
output: No value for $TERM and no -T specified

Thanks

[2016-01-15 22:45] QueSaraSera opened #816 "cli cache-clear should not wipe out machine token"

[2016-01-15 22:47] QueSaraSera opened #817 "machine tokens should be saved to keyed files"
Perhaps in `~/.terminus/tokens/emailaddress`. As it is, we can only save a single token and if you log in as another user, that token is gone forever

[2016-01-15 22:49] joshkoenig commented on #817
+1 for email address key.

Also, we could have some user output when you do a token login to make people aware of this:

[code]

It'd also be great to then allow the re-use of these through the `auth login --email=<emailaddress>` path.

[2016-01-15 22:51] joshkoenig opened #818 "Machine token help shouldn't mention "auth0""
[code]

Auth0 is an internal implementation detail. We should say, "Authenticate using a machine token from your dashboard. Stores the token for future use."

[2016-01-15 23:05] joshkoenig opened #819 "Drop --session for login"
With the advent of machine tokens, we no longer need to support re-using dashboard sessions!

:star2::star::star2::star::star2::star::star2:

[2016-01-15 23:32] #810 closed, assigned to TeslaDethray

[2016-01-16 01:26] #141 closed, assigned to TeslaDethray

[2016-01-16 13:19] serundeputy opened #820 "Help text for drush errors is ambiguous: [error] Your full Drush command and its arguments must be in quotation marks."
I interparate: `Your full Drush command and its arguments must be in quotation marks.` as "drush cc all" the full command, what is required is drush "cc all".

Update help text proposed:

[code]

[2016-01-17 13:56] serundeputy commented on #820
I've updated the `PR` https://github.com/pantheon-systems/cli/pull/821 to be drush/Drupal and wp-cli/Wordpress friendly, but it seems I've caused test failures.

Looking at the travis output: https://travis-ci.org/pantheon-systems/cli/jobs/102926953 , I'm not sure what it is complaining about.

[2016-01-18 22:47] iamEAP opened #823 "Forward drush and wp-cli command exit codes to invoker"
I'd like to be able to run remote drush commands and react based on the exit code that drush returns.  My specific use-case is when running `terminus drush test-run`, but I can imagine wanting to catch and react to PHP exceptions in custom drush commands / scripts.

As things are now, if the command finished running, terminus will just exit 0.

[2016-01-19 18:50] Tecdoc commented on #815
Hi - I have switched back and forth with SFTP and Git connection modes and still getting the above Notice from Terminus.  How do we avoid getting this error?  Thank you

[2016-01-19 20:58] joshkoenig opened #824 "Start token generation workflow from the CLI"
It would be great if we were able to initiate the token process from the CLI:
1. User runs a command along the lines of `teminus auth token-generate`
2. That provides a URL for the dashboard which will take them to the token generation screen, and pre-load the "Machine Name"
3. User adjusts the machine name as needed, clicks submit, gets a shiny new token.
4. They then take the CLI copy/pasta back

[2016-01-19 21:27] ronan commented on #824
As annoyingly long as this is this should be: `terminus auth machine-token-generate` or `terminus auth machinetoken-generate`. We also have the `terminus machinetoken` command space to use: `terminus machinetoken create`. Not sure which place is more appropriate.

Yup:
`https://dashboard.getpantheon.com/machine-token/create?client=terminus&device=[[DEVICENAME]]`

[2016-01-19 22:11] SaraMcCutcheon commented on #816
This will be resolved automatically by #817.

[2016-01-19 22:11] #816 closed, assigned to nobody

[2016-01-19 22:47] SaraMcCutcheon commented on #817
@joshkoenig Question: One of the key advantages to this implementation is that you are automatically logged back in when you've logged out. When someone logs out, how do we decide which token to automatically re-log them in with?
https://github.com/pantheon-systems/cli/blob/master/php/Terminus/Auth.php#L28-L49

[2016-01-20 01:01] SaraMcCutcheon commented on #815
@Tecdoc How are those commands being formatted? We recently changed the formatting on WP-CLI and Drush commands. I'm not clear on what is causing this yet. WP-CLI on the platform is erring, but I can't make it do this myself.

[2016-01-20 01:24] SaraMcCutcheon commented on #823
That makes a lot of sense. Right now, if the exit code is anything except for 255, you do not get the exit code. I'll switch this around so that if the exit code is anything but 0, Terminus will exit with that code.

[2016-01-20 18:38] ttrowell commented on #815
@TeslaDethray I have another example.  Now, I run this with my Pantheon authentication and not with a password prompt:

http://screencast.com/t/et4twcGW

The command is
`terminus wp "user list --role=administrator --format=csv" --site=wharton-www --env=dev`

[2016-01-20 18:59] SaraMcCutcheon commented on #815
Thanks for finding a command that can duplicate this issue, @ttrowell. I still don't get this error at all, though. Is it possible to run this with `--debug` so I can see how your routed-to-the-platform commands differ from mine? Would it be alright to add myself to the team on wharton-www so I can see if I can duplicate this myself? Which PHP version are you using?

![image](https://cloud.githubu

[2016-01-20 19:13] Tecdoc commented on #815
@TeslaDethray - Yes it is possible to run with --debug and you can add yourself to the wharton-www team.  Also running PHP version 5.5.30.  Also ran this command on both git and sftp modes, they both had brought up this Undefined Index problem.

[2016-01-20 20:35] SaraMcCutcheon commented on #446
The Auth0 update will make this obsolete once it is released to all users.

[2016-01-20 20:35] #446 closed, assigned to nobody

[2016-01-20 22:01] #820 closed, assigned to TeslaDethray

[2016-01-20 22:15] joshkoenig opened #829 "Identify environment when --watching workflows"
From a power-user:

I get that I can do `terminus workflows watch --site=<site>` to monitor what QS jobs are being run.  However, I actually find this a bit confusing to parse.  For normal Pantheon workflows (clearing cache, deploying code, etc) the workflow looks like this:

`Started 8ea29de0-bf13-11e5-b567-bc764e11bdd3 Update pantheon.yml for environment (bt)`

However, when a QS job is triggere

[2016-01-20 22:18] #817 closed, assigned to TeslaDethray

[2016-01-20 22:18] #818 closed, assigned to TeslaDethray

[2016-01-20 22:26] SaraMcCutcheon commented on #815
@Tecdoc @ttrowell I have identified the issue, and it is in the WordPress upstream. Here's where it is, in wp-config.php:

![image](https://cloud.githubusercontent.com/assets/868204/12465180/9e79d04e-bf81-11e5-8d37-8b660a7d5eef.png)

It's not checking for whether `$_SERVER['HTTPS']` is set before trying to evaluate it. Here's the fix:

![image](https://cloud.githubusercontent.com/assets/868204/124

[2016-01-20 22:26] #815 closed, assigned to nobody

[2016-01-20 23:52] #819 closed, assigned to TeslaDethray

[2016-01-20 23:52] #823 closed, assigned to TeslaDethray

[2016-01-21 00:49] #213 closed, assigned to TeslaDethray

[2016-01-21 15:51] Tecdoc commented on #815
@TeslaDethray  - Was getting this error when testing your edit snippet:
Fatal error: Cannot use isset() on the result of an expression (you can use "null !== expression" instead) in phar:///opt/wp-cli/wp-cli.phar/php/WP_CLI/Runner.php(731) : eval()'d code on line 109
[2016-01-21 15:48:11] [error] Failed to connect. Check your credentials and the target environment.

[2016-01-21 18:13] bwood opened #833 "Simultaneous sessions result in 'Trying to get property of non-object in phar://'"
We're running into problems similar to https://github.com/pantheon-systems/cli/issues/260.  When we apply updates on our sites a person on our team runs a custom script that exec's a bunch of terminus commands.  Since we're updating > 100 sites, the user usually opens up 6 terminal sessions and logins in as the same terminus user in each session. Things go okay for a while and then they start seei

[2016-01-21 18:43] SaraMcCutcheon commented on #833
`TERMINUS_CACHE_DIR` _should_ only need to be different for each session if each session is for a different user.

I'm not sure what is causing this yet - both lines mentioned by the PHAR errors are attempting to use properties of `$this` from within non-static functions. My only guess at the moment is that something in the cache is getting corrupted along the way. I've got a lot of questions abou

[2016-01-21 18:49] joshkoenig commented on #824
`terminus auth machine-token-generate` +1 for specificity.

[2016-01-21 18:54] #829 closed, assigned to nobody

[2016-01-21 18:57] SaraMcCutcheon commented on #824
We tend to set our verbs first, though. `terminus auth generate-machine-token` would be better in line with our other subcommands.

[2016-01-21 18:59] joshkoenig commented on #824
`terminus auth generate-machine-token` +1 for grammar! :)

[2016-01-21 19:07] SaraMcCutcheon commented on #820
@serundeputy I'm sorry, I put in a pull request at about the same time you did and didn't see yours until today.

The error you're seeing in #821 is coming from our linter, which requires that curly braces be on the same line as subsequent else/elseif statements.

[2016-01-21 20:29] ttrowell commented on #815
@TeslaDethray Confirming that wp-config.php was changed to :
`if (isset($_ENV['PANTHEON_ENVIRONMENT']) && (!isset($_SERVER['HTTPS'] || $_SERVER['HTTPS'] === 'OFF')){`

Output of command:
`Taras-MacBook-Pro:everydaybank tararowell$ terminus wp "user list --role=administrator --format=csv" --site=mbatestsite1 --env=dev --debug
[2016-01-21 20:24:55] [info] Running wp user list --role=administrator --

[2016-01-21 21:52] bwood commented on #833
Thanks for all the ideas.

User is trying this now.  I'll let you know.

I asked for this too, but out put was lost by the user. If we can reproduce this, I'll be sure to include this info.

It's in a private repo.  Let me just clear sharing it with the authorities.

Correct.

I'll try the other ideas and report back.

[2016-01-22 01:47] serundeputy commented on #820
@TeslaDethray no worries; hopefully i won't have to see this error, but for those that do it will be clear now!

[2016-01-22 15:44] dustinleblanc opened #834 "PHP Fatal error: Uncaught Error: Access to undeclared static property: Terminus\Request::$blacklist"
Hey folks, filing this issue per request from @joshkoenig:

Here is the stack trace:

[code]

Just an FYI this was on a fresh clone of the cli repo on master after a full composer install and symlink of the terminus script in `/bin`. I'll double check when I get online at home (Im at work now) but I am running Ubuntu 15.10 / 64bit AMD processor / PHP 7 latest.

If I get a chance today I am going t

[2016-01-22 18:00] joshkoenig commented on #834
Yeah, I'd want to start with the "invalid synopsis" warning. I don't have that, and I get proper verbose output if I add `--debug` to my call.

[code]

[2016-01-22 22:16] bwood opened #836 "Sporadic "API Request Error: {msg}" and "Cannot retrieve current Terminus version" info messages"
Minor one:

[code]

[code]

**Workaround**:  If I logout/login the messages disappear. (I did not do a `cli cache-clear`)

[2016-01-22 22:35] bwood commented on #836
As a workaround to [this issue](https://dashboard.pantheon.io/organizations/94a63981-a120-4f67-ae63-11547dee8be1#support/ticket/52347) we commonly run some commands using terminus 0.5.5.  I suspect that this situation is the result of mixing terminus versions.

[2016-01-22 22:51] SaraMcCutcheon commented on #836
This happens whenever the latest saved version number in your cache (at TERMINUS_CACHE_DIR/cache/latest_release) is either missing or at least one week old and Github's API is unreachable. Lately, Github has been having a lot of issues with being unreachable.

We designed this to send these messages to STDERR so as to not interfere with the use of the program and I wasn't aware that it it could be

[2016-01-23 03:04] dustinleblanc commented on #834
@joshkoenig it looks like https://github.com/wp-cli/wp-cli/pull/2330 could be related, so likely it has something to do with PHP7 support. Actually I just comfirmed on my macbook running 5.5 that its clean as a whistle so it's even more damning on PHP7. Perhaps it deserves another issue? It looks like @TeslaDethray already jumped on the above :)

[2016-01-23 18:31] joshkoenig commented on #834
We have not seriously tested on PHP7 yet — that's coming soon — so I would not be surprised. Can you confirm the PHP version of the environment where you're seeing the error?

[2016-01-23 18:36] dustinleblanc commented on #834
Sure

[code]

I like to live dangerously at home :)

[2016-01-25 18:34] QueSaraSera opened #841 "Add testing for PHP 7.0"

[2016-01-25 18:37] SaraMcCutcheon commented on #841
As brought up in #834

[2016-01-25 21:09] loganyott commented on #221
I'll try to find an appropriate place but I found it worthy of noting that I don't think this is in the docs anywhere. I had to find this issue to remember which ENV variables to use. I would be happy to hear that I am wrong though! :D

[2016-01-25 22:29] bwood commented on #836
Thanks for the explanation. The messages are not hindering me.   I was getting some questions from team members using my scripts.   We can live with this.

It sounds like there is no required action from the user when these messages appear.  I will filter them out in my wrapper code.

You can resolve this.

[2016-01-25 22:41] bwood opened #842 "'terminus site deploy' results in "Successfully queued converge_appserver_binding" but then exits != 0"
[code]

[code]

Should "Successfully queued converge_appserver_binding" be an error condition?  The command is exiting with a non-zero exit status (causing my script to halt), but it appears that the command succeeded:

[code]

Also when a workflow is queued, it would be nice if the command returned the workflow ID so that a script can easily find it in `workflow [list|show|watch]` output and trac

[2016-01-25 22:59] bwood commented on #842
Also seeing this in `terminus site backups create`:

[code]

[2016-01-25 23:29] bwood commented on #842
This may be related to file system issues today.  If that's the case, the non-zero exit is correct, but this message is confusing:

[code]

[2016-01-26 16:29] pirog opened #844 "Terminus environment-info returns null values for php/connection mode on "fresh" multidev"
hello!

Running on terminus 0.10.1. Create a new multidev instance and then immediately run

[code]

If you go into your multidev site and switch the connection mode the info gets populated and you can grab the field. Not sure if this is expected behavior or not.

Is it safe to assume the default connection mode value for a new multidev instance is git?

This might also happen on a new site spin u

[2016-01-26 19:01] bensheldon commented on #844
@pirog thanks for the bug report. This is probably a platform issue if the fields are not being populated until you change the connection mode. I will send this over to our platform team.

Internal tracking link: https://sprint.ly/product/27143/item/1138

[2016-01-26 19:06] joshkoenig opened #846 "Don't demand re-login when a machine token is being used"
Currently when I have a machine token, I still face session expiration:

[code]

Even though I no longer need to authenticate:

[code]

It'd be really nice for the DUX if terminus could renew its session automagically with a token.

[2016-01-26 19:21] bensheldon commented on #842
I think this may be a number of issues:
1. Terminus: The error message isn't interpolating properly `[2016-01-25 22:13:21] [info] API Request Error: {msg}`
2. Platform: the Workflow->Task->Reason isn't particularly good. It's not actually queueing anything (workflows should be entirely self-contained and not trigger something else that needs to be tracked separately), instead I think that's just t

[2016-01-26 19:22] bensheldon commented on #842
And I think your assumption is correct that the workflow failure itself is related to a contemporary platform issue.

[2016-01-26 19:24] bensheldon opened #847 "Workflows list "status" should show running/succeeded/failure"
Currently the status column when running `workflows list` and `workflows show` only displays the phase (started/finished) and not the status (succeeded/failed). States should probably be
- running (e.g. null result)
- succeeded
- failed

Reported via #842 842

[2016-01-26 19:25] bensheldon opened #848 "Terminus error messages are not interpolating correctly"
On error, seem to display the placeholder, not the text to be interpolated. e.g. `[2016-01-25 22:13:21] [info] API Request Error: {msg}`

Connects to #842

[2016-01-26 19:29] #834 closed, assigned to TeslaDethray

[2016-01-26 20:16] pirog commented on #844
sure thing!

[2016-01-26 23:10] bwood opened #851 "'terminus backups get' Backup url wrong? Target improvement thoughts."
Version 0.10.1:

[code]

I assume that Backup URL is supposed to be the s3 url for the archive?

When calling this in a script, it would be handy if the target value wasn't single-quoted and if the leading white space was removed.  While we're at it, the capitalization could be consistent with "Backup URL."

A script needs to parse target if it's going to do anything with the backup.  The fact tha

[2016-01-26 23:19] SaraMcCutcheon commented on #851
We removed the "Backup URL" label in #828, which will be in a release made probably tomorrow.

I'm afraid I don't follow. Is your suggestion that we make JSON the default logging format? Is the line that you currently see as being labeled with "Backup URL" coming out on STDERR for you?

[2016-01-26 23:28] #846 closed, assigned to TeslaDethray

[2016-01-26 23:33] #847 closed, assigned to TeslaDethray

[2016-01-27 00:10] #201 closed, assigned to TeslaDethray

[2016-01-27 01:25] joshkoenig commented on #824
This request is largely satisfied by #790 - all we need is a way to get into that flow directly.

[2016-01-27 19:18] bwood commented on #844
This is also true for `terminus site info`. PHP Version has a value when the site is using 5.5, but not when it's using 5.3.

[code]

[2016-01-27 20:09] bwood commented on #851
I wouldn't be so presumptuous as to suggest that. :-) I was only thinking in terms of the output for this particular command, but nevermind.

Yes, but I can continue to do IO redirection.  Also I'll try using terminus "as a library" as was mentioned in on power-users.  I assume that would allow me to call the terminus function that drives this command an then parse the resulting json.  That's be m

[2016-01-27 22:11] ari-gold opened #853 "--format syntax and options unclear"
terminus help includes

[code]

It's not clear that options are:

[code]

[2016-01-27 23:16] #853 closed, assigned to TeslaDethray

[2016-01-28 06:05] kellybell commented on #801
I'm sure I'm just doing it all wrong, but based on the README and doing what it says there (even though the instructions are not very explicit and make assumptions that make it hard for me to follow), I can't get terminus to run. The install is working properly, and I added the command to my bash profile and restart Terminal, but when I try to auth using U/P or token, it says "command not found" (

[2016-01-28 06:10] kellybell commented on #779
+1 on this request. I was just about to write this request up in the power users group, but assumed that I was just dumb and that it was already there somewhere. Ideally, I want to put whatever this command turns out to be into an  "on-login" script that automatically runs every time I open Terminal.

[2016-01-28 06:18] kellybell commented on #824
+1 this feature request

[2016-01-28 06:19] kellybell commented on #788
+1 this feature request

[2016-01-28 06:20] kellybell commented on #732
++1 this feature request!!

[2016-01-28 13:00] webidextrous commented on #801
I still don't have it working either. Same reason.

On Thu, Jan 28, 2016 at 1:05 AM, Kelly Bell notifications@github.com
wrote:

##

Rob Watson
Webidextrous.com http://webidextrous.com/ - Professional web services and
consulting
847.321.0289
LinkedIn http://linkedin.com/in/crobertwatson | Twitter
http://twitter.com/webidextrous | Facebook
http://facebook.com/webidextrous

[2016-01-28 15:53] greg-1-anderson commented on #779
With the recent introduction of machine tokens, automatic updating of your Drush aliases is well within reach.

Traditionally, this is what I have been doing:

[code]

I just run `ta` as needed.  Now, though, it would be feasible to run `ta` from within .bashrc; just run `terminus auth login` with `--machine-token` once.  Nifty.

[2016-01-28 17:48] SaraMcCutcheon commented on #779
@kellybell I tried to get this change in a couple of ways, but it has been stymied by technical considerations. I adapted the command I wrote to do this task into a script using Terminus as a library. If you install pantheon-systems/cli from composer and use this script, you can generate all your aliases at once.
https://github.com/pantheon-systems/cli/blob/master/docs/examples/PantheonAliases.php

[2016-01-28 18:34] kellybell commented on #779
I'm having issues getting terminus to work right now, but I'll try this as
soon as I can. Thanks so much for the tips!

K

On Jan 28, 2016, at 09:48, Sara McCutcheon notifications@github.com wrote:

I tried to get this change in a couple of ways, but it has been stymied by
technical considerations. I adapted the command I wrote to do this task
into a script using Terminus as a library. If you inst

[2016-01-29 00:07] kellybell commented on #801
Well, webidextrous, let's keep in touch then. If you find a fix pls LMK?
Right now I'm still stuck. I'm dying to try the token auth but more
importantly I have a launch deadline for Sunday 2am, and it would be really
nice if I could get Terminus to work. Thanks for opening this issue.

Kelly Bell
Founder and CTO
Gotham City Drupal
917.446.1555

On Jan 28, 2016, at 05:00, Webidextrous.com http://we

[2016-01-29 00:50] webidextrous commented on #801
Try this new release that just came out. I haven't yet tried it. Lmk how it
goes.
https://github.com/pantheon-systems/cli/releases/tag/0.10.2
On Jan 28, 2016 7:07 PM, "Kelly Bell" notifications@github.com wrote:

[2016-01-29 01:50] kellybell commented on #801
Oh! That's the only recent release I've tried. I'd been using a much older
version of terminus (successfully) until I tried installing this latest
one.

Kelly Bell
Founder and CTO
Gotham City Drupal
917.446.1555

On Jan 28, 2016, at 16:50, Webidextrous.com http://webidextrous.com <
notifications@github.com> wrote:

Try this new release that just came out. I haven't yet tried it. Lmk how it
goes.
h

[2016-01-29 19:00] joshkoenig opened #862 "Termins site deploy says "There is nothing to deploy" when the dashboard shows commits ready"
![screen shot 2016-01-29 at 10 59 27 am](https://cloud.githubusercontent.com/assets/143186/12685134/64b47bfa-c677-11e5-9c54-6466b283bc8a.png)

But...

[code]

Feel free to use my blog's test environment as a place to replicate if that helps.

[2016-01-30 03:07] ptmkenny opened #867 "Should the .env file be named .env or sitename.env?"
According to the [documentation](https://pantheon.io/docs/articles/drupal/8/configuration-management/):

I tried creating an env file called mysite.env, but terminus wouldn't pick this up.  When I changed it to .env, it works.  But the documentation refers to a "book-blog.env", which implies that you can add an arbitrary name to the file.  Please clarify.

[2016-01-30 03:18] ptmkenny opened #868 "Terminus "drush cex" appears to hang but in fact you just need to press enter"
I was having trouble running drush cex on my site with Terminus (0.10.2).  This was my first time to export config from Drupal 8 with what is very close to a vanilla install.  The problem is that it would hang halfway through the process (full output shown below):

I tried clearing the caches via the Pantheon dashboard UI but no luck.  Then, when it was "hanging," I pressed the Enter key:

[code]

[2016-01-30 16:33] ehausen commented on #694
Is this implemented now, or still in some dev code? I still don't find any way to clear caches or do anything with multdevs using terminus.

I tried updating terminus using the composer install command on readme

[2016-01-31 00:35] ghost commented on #867
An environment file is ".env" or ".env.php". If you have "book-blog.env", you'll have to copy the content to ".env" before referencing it in PHP. Note: You may create a file for each environment supported by your application. For example, you can create a development environment that will load the .env.development by checking for the presence of the file. However, the production environment always

[2016-01-31 00:39] ghost commented on #867
Recommend closing issue as this is a high-level language question.

[2016-01-31 00:43] ghost opened #869 "No Windows Support"
The Windows implementation via the PHP Phar package for Terminus has yet to be functional. The curl implementation is broken as it unable to see the root certificate for Terminus. Strange how this is not an issue in Unix based systems...

[code]

[2016-01-31 03:01] ptmkenny commented on #867
Thanks!

[2016-01-31 03:01] #867 closed, assigned to nobody

[2016-02-01 20:45] bensheldon opened #871 "Remove client-side validation before `site set-instrument`"
The client-side check is unnecessary; we should send whatever instrument the User provides and allow the API to verify it. This should also allow setting Org Instruments (though the user will also need to add the organization_site_membership too as this does not happen automatically).

CLI code: https://github.com/pantheon-systems/cli/blob/a2f9f1749ac05c9436c3bacf94be529fab98e4bd/php/Terminus/Comm

[2016-02-01 22:04] SaraMcCutcheon commented on #868
@ptmkenny I am able to duplicate this issue, and it is solvable by using this variation:
`t drush "cex -y" --site=mysite --env=dev`
I am also seeing the feed stop before it reaches the prompt. The server is not sending the entirety of the output before it reaches the prompt, which I'm afraid is not fixable on the Terminus level.

[2016-02-01 22:04] #868 closed, assigned to nobody

[2016-02-01 23:00] #871 closed, assigned to TeslaDethray

[2016-02-02 22:40] ttrowell opened #875 "PHP Notice thrown - tput: No value for $TERM and no T specified"
Full output in Case #54264, if needed.

[code]

[2016-02-04 00:12] ari-gold opened #877 "Rename project to "terminus""
## Problem:

Google for "pantheon terminus" and top result is the deprecated project. Reported by Marketing
## Proposed solution:

According to https://github.com/blog/1508-repository-redirects-are-here renaming a repo adds a redirect so:

1) Renaming https://github.com/pantheon-systems/terminus/ to https://github.com/pantheon-systems/terminus-deprecated
and
2) Renaming https://github.com/pantheon

[2016-02-04 00:14] bmackinney commented on #877
+1. Does composer respect the redirects? I imagine it would.

[2016-02-04 00:45] bmackinney commented on #877
It seems not: https://github.com/composer/packagist/issues/496

[2016-02-04 00:55] bensheldon commented on #789
@bwood I just got #792 merged in. Please give it a try.

[2016-02-04 00:55] #789 closed, assigned to bensheldon

[2016-02-04 02:10] awolfey commented on #862
I'm seeing this bug too.

[2016-02-04 18:06] bwood commented on #789
Sweet! Thanks.  I'll let you know.

[2016-02-04 19:51] SaraMcCutcheon commented on #875
This problem is coming from the platform, and not Terminus. Try running the command that is sent to the platform (from the last line of the debug) to see that the notice from `tput` comes through every time.
`ssh -T dev.c0b478b4-f81b-4e0b-8dfa-526f34d63175@appserver.dev.c0b478b4-f81b-4e0b-8dfa-526f34d63175.drush.in -p 2222 -o "AddressFamily inet" 'wp plugin list'`

[2016-02-04 19:54] #875 closed, assigned to nobody

[2016-02-04 22:17] #862 closed, assigned to TeslaDethray

[2016-02-04 23:24] chrisgross commented on #430
I am actually seeing this issue now, and it's only when trying to connect with newly created Pantheon sites. These sites are using Drush 8, so I don't know if that has anything to do with it. I've updated terminus, as well as drush locally to version 8, and still I see this error when connected to the new sites. I can still connect to my old sites just fine, and they are still running Drush 5.

[2016-02-05 18:22] chrisgross commented on #430
It turns out the Drush 8 requires php 5.4 or higher and our site is using 5.3, so disregard this.

[2016-02-06 22:51] ghost opened #883 "Upsteam updates wont deploy"
Hello, I am trying to apply upsteam updates through the command line using: `terminus site deploy --site=*site name* --env=test` when there is definitely an upstream update in test and I get the error:`[2016-02-06 22:46:00] [error] There is nothing to deploy.`

Here is the test environment:

![image](https://cloud.githubusercontent.com/assets/11262748/12869889/5a2ea476-cce9-11e5-8ce2-c30abffb58a3.

[2016-02-08 13:16] hugovk commented on #883
Same for me:

[code]

[code]

[2016-02-08 18:06] ari-gold commented on #877
@bensheldon @TeslaDethray Can we do this today or tomorrow?

[2016-02-08 18:09] bensheldon commented on #877
@ari-gold can you put together a rollout plan that includes a customer notification and any updates to docs or links? That composer link above seems to imply composer won't automatically redirect and folks will probably need to update their scripts if they're manually fetching packages from github.

[2016-02-08 18:47] ghost opened #886 "[error] Cannot find site with the name "0""
When attempting to run `terminus site clone-content --from-env=dev --to-env=test --yes`, I get the following error:

[code]

This command has worked for me in the recent past, but no longer seems to be working.  Any thoughts or suggestions?

[2016-02-08 18:55] bwood commented on #883
I'm guessing that this is an infrastructure issue related to last week's troubles.  I'm upgrading many sites right now and so far I've just seen this problem on one site (and I opened [this support ticket](https://dashboard.pantheon.io/sites/b9c68f4b-d32d-4f99-a2de-6a5a9c197e69#support/ticket/54929)).  I was able to deploy to Test using the dashboard.

In case it's useful here is my debug output:

[2016-02-08 20:18] ari-gold commented on #877
@bensheldon I've referenced PRs to update relevant docs on pantheon.io/docs as well as this README and CHANGELOG. Do you think that covers everything? /cc @bmackinney @TeslaDethray

[2016-02-08 20:34] bmackinney commented on #877
https://packagist.org/packages/pantheon-systems/terminus is marked abandoned already. We should investigate whether that can be reversed. @greg-1-anderson owns that project on packagist.

@bensheldon I think if scripts download `/cli` directly from github, it should respect the redirect to the new/old url, but yes they'll generally want to update scripts. We should also email the power-users list.

[2016-02-08 21:03] bensheldon commented on #877
@bmackinney I can un-abandon the project... oops, I guess I just did.

[2016-02-08 21:19] bensheldon commented on #877
I've renamed the repos:
- pantheon-systems/terminus -> pantheon-systems/terminus-deprecated
- pantheon-systems/cli -> pantheon-systems/terminus

And I've updated the Packagist projects to be either abandoned/redirected, with the proper source being `pantheon-systems/terminus`

![screen shot 2016-02-08 at 1 17 37 pm](https://cloud.githubusercontent.com/assets/47554/12899503/780fc5c8-ce66-11e5-8acb-

[2016-02-08 21:29] greg-1-anderson commented on #877
+1 looks like that will work. Screen shot is out-of-date, though; are the projects set to auto-update in Packagist?  Can github auto-update more than one Packagist package per repository?

[2016-02-08 21:33] bensheldon commented on #877
@greg-1-anderson it seems like the auto-update logic lives in Github, rather than Packagist. We're firing off the github webhook at Packagist, and Packagist must auto-update (one/any?) project that matches the git repo for the webhook. So it's wired up right, we'll just have to see if Packagist will update them appropriately.

[2016-02-08 21:48] joshkoenig opened #889 "Terminus doesn't try to find new sites"
When working with Terminus frequently, the local cache is often a miss. E.g. I just created a site for quicksilver development, but:

[code]

It feels like we should be able to have the option to try and refresh the local cache, or ideally see if just that site is for real and fetch its data if so.

Hitting the api to get a list of the users own sites is (relatively) inexpensive, and if we started

[2016-02-08 21:49] greg-1-anderson commented on #877
Yep, both pantheon-systems/terminus and pantheon-systems/cli are showing the right info, and the "(Not Auto-Updated)" tag shown in the screenshot above has been removed on Packagist, so it seems that all should be fine now.  Folks will get the right thing from Composer if they require pantheon-systems/terminus or pantheon-systems/cli.

[2016-02-08 21:52] ghost commented on #886
I believe I figured out what was happening. I got the terminus commands that I needed to work by explicitly specifying the site (`--site=$SITE`) I wanted to run that command on.

Ex:
`terminus site clone-content —from-env=dev —to-env=test —site=mysite —yes`

The reason I didn't need to do this before might be because I had a list of two sites and I had already setup terminus to know which site I w

[2016-02-09 20:43] SaraMcCutcheon commented on #889
@joshkoenig
How, ideally, would this work? Currently, it works like this:
- Sites list is retrieved only by `sites list`.
- All other commands only access the cached list of sites

So if a site was not found, would we:
- Re-run `sites list`?
- Just gather users' own sites and then iterate through the extant cache to update or add?

Questions:
- How frequently does it occur that a user looking for

[2016-02-09 20:53] SaraMcCutcheon commented on #886
@monkecheese Terminus never selects your site target for you, although certain commands will select your environmental target, if said command is restricted to certain environments. You can set the site with the environment variable `TERMINUS_SITE=<site name>` in the .env file of whichever directory in which you are working to set a single, stable target for your site variable which can be overrid

[2016-02-09 20:55] SaraMcCutcheon commented on #883
Fixed in #879

[2016-02-09 20:55] #883 closed, assigned to nobody

[2016-02-09 21:12] joshkoenig commented on #889
Yes. Simple change that's a no-brainer. We should definitely do that.

Ideally I think we should consider the following changes:
1. In keeping with the above, we should have some kind of visual output or feedback when fetching sites. I notice that sometimes when this is happening and it takes a long time I don't know whether anything is happening or if Terminus is just "hung". Having a little spin

[2016-02-09 21:43] bwood commented on #883
@TeslaDethray quick question: I have one or two VIP sites plagued by this bug.  Upgrading our code to HEAD of terminus is likely to result regressions on my end. If I request that these sites are migrated to other containers might that make deploys work on these sites?  If no is a terminus release likely coming soon?

[2016-02-09 22:33] bwood commented on #889
Big +1. Fetching my site list takes 10 min.

[2016-02-09 23:14] ghost commented on #883
@TeslaDethray I have reinstalled terminus and I'm still having an issue

[2016-02-10 00:22] ghost commented on #886
Hi @TeslaDethray.  I went ahead and created a `.env` file in the root of my project directory and defined `TERMINUS_SITE="mysite"`. It worked as expected without having to pass the site name (`--site=mysite`).  Thanks for that!

With regard to the "Cannot find site with the name 0" error, when I run the command `terminus sites list`, the one site I have is listed in the table.  Running the `termin

[2016-02-10 17:48] bwood commented on #833
The scripts are now using terminus 0.10.2. Over the last two days I ran 12 simultaneous terminus scripts without setting multiple TERMINUS_CACHE_DIRs 3-4 times and I was not able to reproduce this error. I think we can close this for now.

Thanks again for your help.

[2016-02-10 18:36] bwood opened #891 "'terminus site set-service-level' : "personal" and "sandbox" should work. Help should list valid service levels."
_version 0.10.2_

[code]

[code]

So then I inspected the dashboard UI form for service level and devined that Personal=basic and Sandbox=free.

[2016-02-10 18:48] bwood opened #892 "'terminus site set-service-level' should send confirmation email"
_version 0.10.2_
Related to: https://github.com/pantheon-systems/terminus/issues/891

When I change the service level of a site using the dashboard UI. All organization administrators get this email.  Since these changes are essential to balancing our monthly invoices, the confirmation emails are important.

[code]

[2016-02-10 20:11] QueSaraSera opened #893 "Proposal: Replace WP-CLI Dispatcher/Synopsis* with Symfony/Console"
### Background

The Terminus project in its current incarnation relies heavily on code borrowed from WP-CLI, yet not sourced as a package. Over time, the codebase has considerably changed to make it more flexible, robust, and easily testable which has introduced liability in that we now need to  maintain code for many parts of the system which we would not need to if we were to remove this code an

[2016-02-10 20:53] SaraMcCutcheon commented on #891
Good point. While we call them "basic" and "free" respectively, we tell our users that they are called "personal" and "sandbox". I'll make this change right away.

[2016-02-10 21:14] joshkoenig commented on #893
I'm open to this goal. Have heard mixed things from others using Symfony/Console — Drupal Console is a win, but lots of grumbling about weird handling about STDOUT/STDERR, managing lots of stuff as try/catch/exceptions — but have no direct experience.

Changing the syntax from `auth login` to `auth:login` would be a good excuse to restructure and clean up any other commands. Do we have any thought

[2016-02-11 00:24] bwood commented on #789
@bensheldon I got a chance to try this

[code]

Could you please explain `--certificate=<value>` is that supposed to be the path to the file or the actual contents of the certificate?

Assuming path-to-file:

[code]

Assuming content of files:

[code]

[2016-02-11 00:31] #877 closed, assigned to nobody

[2016-02-11 00:43] bensheldon commented on #789
@bwood sorry about the trouble. The docs should read `--certificate=<text of your certificate>` (exactly the same string that you would paste into the web browser UI)... and the same thing for all of the other keys.

I think the Intermediate Certificate error you're receiving is coming from the Platform. Do you get the same result when you use the Pantheon Dashboard in your webbrowser?

[2016-02-11 00:54] SaraMcCutcheon commented on #869
@mitchpash We have many Windows users using Terminus without (this) issue. I could not duplicate it myself. It is strange that you are receiving this error as we have never saved nor used SSL certificates for this.

Due to the place in your log where this message appears, I suspect it has something to do with the initial check to Github for the current version of Terminus. Would you please try run

[2016-02-11 01:29] SaraMcCutcheon commented on #892
Thank you! I'm glad you found this bug. The reason it is happening is because Terminus is still using an old API route to change the service level, but the Dashboard is using the newer workflow which does the same plus other complimentary actions such as generating the notice email. I'm opening a pull request in which I've changed it over to the workflow method.

[2016-02-11 15:01] rvtraveller opened #898 "Feature Request: Add the ability to specify a default site and environment for subsequent commands"
This came up in the FrontendDevelopers Slack (specifically the wordpress channel)..  One of the features many people wish Terminus had was the ability to specify a default `site` and `env` for subsequent commands so they didn't have to continuously include `--site=<site> and --env=<env>` in their commands.  As a workaround right now, people are using bash aliases to alias `terminus` to `terminus -

[2016-02-11 15:53] serundeputy opened #899 "terminus 0.10.2 ; terminus sites create fails."
Cannot cretate new site with terminus `0.10.2`:

[code]

version:

[code]

Installed terminus via git.
Updated git pull origin master
composer install

thanks,
~Geoff

[2016-02-11 17:36] bensheldon commented on #898
You can `export` environment variables to do this, or use a `.env` file in your working directory. The accessible environment variables are listed here: https://github.com/pantheon-systems/terminus/blob/master/.env.example

We should probably document this in the readme though.

[2016-02-11 18:26] bwood commented on #789
Hi @bensheldon,

Here's what I've tried:
1. I manually added cert/interim-cert/key via the dashboard for berkeley-ssl-ip-holder-2.  The data was accepted and the cert works.
2. I tried to replace this data with the exact same data using this command and observed this failure:

[code]

[2016-02-11 18:35] bwood commented on #789
I just tried it without using command substitution and I got the exact same error.  (Pasting all this content and quoting it correctly on the command line is pretty cumbersome.)

[2016-02-11 19:43] #889 closed, assigned to nobody

[2016-02-11 21:01] hengkit opened #902 "Terminus command for adding/removing users in an org."
Please add a command(s) so that terminus can update/create/delete users in orgs. Thank you!

[2016-02-11 22:44] #891 closed, assigned to TeslaDethray

[2016-02-11 23:43] bwood opened #903 "Feature request: 'terminus organizations team' should show user's role"
_version 0.10.2_

It would be quite useful if `terminus organizations team` included a Role column containing the user's role.

As a related bonus this would be great:

[code]

[2016-02-12 00:26] #892 closed, assigned to TeslaDethray

[2016-02-12 14:42] serundeputy commented on #899
Thanks @TeslaDethray

Now I've got new error.
- `git pull origin master`
- `composer update`

[code]

should I file a separate ticket?

thanks,
~Geoff

[2016-02-12 16:29] wmcmillian-coalmarch commented on #836
I've noticed that https://api.github.com/repos/pantheon-systems/cli/releases returns okay when accessed directly via the browser, but when terminus pings it it receives a 401 unauthorized code which fails out and gives the error.

[2016-02-12 16:40] alexdicianu opened #905 "add live tail option for log files"
Currently debugging a site (especially a live one with multiple app servers) is done using SFTP and manually downloading the logs. If you wish to spot something real time, it's quite cumbersome. Adding an option that would allow live tailing of the logs would make life a lot easier. This should mimic the `tail -f some.log` command.

E.g.
- `terminus tail nginx-access.log --site=SITE --env=ENV`
- `

[2016-02-12 18:12] rachelwhitton opened #906 "site delete-env undefined input notice"
## Description

_Observed when running `terminus site delete-env` without setting `--env`_
If more than one Multidev environment exists, input is prompted for the desired environment resulting in successful deletion. When a site has a single Multidev environment, prompt is not available and the environment is seemingly undefined:

[code]
### terminus cli info

[code]

[2016-02-12 19:23] rachelwhitton opened #907 "site delete-branch prompt"
## Description

When running `terminus site delete-branch` without setting `--branch`, prompt selection menu does not include branches without an associated Multidev Environment.

Should all branches included within the prompt selection menu?

[2016-02-12 19:23] bensheldon commented on #905
This feature would need to be implemented at the platform level. Because of Pantheon's distributed nature, logs for a single environment may exist on multiple servers and the logic for coalescing them should live within the platform.

[2016-02-12 19:23] #905 closed, assigned to nobody

[2016-02-12 19:43] SaraMcCutcheon commented on #903
You're right. I've added it to #904, which will also be renaming the command to `terminus organizations team list`.

[2016-02-12 20:41] #902 closed, assigned to TeslaDethray

[2016-02-12 21:02] SaraMcCutcheon commented on #906
I can't make this error appear when I have a single multidev environment:
![image](https://cloud.githubusercontent.com/assets/868204/13020166/b41a1a12-d188-11e5-9bbc-649c87bd319b.png)

But I do get an error when I don't have any multidev environments.
![image](https://cloud.githubusercontent.com/assets/868204/13020187/c8aece50-d188-11e5-8780-5b7bd7428e08.png)

I'll be opening a PR to fix the error

[2016-02-12 21:31] #842 closed, assigned to nobody

[2016-02-12 22:11] pirog opened #910 "Some pantheon sites seem to return a null value for `site connection-info`"
yoyo,

We are getting this reported by a decent subset of Kalabox users. On some sites `site connection-info` returns the following

[code]

Presumably the platform doesn't have connection-info populated for every site and terminus is not handling a null result?

Is there any action we can take before asking for the connection-info that would get the platform to populate or is there something else

[2016-02-12 22:19] SaraMcCutcheon commented on #907
You're right - it's always just listed multidev environments instead of branches. I fixed it.

[2016-02-12 22:20] #898 closed, assigned to nobody

[2016-02-12 22:25] SaraMcCutcheon commented on #910
@pirog I can't recreate this error. The Environment#connectionInfo() function just about only gets things from itself and a Site instance which it is added via constructor injection. What is the name of one of the sites which has this error? May I please temporarily add myself to the team on it so that I can see the error in action?

[2016-02-12 22:26] #903 closed, assigned to nobody

[2016-02-12 22:30] pirog commented on #910
@TeslaDethray yeah def!

We weren't able to replicate this on any kalamuna sites either. We've only gotten it from end users.

sara at pantheon?

[2016-02-12 22:37] SaraMcCutcheon commented on #910
@pirog sara at getpantheon.com, please. Thank you very much! I'm hoping to make a release today and it'd be great to fix this one for you before it happens.

[2016-02-12 22:38] pirog commented on #910
we also think that would be great!

just added you.

going to try this out on latest terminus from master as well.

[2016-02-12 22:46] pirog commented on #910
Yeah getting the same error but different line on master @TeslaDethray.

Random aside: when are you guys deprecating user/pass login?

[2016-02-12 22:55] SaraMcCutcheon commented on #910
Thanks, @pirog! I got the issue fixed and will make a PR for it ASAP.

I'm not actually sure when we're deprecating the user/pass login, but the work to do so is not currently even scheduled to be done.

[2016-02-12 22:59] #906 closed, assigned to TeslaDethray

[2016-02-12 23:01] pirog commented on #910
Double awesome!

Thanks so much.

[2016-02-12 23:17] #869 closed, assigned to nobody

[2016-02-12 23:17] #703 closed, assigned to nobody

[2016-02-12 23:22] #907 closed, assigned to TeslaDethray

[2016-02-12 23:34] #910 closed, assigned to TeslaDethray

[2016-02-13 04:26] pirog opened #915 "terminus commands very slow to return data when you have a lot of sites"
Here are some results running `site connection-info` with two different accounts. This also manifests with other commands.

With an account with two sites

[code]

With an account with 50+ sites

[code]

[2016-02-13 13:27] labboy0276 commented on #915
+1 on this issue.

[2016-02-13 14:03] derimagia opened #916 "Bash Completion Issues"
I'm currently adding terminus to homebrew-php and I wanted to see if I could get bash completion to work. I usually use ZSH so I had to drop down to a bash shell and include the completion file, but when I did I'm getting some weird states from the completion. Is it currently working correctly?

**Example 1:**

I type "terminus" and then "<tab>"

**Result:**

[code]

**Example 2:**

I type "termin

[2016-02-14 13:38] dustinleblanc commented on #893
I think Symfony Console is a really solid base for just about any PHP command-line tool. Its the base for every other system I use, from Robo, to Artisan, to Drupal Console. The colon command syntax is really second nature at this point after using all of those projects. I think it _might_ make contributing easier but maybe Im wrong? The sheer usage statistics differences between the two base proj

[2016-02-14 14:07] dustinleblanc opened #917 "Outputter not defined in CompositeCommand"
Ran across this error:

[code]

Outputter is not defined.

[2016-02-14 14:13] dustinleblanc commented on #917
btw this happened when running `terminus machine-tokens` if anyone is looking to reproduce

[2016-02-14 14:21] dustinleblanc commented on #824
FYI used `terminus auth login` this am and got a nicely constructed dashboard link that got me a token in a jiffy so I could authorize my home machine. Quite nice!

[2016-02-14 14:24] dustinleblanc commented on #684
If I were to pick one data structure to support I would pick JSON. The less supported formatters the simpler it is to support.

[2016-02-14 14:27] dustinleblanc commented on #434
This would be sweet since it seems in recent months I can no longer get my trusty old `drush -r . rsync @pantheon-site:%files @self:%files -v --strict=0 --seven-other-switches=on` to work like it used to.

[2016-02-16 19:45] SaraMcCutcheon commented on #779
Addressed by the all-aliases Terminus plugin (https://github.com/pantheon-systems/all-aliases-plugin), closing issue.

[2016-02-16 19:45] #779 closed, assigned to nobody

[2016-02-16 19:48] bwood opened #920 "Does 'terminus site team change-role' require that the "change management" feature be enabled on the site organization?"
_version 0.10.3_

[code]

Did this fail because "change management" is not enabled on the "UC Berkeley - Testing" organization to which this site belongs?

If that's the case the error message could be improved to explain the issue.

[2016-02-16 19:51] bwood opened #921 "'terminus help site team' Help should list possible role values"
_version 0.10.3_

Help should list possible role values for use with `change-role`.

[code]

[2016-02-16 19:58] SaraMcCutcheon commented on #920
Yes, that is the reason why. Will add info to message.

[2016-02-16 20:06] bwood opened #922 "'terminus help site set-owner' Help could be improved"
_version 0.10.3_

How is `terminus site set-owner` different from `terminus site team change-role --role=owner`? (Assuming that `--role=owner` is a valid option -- see https://github.com/pantheon-systems/terminus/issues/921). ...or maybe set-owner sets the _organization_ that owns the site...?

Our organization is invoiced monthly for sites.  We have a billing instrument that is not associated wit

[2016-02-16 20:14] bwood opened #923 "Feature request 'terminus site team list' should show the user's role on the site"
_version 0.10.3_

It would be nice if this showed the "user in charge" as well as the roles of other team members.  If "change management" is not enable on the owning organization, it would be _great_ if "user in charge" was still indicated.

[code]

[2016-02-16 20:24] bwood commented on #920
Thanks for the explanation.

Change management is disabled on our organization because by default it permits standard organization members to do things that don't fit with our model.  We would really benefit from a terminus command that allows us to change the "user in charge" on a site.  Is this flexibility not possible in the current terminus design?

[2016-02-16 20:25] bwood commented on #922
See https://github.com/pantheon-systems/terminus/issues/920#issuecomment-184862265

[2016-02-16 20:44] SaraMcCutcheon commented on #915
The application is slow because the API it accesses to gather site data is slow. When you run a command on a site and you have not previously generated the cache of all sites your user can access, the application must generate that complete list before operating in any way on that site. Unfortunately, the API automatically looks up an enormous number of records for each site, making it take a very

[2016-02-16 20:44] #915 closed, assigned to nobody

[2016-02-16 20:46] SaraMcCutcheon commented on #447
Same issue as #915

[2016-02-16 20:46] #447 closed, assigned to nobody

[2016-02-16 20:46] SaraMcCutcheon commented on #594
Same as #915

[2016-02-16 20:46] #594 closed, assigned to nobody

[2016-02-16 20:48] pirog commented on #915
Kind of figured as much but thought i'd open this anyway.

I think we can do some stuff on the kalabox side to get some of the cache to persist better.

[2016-02-16 20:54] SaraMcCutcheon commented on #886
@monkecheese I believe that I found and fixed this bug when adding another feature. The issue looks to be that the InputHelper menu function automatically selects the only choice available when there is only one, but I had made the mistake of assuming the index of that only option would be `0`. I changed the helper function to always have the first item's index instead of just 0.

[2016-02-16 20:54] #886 closed, assigned to nobody

[2016-02-16 20:58] serundeputy commented on #899
@TeslaDethray can we re-open this?

[2016-02-16 21:11] SaraMcCutcheon commented on #899
@serundeputy Certainly, we can. I'm not sure where this error is coming from, however. Line 614 is part of a new function, and now the only place where log() is being called is where it is a function of a descendant of a constructor-injected dependency.

[2016-02-16 22:52] SaraMcCutcheon commented on #922
You cannot set an organization as a site owner with `site set-owner`, only users. There is no "owner" role for team and organizational members. Owners are set to the role of "admin", "team_member", or "developer".

I changed the parameter name from set to member. PR is forthcoming.

[2016-02-16 23:16] SaraMcCutcheon commented on #851
Rereading, I don't understand why I didn't understand your question in the first place. My apologies. The reason why the command didn't yield an S3 URL is because you included the `--to=<dir>` parameter, which instead downloads it to the indicated directory.

I can't make my backup URL appear in STDERR unless I change the code to target it instead of STDOUT, however.

[2016-02-16 23:16] #851 closed, assigned to nobody

[2016-02-16 23:23] SaraMcCutcheon commented on #356
Done in #857

[2016-02-16 23:23] #356 closed, assigned to nobody

[2016-02-16 23:59] SaraMcCutcheon commented on #498
@fyaconiello Nesting commands in this fashion won't work in Terminus. Reason being is that the portion between $() is executed prior to the outer command even being seen by Terminus, so it isn't available to the app at all. You can run this command like this:
`terminus wp "post delete $(terminus wp 'post list --post_type=post --format=ids' --site=mysite --env=myenv)" --site=mysite --env=myenv`
You

[2016-02-16 23:59] #498 closed, assigned to nobody

[2016-02-17 00:26] SaraMcCutcheon commented on #655
@bwood I think I've figured out why this is happening. Tell me, are these two sites derived from non-standard upstreams?

[2016-02-17 00:27] #801 closed, assigned to nobody

[2016-02-17 00:28] #833 closed, assigned to nobody

[2016-02-17 00:43] bwood commented on #655
Yes.   They are managed by our custom upstream:

[code]

[2016-02-17 00:55] SaraMcCutcheon commented on #655
Ah, that's it then! The code in the API sets the value for php_version explicitly, based on which upstream it is using. This makes it so that any custom upstream will not populate this field, and because it is missing, Terminus sets the field to an automatic value of `null`.

I've submitted an issue on in the API repository to fix it:
https://github.com/pantheon-systems/titan-mt/issues/14263

[2016-02-17 01:26] westonruter commented on #235
For WordPress, this should be available via WP-CLI since you can export the DB to stdout. However, it seems `db` is not allowed:

[code]

This error message doesn't exactly make sense either :smile:

[2016-02-17 09:06] stephenpurkiss opened #926 "PHP Deprecated: Non-static method Terminus::get_logger() should not be called statically"
Hi!

I installed terminus thus:

`composer require pantheon-systems/terminus`

All is working, however am getting the following errors, similar to issue https://github.com/pantheon-systems/terminus/issues/179

Still haven't extracted myself out of OSX yet so am on El Capitan 10.11.3, php deets below:

[code]

[2016-02-17 12:49] UTANdev opened #927 ""PHP Strict standards: Only variables should be passed by reference" in Environment.php"
After updating Terminus to 10.0.3, waking a site generated two PHP warnings:

[code]

[2016-02-17 18:52] SaraMcCutcheon commented on #926
@stevepurkiss: This is a very out-of-date copy of Terminus. The current version is 0.10.3. Many of the referenced functions were renamed months ago (e.g. class-terminus-command.php), and the class it's stating it has an error with does not exist at all anymore. I'm certain that if you update the code to its latest version, that the issues you've experienced will clear right up.

[2016-02-17 18:52] #926 closed, assigned to nobody

[2016-02-17 18:56] stephenpurkiss commented on #926
hmm... all I did to install was "composer require pantheon-systems/terminus". I've just done a "composer global update" but it only found an update for drush.

[2016-02-17 18:57] stephenpurkiss commented on #926
...also, wow - how fast do you close stuff? "I'm certain that if you do X" is not really a nice closing comment IMO.

[2016-02-17 18:57] serundeputy commented on #899
@TeslaDethray here is the latest;
- git pull origin master
- composer update

[code]

`terminus sites create output`

[code]

thanks for your time!
~Geoff

[2016-02-17 21:24] #920 closed, assigned to nobody

[2016-02-17 21:24] #921 closed, assigned to nobody

[2016-02-17 21:24] #922 closed, assigned to nobody

[2016-02-17 21:24] #923 closed, assigned to nobody

[2016-02-17 22:23] #927 closed, assigned to TeslaDethray

[2016-02-17 22:48] bensheldon opened #930 "Terminus conflicts with Drupal Console's requirements for symfony/finder"
Reported via power-users mailing list.

[code]

[2016-02-17 22:54] greg-1-anderson commented on #930
Drupal Console uses the same version that Drupal 8 does (2.7.*).

Robo uses "symfony/finder": "~2.5|~3.0".

I was doing some experiments to see what problems would happen if I mixed-and-matched Symfony 2 and 3 components.  I put in one component at 2.7.*, and expected everything to go down to 2.x -- but it didn't. Seems you can mix 2 and 3 with no problem.

I would recommend using "symfony/finder"

[2016-02-17 22:56] #848 closed, assigned to TeslaDethray

[2016-02-17 22:57] #917 closed, assigned to TeslaDethray

[2016-02-18 00:37] #930 closed, assigned to nobody

[2016-02-18 01:01] bwood opened #934 "Terminus docs say to use 'new terminus();' but the terminus class has been removed."
I was looking at refactoring my code to use terminus as a library. [Terminus.md](https://github.com/pantheon-systems/terminus/blob/master/docs/Terminus.md) and the two examples all instantiate the Terminus class which was removed about a week ago it appears.  What's the preferred way to instantiate terminus now?  If I simply remove `new Terminus()` from [getHostnames.php](https://raw.githubusercon

[2016-02-18 01:12] #655 closed, assigned to nobody

[2016-02-18 01:12] #844 closed, assigned to nobody

[2016-02-18 01:29] #788 closed, assigned to TeslaDethray

[2016-02-18 13:08] hugovk commented on #883
This is now working for me with version 0.10.4. Thanks!

[2016-02-18 15:30] ghost commented on #883
Yes, I noticed after 0.10.3 that it was working again. Thanks!

[2016-02-18 17:58] SaraMcCutcheon commented on #934
Thank you for pointing this out - it was completely overlooked. I will make this work again and will add some Behat tests to test the example scripts, too.

[2016-02-18 18:09] bwood commented on #934
Excellent.  I'm excited to refactor with terminus as a library.  I'm also looking at how I can leverage phpVCR to test my console application.

[2016-02-19 20:50] SaraMcCutcheon commented on #899
@serundeputy This appears to show the platform failing and failing to return an error. I've got a few questions about it: What is the output when you add `--debug` to the command? Does this happen every single time? Sometimes I can't create a site at peak hours, although I usually get an unhelpful error message like this when that happens:

[code]

^^That would indicate that the site was created,

[2016-02-19 21:38] serundeputy commented on #899
This worked: `terminus sites create --site=kula-ed-pure --label="KulaEd Pure" --upstream="Drupal 7"`

This failed: `terminus sites create`

[code]

and here is `workflows` after failure:

[code]

then this worked: `terminus sites create --site=mybd --label="My Bd" --upstream="Backdrop"`

So, I don't know if the failures are specific to running the command interactively versus specifying the parame

[2016-02-19 22:15] mikemcguire commented on #155
I guess im still confused on this? From just indicates you want to deploy content as well (files and db?) not just code? If so, I'm really glad this command is erroring out on my because I included --from=dev and --from=test which are way behind my live (thank god for backups too)

[2016-02-19 22:35] mikemcguire opened #938 "Undefined Variables and diffstat method is a member of a non existent method"
Ok so I'll give you a little back story on what Im trying to accomplish.
I am currently setting up or CI pipeline via Jenkins. I have a build step that merges our repository on bit bucket with the pantheon git repo and then pushes it up. After that I login via terminus and want to automatically push my code through dev/test/live

At first I had to figure out that the --from flag has nothing to do

[2016-02-19 23:03] mikemcguire commented on #938
I've submitted a PR for this. If we can get a fix in soon, that would be awesome.
https://github.com/pantheon-systems/terminus/pull/939
 Also still curious if you would have recommendations on how to push code through the environments.

[2016-02-19 23:44] serundeputy commented on #899
@TeslaDethray

w/ `--debug`:

[code]

thanks,
~Geoff

[2016-02-20 00:59] SaraMcCutcheon commented on #938
Closed by #939

[2016-02-20 00:59] #938 closed, assigned to nobody

[2016-02-20 01:01] SaraMcCutcheon commented on #938
@mikemcguire Which documentation are you looking at? I'm afraid we have a few outdated pieces scattered about in different places and I'd like to make sure that the stuff you were looking at gets in ship-shape.

[2016-02-22 21:40] bwood opened #942 "Workflow UUID from 'workflow watch' not found by other workflow commands"
_version: 0.10.4_

I terminal #1 I do {{terminus workflows watch --site=library-bindery-ob}}

In another terminal I do `drush cc all` on the site:

[code]

About 8 seconds later in the first window I see:

[code]

Now I try to find that workflow UUID with the other workflow commands and none of them know about it:

[code]

[code]

[code]