[2016-02-22 22:20] bwood opened #943 "Is it possible to monitor workflows programmatically?"
_version 0.10.4_

**Motivation**

One of our scripts does `drush cache-clear` followed by `drush features-list`.  In the last month or two we started seening this error on the second command about 40% of the time:

[code]

`drush features-list` will work if you wait 3 minutes and try again.  This leads me to believe that the problem is that the site has not fully finished the `drush cache-clear` e

[2016-02-22 23:41] #656 closed, assigned to TeslaDethray

[2016-02-23 01:53] chrisoconnor001 opened #946 ""clone-content" command not documented"
I recently had a problem using the `terminus site clone-env` command & was instructed to instead use the `terminus site clone-content` one instead. That worked like a charm, but it troubles me that it's not in the list of commands:

https://github.com/pantheon-systems/terminus/wiki/Available-Commands

Maybe tack this one on as well?

[2016-02-23 02:39] dalin- commented on #746
Here's a script that I've been using for those sites where sql-sync-pipe inexplicably doesn't work:

[terminus-db-dump.txt](https://github.com/pantheon-systems/terminus/files/141834/terminus-db-dump.txt)

[2016-02-23 18:17] SaraMcCutcheon commented on #946
@chrisoconnor001 I updated this document will all current commands. It was quite outdated. Thank you for bringing this to my attention.

[2016-02-23 18:22] #946 closed, assigned to TeslaDethray

[2016-02-23 19:23] SaraMcCutcheon commented on #942
@bwood When running `drush cc all`, the platform initializes the `ban_varnish_routes` workflow, which has a very short TTL (a useful misnomer here), meaning that `workflow list` will show it and `workflow show` will detail it only for a moment or two after it is run. As I understand, `drush cc` is a pared-down version of and does not actually clear every cache like `terminus site clear-cache` does

[2016-02-23 21:46] bwood commented on #942
I was ignorant of `terminus site clear-cache` -- I only noticed it yesterday.  I will use this from now on.

When I try the above commands to find more info about my `terminus site clear-cache` workflow, only terminus log returns nothing.

[code]

[code]

`terminus workflows [show|list]` both work.  Thanks for the info. I don't need anything more here. I'll let you decide if `workflows log` needs

[2016-02-23 22:25] Greg-Boggs opened #948 "Improve Multidev support for content-clone"
I'd love to be able to write a script to rebuild a multidev. To do that, I need to be able to clone content from production into a multidev. I could pull the database locally and import it again, but that's very slow and error prone.

In the latest release of terminus, when I run terminus site content-clone, the environments list doesn't actually check the list of environments and instead only dis

[2016-02-23 23:50] SaraMcCutcheon commented on #943
I'm afraid that it wouldn't do to have commands return workflow UUIDs. Some of our users have implementations of Terminus which would break if every workflow were to start outputting this data. If you want to be able to extract the ID of the last workflow, `terminus workflows show --latest-with-logs` can provide it.

I've opened two PRs from this issue - one changing the logger to permit using a n

[2016-02-23 23:50] #942 closed, assigned to nobody

[2016-02-24 00:00] SaraMcCutcheon commented on #948
@Greg-Boggs Thanks for the report! I have a PR in for the fix for this bug. While it awaits review, you can still select any environment by using the `--from-env=<env name>` and `--to-env=<env_name>` parameters to pass in the correct environments.

[2016-02-24 00:18] SaraMcCutcheon commented on #943
I've closed the PR to address the workflow start/finish times because it conflicts with its parent logger and PSR-3.

[2016-02-24 17:44] nstielau opened #951 "Terminus should not allow site creation with blank site names"
We're seeing a number of failed site spinups, failing because they do not have a name.  We're going to add server-side validation, but it could be a better UX to have some basic client side validation in terminus.

cc @bensheldon

[2016-02-24 19:09] ari-gold commented on #844
Hey @pirog. A platform fix (not a Terminus fix) went out so you should now get good values when running `connection-info` on a fresh Multidev. Can you confirm it looks good?

[2016-02-25 06:34] davidneedham opened #955 "terminus drush dl in multi-dev results in no changes to the environment"
Steps to repoduce:
1. Create a new multi-dev environment:
  `terminus site create-env --site=foo --from-env=live --to-env=testing`
2. Change mode to SFTP:
  `terminus site set-connection-mode --site=foo --env=testing --mode=sftp`
3. Download a module:
  `terminus drush "dl modulename" --site=foo --env=testing`

From this point, I'd expect to have code to commit in the newly created testing envonrm

[2016-02-25 18:16] SaraMcCutcheon commented on #943
I instead changed the `workflows watch` output to include the start and finish times.

[2016-02-25 18:16] #943 closed, assigned to TeslaDethray

[2016-02-25 18:28] SaraMcCutcheon commented on #955
I just followed these steps to download CKEditor to a new multidev environment named "testing" but could not reach the same result.

Is it possible that your live and dev environments have diverged? I see that you're duplicating live - not dev - which introduces an extra variable into this experiment. Does the same happen if you clone testing from dev instead of live? If so, may I ask your site's

[2016-02-25 18:32] bwood commented on #943
Thanks!

[2016-02-25 18:57] davidneedham commented on #955
That's a great observation. I went through these steps again using dev instead of live, and you're absolutely right. It does work as expected when duplicating dev.

The difference between Dev and Live is the recent update to Drupal core, and another module that I added to Dev to test this scenario outside of multi-dev. My expectation was that creating a new environment from Live would use the new

[2016-02-25 21:07] wmcmillian-coalmarch commented on #836
Ohhh... with 0.10.4 you can now see the actual error message which says that the rate limit has been reached. Perhaps, as a feature request, you could store the current version as a file and ping the raw file on github rather than using the github api.

[2016-02-26 06:19] davidneedham commented on #955
I was able to recreate my problem, but I don't really know why. I'll post my code and the output below. Let me know if there's anything else I can do to help debug.

**In a file named autopilot.sh:**

[code]

**The result:**

[code]

[2016-02-26 11:00] damianopetrungaro opened #956 "terminus site set-php-version Not working"
Isn't possible to update PHP version

[2016-02-26 16:33] brightbold commented on #956
Same problem. I get the following error: `[error] 'site set-php-version' is not a registered command. See 'terminus help'.
    cmd: 'site set-php-version'`

Terminus help is no help, offering no information on set-php-version.

Can you tell us what we're doing wrong?

[2016-02-26 17:38] SaraMcCutcheon commented on #956
@damianopetrungaro @brightbold This addition has not been put into a release yet. I will be cutting one within an hour. My apologies for the trouble.

[2016-02-26 18:07] QueSaraSera opened #957 "New Feature: `site generate-screenshot`"
`terminus site generate-screenshot --site=<site>`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.site.api.inc#L251-L261

[2016-02-26 18:10] QueSaraSera opened #958 "New Feature: `site events`"
`terminus site events --site=<site> --env=<env> --limit=<int>`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.site.api.inc#L278-L288

[2016-02-26 18:12] QueSaraSera opened #959 "New Feature: `site notifications`"
`terminus site notifications --site=<site>`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.site.api.inc#L478-L487

[2016-02-26 18:13] QueSaraSera opened #960 "New Feature: `site jobs`"
`terminus site jobs --site=<site>`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.site.api.inc#L500-L509

[2016-02-26 18:13] SaraMcCutcheon commented on #960
This may be obsolete already.

[2016-02-26 18:19] #948 closed, assigned to TeslaDethray

[2016-02-26 18:21] bensheldon commented on #959
This is a deprecated platform api.

[2016-02-26 18:21] #959 closed, assigned to nobody

[2016-02-26 18:21] bensheldon commented on #960
This is a deprecated platform api.

[2016-02-26 18:21] #960 closed, assigned to nobody

[2016-02-26 18:21] bensheldon commented on #958
This is a deprecated platform api.

[2016-02-26 18:21] #958 closed, assigned to nobody

[2016-02-26 18:22] bensheldon commented on #957
This requires Product review as to whether this functionality should be exposed.

[2016-02-26 18:49] QueSaraSera opened #961 "New Feature: `user set-profile`"
`terminus user set-profile --attribute=<attribute> --value=<value>`
I'll have to do a little poking around to find out if we can just do it with `--<attribute>=<value>`.

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L69-L80

[2016-02-26 18:51] SaraMcCutcheon commented on #961
There is also a function to set email address which I think we should just roll into this function's logic, despite the fact that it's not actually in the profile.

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L137-L148

[2016-02-26 18:51] SaraMcCutcheon commented on #961
There is also a function to set one's password, but I don't think we should integrate this at all.

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L82-L93

[2016-02-26 18:55] QueSaraSera opened #962 "New Feature: `user get-profile`"
`terminus user get-profile --attribute=<attribute>`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L57-L67

[2016-02-26 18:58] SaraMcCutcheon commented on #962
There is also functionality to retrieve the email of the user. I think we should roll it into the logic of this command instead of creating extra commands.

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L95-L119

[2016-02-26 18:59] bensheldon commented on #961
I'm not sure what valid editable profile fields are. So we should get clarification on that (assuming this command is actually requested).

[2016-02-26 19:09] QueSaraSera opened #963 "New Feature: `user delete`"
`terminus user delete`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L150-L160

[2016-02-26 19:09] SaraMcCutcheon commented on #963
This one's probably a bad idea, but it's here for completeness.

[2016-02-26 19:15] QueSaraSera opened #964 "New Feature: `user ssh-key <add|delete|list|validate>`"
`terminus ssh-key add --key=<key>`

[code]

`terminus ssh-key delete --fingerprint=<fingerprint>`
`terminus ssh-key delete --all`

[code]

`terminus ssh-key list`

[code]

`terminus ssh-key validate --key=<key>`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L162-L223

[2016-02-26 19:17] QueSaraSera opened #965 "New Feature: `sites list/show --owned`"
We don't currently have a way of listing the sites your user _owns_. I would like to add it as a flag on the existing, well-used command.
`terminus sites list --owned`
`terminus sites show --owned`

[code]

https://github.com/pantheon-systems/terminus-deprecated/blob/master/terminus.user.api.inc#L238-L248

[2016-02-26 19:22] #951 closed, assigned to TeslaDethray

[2016-02-26 19:39] SaraMcCutcheon commented on #956
Here's the new release. If you're using Composer, you may need to update your version number and then use `composer update`.

[2016-02-26 19:39] #956 closed, assigned to TeslaDethray

[2016-02-27 13:29] brightbold commented on #956
Thanks! That works.

[2016-02-27 22:25] cheyennejack commented on #414
+1

[2016-02-27 23:55] netgenius commented on #779
From a  customer perspective, it's a PITA that the _Download Drush aliases_ link on the my _Dashboard_ page does not include sites which I have access to via _Organizations_. I don't use _Terminus_ yet, not really sure if I want to. I will probably build the alias files manually. Please come up with a better solution, i.e. make _Download Drush aliases_ do what customers expect it to do.

[2016-02-29 21:01] ossobuffo commented on #934
It seems like there has been backward progress in allowing Terminus to be used as a library. With the removal of `Terminus\Auth`, the following convoluted code is necessary in order to log in with a username/password:

[code]

Surely there's some simpler way of doing this? It looks like the whole doc directory needs some love.

[2016-03-01 00:46] pirog commented on #844
@ari-gold how great!

havent had a chance to try this out yet but as soon as i do ill ping you guys back

[2016-03-01 16:00] uberhacker opened #968 "terminus sites aliases --print not working"
As of 0.10.5, I can no longer print my site aliases.

[code]

[2016-03-01 17:18] ossobuffo opened #969 "Terminus site commands time out when org has many sites"
Using git latest, as of this morning. My org has about 1000 sites.

[code]

I get the same result when I use the site UUID instead of the site name.

Using the `--debug` flag shows that many paged calls are being made to `https://dashboard.pantheon.io:443/api/users/<user_id>/memberships/sites`. Is it really necessary to fetch all my site memberships in order to perform an action on a single known

[2016-03-01 17:23] ossobuffo commented on #969
I just finished a successful run of the above command, which returned one row. It took 10m29.999s to run.

[2016-03-01 19:02] grok commented on #957
+1 for this Feature Request

We have 15+ properties right now, all of them will probably change their design this year. Some of them currently just show a Unicorn.

Being able to regenerate the image or add a custom image would be nice.

[2016-03-01 20:46] jackfoust commented on #957
I would LOVE this! Too many unicorns!

[2016-03-01 22:34] bensheldon commented on #957
Please open a support ticket for broken screenshot issues. Screenshots are generated every time you deploy new code though edge-case site configurations can prevent our screenshotter service from working.

Implementing this feature in terminus wouldn't cause a non-working screenshot to start working; you'd just be able to on-demand generate a new not-working screenshot.... which probably isn't wha

[2016-03-01 23:37] kellybell commented on #779
That plugin has an unfixed known issue, which is resolved here:
https://github.com/jcowher/all-aliases-plugin

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Sat, Feb 27, 2016 at 3:55 PM, Andy Inman notifications@github.com
wrote:

[2016-03-02 02:47] jackfoust commented on #957
@bensheldon It all makes a little bit of sense now! I'm in SFTP mode a lot and only notice screenshot changes when I merge security updates from drops 7!

[2016-03-02 17:33] ossobuffo opened #970 "FileCache fails when env $HOME is not defined"
I am trying to use Terminus as a library, running in an Apache process. Apache is running as user `_www`. If I run `phpinfo()` as `_www`, I see that the `HOME` env variable is not defined (and, for the record, neither is `HOMEDRIVE`, `HOMEPATH` or `TERMINUS_CACHE_DIR`).

I get failure when trying to create the cache dir, because it is trying to create it as `//.terminus/cache`.

As a workaround, I

[2016-03-02 18:54] SaraMcCutcheon commented on #968
I am still able to print my aliases.
![image](https://cloud.githubusercontent.com/assets/868204/13471311/da7c801a-e064-11e5-9fd8-b023bb254e1f.png)
(`to` is aliased to `TEMRINUS_HOST=onebox ~/Pantheon/terminus/bin/terminus`, which points me at my testing version of the platform.)

Would you please reply with the output when you run `terminus cli info` and `terminus cli version` so I can continue to

[2016-03-02 18:58] SaraMcCutcheon commented on #970
This issue stems from the same source as #934. I will condense these bugs.

[2016-03-02 18:58] #970 closed, assigned to nobody

[2016-03-02 18:59] SaraMcCutcheon commented on #934
Via @ossobuffo in #970:

[2016-03-02 18:59] ossobuffo commented on #970
Excellent, thanks.

[2016-03-02 19:31] uberhacker commented on #968
Thanks for the feedback @TeslaDethray. See below:

[code]

[2016-03-02 21:42] SaraMcCutcheon commented on #969
We do need to run `users/<user_id>/memberships/sites` because we cannot select sites by name, only UUID. The first step Terminus takes in nearly every command is to create a cache of all sites your user can access if a cache is not already present. Although any command taking a site parameter will be able to start the creation of the cache of sites, only a small number can destroy or update it. On

[2016-03-02 21:42] #969 closed, assigned to nobody

[2016-03-02 21:44] ossobuffo commented on #969
If I supply a UUID instead of a site name, is there a way to bypass cache creation?

[2016-03-02 21:50] SaraMcCutcheon commented on #934
@ossobuffo You're right. I think I've looked at Auth (AuthHelper) the wrong way. It should be its own model, not a helper at all. I'll make this change as part of fixing this.

[2016-03-02 22:38] ronan commented on #934
@bwood: This is tangential to your original question, but Terminus now supports external plugins. It may be simpler to refactor your script as a plugin. You can then define a new Terminus command and take advantage of all of the input handling, authentication and dependency injection of the Terminus runner and possibly insulate your code a bit from these sort of changes.

There's some documentatio

[2016-03-02 23:11] bwood commented on #934
@ronan: Thanks.

Currently we have separate scripts like `new-site.php` (create container with our upstream, do UC Berkeley-specific org stuff, install our distribution, set up 3rd-party SMTP, configure stuff...) and `apply-updates.php` (take backup in dev, features list/diff before applying updates, apply upstream updates, features list/diff after applying updates...deploy to test...deploy to liv

[2016-03-03 15:53] ronan commented on #934
@bwood It sounds like the tooling around your scripts is a little more advanced than what the Terminus runner provides.  A library version of Terminus would probably be the best for your plans. We certainly want Terminus to be usable in that way but with the churn around the upcoming 1.0 release I'm not sure how stable an interface we can offer in the short term. Not that we have any intention of

[2016-03-03 19:27] SaraMcCutcheon commented on #934
@ronan PRs #971 and #972 fix the Terminus-as-a-library issues that arose in the helper refactoring and further simplify its use. Just need to get them rolled in and we're back to good on that front.

[2016-03-03 19:51] SaraMcCutcheon commented on #899
I believe that the error you were seeing has to do with the workflow check (which pings repeatedly until the workflow returns a result) returning unhelpful error output. Once the workflow is being pinged, I'm afraid that matters are out of Terminus' grasp and are wholly reliant on the platform.

There's a small glitch when this occurs - when the platform returns an error when pinging the workflow

[2016-03-03 19:51] #899 closed, assigned to nobody

[2016-03-03 20:03] serundeputy commented on #899
thanks I have what I need via `terminus sites create --site=kula-ed-pure --label="KulaEd Pure" --upstream="Drupal 7"`

[2016-03-03 23:54] SaraMcCutcheon commented on #968
@uberhacker Thank you for the extra information. The issue is caused due to an incompatibility with PHP 7.0. I'll be updating the code this week to get this in order.

Closed for #841

[2016-03-03 23:56] #968 closed, assigned to nobody

[2016-03-04 00:00] uberhacker commented on #968
@TeslaDethray: Excellent, thank you for the quick response and resolution!

FWIW: I'm getting the same error after updating to PHP version 7.0.4.  See below:

[code]

[2016-03-07 19:26] #841 closed, assigned to TeslaDethray

[2016-03-07 20:22] #934 closed, assigned to TeslaDethray

[2016-03-08 00:48] allenfear opened #976 "Allow use of wp import"
I added text to our wp cli doc that explains how the `terminus wp import` command can be used on Pantheon so that we can remove it from the blacklist:

https://github.com/pantheon-systems/documentation/commit/6be9259e8f02243de41729efb948f1faa95712f2

[2016-03-08 18:13] bwood opened #978 "Add a 'terminus drush' option to set drush version"
_version 0.10.5_

I was hoping to replace all of the `drush` commands in our scripts with `terminus drush`. This would simplify things and probably avoid a few edge cases.  Problem is some of my drush commands require at least drush 7:

[code]

It would be useful if there was an option like `--drush_version=` that could be passed to specify the drush version to use on the container.

[2016-03-08 23:13] #836 closed, assigned to nobody

[2016-03-09 17:32] bwood opened #980 "Undefined index: email in AuthCommand.php"
[code]

[code]

[2016-03-09 17:38] davidstrauss commented on #980
This issue might not get much love because I believe that login method is deprecated in favor of [machine tokens](https://pantheon.io/blog/terminus-machine-tokens-auth0-logins). (I might be reading the bug report incorrectly, though, if you're only using the email address to switch between accounts rather than supply a user and password.)

[2016-03-09 17:39] bwood opened #981 "Cannot open phar archive "/Users/bwood/bin/terminus" for reading"
_version 0.10.6_

[code]

[2016-03-09 18:30] bwood commented on #980
Hi @davidstrauss ,

I am using a machine token:

[code]

You only need to pass `--machine-token=<value>` the first time you save your token.

I'm specifying my email because I login using two different tokens and the email indicates which file under `~/.terminus/tokens/` to use.

Let me know if I've still got something wrong.   Machine token auth is working for me using 0.10.5:

[code]

[2016-03-09 19:36] QueSaraSera opened #982 "Terminus is loading too many files"
[code]

This should be optimized. @ari-gold can't be the only one getting the error. I can reproduce it if I use `ulimit -n 233` (my usual limit is 1597).

**Current workaround:** `ulimit -n $((2 * $(ulimit -n)))`
If you get an error like
`bash: ulimit: open files: cannot modify limit: Operation not permitted`
Then use `ulimit -n`, then where 2*`ulimit -n` = x, `ulimit -n x`. Repeat until it works

[2016-03-09 20:29] ari-gold commented on #982
I downgraded to 0.10.5 for now.

[code]

[2016-03-09 20:40] SaraMcCutcheon commented on #981
@bwood I downloaded the terminus.phar to try this out and could not reproduce the issue in PHP 5.5, 5.6, nor 7.0. You can find the lines comprising the config/constants.yml file between lines 130430 and 130442 in terminus.phar. I'm wondering if this is connected to another issue I have seen today - if you increase your `ulimit`, does this still occur? I don't _think_ so, but I can't fathom why it'

[2016-03-09 20:58] SaraMcCutcheon commented on #980
Thank you for catching this, @bwood. I've got a PR in for the fix.

[2016-03-09 21:43] #976 closed, assigned to TeslaDethray

[2016-03-09 21:49] bwood commented on #981
I also get this with `site info`

[code]

Here are my limits:

[code]

File size is unlimited.  Is there another limit you'd like me to tweek?

[2016-03-09 22:25] #980 closed, assigned to TeslaDethray

[2016-03-10 18:39] QueSaraSera opened #984 "auth login message should indicate present tokens when it needs to have one selected"
Per @ttrowell
Currently, if you have more than one machine token and try to use `terminus auth login` without an email address as an argument, it will react the same way as though you haven't any machine tokens at all. We should append to the token-generation message information about which tokens are available and how to use them if this happens.

[2016-03-10 18:41] QueSaraSera opened #985 "Drush commands no longer successfully determining auth status before executing"
Per @ttrowell
<img width="1313" alt="00000601-1" src="https://cloud.githubusercontent.com/assets/868204/13680253/9fd0f1dc-e6ac-11e5-9066-fd5f2a3c9687.png">

[2016-03-11 19:28] joshkoenig commented on #964
I do not believe we really need a `validate` command. We should verify that the input is being validate by the back-end the same as a key added via the Dashboard, but assuming that's the case "adding" will always mean "validating" and we can leave it at that.

I would like us to have the the default interface for adding keys be one that takes a file path rather than a string. We can also scan the

[2016-03-11 19:30] SaraMcCutcheon commented on #964
@joshkoenig Are we sure we want to press the two words "ssh" and "keys" together? The style in Terminus has thus far been to separate two different words in the same command with a hyphen, e.g. `ssh-keys`, `machine-tokens`, `clear-cache`, `set-schedule`, etc.

[2016-03-11 20:25] ucbklu commented on #981
I'm getting the same stack traces as Brian with the [0.10.6 phar](https://github.com/pantheon-systems/terminus/releases/download/0.10.6/terminus.phar):

[code]

I don't get the issue with the [0.10.5 phar](https://github.com/pantheon-systems/terminus/releases/download/0.10.5/terminus.phar):

[code]

Permissions are same for both:

[code]

[2016-03-11 20:26] mboynes commented on #981
Same for me as well in 0.10.6. No problem on 0.10.5:

[code]

[2016-03-11 20:39] cboyden commented on #981
I'm getting the same errors:

[code]

[2016-03-11 23:12] bwood opened #989 "Should terminus commands return an error status if dashboard.pantheon.io is unreachable?"
_version 0.10.5_

Today dashboard.pantheon.io became unreachable when one of our scripts was running. This script execs terminus commands and checks for an non-zero return code to determine if there were errors. Here's a simulation of what happened.  I've pointed dashboard.pantheon.io at 127.0.0.1 in my /etc/hosts:

[code]

Would it be feasible for terminus to return a non-zero code in this situat

[2016-03-15 15:47] damienmckenna opened #991 "PHP 7 support for set-php-version"
I'd really like to get some of my sites onto PHP 7, any plans to make it available soon?

[2016-03-15 16:19] jtjones3 commented on #981
I'm also getting the same errors with terminus 0.10.6

`terminus site set-php-version --site=uc-davis-*******-***** --env=test --version=5.5
PHP Warning:  file_get_contents(phar://terminus.phar/config/constants.yml): failed to open stream: phar error: Cannot open phar archive "/usr/local/bin/terminus" for reading in phar:///usr/local/bin/terminus/php/Terminus/Configurator.php on line 145
PHP Warni

[2016-03-15 16:36] messageagency commented on #982
@ari-gold  is not the only one.

I am getting the same issue on 0.10.6 with site deploy commands (maybe others, but that's the one i've tested).

no idea what my ulimit is.
downgrading to .5 fixed it for me.

[2016-03-15 17:40] SaraMcCutcheon commented on #991
Adding PHP 7 support isn't so much a Terminus issue as it is a platform issue. There is discussion about PHP 5.6 support on the [Power Users Google Group](https://groups.google.com/a/pantheon.io/forum/#!forum/power-users), which is the best place for discussions about what our top users (like yourself) to discuss with us what you'd really like to see on Pantheon. I hope that helps. I'd like to see

[2016-03-15 17:40] #991 closed, assigned to nobody

[2016-03-15 17:40] damienmckenna commented on #991
Thanks!

[2016-03-15 17:43] SaraMcCutcheon commented on #981
I can't make this happen on my system, but I'm beginning to suspect that the cause of this issue is the same as #982. Eventually, the loop of loads is hitting your `ulimit`s, and then it fails to load more files and errs. I have a proposed fix in #988 (branch `fix/configurator_loading`) if you would like to try it to see if that fixes it, or perhaps adjusting your `ulimit` upwards to see if that s

[2016-03-15 17:58] ryanjd opened #992 "Terminus on Windows 7 machine token issue"
Hi all, I'm trying to get terminus working on my Windows 7 box. I installed terminus using Composer. I am running php 7.0.0.

If I type 'terminus auth login me@mydomain.com' I get this error:
[2016-03-15 17:49:22] [error] cURL error 60: SSL certificate problem: unable to
get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

Following an earlier issue that was closed

[2016-03-15 18:17] jtjones3 commented on #981
I added the following to my bash_profile and the errors went away. And the PHP version was successfully changed.

`ulimit -n 1024
ulimit -u 1024`

[2016-03-15 18:19] SaraMcCutcheon commented on #981
Thank you, @jtjones3! I'll get the fix PR passing CI and will roll it out today. My apologies to everybody here who experienced this issue.

[2016-03-16 17:07] #981 closed, assigned to nobody

[2016-03-16 17:07] #982 closed, assigned to TeslaDethray

[2016-03-16 17:33] #984 closed, assigned to TeslaDethray

[2016-03-16 17:55] #985 closed, assigned to TeslaDethray

[2016-03-16 18:00] #964 closed, assigned to TeslaDethray

[2016-03-16 18:21] QueSaraSera opened #993 "Enable importing to a specific environment"
`terminus site import-content` ought to be able to target a specific environment like the Dashboard does.

[2016-03-16 18:33] bensheldon commented on #993
Can we also rename the php method in the SiteCommand to be `import_content`. Also the docs are wrong as it should say `--element (db or files)` and _not_ code.

[2016-03-16 18:35] SaraMcCutcheon commented on #993
We cannot rename it that because it violates the linter standard that camel case be used. What about `importContent`? I'll fix the `--element` comment while I'm in here.

[2016-03-16 18:37] bensheldon commented on #993
`importContent` is fine. I just wanted to add the "content" portion for clarity.

[2016-03-16 20:28] wardAndrew commented on #732
+1

[2016-03-16 23:36] #989 closed, assigned to TeslaDethray

[2016-03-16 23:44] SaraMcCutcheon commented on #992
The cURL issue appears because to use cURL in Windows you must disable SSL certificate validation. You are bypassing it by turning on the testing mode, but it is not a Terminus bug.
http://superuser.com/questions/442793/why-cant-curl-properly-verify-a-certificate-on-windows

Can you use your machine token when you move `C:\Users\yourusername.terminus\tokens` to `C:\Users\yourusername\.terminus\tok

[2016-03-16 23:44] #993 closed, assigned to TeslaDethray

[2016-03-17 19:36] ryanjd commented on #992
My apologies, that was a mistype on the path. My path is `c:\Users\myusername\.terminus\tokens`, and it is empty.

[2016-03-17 21:36] mboynes opened #999 "wp import not working"
Looks like `wp import` is not currently working:

[code]

Even "help import" raises that error:

[code]

[2016-03-17 23:25] QueSaraSera opened #1000 "ensureLogin appears in help output"
It shouldn't!

[2016-03-19 00:10] SaraMcCutcheon commented on #999
@mboynes It doesn't appear that you are using the current version of Terminus. Please update.

[2016-03-19 00:10] #999 closed, assigned to nobody

[2016-03-19 00:10] #1000 closed, assigned to TeslaDethray

[2016-03-21 17:37] #978 closed, assigned to nobody

[2016-03-21 18:10] #965 closed, assigned to TeslaDethray

[2016-03-22 18:12] SaraMcCutcheon commented on #992
@ryanjd I think I've figured out what's going on: it's the SSL certificate issue each and every time. Here's why you saw what you saw in each of the places that you did:
- `CLI_TEST_MODE=1` doesn't stop SSL certificate validation, but it does skip checking GitHub for the current version of Terminus, thereby avoiding sending a request here and getting the SSL certificate error. This is done when th

[2016-03-22 18:12] #992 closed, assigned to TeslaDethray

[2016-03-22 20:18] jrisebor opened #1007 "`terminus site backups` does not respond to `--element=all`"
The usage text shows that `--element=all` is an option, but terminus does not agree. This is for version 0.11.0

[code]

[2016-03-22 23:18] SaraMcCutcheon commented on #1007
@jrisebor You're right - Terminus promises the use of element `all`, but does not actually do what it says. It was done this way because of the WP-CLI base we're using which makes all the `site backups` actions have technically the same parameters.

Unfortunately, I don't think we can make it work like the other options do because the backups are made in three separate archives. As we also have a

[2016-03-22 23:20] #1007 closed, assigned to TeslaDethray

[2016-03-23 18:39] bwood opened #1008 "'terminus site hostnames list' yeilds NULL with --format=json"
_version: 0.11.0_

With `--format=json` I'd expect to see the same domains I see when using the default format:

[code]

[2016-03-24 20:55] joshkoenig opened #1009 "Better top-level SYNOPSIS"
As raised on twitter:

https://twitter.com/mikemccaffrey/status/713075376356876288

The default helptext for `terminus` or `terminus help` could have a more helpful SYNOPSIS section:

[code]

If possible, we should replace that `<command>` output with something that shows real suggestions and syntax. e.g.:

[code]

[2016-03-24 20:55] joshkoenig commented on #1009
Also, when did we lose the colorized/bolded output for just having hashmarks? That used to mean "bold white".

[2016-03-25 20:04] bgonz opened #1010 "Update README with instructions on how to update using composer"
I tried - ~/vendor/pantheon-systems/cli/

composer update
- But all it did was redownload the same packages from the original composer file.

I am running 0.9.x

I would like the latest - 0.11.x

Many thanks.

[2016-03-25 22:01] SaraMcCutcheon commented on #1010
Hi @bgonz, you would need to find the `composer.json` file that Composer uses to manage itself. If you installed Terminus to your home directory (`~`), then it will be at `~/composer.json`. If you installed globally, you will probably find it at `~/.composer/composer.json`.

Edit `composer.json` and find the line that says `pantheon-systems/cli` and change it to `pantheon-systems/terminus`. And th

[2016-03-25 22:31] bgonz commented on #1010
Tanks so much Sara - thats super helpful.

Point of clarification - do I make an update such as this:

  "extra": {
    "branch-alias": {
        "dev-master": ">=0.11-stable"
    }
  }

?

On Fri, Mar 25, 2016 at 3:01 PM, Sara McCutcheon notifications@github.com
wrote:

##

---

*Brian Gonzales *Director of Operations | Pairodime
brian@pairodime.com

p: 503.766.3590
f: 503.766.3594

_http://pairo

[2016-03-25 22:46] SaraMcCutcheon commented on #1010
Something more like this:

[code]

or

[code]

My `~/.composer/composer.json` file looks like this:

[code]

[2016-03-28 01:23] ccharlton commented on #434
:+1:

[2016-03-28 20:15] #1010 closed, assigned to nobody

[2016-03-30 00:49] joshkoenig opened #1012 "Bash completion seems broken"
Using the included `utils/terminus-completion.bash` file seems to be giving unexpected results of late. Here's I'm hitting tab midway through typing `terminus site`:

[code]

[2016-03-30 18:58] ioskevich commented on #102
"site redis enable" currently fails if site is on Sandbox or Professional - while Pantheon docs say these plans allow to use redis.

Error returned:
`[error] You must upgrade to a business or an elite plan to use Redis.`

[2016-03-30 19:29] chrisgross commented on #102
The above is also true for enabling solr.

[2016-03-30 23:00] #1008 closed, assigned to TeslaDethray

[2016-03-30 23:20] SaraMcCutcheon commented on #916
Same as #1012

[2016-03-30 23:20] #916 closed, assigned to nobody

[2016-03-30 23:20] #955 closed, assigned to nobody

[2016-03-30 23:39] davidneedham commented on #955
Why was this closed? Was it fixed in a recent update?

[2016-03-30 23:57] derimagia commented on #1012
When this is fixed I can add bash (and maybe zsh) support to the homebrew version

[2016-04-04 23:33] bwood opened #1016 "'terminus site tags' commands are quite slow"
The ability to get/set site tags with terminus is really great.  Unfortunately I avoid using it in our site update scripts because it adds about 2.5 (or more) minutes to the processing of one site.

[code]

Setting a tag is equally slow.

[2016-04-06 00:13] bwood opened #1018 "Add 'terminus site backups restore'"
Currently you can only restore a _database_ using `terminus site backups load`.  (This limitation isn't clear from the command documentation.)  (Also, it seems like the user shouldn't have to provide the mysql user/pass as options to this command because they are authenticated via terminus.)

It would be quite useful to have a `terminus site backups load`  command that provided functionality equiv

[2016-04-06 00:58] bensheldon commented on #1018
The `site backups load` command seems to have a checkered history. To bring parity with the dashboard, I think there should be a `site backups restore`, command... but I'm honestly not sure why the command tries to load up mysql locally. It shouldn't do that.

As a workaround, you can also do an `site import-content --site=foo --url=https://s3url --element=db`. This is equivalent to doing a restor

[2016-04-06 04:19] bwood commented on #1018
I do enjoy `import-content` but what I really need to do is restore a code backup, and it can't do that.

[2016-04-07 02:58] uberhacker opened #1020 "Add Mac and Linux OS check functions"
It would be nice to detect for specific operating system actions.  This is especially useful for plugin development.  See proposed PR for details.

[2016-04-07 20:54] wturnerharris opened #1021 "Terminus plugin directory override not working"
Perhaps the issue is with my approach. As per docs, in order to override where terminus looks for plugins, you must override this with the ENV VAR...

`export TERMINUS_PLUGINS_DIR=~/.terminus/plugins`

This did not work as I expected. Just wondering if this can/should be changed by default to the terminus config directory itself in `~/.terminus/plugins` since the folder is a hidden (dot) file.

[2016-04-07 22:36] aloyr commented on #779
Hi, came here also looking for an "all-aliases-plugin" that would work for organizations, and the link posted above now gives a 404 from github... Does anyone know what is the known issue with that plugin? There are zero issues on the github page for that plugin...

[2016-04-07 23:17] aloyr commented on #779
nvm... I got it to work. Had to comment a line of code and increase the OS open file limit. This is my first day playing with terminus, so forgive any non-standard practices...

Increased file limit on OSX with

[code]

For the code change, I am not sure this is recommended for any hosts other than your own development box, and maybe not even then... but what I did was:

[code]

After those 2 chan

[2016-04-07 23:23] SaraMcCutcheon commented on #779
Might your version of Terminus be out of date, @aloyr? There was a problem with a big loop of file-openings, but I believe I'd fixed it.

[2016-04-08 00:22] aloyr commented on #779
Hi @tesladethray, that's possible, although I believe I've updated terminus this morning via composer. I will check it tomorrow as that happened on my work computer.

[2016-04-08 17:30] joshkoenig opened #1022 "Terminus should check to see if a a new site name is valid before trying to spin up"
Currently, we end up with "aborted workflows". We may need a new API route to check the uniqueness of a site name.

Or maybe we can use the newly dependable platform domain and see if the DNS space is clear? That would be pretty cheap.

[2016-04-08 17:38] craychee commented on #1022
This might be a duplicate of: https://github.com/pantheon-systems/terminus/issues/951

[2016-04-08 17:52] SaraMcCutcheon commented on #1022
If we were to use DNS, it would be made a little more expensive because we would need to look up the organization's `base_domain`, if applicable. It should be a piece of cake, though - PHP's got a function for it.

[2016-04-08 20:39] aloyr commented on #779
ok, composer seems to have only version 0.10.6 and github has 0.11.1, so I should probably just use the github version instead?

[2016-04-08 20:49] greg-1-anderson commented on #779
Use pantheon-systems/terminus. The pantheon-systems/cli project has been abandoned.

[2016-04-08 20:55] aloyr commented on #779
hi greg. thanks for the info. i had pantheon-systems/terminus, but i was stuck on an old version... just changed my composer version to pantheon-systems/terminus dev-master instead...

[2016-04-08 21:25] greg-1-anderson commented on #779
Use '~0' if you only want to get tagged releases.

[2016-04-11 23:26] SaraMcCutcheon commented on #1022
I wrote the API instead.
https://github.com/pantheon-systems/titan-mt/pull/14472
This is going to save everybody SO. MUCH. TIME.

[2016-04-11 23:51] QueSaraSera opened #1028 "Dismantle the SitesCache"
Once pantheon-systems/titan-mt#14472 (site lookup by name) is merged, the SitesCache will be obsolete.

[2016-04-12 04:30] uberhacker opened #1029 "Selections not visible in Git for Windows (version 2.8.1)"
Prompts for associative arguments do not display selections in a Git Bash terminal window.  See attached screenshot.

![terminus](https://cloud.githubusercontent.com/assets/387945/14449813/44b21cd6-003d-11e6-9e49-7f2adf9a32bb.jpg)

Windows 10 64-bit

[2016-04-12 22:04] joshkoenig opened #1030 "Terminus machine token link shouldn't have port 443 in the URL"
When I do an auth-login:

[code]

No need to have the port number in there.

[2016-04-13 00:38] ari-gold opened #1031 "Update instructions when sandbox site limit has been reached"
Current

[code]

Proposed (to match Dashboard)

[code]

[2016-04-13 17:18] ari-gold opened #1032 "Show available options for --field in terminus help site connection-info"
Currently does not show which fields are available:

[code]

[2016-04-13 17:19] rachelwhitton opened #1033 "Provide valid field options for site connection-info help output"
terminus help site connection-info

[code]

`--field=<field>` should show valid options such as `git_command`, `mysql_connection`, etc.

[2016-04-13 17:43] rachelwhitton commented on #1033
Closing, duplicate of #1032

[2016-04-13 17:43] #1033 closed, assigned to nobody

[2016-04-13 21:41] dustinleblanc commented on #893
Im taking a stab at this, we'll see where it goes.

[2016-04-13 22:48] SaraMcCutcheon commented on #893
@dustinleblanc I don't want to discourage you (Who says no to free code?), but TBH I've got a ~50% done copy of it on my local. Sadly, I have been busy with more urgent work lately to dedicate the time I'd like to to this proof of concept. I'd be really interested in seeing how you adapt it, though.

[2016-04-13 23:15] dustinleblanc commented on #893
Sweet! Well I need some php meat to keep me sharp so continue for fun until
a more interesting squirrel emerges!

[2016-04-13 23:58] SaraMcCutcheon commented on #1020
Closed by #1026

[2016-04-13 23:58] #1020 closed, assigned to nobody

[2016-04-13 23:59] SaraMcCutcheon commented on #1020
@uberhacker I have a few more fixes to apply tomorrow, then I'll cut a new minor release so we can all get to using your contribution.

[2016-04-15 02:36] rvtraveller commented on #1029
I'm 99% sure this is a problem with one of the composer libraries being used.  I tracked it down at one point but my fix was not overly elegant.  Let me see if I can find the culprit quickly...

[2016-04-15 17:20] QueSaraSera opened #1035 "Adopt the Terminus Plugin Manager into the Terminus core"
@uberhacker Has written a really neat plugin to manage Terminus plugins called Terminus Plugin Manager. We should adopt it into our core - this is necessary functionality. We should also adopt his way of accommodating directory structures for Windows users, which will spawn its own issue.

[2016-04-15 17:22] QueSaraSera opened #1036 "Adopt TPM's manner of handling directories for Windows"
@uberhacker's [plugin](https://github.com/uberhacker/tpm/blob/master/Commands/TpmCommand.php#L146-L178) goes to greater lengths to ensure our Windows users' directory structures are navigated properly. We should adopt his method into our FileHelper, FileCache, and TokenCache.

[2016-04-15 19:18] uberhacker commented on #1036
@TeslaDethray:
Yes, I wrestled with Windows quite a bit to get it working correctly.  However, I have not tested this outside of using Git Bash (installed with Git for Windows).  Making the Windows check a utility function is a great idea.
Thanks

[2016-04-15 19:24] uberhacker commented on #1035
@TeslaDethray:
I'm in the process of writing a complete plugin system that includes the ability to install, list, remove, search and update plugins.  I've even implemented a way to store well-known or custom plugin Git repositories in a .yml file inside the local plugins directory.  Let me know if you are interested in a PR and I can push it up for testing.  I'm totally open to suggestions.
Thanks

[2016-04-15 20:44] uberhacker commented on #1035
@TeslaDethray: Actually, I just updated https://github.com/uberhacker/tpm.  You could simply drop PluginCommand.php in php/Terminus/Commands and it would be core. :)  I can issue a PR also if you would like.

[2016-04-15 21:03] cwahlfeldt opened #1037 "Getting error after installing terminus and trying to use it."
Hey guys I'm getting an error when trying to use terminus.

[code]

[2016-04-15 21:59] dustinleblanc commented on #893
@TeslaDethray https://github.com/dustinleblanc/cli/tree/consolify is my start for Mass Consolification. I got the art command working. I figured it easiest to just basically build a new copy of the Application inside src as a PSR-4 full blown Symfony Console app and then just migrate commands as I go until I have them all.

[2016-04-15 22:15] bwood opened #1038 "'terminus site deploy --format=json --debug' Debug mode causes inconsistency in the value of "message" element"
Maybe this is the way it has to be, but I thought I'd mention this situation for your consideration:

Sporadically, I've been seeing failures with `terminus site deploy` in which the json returned is NULL. (This is not the problem I'm reporting here -- still gathering data on it.) So in an effort to gather more data I enabled debugging on the deploy command in my script.  With debugging enabled th

[2016-04-18 17:02] bmackinney opened #1039 "@getpantheon.com email addresses getting "Machine Token not valid" error"
When logging with a brand new token, internal users are receiving this error. I've seen it, with @peter-pantheon @rachelwhitton

[2016-04-18 17:06] adamedgmond commented on #1039
@aeligature as well

[2016-04-18 17:36] ataylorme commented on #1039
I've encountered this as well. My existing machine token started returning this error. I revoked the existing machine token, created a new machine token, and am getting the `[error] The provided machine token is not valid.` with the brand new token as well.

[2016-04-18 20:04] heronog commented on #1039
seeing this behavior today too.
existing machine tokens would return
[error] The provided machine token is not valid.

after revoking and recreating, the new token returns the same error so terminus can not authenticate.

[2016-04-18 20:21] ari-gold commented on #1039
@heronog This issue wasn't caused by Terminus, but thank you for reporting it. We've identified the issue and a fix has been deployed. Can you verify it's fixed?

[2016-04-18 20:41] heronog commented on #1039
It's fixed on my end.

`
        .+.
        .+?:
         .+??.
           ??? .
           +???.
      +?????????=.
      .???????????.
      .????????????.

[code]

[2016-04-18 20:46] ari-gold commented on #1039
Great! Thanks @heronog!

[2016-04-18 20:46] #1039 closed, assigned to nobody

[2016-04-19 17:34] greg-1-anderson opened #1040 "Positional argument validation only works for fixed-selection arguments"
If a terminus command positional argument is **not** a fixed-selection argument (e.g. [`terminus site backups list`](https://github.com/pantheon-systems/terminus/blob/0.11.1/php/Terminus/Commands/SiteCommand.php#L40)), then it will fail validation unless it is one of the special-cased argument names, <commands>... or <email>.

To work around this, I am using <email> to name the positional argument

[2016-04-19 18:45] SaraMcCutcheon commented on #1040
You can use `<commands>` currently, but that's not really optimal. I'm making a change so that if there is no pipe (`|`) in your `<arguments>`, it will not be subject to any name-checking.

[2016-04-19 19:45] #1030 closed, assigned to TeslaDethray

[2016-04-19 21:52] dustinleblanc opened #1042 "Make Terminus Stateless"
During my joyride to try to turn Terminus into a full fledged Symfony Console application of doom (most fun I've had in some time!) I have spent a lot of time on the `auth loging => auth:login` port and it keeps bringing up the question to me:

Should Terminus as a CLI application be dependent on Sessions and therefore state?

Machine Tokens were a _yuge_ step in the right direction for what folks

[2016-04-20 00:21] #1040 closed, assigned to TeslaDethray

[2016-04-20 04:00] dustinleblanc commented on #893
@TeslaDethray @joshkoenig I went nuts on this over the weekend and the last first half of this week. It was so much fun and I learned a lot along the way. I think I've accomplished the POC Josh was looking for on my consolify branch.

I haven't updated tests at all, but I've ported by the art command and all of the auth commands (I took liberties with auth:login but the gist of it's the same).

A

[2016-04-20 04:15] greg-1-anderson commented on #893
@dustinleblanc What version of Robo were you looking at?  Did you look at the master branch, or one of the older stable tags?

Either way, sounds exciting; I'll take a look at this tomorrow.

[2016-04-20 11:25] dustinleblanc commented on #893
@greg-1-anderson I was working off the master branch. My implementation seems slightly different, it took a lot of brain-jitsu to understand how to make the container globally accessible but I think I have it figured out!

[2016-04-20 13:29] greg-1-anderson commented on #893
You can use a singleton to make the container globally available. This is handy for legacy code; it is what Drupal and Drush do.  I'll take a look at your implementation later today.

[2016-04-20 14:04] greg-1-anderson commented on #893
Did you consider using [Robo](https://github.com/codegyre/robo), or [consolidation/annotated-command](https://github.com/consolidation-org/annotated-command)?  The syntax of the DocBlocks would have to change, as annotated-command uses an external DocBlock parser that follows the (unofficial) recommended standard.  This would require some changes to all of the commands -- but you are touching them

[2016-04-20 16:46] greg-1-anderson commented on #893
I was just reading the OP again. Regarding this:

You could implement a command called 'site' which simply redispatched to 'site:$arg1'. Then, implement commands such as 'site:backups' and 'site:info' and so on. There'd be no need to maintain a new dispatcher, you could still make `terminus help site` work, and the 'site' command could actually be implemented by a generic class that could be re-us

[2016-04-20 16:47] greg-1-anderson commented on #1042
Having sessions seems like a good feature to me.

[2016-04-20 16:50] greg-1-anderson commented on #757
This has been provided as [pantheon-systems/terminus-secrets-plugin](https://github.com/pantheon-systems/terminus-secrets-plugin). Hooray for plugins!

[2016-04-20 16:50] #757 closed, assigned to nobody

[2016-04-20 17:04] greg-1-anderson commented on #684
csv or tab-deliminated lines of records would be a reasonable way to render complex tables.

Note that the Drush output formatters have been factored into a separate library, [consolidation/output-formatters](https://github.com/consolidation-org/output-formatters). It doesn't contain all of the features from Drush's formatters yet, but I believe it has most of the formats needed by Terminus. It's

[2016-04-21 00:25] hengkit opened #1046 "Issue with calling Terminus as a library."
I'm trying to use terminus 0.11.1 inside of another PHP application like so:

[code]

and am getting the following errors

[code]

[2016-04-21 15:36] peterromero opened #1047 "Cannot use Terminus on Windows 10"
I've installed Terminus on Windows, but I can't get it to execute any command. I always get the error:

cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html

I tried this command from Git bash:
CLI_TEST_MODE=1 php terminus.phar auth login

and I got,

Could not open input file: terminus.phar

Indeed, there is no file

[2016-04-21 16:47] SaraMcCutcheon commented on #1047
@johnalexander The cURL issue appears because to use cURL in Windows you must disable SSL certificate validation. You are bypassing it by turning on the testing mode, but it is not a Terminus bug. (#992)
http://superuser.com/questions/442793/why-cant-curl-properly-verify-a-certificate-on-windows

`terminus.phar` is being called because at some point, you must have attempted to install via cURL as

[2016-04-21 16:50] SaraMcCutcheon commented on #1047
I think the fact that the cURL/Windows issue comes up so often means that we ought to address it in the README.

[2016-04-21 16:57] peterromero commented on #1047
As I mentioned, the exact command I issued was:

`CLI_TEST_MODE=1 php terminus.phar auth login`

The result was, `Could not open input file: terminus.phar`. I don't know what this command is supposed to do; I copied it from here: https://github.com/pantheon-systems/terminus/issues/869

What exact steps do I take from here?

[2016-04-21 17:03] SaraMcCutcheon commented on #1047
Perhaps I was unclear in my information request - I was wondering how you had installed Terminus, so I may make assumptions about where your installation might be on your system, or whether something is the matter with it.

The top answer in [this Stack Overflow thread](http://stackoverflow.com/questions/21670709/could-not-open-input-file-composer-phar-error-in-symfony2-using-wamp) may be the answ

[2016-04-21 18:21] peterromero commented on #1047
OK, you are correct. I installed terminus using composer, and the requisite libraries using cygwin. As an alternative, I issued these commands into my Windows cmd window:

`set CLI_TEST_MODE=1`
`terminus auth login`

I ran into the same problem as the poster at https://github.com/pantheon-systems/terminus/issues/869, where it asked me to generate a machine token, and the token didn't work. So I re

[2016-04-22 14:21] dustinleblanc opened #1048 "Terminus sites create not working"
Trying to spin up a new site via Terminus:

[code]

Latest OSX, both via php 5.6.20 and 7.0.5

[2016-04-22 14:55] dustinleblanc commented on #1046
@hengkit In order for this to work as Terminus is currently configured you'd have to use I believe it's called the "Configurator" to define constants. Alternatively you could probably do:

[code]

I've been thinking about how it would be nicer to wrap Terminus API interactions in a separate package that the CLI app calls into and long term I think that's doable, I've already been pondering it in m

[2016-04-22 17:51] hengkit commented on #1046
That works. I'll PR the docs. Thanks!

[2016-04-22 17:51] #1046 closed, assigned to nobody

[2016-04-25 13:50] dustinleblanc commented on #893
@greg-1-anderson My fork does go for colon seperated syntax, I just like using the community standard. Looking at the Annotation stuff today. Usage of Robo directly never really occurred to me because it seemed fairly heavy weight to have the entire project inside Terminus (I have no hard data on that, just perceived yugeness). My long term thoughts here are to abstract the API interactions with T

[2016-04-25 14:15] greg-1-anderson commented on #893
Here are some sizes:

| Component | Source | Vendor |
| --- | --- | --- |
| Terminus | 628k | 33M |
| Robo | 656k | 23M |
| Annotated Command | 120k | 19M |

I didn't try to include either of those projects in Terminus to see how much the vendor directory would grow. I am guessing that a lot of that 19M in Annotated Command is Symfony Console, and the additional code to take consolidation/annotate

[2016-04-25 14:47] ttrowell opened #1051 "cURL error 60: SSL certificate problem"
#60297

This is the output when attempting to connect via terminus.
Client is updating terminus to see if it alleviates the problem.

[code]

[2016-04-25 14:49] ttrowell commented on #1051
This may be a duplicate of https://github.com/pantheon-systems/terminus/issues/1047

[2016-04-25 16:29] greg-1-anderson commented on #1035
Some comments I made on the Power Users list about the plugin manager, and supporting plugins that have dependencies:

[2016-04-25 16:49] uberhacker commented on #1035
@greg-1-anderson: Nice suggestions.  I'm still uncertain how we can determine which packagists can be considered Terminus plugins among all the other php packages.  Can we designate a key: value in composer.json that isolates Terminus plugins?

[2016-04-25 17:01] bmackinney commented on #1035
WP-CLI has a `package` command that may also be of use: https://github.com/wp-cli/wp-cli/blob/master/php/commands/package.php

[2016-04-25 17:12] greg-1-anderson commented on #1035
It would be possible to define a type for Terminus plugins, and search by type.  For example, Drush extensions are type [drupal-drush](https://packagist.org/search/?type=drupal-drush).  You can also search by the [drush](https://packagist.org/search/?tags[]=drush) tag.  Drush does not evangelize the use of the type or tag, so results are inconsistent. We could pick something for Terminus and stand

[2016-04-25 18:38] ghost opened #1052 "Error when using site info"
"terminus site info --site=SITE" gives back an error:

[code]

[2016-04-25 19:04] ttrowell commented on #1051
Yes, user is on Windows, so I will close in favor of the existing issue.

[2016-04-25 19:04] #1051 closed, assigned to nobody

[2016-04-25 20:07] uberhacker commented on #1035
Yeah, this would make sense.  Shall I propose `"type": "terminus-plugin",` in composer.json then?

[2016-04-25 20:28] greg-1-anderson commented on #1035
Anything is fine with me; final decision is up to @TeslaDethray and @bensheldon

[2016-04-26 17:56] #1048 closed, assigned to TeslaDethray

[2016-04-26 20:01] SaraMcCutcheon commented on #1037
How did you install Terminus, @cwahlfeldt? May I see the output of `terminus cli version` please? (If it works at all?) If it doesn't, would you please try `CLI_TEST_MODE=1 terminus cli version` instead? (This bypasses the check for the current version number that is failing.)

[2016-04-26 20:09] SaraMcCutcheon commented on #1038
You're right that the status code when there is nothing to deploy ought to be 0. I'm making this change right away.

The message to STDERR output when running with `--debug` is not overwritten - it changes the log level on the logger from INFO to DEBUG, and outputs many more messages than it would otherwise, but still outputs the error message. Here's what I get:

[code]

[2016-04-26 23:17] SaraMcCutcheon commented on #1031
@ari-gold This error message comes from the API itself.
https://github.com/pantheon-systems/titan-mt/blob/master/yggdrasil/yggdrasil_tasks.py#L1807
Shall the API be updated?

[2016-04-27 15:54] greg-1-anderson commented on #1035
There was a comment on this thread made in the Pantheon Power Users group by @ronan to the effect of wanting to allow Terminus to work even for folks who have not installed other components such as git and composer.  It might be possible to meet our needs and still do this.
1. It is possible to search Packagist using their search.json tool, which return results in json format.  Here is an example

[2016-04-27 16:22] ronan commented on #1035
I think it's probably ok to require git since 90+% of our users likely has it installed. We should just make sure we're checking for it and informing the user that they need it to use the plugin manager.

Number 3 above sounds a bit complex for a first release. We should probably expect that version 1 plugins are either self-contained, or check for their own dependencies and instruct users to manu

[2016-04-27 16:24] bensheldon commented on #1035
+1

I think it's acceptable to have a "Mac App Store"-esque sandbox that says "you installed this via the super convenient phar method, unfortunately plugins aren't supported via that install method". Plugins are by definition "not-core-functionality".

I think we should be pushing people towards good-dev-practice and I'd rather throw my effort towards helping people setup a badass local dev workf

[2016-04-27 16:41] uberhacker commented on #1035
Great feedback guys.  I was thinking why not allow for both `composer install` and `git clone`?  I'm all about not limiting users from using their preferred method.  We could conceivably abstract this whole process from the user and either `git clone` or `composer install` in the background based on the plugin location, requirements and dependencies.  The important thing to keep in mind here is th

[2016-04-27 17:04] bwood commented on #1038
Changing the result code basically solves the problem.

If the status code becomes 0 in this situation is it still appropriate to put that message in the error index? Should debug mode use the same "message" index that INFO mode uses?  That way we can find this message in the same index regardless of what mode we're in.

I can adjust if you don't think that's a good idea.  Thanks for your work her

[2016-04-27 17:53] #1052 closed, assigned to TeslaDethray

[2016-04-27 17:57] joshkoenig commented on #1035
We should consider whether to make the .phar method the primary route, or even an advertised one going forward. Given the intended audience, doing a git clone / composer install is hardly crazy. We'll also have the homebrew package as well.

I think Plugins will rapidly become "must have" in terms of the added value and innovation they can provide. I already don't ever want to demo without the `fi

[2016-04-27 19:26] #1032 closed, assigned to TeslaDethray

[2016-04-27 21:05] #1038 closed, assigned to TeslaDethray

[2016-04-28 03:54] uberhacker commented on #1035
@joshkoenig: Are you saying we should support 3 different install methods?  I actually like the phar self-update concept.  What are your thoughts of an 'official' plugin app registry?

[2016-04-28 14:20] ronan commented on #1035
I'm assuming when we're talking about .phar installation we're just talking about installing Terminus itself. I don't think there's any advantage to bundling plugins that way for distribution.

I agree that the plugin manager should work no matter how you installed Terminus. I wouldn't expect most people to clone the repo and run composer for a tool like this unless I was planning to actively cont

[2016-04-28 14:55] uberhacker commented on #1035
@ronan: Really appreciate the feedback.  Excellent summary and I do agree Option 1 is overkill.  I was thinking core could include Option 2 for now and then Option 3 in a later release.  What is wrong with including the Git repo search and discovery now?  @greg-1-anderson added the Quicksilver plugins at `https://github.com/pantheon-systems`, so we could include that as a searchable registry out-o

[2016-04-28 15:43] greg-1-anderson commented on #1035
It would be possible to use Packagist to search even prior to using composer to install. Of course, doing this means that everyone would have to (a) appropriately tag their composer.json files, and (b) register their plugins with Packagist. That doesn't seem so hard to me, though, and would give us the advantage of being all set up when we are ready to use composer to manage dependencies.

I agree

[2016-04-28 15:58] bensheldon commented on #1035
The one dependency/versioning I would like to solve before we move it into core is how we deal with requirements between the version of terminus. We're still on pre-major versioning and the internal interface _will_ change (both radically and iteratively). I'd like to see:
- terminus expose some sort of interface for plugins to state the terminus version(s) it targets, e.g. `Terminus::assertVersio

[2016-04-28 16:13] uberhacker commented on #1035
@bensheldon: I definitely agree we need a way to determine the minimum Terminus version required to use plugins.  This is one of the questions I brought up in an earlier discussion.  Do you think it makes sense to include the Terminus version in composer.json?

[2016-04-28 16:24] greg-1-anderson commented on #1035
Hm, adding a `require pantheon-systems/terminus: ~0.10` in the composer.json file would **not** be such a swift idea, as we do not want `composer require some-plugin` to bring all of Terminus core in.

Still, I think that putting something in the `extras` section of composer.json, and having Terminus check that would be the best.  It's hard for a plugin to know what the _highest_ version of Termin

[2016-04-28 16:25] bensheldon commented on #1035
Definitely. I think composer is one tool for ensuring version dependencies match. But it's not just "minimum version of terminus", it's "any version of terminus" that can introduce an interface incompatibility with a plugin.

The pieces are:
- Plugins should declare the versions of terminus they are compatible with. Something that can be asserted at runtime at minimum, and both runtime and pre-ins

[2016-04-28 16:32] bensheldon commented on #1035
IMO that's the plugin's problem. A plugin maintainer should be responsible for testing and updating their compatibility with Terminus. As Terminus maintainers, we can do our best to communicate changes (changelog) and have sane releases (semver), but if a plugin says "compatible with 4.0" and 5.0 Terminus is still hypothetically compatible, that's on the plugin maintainer to update.

This is why I

[2016-04-28 17:32] joshkoenig commented on #1035
Agreed, though there's no strong center of gravity for the PHP world on this. Downloading and symlinking a `.phar` isn't especially awesome either. I'll see if I can get some more data out of power users/etc on what people prefer.

+1 to this. We should have the basics in place for `1.0`, and a plan for how we fill in (or don't) additional features. E.g. if we add discoverability and searching, th

[2016-04-28 20:41] #1035 closed, assigned to nobody

[2016-04-28 21:05] #1037 closed, assigned to nobody

[2016-04-28 22:13] SaraMcCutcheon commented on #1022
This should be implemented by checking `$sites->get(sitename)` once #1028 has been implemented.

[2016-04-29 20:29] #957 closed, assigned to nobody

[2016-04-29 21:28] #1031 closed, assigned to TeslaDethray

[2016-04-29 21:29] #961 closed, assigned to nobody

[2016-04-29 21:30] #962 closed, assigned to nobody

[2016-04-29 21:30] #963 closed, assigned to nobody

[2016-05-02 20:02] bjdevil21 opened #1057 "site deploy command unexpectedly moves DB/files along with code"
I just executed "terminus site deploy" per https://github.com/pantheon-systems/terminus/wiki/Terminus-Command-Comparison, where it says that site deploy does the following: "Deploy code to a particular environment."

I wanted to deploy the code from dev to test. Here's the CLI output I got after being given a list of sites to choose from:

"Choose site: 50
1. dev
2. test
3. live

Choose environmen

[2016-05-02 20:46] SaraMcCutcheon commented on #1057
@bjdevil21 I can tell from the text in the output that you are using an older version of Terminus. The latest version is 0.11.2; you can check the version you are using by running `terminus cli version`. If you installed via Composer, you will need to change the project name from `pantheon-systems/cli` to `pantheon-systems/terminus` to obtain versions later than 0.10.2.

[2016-05-02 20:46] #1057 closed, assigned to nobody

[2016-05-03 05:41] derimagia opened #1059 "Terminus Aliases"
Feature Request to have something similiar to Drush/Git aliases ala good old drush unsuck
https://github.com/drush-ops/drush/blob/0c5ec25c105205401268e69e678bd2f94772dcc9/examples/example.drushrc.php#L83

This comes fromt his pull request from Terminus Pancakes:
https://github.com/derimagia/terminus-pancakes/pull/10

Another solution may be to somehow let plugins have more control over aliases. Ri

[2016-05-03 12:45] nirgn975 opened #1060 "Error creating new site."
I'm on the latest version (0.11.1), installed on osx.
I trying to create a new site with the command `terminus sites create` and get

[code]
- zsh is installed.

[2016-05-03 18:27] QueSaraSera opened #1061 "Terminus should never use the token when a mismatching email has been given"
@hengkit Has reported that if you have one present machine token, it will automatically be used even if the user gave their email address and that address does not match.

[2016-05-03 21:22] SaraMcCutcheon commented on #1060
Duplicate of #1050

[2016-05-03 21:22] #1060 closed, assigned to nobody

[2016-05-03 21:31] SaraMcCutcheon commented on #1059
@derimagia I'm not clear about what this feature request is asking for. Do you mean "aliases" as in aliased subcommand names? Drush aliases? Google isn't much help in illuminating just what `drush unsuck` is supposed to do.

[2016-05-03 23:33] derimagia commented on #1059
Take a look at Git Aliases and Drush Shell Aliases (Not Site Aliases).

https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases
http://www.drush.org/en/master/shellaliases/

[2016-05-03 23:36] SaraMcCutcheon commented on #1059
Ah, I see now. Thank you for clarifying, @derimagia. This seems a quite doable piece of work.

[2016-05-04 13:43] uberhacker opened #1063 "Unable to mass update sites"
`$ terminus sites mass-update`

[code]

Environment:

[code]

[code]

[code]

[2016-05-04 23:30] #1021 closed, assigned to TeslaDethray

[2016-05-04 23:30] #1036 closed, assigned to nobody

[2016-05-04 23:38] SaraMcCutcheon commented on #1063
Thanks for reporting this bug, @uberhacker. There's some really old code in the mass update command that was missed in an update.

[2016-05-05 00:24] SaraMcCutcheon commented on #1061
It appears that I was mistaken as to the nature of the issue and this is not a Terminus bug.

[2016-05-05 00:24] #1061 closed, assigned to nobody

[2016-05-10 17:28] #1063 closed, assigned to TeslaDethray

[2016-05-10 19:16] rachelwhitton opened #1066 "site delete-env: remove-branch option [bug]"
`terminus site delete-env --env=<env> --site=<site> --remove-branch --yes` does not delete the associated branch as expected
#### terminus cli info

[code]

[2016-05-11 12:15] awolfey opened #1067 "Discrepancy in sandbox site limits"
Logged in to the web dashboard, I can see "You can create 3 more Sandbox sites." (A number that never changes.) But using `terminus sites create` I get this message:

[code]

[2016-05-11 14:55] andyg5000 opened #1068 "Issue running terminus in a container"
I'm running terminus in a container built from php:5.6.18 (https://hub.docker.com/_/php/) and cannot wake a site because it's not parsing the first api request and thinks the site url is http://0/

Call stack:
root@runner--project-1-concurrent-0:/builds/project-1# terminus site wake --site=[SITE NAME] --env=dev --debug
[2016-05-11 14:46:28] [debug] URL: https://dashboard.pantheon.io:443/api/sites/

[2016-05-11 14:56] andyg5000 commented on #1068
Here's the dockerfile that I've built the container with for reference
https://gitlab.com/blueoakinteractive/gitlab-drupal-php/blob/master/Dockerfile

I then install composer and terminus, authenticate terminus, and execute the command above

[2016-05-11 15:18] andyg5000 commented on #1068
Looks like this is because I was using ci-scripts that reference cli instead of terminus

https://github.com/pantheon-systems/ci-scripts/blob/master/scripts/push-to-pantheon#L99

[2016-05-11 15:18] #1068 closed, assigned to nobody

[2016-05-12 05:20] shivapoudel opened #1069 "Make a permalink for the release"
Just like WP-CLI has the latest release link as:
https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar

Terminus should also have those lastest release link without version number as we might use the dot files and will be useful in future installation.

[2016-05-12 17:04] SaraMcCutcheon commented on #1069
We list the PHAR URL in our README.md. You can also find it in the releases.

[2016-05-12 17:06] SaraMcCutcheon commented on #1067
This is not something that Terminus determines, but the platform itself. Please open a support ticket for this issue, @awolfey.

[2016-05-12 17:06] #1067 closed, assigned to nobody

[2016-05-12 17:12] shivapoudel commented on #1069
@TeslaDethray that link contains the version number in the url. Is there any url without that :P

[2016-05-12 17:13] SaraMcCutcheon commented on #1069
You're right, that is reasonable.

[2016-05-12 23:33] warrenvail opened #1071 "Installing on Windows 10"
I have windows 10 with an XAMPP environment installed which includes a command line shell tool (and CURL) and in my version PHP Version on the path;  I entered the following command while in the C:xampp folder (also on my path);

curl https://github.com/pantheon-systems/terminus/releases/download/0.11.1/terminus.phar -L -o c:\xampp\terminus && chmod +x c:\xampp\terminus

which seemed to work and i

[2016-05-12 23:38] warrenvail commented on #1071
actually the chmod didn't work, but it looked like it may not be needed, so I continued to the point with the error message above.

[2016-05-13 16:10] larcher opened #1072 "set-https-certificate fails with "intermediate certificate was not signed by a valid CA""
I've been unable to use `terminus site set-https-certificate` - though adding the same certificate, intermediate cert chain, and private key is working fine from the Dashboard.

Full command is something like this:

[code]

And the error looks like this:

[code]

I noticed others commented on the original feature request (#789) that they've had similar issues.

[2016-05-17 01:05] wenzowski opened #1073 "have launch check return valid html or json"
It's unfortunately difficult to parse launchcheck responses.

[code]

...spits back json with numbered keys whose values are mixed text and html.

It would be much more helpful to get back an object with keys for each test run and values set to the html docs returned by each `launchcheck`.

A well formed json object would be even better than parsing the html lists and tables for presentation class

[2016-05-18 14:32] ahimsauzi commented on #414
+1 In my case composer is saying it uses version 0.11.1 and terminus cli info returns version 0.10.0. This can not be good...

[2016-05-18 15:57] icylace opened #1074 "errors when trying to use Terminus 0.11.1"
I tried running `terminus site set-connection-mode --mode=sftp --site=ronmegasite` for my site but I got this error:

[code]

[2016-05-18 16:05] icylace commented on #1074
Okay, so I needed to run `terminus auth login` first.

[2016-05-18 16:05] #1074 closed, assigned to nobody

[2016-05-18 19:25] ari-gold opened #1075 "Direct users to run `terminus auth login` if running another command when not authenticated"
## Current

 `terminus site set-connection-mode --mode=sftp --site=ronmegasite` for my site but I got this error:

[code]
## Proposed

$  terminus site set-connection-mode --mode=sftp --site=ronmegasite # or any other command
Error: `site set-connection-mode` failed.
Please run `terminus auth login` and try again.

@nataliejeremy any feedback on proposed message? ^

[2016-05-18 20:32] ttrowell opened #1076 "Provide a password inline for wp command ?"
I've been searching through the docs for a solution but unable to find one... We have a couple use cases so far where we want to have some terminus commands being automated. However, "terminus wp" command I run requires interactive password input, and there doesn't seem to be an option to provide the password in-line.

Here's an example of a command we want to automate: "terminus --site=xxxxxxxx -

[2016-05-18 22:39] ttrowell commented on #1076
Possible duplicate: https://github.com/pantheon-systems/terminus/issues/17

[2016-05-20 17:49] bwood opened #1078 "Enable framework cache clearing on `terminus site cache-clear` command"
_version 0.11.1_

The help for `terminus site clear-cache` says:

If this command is not supposed to be clearing Drupal's caches, then it would be helpful to change that text to something like

_Here's why I think drupal's caches aren't cleared:_

[code]

I also tested the Clear Caches  button from the Live tab of this site's dashboard and it also fails to empty the above drupal cache tables.

[2016-05-20 22:16] guyoron opened #1079 "site upstream-updates incorrectly reports "No updates to apply""
On a few sites using a custom upstream which has new commits that need to be pulled into the sites' dev environments, running:

`terminus site upstream-updates apply --site=sitename`

Returns `[info] No updates to apply.`
The same happens if I run `list` rather than `apply`.
The dashboard for these sites shows that there are updates to be pulled in.

I've tried waiting a little while, logging out

[2016-05-23 17:23] #1076 closed, assigned to nobody

[2016-05-23 20:27] jribe commented on #1037
I'm seeing this problem when running `terminus auth login --machine-token=<SECRET>` in a continuous deployment script.

This script reproduces the error:

[code]

[2016-05-23 20:29] jribe opened #1081 "Getting error after installing terminus and trying to use it."
Duplicate of #1037 to encourage re-opening.

I have added steps to reproduce #1037

[2016-05-23 21:25] SaraMcCutcheon commented on #1079
@guyoron I'm not able to reproduce this with the information given. May I ask which site you were operating on so that I may take a closer look? You can email that to me at `sara [at] pantheon.io` if you prefer.

[2016-05-23 21:33] SaraMcCutcheon commented on #1078
@bwood I looked into it and while the option to clear the framework cache (Only for Drupal; WordPress caching requires plugins.) exists on the API, it is not enabled for Terminus. As it will only take a few minutes, I will add this feature and check with our product team to ascertain that this change is both desired (I believe it will be) and what they want the new flag to be called.

[2016-05-23 22:16] SaraMcCutcheon commented on #1075
Duplicate of and fixed in #1053

[2016-05-23 22:16] #1075 closed, assigned to nobody

[2016-05-23 23:55] SaraMcCutcheon commented on #1042
I wish this was how we did it, but the platform does not currently have this capability. The closest we could get to stateless at the moment would be to run an authorization with every request and not save the JWT we get back, which in the end would just make Terminus slower.

[2016-05-23 23:55] #1042 closed, assigned to nobody

[2016-05-24 00:07] SaraMcCutcheon commented on #1073
To not alter the output of the SSH-based commands (i.e. Drush and WP-CLI) was a choice we made because there are so many ways in which things come out from these applications that it creates more trouble than it solves to try to alter it.

That being said, you could perhaps request JSON output of the WP-launch-check project itself and then input the appropriate flag to have the data return in your

[2016-05-24 00:07] #1073 closed, assigned to nobody

[2016-05-24 00:08] #1081 closed, assigned to TeslaDethray

[2016-05-24 00:18] SaraMcCutcheon commented on #732
Update: This work is being done as part of our site migrations project. We're updating how you create sites on Pantheon so that imports (which you'll find will be called "migrations" instead) so that it has a significantly improved rate of success. Stay tuned.

[2016-05-24 01:47] guyoron commented on #1079
@TeslaDethray well, now I can't reproduce either. It seems to be working correctly. I'm happy to still give you more details privately if you're interested to understand what may have happened before. But it does seem to be working perfectly fine now.

[2016-05-24 01:47] #1079 closed, assigned to nobody

[2016-05-24 04:12] wenzowski commented on #1073
I see, `wontfix` because wrong repo.

[2016-05-25 18:08] #1066 closed, assigned to TeslaDethray

[2016-05-26 00:38] SaraMcCutcheon commented on #1029
The Jlogsdon/cli repo had been moved and renamed to wp-cli/php-cli-tools. Updating the composer.json and running composer update fixes this.

Before:
![image](https://cloud.githubusercontent.com/assets/868204/15560342/2c4343ea-22da-11e6-8a4a-e6d0eb0cf17a.png)

After:
![image](https://cloud.githubusercontent.com/assets/868204/15560333/1621bdd0-22da-11e6-9a34-f4c3b7bd29fa.png)

[2016-05-26 18:29] #1029 closed, assigned to TeslaDethray

[2016-05-26 19:53] uberhacker commented on #1029
@TeslaDethray: We should reopen this issue.  I'm still unable to see the options in Git Bash on Windows 10 after updating the dependency library from #1086.  See below:

[code]

[2016-05-26 19:59] rvtraveller commented on #1029
I feel like that cli repo is the right one though.  I remember hacking something with it to get the options to show up but I don't have that change in front of me to remember off the top of my head.  I'll try and keep digging when I get a free moment.

[2016-05-26 20:42] #1072 closed, assigned to TeslaDethray

[2016-05-27 03:38] rubelyn opened #1088 "terminus sites create not working"
I tried creating a new site via Terminus but I'm getting the following error:

Error: `PHP Notice:  Undefined variable: upstreams in phar:///usr/local/bin/terminus/php/Terminus/Helpers/InputHelper.php on line 880`

`Notice: Undefined variable: upstreams in phar:///usr/local/bin/terminus/php/Terminus/Helpers/InputHelper.php on line 880
PHP Fatal error:  Call to a member function get() on null in ph

[2016-05-27 14:02] ossobuffo opened #1089 "`terminus organizations sites list` does not return frozen status"
While `terminus sites list` returns the frozen/unfrozen status of a site, this field is not returned from the `terminus organizations sites list` command.

[2016-05-27 14:04] ossobuffo commented on #1089
It would be a nice-to-have if `terminus site info` also returned frozen status.

[2016-05-27 18:29] SaraMcCutcheon commented on #1089
Complete and total yes to this and it will be done today before I cut a release.

[2016-05-27 18:30] SaraMcCutcheon commented on #1088
Duplicate of #1048

[2016-05-27 18:30] #1088 closed, assigned to nobody

[2016-05-27 18:38] ossobuffo opened #1090 "Inconsistent create date format returned from various Terminus commands"
If I run `terminus site info --site=xyz --format=json`, I get a blob containing this:

[code]

If I run `terminus sites list --format=json`, I get a blob containing this in the relevant place:

[code]

If I run `terminus organizations sites --org=myorg --format=json`, I get a blob containing this in the relevant place:

[code]

It would be nice if they returned a consistent format, either a Unix t

[2016-05-27 18:50] KenWatts opened #1092 "Terminus not recognized on windows 7"
I followed the instructions for the install, and everything seemed to go perfectly, but when I type in:

terminus auth login

I just get

'terminus is not recognized as an internal or external command, operable program or batch file.

in xampp and windows command prompt, or

command not found

in MINGW64

not sure if this is a bug or if there's something else I need to do, but I've spent three day

[2016-05-27 18:55] ossobuffo commented on #1090
Actually, the last example is more complicated than that, because there are many situations in which the created date is returned as '1970-01-01UTC00:00:00', so even if I wrote a function to demangle the date, it wouldn't work half the time.

[2016-05-27 20:27] SaraMcCutcheon commented on #1090
You're right that these should be uniform, and that last one is clearly garbage. I'll address this right away. FWIW, you can change the time zone formatting to whatever it pleases you using PHP date format and the TERMINUS_DATE_FORMAT var, although clearly the variable is not being applied everywhere it ought to be at present.

[2016-05-27 21:51] #1090 closed, assigned to nobody

[2016-05-27 22:48] SaraMcCutcheon commented on #1092
@KenWatts Are you sure you got your Terminus file in the correct place? Which instructions did you follow?

[2016-05-28 16:50] KenWatts commented on #1092
Thanks for responding. I wasn't aware that could be an issue.

I followed the instructions at https://github.com/pantheon-systems/terminus/blob/master/README.md#installation

Specifically:

"Installing with Composer

The fastest and easiest way to install Terminus is via Composer. Simply run this in your terminal client:

composer require pantheon-systems/terminus"

The following locations and fil

[2016-05-29 17:47] KenWatts commented on #1092
@TeslaDethray I'm new to github and hit the wrong button when I closed this. The answer to your question is above.

[2016-05-31 00:30] pi-ron opened #1096 "`terminus sites mass-update` No route to host"
I've been trying to use the `terminus sites mass-update` command for the first time and I'm receiving a 500 error:

[code]

[2016-05-31 19:17] uberhacker commented on #1096
@pi-ron: I have done this successfully without the --upstream switch on sites with different upstreams.  Do you know if any of your sites are not D7 sites?  If so, that might be the issue, although I would expect a different error message. :)  Not sure if this is related, but there was an update to fix a mass-update issue here: #1064 and it's currently in master, not the latest stable version.

[2016-05-31 19:18] defaria commented on #235
Plus 1 for allowing db wp-cli commands on terminus.

[2016-05-31 19:38] uberhacker commented on #1047
@peterromero: Have you tried Git for Windows yet?  This is the only way I've been able to get `terminus` working in Windows 10 successfully (via Git Bash).  See https://git-for-windows.github.io/.

[2016-05-31 19:53] uberhacker commented on #414
@ahimsauzi: Did you try `composer update` in the same directory where composer.json lies yet?  If not, that might be your issue.

[2016-05-31 21:18] pi-ron commented on #1096
@uberhacker I have a couple of D8 development sites, and a bunch of sites using a custom upstream.  I've tried the drops-7 repo and my custom upstream repo but gets the same result.

[2016-05-31 23:33] uberhacker commented on #1096
@pi-ron: What happens if you execute without the --upstream switch?

[2016-05-31 23:35] pi-ron commented on #1096
@uberhacker tried running without --upstream, it gets a little further but then hits another, different wall:

[code]

[2016-05-31 23:38] uberhacker commented on #1096
@pi-ron: That looks like you need the patch from #1064.  Try the master repo instead of stable.

[2016-05-31 23:46] pi-ron commented on #1096
@uberhacker Installed terminus with homebrew, should I reinstall by cloning?

[2016-06-01 00:02] uberhacker commented on #1096
@pi-ron: I would recommend a composer install.  Try `composer require pantheon-systems/terminus:dev-master`.  Of course, this would require installing composer if you don't already have it installed.  You might also want to `brew uninstall terminus` to prevent conflicts.

[2016-06-01 03:26] pi-ron commented on #1096
@uberhacker Still no luck, unfortunately.

I reinstalled following your method, it seems to get a little way but still hitting the wall.

First attempt:

[code]

I then switch those sites over to git mode, second attempt:

[code]

[2016-06-01 12:34] uberhacker commented on #1096
@pi-ron: Just by chance, what is the output of `which terminus`?

[2016-06-01 16:53] kivabitar commented on #1047
@peterromero I am experiencing every problem you have listed above. Any luck?
@uberhacker I tried GIT bash, same issue. I copied the curl-ca-bundle.crt into every single place where curl.exe exists on this machine. Still getting same error code.

[2016-06-01 18:45] KenWatts commented on #1092
I'm still trying to resolve this. If anyone can offer a suggestion I would be very grateful. I'm afraid that I pulled myself completely off the radar when I inadvertently closed, then reopened the issue.

[2016-06-01 19:03] uberhacker commented on #1047
@kivabitar: Is it too early to suggest using Linux instead? :)

[2016-06-01 21:36] KenWatts commented on #1092
Okay. I discovered that the path I had written had an error in it, and fixed that.

That got me to a new error involving a certificate problem. I searched the issues and eventually discovered that I needed a machine-token from Pantheon.

I got the token, and tried the command:

"terminus auth login --machine-token=TheTokenIGotFromPantheon"

that resulted in the message:

"cURL error 60: SSL certif

[2016-06-01 21:38] SaraMcCutcheon commented on #1092
Sorry for the delay @KenWatts. Something stands out to me about your last message - you didn't use `php` in your first run, but you did in your second. The outputs indicate to me that your `terminus` is being accessed properly, but in the second instance you're trying to run a bash script through PHP. Try the second command again without `php`. Does it get you in?

[2016-06-01 21:42] SaraMcCutcheon commented on #1092
You may also find this information helpful as to why cURL won't work on your Windows machine:
http://superuser.com/questions/442793/why-cant-curl-properly-verify-a-certificate-on-windows (You must disable SSL certificate validation.)

When you use `CLI_TEST_MODE=1` (which has been recently renamed to `TERMINUS_TEST_MODE` FYI), you are maneuvering around a version check which uses cURL. Some people

[2016-06-01 22:04] KenWatts commented on #1092
Thanks @TeslaDethray. I tried the command without php:

"CLI_TEST_MODE=1 terminus auth login --machine-token=TheTokenIGotFromPantheon"

and I now get the message:

"The provided machine token is not valid"

I double-checked that by creating a new token and trying it a second time: same result.

[2016-06-01 22:40] SaraMcCutcheon commented on #1092
I'm afraid you're still being tripped up by the cURL issue.

This comment I left on a nearly identical issue covers the scenarios.
https://github.com/pantheon-systems/terminus/issues/992#issuecomment-199946590

That being said, I should consider how to make the error yielded by this issue does not just claim the machine token is bad.

[2016-06-01 22:40] #1092 closed, assigned to nobody

[2016-06-02 07:44] twooten opened #1097 "`terminus site redis clear` fails for WordPress sites"
terminus --site=sitename --env=dev site redis clear
[2016-06-02 07:38:54] [error] You must upgrade to a business or an elite plan to use Redis.

I am getting this error for sites on professional, business and elite plans.

This is working correctly for Drupal sites.

Tims-MacBook-Pro:~/ terminus cli version
+------------------+----------+
| Key              | Value    |
+------------------+-------

[2016-06-02 19:02] kivabitar commented on #1047
@uberhacker yeah windows 10 has caused enough issues where I have already considered a VM with Linux. Was hoping to figure it out without having to do that though :/

[2016-06-02 19:08] bmackinney commented on #1047
Hopefully the new Windows Subsystem for Linux resolves this. https://msdn.microsoft.com/en-us/commandline/wsl/about

[2016-06-02 20:47] #1078 closed, assigned to TeslaDethray

[2016-06-02 21:35] #1089 closed, assigned to TeslaDethray

[2016-06-02 22:16] pi-ron commented on #1096
@uberhacker `/usr/local/bin/vendor/pantheon-systems/terminus/bin/terminus`

[2016-06-02 23:50] uberhacker commented on #1096
@pi-ron: Something more like `/Users/tdaff/.composer/vendor/bin/terminus` or `/Users/tdaff/vendor/bin/terminus` is what I would have expected.  How exactly did you install via Composer?

[2016-06-03 15:45] peterromero commented on #1047
@uberhacker Yes, I use Git for Windows, although I was running the terminus commands through the Windows terminal because I couldn't figure out what the commands needed to be to work in the Git bash terminal. I've given up on this project for the moment; maybe if I need to pick it up again I can try a VM or the new Windows subsystem for Linux (huh?). :)

[2016-06-03 18:11] KenWatts commented on #1047
@uberhacker What version of Windows did you get Terminus working on?

I'm on Windows 7, using the bash terminal from Git for Windows, and am having the exact same problems others are having on W10.

I've tried all of the suggested solutions to no avail. I contacted support at Pantheon, and they basically told me that Terminus doesn't work on Windows and linked me to this thread.

So if you _do_ ha

[2016-06-03 19:00] KenWatts commented on #1047
Okay all--I seem to have done it.  Here's what worked for me:

I opened the php.ini file in xampp, and found the line:
;curl.cainfo =
I then searched for "cacert.pem", and added its full path to the end of the "curl.cainfo" line (in quotes) in php.ini, removed the ";" from the beginning of the line, and saved php.ini.

I tried to login to terminus again, and this time I got the welcome message.

H

[2016-06-03 19:07] kivabitar commented on #1047
@KenWatts : You are the man! Nice find! Works for me-.

[2016-06-03 19:08] SaraMcCutcheon commented on #1047
This really is, @KenWatts. Thank you so much! I'll have to consider how to word your findings so as to add them to the README.

[2016-06-03 19:17] uberhacker commented on #1047
@KenWatts: Glad you were able to get it working.  I imagine this issue is dependent on how you install PHP, in general.  I'm currently working with Terminus on Windows 10 in Git Bash.  I installed it in a very unorthodox way.  In my case, the key to getting it working was Composer.  In order to get Composer working, you first need to have the CLI version of PHP installed.  I installed [Acquia DevD

[2016-06-03 19:22] KenWatts commented on #1047
Thanks @uberhacker.

I should add, for others, that when I did the search on Windows for php.ini windows didn't find the one in xampp. So you may have to just browse for it.

[2016-06-03 21:18] SaraMcCutcheon commented on #1097
I can't make this happen for any kind of site, but this check really oughtn't be client-side anyway. Terminus should allow the API to make this distinction. I'm going to remove the check for the site plan on this command.

[2016-06-03 21:26] SaraMcCutcheon commented on #1096
@pi-ron I took a look at the site you're getting an error on, 0f76af30-718d-4e15-8507-79e9f2dfaaf8, and it is frozen. This is probably why you are having this issue when you attempt to connect to it. Have you tried unfreezing or deleting this site?

[2016-06-03 21:49] kivabitar commented on #1047
@KenWatts default xampp install location is C:\xampp\php\php.ini

[2016-06-03 23:49] SaraMcCutcheon commented on #1097
@twooten Which site are you having this trouble on?

[2016-06-04 08:58] twooten commented on #1097
@TeslaDethray this has been reported by a Pantheon customer in ticket 62800. The site is live-tenexhealthcom.pantheonsite.io.

I've reproduced this on http://dev-tw-wp.pantheonsite.io/

Tims-MacBook-Pro:~/ terminus --site=tw-wp --env=dev site redis clear
[2016-06-04 08:56:22] [error] You must upgrade to a business or an elite plan to use Redis.
Tims-MacBook-Pro:~/ terminus --site=tenexhealthcom --

[2016-06-04 18:08] uberhacker commented on #1096
@pi-ron: Check out the [Terminus Sites Status](https://github.com/uberhacker/tss) plugin to see which of your sites are currently frozen.  @TeslaDethray: Would it make sense to provide a better error message for easier troubleshooting?

[2016-06-04 20:49] SaraMcCutcheon commented on #1096
@pi-ron `terminus sites list`, `terminus site info`, and `terminus organizations sites list` will also tell you whether a site is frozen.

[2016-06-04 22:37] uberhacker commented on #1096
@TeslaDethray: Which Terminus version will show if a site is frozen?  With the latest 0.11.2 version, I still cannot tell if a site is frozen on any of the above listed commands.

[2016-06-06 16:54] SaraMcCutcheon commented on #1096
@uberhacker It is possible starting with 0.11.2. If you do not have any frozen sites, the frozen column will not appear.

[2016-06-06 17:37] uberhacker commented on #1096
@TeslaDethray: Ah, gotcha.  I didn't have any frozen sites when I tested so that would make sense.  Thanks

[2016-06-07 00:39] SaraMcCutcheon commented on #1097
I added myself to TW-WP's team and tried with both 0.11.1 and 0.11.2 with no problems.
![image](https://cloud.githubusercontent.com/assets/868204/15842404/9f22144a-2c0d-11e6-9eca-66ed0176c135.png)

[2016-06-07 01:55] pi-ron commented on #1096
@uberhacker Thanks for the help I've installed the sites status plugin through the great `tpm` plugin 👍

@TeslaDethray Thanks for your help here I'll try again once I've unfrozen all my sites.

[2016-06-07 02:05] pi-ron commented on #1096
@TeslaDethray I checked in on all of my sites using the upstream I originally specified and none of them were frozen.  I've tried again, however still hitting the same issue I originally did:

[code]

[2016-06-07 02:12] pi-ron commented on #1096
@uberhacker I'm trying again without the --upstream switch. I've unfrozen all sites.

[2016-06-07 02:14] pi-ron commented on #1096
As soon as I hit `y` to confirm a site update, it pumps out this error

[code]

[2016-06-07 07:09] twooten commented on #1097
Thank you for looking at this @TeslaDethray.

This is now working correctly. I had a look through SitesCommand.php and saw that the "sites show" command results are cached (service level being a part of that):

So the fix here was for me to simply run `terminus sites list` after my service level changed from sandbox to elite.

Thank you again!

[2016-06-07 07:09] #1097 closed, assigned to TeslaDethray

[2016-06-07 13:38] uberhacker commented on #1096
@pi-ron: My guess is you don't have the latest version of Terminus in your path.  Can you please describe all the steps you took to install Terminus?  If you installed via Composer, your executable should be `/Users/tim/.composer/vendor/bin/terminus` or `/Users/tim/vendor/bin/terminus`.  If either of these exist, you should add the directory to your path.  What is the output of `$ which terminus`

[2016-06-07 14:55] ossobuffo opened #1102 "`terminus sites create` API call crashes with a Python backtrace"
[code]

results in the an error. Upon further investigation, the following backtrace is given in the HTTP response:

[code]

It turns out that the following JSON payload is being sent:

[code]

The call succeeds if the `organization_id` is sent as a UUID instead of the org name.

[2016-06-07 15:14] ossobuffo commented on #1102
Obviously, if you pass the org's UUID in the `--org` parameter the command works... but passing a non-UUID shouldn't cause a catastrophic crash. At the very least, a warning message to the user would be nice; a name-based lookup (or even a menu-choice) would be icing on the cake.

[2016-06-07 19:52] SaraMcCutcheon commented on #1102
It looks like there's an issue when looking up your organization's ID. I can't duplicate this error exactly - I can make it err without telling me my organization name is bad, but it won't give me a Python stacktrace. Would it be possible to get the `--debug` output from when you try to run this please, @ossobuffo? You can email it to sara [at] pantheon.io to keep the session JWT/UUIDs from public

[2016-06-07 20:44] ossobuffo commented on #1102
I emailed you the debug output, but now the error is happening during a GET to `workflows` rather than on the POST, and I doubt it's the same Python error. I haven't examined the curl output of the GET query.

I do know that I have had trouble yesterday and today with validating workflow-related tasks. In some cases Terminus was trapped in a perpetual loop of GETs on `workflows` even though the wo

[2016-06-08 03:23] pi-ron commented on #1096
[code]

[code]

[2016-06-08 04:11] pi-ron commented on #1096
Ok, think I've fixed up my path!

[code]

[code]

[2016-06-08 04:27] pi-ron commented on #1096
Great, the command is working now.  Thanks for your help.

[2016-06-08 04:27] #1096 closed, assigned to nobody

[2016-06-08 07:59] rubelyn opened #1103 "Add a terminus command to check env binding ID"
There are SFTP clients which require absolute path in setting the remote path or initial directory.

remote_path = srv/bindings/394a01ffcc7e40e08b84856b3bed44fc

It would be nice if Customer can run a command to see the current env binding without the need to open another SFTP client.

`Ex. terminus site binding-id`
`Output : 394a01ffcc7e40e08b84856b3bed44fc`

Desk Tickets : 63337,63313,62290

[2016-06-08 13:30] uberhacker commented on #1096
@pi-ron: No problem.  Glad you were able to fix it.

[2016-06-08 14:49] jsd219 commented on #1103
Yes, I would like to see this as well please.

[2016-06-08 17:16] eeeschwartz opened #1104 "terminus deploy: cache-clearing behavior for Drupal 8"
Hello hello. I wanted to note that I'm getting different cache-clearing behavior with the following deployment scripts. The first example adds an explicit `terminus site clear-cache` in addition to deploying with the `--cc` flag. When I only rely on the `--cc` flag, I encounter an error specific to my codebase. I just wanted to highlight since I was expecting the two scripts to behave the same but

[2016-06-10 13:30] jackfoust opened #1105 "Terminus Drush watchdog-delete fails silenty"
Having issues with watchdog-delete --type=TYPE.

`terminus drush 'wd-delete --type=php' --site=SITE --env=ENV`
does not present delete confirmation prompt or error and return to CLI

`terminus drush 'ws --type=php' --site=SITE --env=ENV`
works as intended

`drush @ALIAS wd-del --type=php`
works as intended

Terminus version 0.11.2

[2016-06-10 14:00] jackfoust commented on #1105
I'm experiencing issues with Drush commands that return a prompt, such as `watchdog-delete` and `pm-update`. Trying to determine if this is just me.

[2016-06-22 23:36] styledev commented on #982
I am getting this on stable 0.11.2 (bottled), work around above by OP works for me, still annoying.

[2016-06-23 22:51] mael5trom opened #1110 "hostname lookup error message"
When querying for a hostname with:
terminus site hostname lookup --hostname=com.domain-doesntexist

With a hostname that doesn't exist you'll receive an error like:

Catchable fatal error: Argument 1 passed to Terminus\Outputters\Outputter::outputRecordList() must be of the type array, null given, called in phar:///usr/local/bin/terminus/php/Terminus/Commands/SiteCommand.php on line 907 and define

[2016-06-24 17:57] ttrowell opened #1111 "Terminus backups 'all' parameter not recognized."
[code]

Taras-MacBook-Pro:workspace tararowell$ terminus cli version
+------------------+----------+
| Key              | Value    |
+------------------+----------+
| Terminus version | 0.11.2   |
| Terminus script  | terminus |
+------------------+----------+

[2016-06-27 22:50] lauren-kelly opened #1113 "--yes flag not working on Terminus 0.11.2 version."
attempted terminus drush "up views metatag xmlsmitemap" --yes --site=<sitename> --env=dev
and it failed, either hanging after update check or ending process without updating.

Had to use  terminus drush "up views metatag xmlsmitemap -y"  --site=<sitename> --env=dev as a work around.

[2016-06-28 15:42] mattking5000 opened #1114 "Can't set user passwords with exclamation marks in wp_cli"
[code]

Works fine with any other password as long as there is not an ! mark somewhere in it. Tried escaping with \, \, using no quotes and single quotes. No avail.

[2016-06-28 16:15] mattking5000 commented on #235
Any updates on this? would love to be able to use the WP_CLI db commands, if not all at least some.

[2016-06-28 19:08] benjyring commented on #414
+1

[2016-06-28 19:16] uberhacker commented on #414
I have created a Terminus plugin that self updates if you installed via `git clone` or `composer require`.  It works on Linux and OSX but Windows is still a bit problematic.  I may plan to make it work for the `phar` install method also if it doesn't get into Terminus core soon. :)  See https://github.com/uberhacker/tsu.

[2016-06-28 19:34] davidstrauss commented on #1114
This is [a Bash thing](http://stackoverflow.com/a/22130745). I believe it requires single quotes and the backslash to escape.

[2016-06-29 02:53] derimagia commented on #235
I have a plugin I made to do this for Drupal Sites: https://github.com/derimagia/terminus-pipe - my goal was/is to make it as fast as possible.

Sadly I haven't had too much time so I haven't "released" the plugin - right now it only supports Drupal (needs drupal aliases.. although it should work/be able to be configured to work with wordpress sites if an alias is set up...). Secondly it only work

[2016-06-29 11:29] danielbachhuber opened #1115 "Terminus doesn't detect changes to dev/multidev environment when env is in SFTP mode"
After I've created a new multidev environment and installed a plugin using WP-CLI, running `terminus site code diffstat` doesn't indicate any changed files. If you open the dashboard for the environment, wait for the code to refresh, and then execute the previous command again, it will indicate changed files.

I'd expect `terminus site code diffstat` to indicate changed files without requiring the

[2016-06-29 20:40] mattking5000 commented on #1114
I thought that initially, but same error message for other non-alpha characters like semi-colon.

[2016-06-29 21:10] davidstrauss commented on #1114
Semicolon is also a Bash reserved character.

On Wed, Jun 29, 2016, 13:40 mattking5000 notifications@github.com wrote:

[2016-06-30 21:49] danielbachhuber opened #1116 "Incorrect usage for `terminus site redis`"
I saw:

[code]

Terminus is enabled on a site-basis, not environment basis, so the `--env=<env>` argument shouldn't be present in usage docs.

[2016-07-02 19:27] RudyMartin commented on #1030
Still a bug ...

On terminus cli version 0.11.2 on Windows I get denied access using token

Terminus auth login --machine-token=myCorrectToken

I also tried email login using debug

Terminus auth login myemail --password=mypassword --debug

Got same message and checked the correct params are being sent

verify=true
method=post
absolute_url=false
email:myemail
password:mypassword

URI: https://dash

[2016-07-02 19:32] RudyMartin commented on #1047
I am getting accessed denied error on Window 8 too!

On terminus cli version 0.11.2 on Windows I get denied access using token

Terminus auth login --machine-token=myCorrectToken

I also tried email login using debug

Terminus auth login myemail --password=mypassword --debug

Got same message and checked the correct params are being sent

verify=true
method=post
absolute_url=false
email:myemail
pa

[2016-07-05 16:31] messageagency opened #1117 "Getting an error when I create a site using terminus"
I am running the command from within a shell script where I have created the variables:
terminus sites create --site=$PantheonSiteName --label="$PantheonSiteLabel" --org=$orgid --upstream=$upstream
I have set the variables correctly and the site gets created, but when I run either of these commands to get the new sites uid:
terminus site info --site=$PantheonSiteName --field=id --format=bash
or,
t

[2016-07-06 22:07] aimhighagency commented on #1103
Yup - would be super helpful in our workflow

[2016-07-08 15:39] pdimaso commented on #1039
Hi Ari,

This issue surfaced for me today.

After restarting my Mac, I tried to login with my machine token but got the "Machine Token not valid". I then revoked it and generated a new token, but got the same message, Then I tried logging in with my email address, but no luck. Anything amiss?

Thanks,

Peter Di Maso
US Fund for UNICEF

pdimasoimac:USFSites pdimaso$ terminus auth login pdimaso@unic

[2016-07-08 16:02] dannyroes commented on #1039
I can confirm I'm having the same issue attempting to register a new machine token today as well. Also on a Mac, in case that's relevant.

terminus auth login --machine-token=[token]
[error] The provided machine token is not valid.

[2016-07-08 16:14] heronog commented on #1039
Got the same yesterday, with the addition that my existing machine tokens were gone.
I already filed a support ticket, we'll see what they can find today.

I could not regenerate new machine tokens as our enterprise SSO was under maintenance at that precise moment and didn't try again.

Enviado desde mi iPhone

[2016-07-08 17:59] ccharlton commented on #1039
Ditto for me yesterday. All was fine 24-48 hours prior to that.

Waiting to hear more from support team.

[2016-07-08 18:17] mattking5000 commented on #1039
Please re-open. This is broken now for me as well

[2016-07-08 18:31] danny-englander commented on #1039
I am having the same issue as well as another dev on the same project, here is more info on what we have tried to fix this. https://groups.google.com/a/pantheon.io/d/msg/power-users/wAgXhT70ro4/dl8CEmIZBgAJ

This is still not resolved.

[2016-07-08 19:39] doublejosh commented on #414
OMG docs

[2016-07-08 21:02] angrytoast commented on #1039
We're seeing the same results in Travis CI based builds, error message when trying to authenticate with machine token:

[code]

Tested with regenerated tokens and revoking the old ones, still the same results.

[2016-07-11 16:43] stevector opened #1118 ""Solr enable" claims Business or Elite plan is necessary"
When running `terminus site solr enable` enable on a sandbox plan, I got the following message:

[code]

In the browser-based dashboard, Solr can be enabled for Sandbox and Professional plans.

[2016-07-12 23:59] stevector commented on #1115
@TeslaDethray, do you know of any workarounds that could trigger a refresh of the code status from the command line? This bug changes the way @danielbachhuber are writing tests for some of the Pantheon WordPress plugins. We also got a question about it on the power users group: https://groups.google.com/a/pantheon.io/forum/#!topic/power-users/eKVU0A5NFIU

[2016-07-15 20:20] uberhacker commented on #1115
Not sure if this is directly related but I noticed Terminus lets you switch from sftp to git mode regardless if there are pending changes or not.  This is unlike the dashboard which will not let you switch unless you create a commit of the pending changes.  Should the same check be added to Terminus as a possible resolution to this issue?

[2016-07-15 20:21] danielbachhuber commented on #1115
This sounds unrelated to the original problem in this issue. I'd encourage you to open a new issue.

[2016-07-18 05:24] bjdevil21 commented on #1057
I have updated to the latest version and it looks like the DB didn't update, which is the expected behavior. Thanks for your work on this project!

[2016-07-19 12:31] dustinleblanc commented on #1105
Commands are failing silently for me as well

[2016-07-19 17:12] ataylorme commented on #1115
I am running into a similar issue when updating WordPress plugins via Terminus and wp-cli then doing a code commit with Terminus.

Steps to reproduce:
1) Choose a WordPress site on Pantheon that has plugin updates available.
2) Create a multidev environment to update plugins on
3) Set the multidev to SFTP mode with `terminus site set-connection-mode --site=${SITE_UUID} --env=${MULTIDEV} --mode=sft

[2016-07-19 20:18] ataylorme commented on #1115
@danielbachhuber For what it's worth I ended up using `--yes` in Terminus when making a code commit to force the commit even though Terminus doesn't think there is a change.

[2016-07-19 20:44] danielbachhuber commented on #1115
This doesn't solve the problem for me :( The current problem is that a plugin can't be activated, because the filesystem isn't refreshed.

[2016-07-22 15:14] ioskevich opened #1123 "Fix 'db' element in "terminus site import-content" command"
Terminus version  0.11.2 (tried a couple of older versions as well)
Running:

`terminus site import-content --site=[SITE_NAME] --env=dev --element=db --url=[FULL URL TO dump.sql.gz]
`
returns:

[code]

[2016-07-23 19:09] martdavidson opened #1124 "Special Characters in user-create password."
Hey, tested for both Drush and WP, response is: Command not supported as typed. End goal is being able to pass user-supplied strings to the create-user command, so escaping individual characters isn't possible.

Here's what I've tried:

`terminus drush "user-create username --mail=email@email.com  --password=!@#$%^&*()" --site=pantheon-site --env=dev`

I know this fails because strings need to be

[2016-07-25 17:21] greg-1-anderson commented on #1124
There was a Terminus issue about this a while back that was closed as will-not-fix.  If escaping **was** fixed in Terminus, then you'd still have a problem, as Pantheon SSH explicitly rejects any command string that contains certain characters in **any** position, regardless of quoting or escaping.  The end result of this is that you simply cannot script setting a user's password to a string conta

[2016-07-25 18:53] martdavidson commented on #1124
Thanks! I figured it was something I was doing, relieving to hear otherwise.

[2016-07-26 03:33] uberhacker opened #1127 "terminus site delete-branch does not delete branch"
Steps to reproduce:
1. Create a new multidev test environment
2. Execute `terminus site delete-env` and select the site containing the newly created multidev environment.  Then type y at the prompt to delete.
3. Execute `terminus site delete-branch` and select the newly created branch for the site of the multidev environment
Terminus returns `[info] Deleted Multidev environment branch "0"` where "

[2016-07-27 16:39] brookemahoney commented on #414
Here's how I do it. I set up a bash alias called terminusup which pulls the latest from git and then runs composer update: <pre>See pastie link below; github mangles the code</pre>
Not sure if there's a cleaner way :)
Edit: I can't seem to get github to print the alias command here without mangling it. So, posting on pastie.org : http://pastie.org/10920852

[2016-07-27 16:52] brookemahoney opened #1128 "Curl SSL read error when attempting to get latest db backup"
More often that not, when trying to get the latest db backup, it fails to download the whole file and reports the following error:
`curl: (56) SSL read: error:00000000:lib(0):func(0):reason(0), errno 60`

The full size of the backup is usually between 3GB and 4GB.

Here's the command that was used:
`terminus site backups get --element=database --site=example --env=live --to=~/example/ --latest`

W

[2016-07-28 20:13] ccharlton commented on #1105
This happens for me too, with a custom Drush command that uses `drush_prompt()`.

[2016-07-28 20:15] ccharlton commented on #414
+1 for convenience.

[2016-07-28 21:06] brookemahoney commented on #414
whoa, I just took a look at @uberhacker 's Terminus plugin. That looks sweet! (Just looked at code, haven't tried it)

[2016-07-29 17:29] uberhacker opened #1129 "New multidev environments should default to compatible PHP and Drush versions"
I noticed when I create new multidev environments from dev for some of my Drupal 7 sites, I get default PHP and Drush versions that are not compatible with the environment.  For instance, I sometimes get PHP version 5.3 and Drush version 5.  The expected versions would at least meet the minimum requirements as mentioned here: https://www.drupal.org/requirements.  Would it make sense to analyze the

[2016-07-29 17:36] davidstrauss commented on #1129
We're gradually moving that configuration into `pantheon.yml` so it follows the flow of the code.

[2016-07-29 17:40] uberhacker commented on #1129
@davidstrauss: Thanks for the feedback.  Keep the improvements coming!  I appreciate all the hard work that goes into this project.

[2016-07-29 18:35] uberhacker commented on #1127
FWIW, the command `terminus site delete-env --remove-branch` does remove the branch.  But it would be nice to also have the ability to remove the branch after removing the environment.  I noticed you can remove the branch from the Dashboard at `Multidev overview` under `Git Branches`.

[2016-08-03 12:35] aksuhana opened #1130 "Terminus command not found"
terminus command not found on linux after installing it via composer . ther is vendor folder and composer.json and .lock

[2016-08-03 14:22] dustinleblanc commented on #1130
Hi Aksuhana,

You need to make sure your `$HOME/.composer/vendor/bin` folder is in your `$PATH` variable in order to directly execute terminus via these means:

You should add something like this to your profile (.bashrc, .bash_profile, .zshrc, etc)

[code]

[2016-08-04 17:33] kourylape commented on #1123
This is because it's not `--element=db` it should be `--element=database` according to [SiteCommand.php](https://github.com/pantheon-systems/terminus/blob/master/php/Terminus/Commands/SiteCommand.php#L1055).

[code]

[2016-08-05 01:10] maxgamurar opened #1133 "terminus 0.11.3 finder conflict"
composer global require pantheon-systems/terminus —prefer-source —no-interaction

Changed current directory to /home/ubuntu/.composer
Using version ^0.11.3 for pantheon-systems/terminus
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.
Probl

[2016-08-05 03:13] pirog opened #1134 "0.11.3 regression posting ssh key?"
So replication steps for me are
1. Post an ssh key successfully via terminus 0.11.2
2. Upgrade to 0.11.3
3. Try to post again with same command from 1

`terminus ssh-keys add --file="$HOME/keys/${KALABOX_SSH_KEY}.pub"
` With 0.11.2

[code]

`terminus ssh-keys add --file="$HOME/keys/${KALABOX_SSH_KEY}.pub"
` With 0.11.3

[code]

[2016-08-05 14:25] greg-1-anderson commented on #1133
We should not recommend `composer global install` for installing Terminus, as this will produce unpredictable failures depending on what other components the user has installed. This problem is insolvable; see [cgr](https://github.com/consolidation-org/cgr).

[2016-08-05 16:24] icylace opened #1135 "Sites on which you are both an org and a team member do not appear using the --team filter in sites list"
If you are a member of an organization all the sites from that will be included in the listing generated by `terminus sites list`.

It would be useful if there was an option to only show sites that you are an actual team member of.  Maybe something like `terminus sites list --member` of which `terminus sites list --owner` would be a subset.

[2016-08-05 16:37] maxgamurar commented on #1133
@greg-1-anderson what do you recommend instead?

[2016-08-05 17:45] greg-1-anderson commented on #1133
@maxgamurar [cgr](https://github.com/consolidation-org/cgr)

[2016-08-05 17:47] greg-1-anderson commented on #1133
@TeslaDethray: Documentation issue.

[2016-08-05 21:30] greg-1-anderson commented on #1113
drush "up views metatag xmlsmitemap --yes" --site= --env=dev

[2016-08-05 21:30] #1113 closed, assigned to nobody

[2016-08-05 23:47] maxgamurar commented on #1133
ok thanks, CGR did the job well !

[2016-08-05 23:47] #1133 closed, assigned to nobody

[2016-08-06 13:04] ioskevich commented on #1123
Ok, then it's an issue about documentation.

`terminus help site import-content` returns:

##NAME
    terminus site import-content

##DESCRIPTION
    Import a zip archive == see this article for more info:

##SYNOPSIS
    [--site=<site>] [--env=<env>] [--url=<url>] [--element=<element>]

##OPTIONS
    --site=<site>
        Site to import content to
    --env=<env>
        Name of the environment t

[2016-08-09 23:24] SaraMcCutcheon commented on #1111
This is not a bug. It is stated in the help documentation that the 'all' element only works for backup creation.

[2016-08-09 23:24] #1111 closed, assigned to nobody

[2016-08-09 23:28] SaraMcCutcheon commented on #1135
@icylace This functionality already exists in Terminus. Please enter `terminus help sites list` to get a full list of parameters for this command.

[2016-08-09 23:28] #1130 closed, assigned to nobody

[2016-08-09 23:28] #1129 closed, assigned to nobody

[2016-08-09 23:32] #1124 closed, assigned to nobody

[2016-08-09 23:34] SaraMcCutcheon commented on #1123
@ioskevich @ckylape is right that it's because 'db' was used instead of 'database', but that is not a documentation issue because it should be supported. This is a bug.

[2016-08-09 23:42] SaraMcCutcheon commented on #1118
You're right, @stevector, this is very out-of-date. I'll make a pull request to fix it.

[2016-08-09 23:47] icylace commented on #1135
@TeslaDethray Okay, I guess a union between the results of `terminus sites list --team` and `terminus sites list --owner` is what I was looking for.  Thank you !

[2016-08-09 23:52] SaraMcCutcheon commented on #1135
Just `--team` works to get the sites of which you are a team member, as requested.

[2016-08-10 00:02] icylace commented on #1135
@TeslaDethray Unfortunately, that's not the case.  My dashboard lists 4 sites:

![dashboard-sites-list](https://cloud.githubusercontent.com/assets/511030/17537526/564dd02a-5e6b-11e6-8bfa-12a425d0f4d1.jpg)

However, Terminus lists sites differently:

![terminus-sites-list](https://cloud.githubusercontent.com/assets/511030/17537530/5b759e5c-5e6b-11e6-807b-ff38acb339ee.jpg)

I'm assuming site ownersh

[2016-08-10 00:09] SaraMcCutcheon commented on #1135
@icylace I'm thinking that what you've found here is a bug. When the sites list is generated, orgs are looked up, then all the org sites are listed, then we look at the team sites and add them to that list. Duplicates are not added but neither is the information that you are on the team, so sites on which you are both an organizational member and a team member will appear as org-only.

I'm going t

[2016-08-10 00:12] icylace commented on #1135
Thank you, much appreciated !

[2016-08-10 00:26] SaraMcCutcheon commented on #1117
@messageagency Would you mind running `terminus cli info` as well as the `terminus site info --site=<site> --debug` commands and returning the entirety of the output, please? I can't determine what it is that you're receiving as a timestamp that could cause this issue. Have you defined the environment variable `TERMINUS_DATE_FORMAT`?

[2016-08-10 00:26] #1114 closed, assigned to nobody

[2016-08-10 00:33] SaraMcCutcheon commented on #1116
@danielbachhuber Actually, `terminus site redis clear` requires an `--env` parameter. There are currently several subcommands in Terminus which have a handful of subcommands which do not use the same parameters. I'm making a pull request to clarify that it's for `clear` only.

[2016-08-10 18:29] SaraMcCutcheon commented on #102
Completed by @uberhacker in #1141!

[2016-08-10 18:29] #102 closed, assigned to nobody

[2016-08-10 20:15] #1116 closed, assigned to nobody

[2016-08-10 20:52] #1110 closed, assigned to nobody

[2016-08-10 22:30] #1123 closed, assigned to nobody

[2016-08-10 23:25] #1118 closed, assigned to nobody

[2016-08-10 23:43] #1127 closed, assigned to nobody

[2016-08-11 18:40] ab75173 opened #1145 "backup using --element=all error"
**Command**
terminus site backups get --element=all --env=live --to=Desktop --site=pantheon-install-name --latest
**Error**
[error] all is an invalid element. Please select from these: code, database, files
    element: 'all'
    choices: 'code, database, files'

[2016-08-12 16:43] dficker commented on #1105
I've been noticing weird stuff with terminus drush 'pm-update'.  Tried updating from 0.11.2 to 0.11.4 and it didn't fix it.

Here's what I get when I run the command:

That is literally all I get.  It seems to hang.  By guessing, I found that it was waiting for input even though it didn't say so.  I found that if I typed "y" and hit Enter, then I get this information:

A few observations:
- Part o

[2016-08-12 17:18] SaraMcCutcheon commented on #1145
Please use `terminus help site backups` for details on which commands the `all` element is supposed to work for.
https://github.com/pantheon-systems/terminus/blob/master/php/Terminus/Commands/SiteCommand.php#L51

[2016-08-12 17:18] #1145 closed, assigned to nobody

[2016-08-12 20:34] jackfoust commented on #1105
I was thinking maybe it had something to do with  #1023, but no luck so far.

[2016-08-24 18:22] hawkemediadev opened #1150 "drush updatestatus not found"
When I try to run the drush updatestatus (ups), I get a message that says the command could not be found. I'm trying to replicate https://github.com/ataylorme/wordpress-at-scale-auto-update for Drupal sites, and could really use this command. I have Drush 7.0 installed, and other Drush commands work just fine.

[2016-08-24 19:15] mrf opened #1151 "`sites list` and `sites aliases` return different output"
When I run `terminus sites list` I see all the sites (including organizaitonal sites) that I have access to.

When i run `terminus sites aliases` I only get drush aliases for the sites I have been added directly to and many of the other sites I have access to are not in the alias file.

[2016-08-24 23:40] SaraMcCutcheon commented on #1028
Completed in #1152

[2016-08-24 23:40] #1028 closed, assigned to TeslaDethray

[2016-08-24 23:43] SaraMcCutcheon commented on #893
The proposal has been accepted and is in progress for Terminus 1.0. Closing this issue.

[2016-08-24 23:43] #893 closed, assigned to TeslaDethray

[2016-08-24 23:43] SaraMcCutcheon commented on #596
This proposal has been accepted and is in progress for Terminus 1.0.

[2016-08-24 23:43] #596 closed, assigned to nobody

[2016-08-24 23:44] SaraMcCutcheon commented on #684
The bash formatter is to be abandoned as part of the switch to Symfony Console in Terminus 1.0. Closing this issue.

[2016-08-24 23:44] #684 closed, assigned to nobody

[2016-08-24 23:45] SaraMcCutcheon commented on #1009
Terminus help will be automatically generated by Symfony Console as part of Terminus 1.0. Closing this issue.

[2016-08-24 23:45] #1009 closed, assigned to nobody

[2016-08-25 00:19] SaraMcCutcheon commented on #1151
This is by design, despite my very best efforts. So I wrote [a Terminus plugin to replace the `sites aliases` command with the incomplete output with a complete one](https://github.com/pantheon-systems/all-aliases-plugin). There is more information on how to install, use, and develop Terminus plugins in [the Wiki](https://github.com/pantheon-systems/terminus/wiki/Plugins).

[2016-08-25 00:19] #1151 closed, assigned to nobody

[2016-08-25 08:26] hugovk opened #1154 "Easier to remember version alias"
Whenever I want to check Terminus's version, I always have to look up `terminus cli version` in the [commands in the docs](https://github.com/pantheon-systems/terminus/wiki/Available-Commands) after trying and failing things like:

[code]

Would it be possible to add an alias to `terminus cli version` with something like `terminus -v` or `terminus --version` that most programs use?

Thanks!

[2016-08-25 20:04] iamEAP opened #1156 "Expose replica/slave DB connection info"
I've got a use-case where I'd like to have programmatic access to replica database connection details: tableau-mkt/pantheon-mysql-proxy#4.

In an ideal world, if a replica is enabled for a site/environment, it would just show up as another field (or fields) in the `terminus site connection-info` command, for example:

[code]

[code]

[code]

Is there appetite to have this included in terminus core

[2016-08-26 19:04] xohail opened #1157 "I can`t access the site"
`terminus --site=<site-id> site upstream-info`
Gives error:  **Could not locate a site your user may access identified by site-id.**

I have logged in to terminus.
My rights haven`t changed.

**I just updated to latest version of terminus.**

It was working fine before update.

[2016-08-26 23:33] bwood opened #1158 "'terminus sites create': PHP Notice: Undefined index: name in phar:///Users/.../SitesCommand.php on line 144"
_version: 0.12.0_  (edit: this is still present in 0.12.0)

It looks like this error occurs when terminus is trying to generate the `site info` data confirming the site's creation.  The site is created successfully.

[code]

[2016-08-29 17:48] matgargano opened #1163 "Terminus not finding my sites"
Pantheon Tech Support (Ron Martinez) told me to post this here:

When I try to run any commands using Terminus it does not list any sites for me to select, see below:

https://www.dropbox.com/s/m5wwtrzfs569w48/Screenshot%202016-08-29%2012.27.52.png?dl=0

[code]

[2016-08-29 18:06] alberto56 commented on #1163
same here. I have a site with a uuid e6f87226-xxxx-xxxx-xxxx-59cd2ee2bca1 called sample-drupal-site, but I can't access it with Terminus:

[code]

[2016-08-29 18:08] alberto56 commented on #1163
This does work though:

[code]

[2016-08-30 12:34] matgargano opened #1164 "Asks for my password after I have authenticated with machine token"
Isn't the _point_ of authenticating with a token supposed to bypass the need for a password?

<img width="944" alt="screenshot 2016-08-30 08 31 49" src="https://cloud.githubusercontent.com/assets/197298/18089156/828bf8c0-6e8c-11e6-8b62-69cee13d6eed.png">

[2016-08-30 13:41] dsnopek commented on #1164
I'm also getting this. Everything was working yesterday, but now it's asking for a password.

[2016-08-30 13:46] dsnopek commented on #1164
Hrm. Strangely this only affects a single site (a Drupal 8 one). I tried some other sites I have access to and it seem to be working fine. I'm going to open a support ticket in the Pantheon dashboard.

[2016-08-30 13:57] matgargano commented on #1164
I opened a ticket on their dashboard about the other issue that I opened
yesterday and they came back and said to open a ticket here, let me know
how it goes

On Tue, Aug 30, 2016 at 9:46 AM, David Snopek notifications@github.com
wrote:

[2016-08-30 14:05] dsnopek commented on #1164
Ah, I just realized that my user doesn't have access to the live environment on this particular site. If I run commands against the dev environment, everything works fine. So, if you have access to the live environment, then my problem is probably different than your problem :-/

[2016-08-30 16:36] joshkoenig opened #1165 "Possible Unnecessary API Calls in Paging Code?"
Looking at the _new hotness_ in `0.12.0` for picking up new sites without a lengthy local cache rebuild, I noticed something when looking at the `--debug` output.

My personal account only has a handful of sites in direct membership, is a member of two orgs, and each of those orgs has well under 100 sites. However, it looks like we're doing extra API calls to see if there are more than 100 results

[2016-09-01 19:32] matgargano commented on #1164
Interestingly enough I can run NON WP CLI functions without issue, see attached:

![screenshot 2016-09-01 15 29 47](https://cloud.githubusercontent.com/assets/197298/18181489/4fcd3786-7059-11e6-9bac-1cf795d47226.png)

[2016-09-02 17:31] tinefin opened #1169 "Update wiki "Available commands" page for "terminus site import""
"terminus sites import" has been changed / moved to "terminus site import" in later versions. Would be great to update the wiki page below accordingly:

http://screencast.com/t/wiv9LLZLBBFv
https://github.com/pantheon-systems/terminus/wiki/Available-Commands#sites

[2016-09-05 20:14] kourylape commented on #1163
Did you happen to install terminus via cURL? I noticed the same issue when I installed via cURL. I then tried using a clone of the repo and it worked.

I think the phar package may be the actual issue.

[2016-09-05 23:42] alberto56 commented on #1163
Yes, here is the command I used: `curl -sS https://getcomposer.org/installer | php`

[2016-09-06 03:03] joshuafabara opened #1173 "SSH port connection refused after getting latest terminus version on my local"
I was working as usual with terminus running some commands, and the message that version 0.12.0 was now available appeared, so I pulled from repo's master branch and updated my local version of terminus as I used to.

But after upgrading version, running terminus commands was no longer possible as I always get this error:

[2016-09-06 02:45:22] [info] Running drush nocache on [SITE]-[mdev]
    cmd

[2016-09-06 11:58] matgargano commented on #1163
@ckylape thanks much, cloning it worked!

Just in case someone needs to know how to fix this:

[code]

[2016-09-06 11:59] #1163 closed, assigned to nobody

[2016-09-07 18:37] ataylorme commented on #414
+1 for a self updating functionality. It would also be great if Terminus could prompt occasionally to check for updates, similar to what [oh my zsh does](https://github.com/robbyrussell/oh-my-zsh/blob/9772f8e10d07ce982a45fcce9b074e9084ad76cb/tools/check_for_upgrade.sh#L47).

[2016-09-07 20:56] uberhacker commented on #414
@ataylorme: Totally agree.  The <code>platform</code> cli command from Platform.sh, a Pantheon competitor, also does this same kind of check when you run the command.  It'd also be nice if the phar install method could update itself as well.

[2016-09-08 17:30] jackfoust commented on #1163
While cloning from GitHub may get around this issue, installing with cURL is still a documented install method and this issue seems to still exist. Should this issue remain open?

[2016-09-08 17:42] kourylape commented on #1163
@jackfoust I say yeah it should. The [packaged .phar](https://github.com/pantheon-systems/terminus/releases) which the cURL install method downloads is where the real and still present issue is.

[2016-09-08 17:49] jackfoust commented on #1163
Also, cloning the repository is HEAD and not a release tag, which could introduce additional issues.

https://github.com/pantheon-systems/terminus#installing-with-git

[2016-09-08 18:21] matgargano commented on #1163
@jackfoust interesting point. I just reset back to the head commit (7f480f8) and I run into the same issue that I have in the root of this issue (asking for a PW) - if I pull the latest (b588e6b) I do not.

There's another lingering problem now that I am at the HEAD - I can now authenticate using a token (!) but cannot issue any WP CLI commands but that is a back and forth I'm having with support

[2016-09-08 19:46] kourylape commented on #1163
Applying this patch to version 0.12.0 seems to work for me. I also re-packaged the phar file and it worked that way as well. The problem is that it's fixed using HEAD, so we can either submit a PR for a 0.12.1 release or wait till the next official release.

[code]

[2016-09-09 22:28] bwood commented on #1158
This error causes terminus to return an exit status of 1.  This is a blocker to updating our scripts to this version of terminus since we exit with an error when terminus commands don't return a 0 status.

[2016-09-12 20:38] chrisgross opened #1186 "Cannot apply available updates with Terminus"
When I try to deploy upstream updates with Terminus,  I get the message `[info] No updates to list.`, even though my dashboard says that updates are available. This never used to happen but has been occurring more and more recently.

[2016-09-12 21:06] greg-1-anderson opened #1187 "Configuration, doing it Robo-style"
Terminus 1.x is currently using static storage for Configuration.  This is workable, but using an injected Config instance would allow for the possibility of running some functions with altered configuration without having to save / alter / restore on a global config object.

Robo uses such a [decoupled configuration class](https://github.com/consolidation-org/Robo/blob/master/src/Config.php), so

[2016-09-12 21:20] dustinleblanc commented on #1187
The concept looks smart to me, I like instantiating all of the objects outside in procedural land and then passing them into the application at run-time. The pattern makes sense to me. I find it to be easier to understand. Easier to understand, and easier to test sound like wins to me.

[2016-09-15 20:32] gmcinnes commented on #1173
+1 I find the same thing, but _not_ with 0.12.0.  I find it with 0.13.0

Note that I see this output with --debug in 0.13.0.  Note that the ssh command is mangled

[code]

And this in 0.12.0

[code]

[2016-09-15 20:49] dustinleblanc opened #1207 "Latest 0.13.0 release depends on Robo dev-master"
We aren't using Robo in the pre 1.x release but the dependency got added in the 0.13.0 tag and is halting installs because dev-master doesn't meet our minimum stability.

[2016-09-15 21:07] greg-1-anderson commented on #1207
To clarify a bit, Robo dev-master is allowed, even though it doesn't meet our minimum stability, because its version is explicitly stipulated by name.  The reason this used to work, but does not any more, is that the dev-master branch of Robo now depends on a couple of beta components.  Composer **does not** allow the dependencies of your dependency to violate your minimum stability setting.  This

[2016-09-16 18:20] bensheldon commented on #1207
- if installed by cloning/downloading it works
- if installed as a dependency e.g. `composer require pantheon-systems/terminus:0.13.0` it doesn't work due to the issue greg describes above

Suggestions seem to be:
1. forget about it for this release
2. cut a new branch, lock-down the robo dependency in the composer.json file and cut a new version.
3. do number-2 but do it on the master branch, mak

[2016-09-18 20:49] ewilliam commented on #1173
experiencing the same issue here

[2016-09-19 20:03] asentner commented on #1207
This creates a real issue with CGR since you cant modify the minimum-stability. https://github.com/consolidation/cgr/issues/2

[2016-09-20 14:31] stevector opened #1219 "site wipe not completing on 0.13.1"
Many of our WordPress plugins install Terminus with Composer. When using 0.13.1 the calling of `terminus site wipe` is timing out. Here are some examples where `wipe` is called from `./bin/behat-prepare.sh`

https://circleci.com/gh/pantheon-systems/wp-native-php-sessions/167
https://circleci.com/gh/lcache/wp-lcache/181
https://circleci.com/gh/pantheon-systems/wp-saml-auth/188

I'm not yet able to

[2016-09-20 14:41] tinefin commented on #1173
Same issue here. It looks like the reason is that there is no host specified here:
http://screencast.com/t/JdzS0z5U

last part of running with --debug:
http://screencast.com/t/GJf5ymRpo

terminus cli info:
http://screencast.com/t/fRqBi8jiS

If I do `var_dump($server);` in line 196 here:
https://github.com/pantheon-systems/terminus/blob/master/php/Terminus/Commands/CommandWithSSH.php#L197
I get:
`a

[2016-09-20 14:48] gmcinnes commented on #1173
Awesome @tinefin . Thanks.

[2016-09-20 21:37] andrewl33 opened #1222 "Connection refused and sites list error"
After updating to 0.13.1 two errors occured.

Running any `drush` command results in:

[code]

Running `terminus sites list` gives:

[code]

This has happened on both the homebrew install (0.13.0) and curl (0.13.1).

[2016-09-21 09:57] miles-ulrich commented on #1222
I am working on some automation via scripts, and I am seeing the same problem. I tried downgrading to terminus 12.0, but am being asked for a password despite using a machine token, which is messing up the automation.

[2016-09-21 11:49] stevector commented on #1219
Some of the CI fails are also coming from https://github.com/pantheon-systems/terminus/issues/1173 Yesterday, @greg-1-anderson and I decided to pin Terminus 0.12.0 as the version to use in the modules/plugins to get tests passing again. I've made a bunch of follow up issues too to switch back to the latest version of Terminus.

[2016-09-21 16:00] icylace commented on #1173
More internal Desk tickets on this issue:
- 73160
- 73166
- 73194

[2016-09-21 16:02] icylace commented on #1222
Please take a look at https://github.com/pantheon-systems/terminus/issues/1173#issuecomment-248321987

[2016-09-22 21:54] ccharlton commented on #1173
FWIW, downgrading to v0.12.0 resolved my connection issues today.

[2016-09-23 02:05] jenlampton commented on #1173
downgrading to v0.12.0 resolved my connection issues as well.

[2016-09-23 13:06] lukecarbis commented on #1164
Also having this problem exclusively for WP CLI functions.

[2016-09-23 13:38] matgargano commented on #1164
Luke supposedly a release is coming that fixes this... it should be any
day/time now. That's what pantheon support told me.

On Fri, Sep 23, 2016 at 9:06 AM, Luke Carbis notifications@github.com
wrote:

[2016-09-23 23:07] lukecarbis commented on #1164
👍

[2016-09-26 03:31] #1173 closed, assigned to nobody

[2016-09-26 18:59] rachelwhitton opened #1253 "PHP Warning: organizations sites list --tag"
Unable to list sites within an org by tag

[code]

**CLI Info**

[code]

[2016-09-26 18:59] matgargano commented on #1164
I was told that the next release would fix my issues.

I updated, and I’m now receiving the same exact error as reported above.

I tried these steps:
- removed my tokens, when I run `terminus machine-tokens list` it returns nothing
-  generate a new token
- add the token via the CLI
- run terminus wp "cache flush" --site={{REDACTED}} --env=dev
- it prompts me for a PW

See:

{REDACTED}}:~/pantheon

[2016-09-26 19:19] hengkit commented on #1164
`wp 'cache flush'` is working for me on the same commit. What are you getting in response to `terminus auth whoami`?

[2016-09-26 19:25] matgargano commented on #1164
[code]

On Mon, Sep 26, 2016 at 3:20 PM, Kit Wong notifications@github.com wrote:

[2016-09-26 22:07] hengkit commented on #1164
OK, I was able to replicate your issue on a vanilla ubuntu 14 box. Can you validate these for me?
- [ ]  Do you have an SSH key created for your ubuntu terminus user?
- [ ]  Did you [upload that SSH key to your user dashboard?](https://pantheon.io/docs/ssh-keys/#add-your-ssh-key-to-pantheon)

[2016-09-26 23:02] greg-1-anderson commented on #1187
This has been implemented in Terminus.

[2016-09-26 23:02] #1187 closed, assigned to nobody

[2016-09-27 10:29] dixhuit opened #1258 "Add option to skip deploy log note"
`terminus site deploy` insists on a note when the dashboard GUI doesn't.

`terminus help site deploy` suggests no way of skipping the note prompt.

Please add an option to do a deployment via terminus without an interactive prompt.

[2016-09-27 11:45] matgargano commented on #1164
Success. I did not have an SSH key in Pantheon.

On Mon, Sep 26, 2016 at 6:07 PM, Kit Wong notifications@github.com wrote:

[2016-09-27 11:52] lukecarbis commented on #1164
@hengkit The output of my `terminus auth whoami` shows a different email address to that used for the ssh key saved to my Pantheon account.

My questions are:
- [ ] How can I generate a new (different) ssh key without revoking the previous one?
- [ ] Why did this suddenly break?

[2016-09-27 15:21] hengkit commented on #1164
@lukecarbis The SSH keys are independent of the machine tokens. SSH keys are generated by you (or your OS) and uploaded to your user account dashboard. The machine tokens are generated by Pantheon and then registered through terminus to your local machine. The address on your ssh key is just your user login and the local machine name and should have no impact on operations. If you do need to uploa

[2016-09-27 16:14] hengkit commented on #1164
@matgargano I opened #1256 for the readme to explicitly state that you should have an SSH key uploaded for wp-cli and drush usage.  Thanks for your patience.

[2016-09-27 18:24] #1164 closed, assigned to nobody

[2016-09-27 21:09] SaraMcCutcheon commented on #1222
I made some changes to sites list to ensure the proper functioning of the properties of the site objects.

[2016-09-27 21:09] #1222 closed, assigned to nobody

[2016-09-27 21:36] SaraMcCutcheon commented on #1219
@stevector This is being difficult to nail down. The key changes made in 0.13.0 were that we changed the hostname being targeted for requests from dashboard.pantheon.io to terminus.pantheon.io as part of our TLS-upgrade work. In fact, no changes were made to either Environment::wipe() or SiteCommand::wipe() between 0.12.0 and 0.13.0. Additionally, we're not having this issue in our own Behat test

[2016-09-27 21:38] #1207 closed, assigned to nobody

[2016-09-27 21:39] SaraMcCutcheon commented on #1186
@chrisgross A fix for this was added in #1233 and a release was cut yesterday. Please give it another try and write back if it's still giving you grief.

[2016-09-27 21:41] SaraMcCutcheon commented on #1169
Actually, sites import is a different command entirely from site import. Nevertheless, it's updated now.

[2016-09-27 21:41] #1169 closed, assigned to nobody

[2016-09-27 21:42] SaraMcCutcheon commented on #1165
The change for this was merged in #1166

[2016-09-27 21:42] #1165 closed, assigned to nobody

[2016-09-27 21:59] lukecarbis commented on #1164
@hengkit I generated a second SSH Key (I already had one) but I'm still asked for a password when I run:
`terminus wp 'core update' –site=example-site --env=dev`

My `terminus auth whoami` shows:

[code]

[2016-09-27 22:25] #1253 closed, assigned to nobody

[2016-09-28 00:24] SaraMcCutcheon commented on #1157
@xohail A fix was made to upstream-info in #1224 and was released yesterday. Please give it a try and let me know if you're still having trouble.

[2016-09-28 00:24] #1157 closed, assigned to nobody

[2016-09-28 00:26] SaraMcCutcheon commented on #1154
This is coming in version 1.0, which is already underway. If you are installing Terminus via Composer dev-master or via Git, you can give it a whirl by running `bin/terminus.php` instead of `bin/terminus`.

[2016-09-28 00:26] #1154 closed, assigned to nobody

[2016-09-28 00:28] SaraMcCutcheon commented on #1150
@tributemedia Would you be able to run the command with the `--debug` option enabled and give a printout of the command and the resultant output, please?

[2016-09-28 00:28] SaraMcCutcheon commented on #1135
This bug has been fixed in #1231! (The membership-printing part thereof. The data-gathering had been repaired in August.)

[2016-09-28 00:28] #1135 closed, assigned to nobody

[2016-09-28 00:31] SaraMcCutcheon commented on #1134
@pirog We've fixed a bug in this recently, and I cannot duplicate. Are you still having this problem?

[2016-09-28 00:31] #1134 closed, assigned to nobody

[2016-09-28 00:56] #1117 closed, assigned to nobody

[2016-09-28 05:27] pirog commented on #1134
@TeslaDethray still getting the same error on `0.13.2`. Tried a myriad of different keys and no dice on any of them.

Let me clone down the bleeding edge terminus and see if i can find anything helpful.

This is currently blocking Kalabox from upgrading to new versions of terminus so would def be great to figure out. More than happy to help in any way that i can.

[2016-09-28 05:36] pirog commented on #1134
@TeslaDethray ok awesome! can confirm the bleeding edge version works. I've made an issue on our side to update
https://github.com/kalabox/kalabox/issues/1631

You guys have an ETA on `0.13.3` release?

[2016-09-28 14:53] hawkemediadev commented on #1150
@TeslaDethray Here are the results from the command using the --debug option. I do get the same results when not using my "tdrush" alias.

Steves-MacBook-Pro:~ stevekenley$ tdrush "ups --security-only" --site=fitwrapzcom --env=locator-map --debug
[2016-09-28 14:47:30] [debug] #### REQUEST ####
Params: {"headers":{"User-Agent":"Terminus\/0.12.0 (php_version=5.5.36&script=terminus)","Content-type":"

[2016-09-28 17:11] jakewrfoster opened #1267 "Add output buffering as an option, not by default for wp/drush commands"
I discovered this change in behavior while I was running a migration script that takes quite a long time to complete. I rely on script output to stay informed of the progress of such operations. I thought perhaps that my environment or codebase was output buffering, but I couldn't find any instance of it, and I also could have sworn that I was seeing output when running commands before. After exha

[2016-09-28 17:44] #1158 closed, assigned to nobody

[2016-09-28 19:17] larcher opened #1269 "terminus sites list --org fails with "Undefined index""
Starting in 0.13.2, the `sites list` command fails when using the `--org` option:

[code]

Same result when using the org's UUID in the `--org` option.
Confirmed the same command works in 0.13.1

[2016-09-28 22:12] #1269 closed, assigned to nobody

[2016-09-29 15:35] uberhacker opened #1276 "New Terminus releases are breaking plugins"
I've noticed libraries get moved around seemingly on every Terminus release.  This has been breaking plugins.  Is there any way you can include plugins while testing and if changes are breaking things please notify plugin authors of the potential impact?

[2016-09-29 16:07] joshkoenig commented on #1276
Can you share a specific example? We may need to provide better documentation/guidelines about how to include and reference libraries.

[2016-09-29 16:08] uberhacker commented on #1276
Hey @joshkoenig: Sure. `Error: Class 'Terminus\Models\Collections\Sites' not found` was the result of moving Sites.php into Terminus/Collections.  `Fatal error: Call to undefined method Terminus\Models\Site::info() in SitesStatusCommand.php on line 234` was the result of removing the `info` function and replacing with `get`.

[2016-09-29 16:15] joshkoenig commented on #1276
Gotcha.

This is good input for 1.0 in that we will need to evaluate our commitment to internal architectural stability. It also raises the question of what "supported classes" we should document as available/guaranteed for plugin development.

Thanks for bringing this to our attention.

[2016-10-01 13:45] dustinleblanc commented on #1102
As of Today 0.13.1 is failing on site creates by not providing the site_name:

[code]

If I get enough free time this weekend I'll see if I can fix.

[2016-10-04 15:18] chrisgross opened #1286 "Cannot retrieve sites by tag"
When I use the command `terminus organizations sites list --tag=Tagname`, I get the following error:

[code]

[2016-10-04 20:04] hengkit commented on #1286
This was fixed in #1270.

[2016-10-05 23:17] bwood opened #1295 "'terminus sites list': PHP Notices"
_version: 0.13.2_

No biggie, but this command is spitting out a bunch of notices:

[code]

[2016-10-06 16:28] bwood opened #1296 "'terminus help': broken"
_version: 0.13.2_

Looks like the twig files were't included in the phar.

[code]

[2016-10-06 16:34] bwood opened #1297 "'terminus site connection-info': broken"
_version 0.13.2_

[code]

[2016-10-06 17:19] Sean12mps opened #1298 "'terminus sites list --owner=me' have undefined method fatal error."
Terminus version: 0.13.2
System OS: Windows 10

`
PHP Notice:  Undefined property: Terminus\Commands\SitesCommand::$user in C:\Workshop\vault\tools\terminus\php\Terminus\Commands\SitesCommand.php on line 194

Notice: Undefined property: Terminus\Commands\SitesCommand::$user in C:\Workshop\vault\tools\terminus\php\Terminus\Commands\SitesCommand.php on line 194
PHP Notice:  Trying to get property of

[2016-10-06 17:22] SaraMcCutcheon commented on #1298
Already fixed in #1285
https://github.com/pantheon-systems/terminus/commit/143b02a4a747a19f82bce6605c9bb73021cffb54

[2016-10-06 17:22] #1298 closed, assigned to nobody

[2016-10-06 17:27] SaraMcCutcheon commented on #1295
I'm not getting this error with either the PHAR or the Git repo. It should have been fixed in #1231, which was rolled into 0.13.2. Does this still happen on master?

[2016-10-06 17:40] bwood commented on #1295
Hmm...

I still see this when I run it using HEAD:

[code]

[2016-10-06 18:11] bwood commented on #1297
I notice that this worked in 0.13.1:

[code]

[2016-10-06 18:27] digitaldesigndj commented on #1296
I'm seeing the same issue here.

[code]

[2016-10-06 20:18] cboyden commented on #1295
I am also seeing the same notices.

[code]

[2016-10-07 23:14] joshkoenig opened #1304 "Terminus should be resilient when checking for updates"
### Expected behavior

I'd expect 403's resulting from [API calls to GitHub](https://github.com/pantheon-systems/terminus/blob/master/php/Terminus/Helpers/UpdateHelper.php) should be captured and suppressed.
### Actual behavior

Even though we cache the results for quite a while, there are cases where lots of developers might share a single IP address (e.g. an office) and exhaust GitHub's rate lim

[2016-10-10 18:53] SaraMcCutcheon commented on #1296
Fixed in 0.13.3

[2016-10-10 18:53] #1296 closed, assigned to TeslaDethray

[2016-10-10 18:57] digitaldesigndj commented on #1296
I can confirm fixed in 0.13.3 :+1: Thanks @TeslaDethray

[2016-10-10 19:50] SaraMcCutcheon commented on #1296
Thank _you_ for testing it out, @digitaldesigndj!

[2016-10-10 21:01] LordPachelbel opened #1306 "PHP notice about undefined property ($session->expires_at on php\Terminus\Models\Auth.php on line 74)"
I upgraded Terminus to the latest version and saw this when running a deploy command:

[code]

It hasn't happened since, presumably because my session changed in some manner and now that variable exists.

[2016-10-17 20:45] timetric opened #1317 "Terminus should not try and run drush commands on WP sites or WP commands on Drupal sites."
### Expected behavior

If I run `terminus drush "command"` against a WP site, I should get an error saying "don't be stupid, this is a WP site so you can't run drush". Conversely if I run `terminus wp "command"` against a Drupal site.
### Actual behavior

The command fails with various mysterious errors & I waste time trying to debug them, overlooking the very simple fact that I have stupidly run

[2016-10-18 07:14] rubelyn opened #1320 "unable to update/install Terminus 0.13.3 via Curl"
I ran the following curl command to update Terminus to 0.13.3:

`curl https://github.com/pantheon-systems/terminus/releases/download/0.13.3/terminus.phar -L -o /usr/local/bin/terminus && chmod +x /usr/local/bin/terminus`

The operation only lasted for 0:00:01. Here's the output:

<img width="1028" alt="2016-10-18_1506" src="https://cloud.githubusercontent.com/assets/14119666/19467609/a2b962fc-9544

[2016-10-18 11:12] tormi commented on #1320
It's because release files for 0.13.3 are not tagged correctly (0.x instead of 0.13.3). Try this for now:

`curl https://github.com/pantheon-systems/terminus/releases/download/0.x/terminus.phar -L -o /usr/local/bin/terminus && chmod +x /usr/local/bin/terminus`

cc @TeslaDethray

[2016-10-18 21:19] SaraMcCutcheon commented on #1320
Thank you, @tormi. I'll update the README for this now.

[2016-10-18 21:21] #1320 closed, assigned to nobody

[2016-10-18 21:33] SaraMcCutcheon commented on #1317
@sehamilton Do you think we should check for the framework before running Drush/WP-CLI commands through Terminus? It would require no additional API calls. If so, should we err or issue a log message and continue?

[2016-10-18 21:39] SaraMcCutcheon commented on #1306
You're right. This was caused by our change of the property names in the JSON object stored in your session file. It shall never plague you again, @LordPachelbel.

[2016-10-18 21:39] #1306 closed, assigned to nobody

[2016-10-19 21:40] ccharlton opened #1326 "Composer global install issue"
I tried to install Terminus 1.0.0-alpha globally via Composer but get this error:

[code]

[2016-10-19 21:56] uberhacker commented on #1326
@ccharlton: What are the contents of your ~/.composer/composer.json?  You might have something else installed globally that is affecting the install.

[2016-10-19 21:58] ccharlton commented on #1326
This is the only thing in my `~/.composer/composer.json` file:

[code]

[2016-10-19 22:00] uberhacker commented on #1326
Try this: `$ composer global remove drush/drush` followed by `$ composer global require pantheon-systems/terminus` and finally `$ composer global require drush/drush:8.*`.

[2016-10-20 00:24] greg-1-anderson commented on #1326
To avoid install-order problems with `composer global require`, use [cgr](https://github.com/consolidation/cgr) instead.

[2016-10-20 18:11] uceap-web opened #1330 "Terminus 1.0 commands are not working"
### Expected behavior

$ terminus list should list commands. Most of the commands are not working after the update.
### Actual behavior

[code]
### Steps to reproduce the behavior

terminus commands are no working after installing Terminus 1.0, using OS X.

[2016-10-20 18:47] dustinleblanc commented on #1330
@uceap-web Can you let us know what method you used for installing 1.0 alpha? That output looks like the legacy terminus output. You should see something like:

[code]

[2016-10-20 20:18] uceap-web commented on #1330
I followed the instructions from your email: https://terminusma-static-docs.pantheonsite.io/docs/terminus/install/

[code]

The only command that works is $terminus art

[2016-10-20 20:59] ari-gold commented on #1330
@uceap-web  What happens if you do `terminus1x list` instead of `terminus list` ?

[2016-10-20 21:02] uceap-web commented on #1330
it works!

[code]

[2016-10-21 17:55] Mchampsee opened #1332 "DNS not created when you deploy site before creating environment"
### Steps to reproduce the behavior

On a D8 environment that has dev setup, but not test or live, run `terminus site deploy` without creating the test environment. Code gets deployed, however, DNS entry doesn't get created.
### Expected behavior

see site when going to test-sitename.pantheonsite.io and/or error requiring the environment to be created before a deploy can happen
### Actual behavior

[2016-10-21 23:33] #1330 closed, assigned to nobody

[2016-10-25 00:33] stevector commented on #1219
Sorry for the delay here! I missed the notification a month ago. It looks like `0.13.3` does not have this problem: https://github.com/pantheon-systems/wp-native-php-sessions/pull/52/files

[2016-10-25 00:33] #1219 closed, assigned to nobody

[2016-10-31 22:20] UTANdev opened #1349 "Tab completion results in Symphony "Command 'cli' is not defined" error"
I installed Terminus using your Composer instructions. It worked fine--I could authenticate using a machine token. When I installed the tab completion script, however, I got a Symphony error when I used the Tab key.

[code]

What am I doing wrong? And wasn't Terminus at version 11 or something? Why am I seeing 1.0.0-alpha?

Thanks!

[2016-11-01 14:26] dustinleblanc commented on #1349
Hi @UTANdev, Terminus was at version 0.13.x and it looks like you've installed the 1.0.0-alpha. We'd love your feedback and testing on the pre-release alpha but for now, if you want the stable release you can follow the instructions here: https://github.com/pantheon-systems/terminus/tree/0.13.x

I don't believe the bash completion will work with the new alpha as you've seen.

Best Regards,
Dustin

[2016-11-01 18:23] UTANdev commented on #1349
Hi Dustin,

I uninstalled Terminus and reinstalled 0.13.x using the cURL method. It works fine—I can log into Pantheon  without a problem. However, I still get an error when invoking tab completion:

[code]

What's preventing Terminus's tab completion from working?

[2016-11-01 18:29] dustinleblanc commented on #1349
Hi @UTANdev, yep looks like the bash completion bug was documented in #1012 and still hasn't been worked out. Sorry I didn't notice and mention that on the first response.

[2016-11-01 21:20] UTANdev commented on #1349
Good catch, Dustin. Thanks!

[2016-11-01 21:20] #1349 closed, assigned to nobody

[2016-11-02 19:29] isramv opened #1357 "Documentation update for drush commands"
### Expected behavior
`terminus drush user-password admin --password="HelloFriend" --site="my-site" --env="dev"`

### Actual behavior
`unknown --password parameter`

### Proposed solution, update the documentation with examples like the following:
`terminus drush "user-password admin --password='HelloFriend'" --site='my-site' --env='dev'`

missing documentation for drush commands at https://github

[2016-11-02 19:53] dustinleblanc commented on #1357
Hi @isramv, thanks for the suggestion! I've added a pull request to our docs repo here: https://github.com/pantheon-systems/documentation/pull/1962

It looks like the wiki page is a stub so it will need quite a bit more time to properly flesh out. Terminus is currently undergoing a major overhaul so I am not sure if any work will go into updating that now but feel free to contribute if you'd like!

[2016-11-02 23:49] #1357 closed, assigned to nobody

[2016-11-03 16:12] GH2703 opened #1358 "Plugins not defined under terminus v1.0.0-alpha"
I installed terminus v1.0.0-alpha and I could run terminus commands such as terminus site:list to list my sites at Pantheon.

Following the instructions at https://github.com/pantheon-systems/terminus/wiki/Plugins, I installed terminus-plugin-example and terminus-composer under $HOME/plugin.

### Expected behavior
I expected terminus hello would display Hello, World! and terminus composer "help" w

[2016-11-04 15:52] amklose opened #1359 "PHP Strict Standards: $container defined twice"
I just updated to the dev-master version using composer. `terminus --version` outputs 'version 1.0.0-alpha'. It looks like I am able to run commands, but each time I do, it prints out the following before the command output:

[code]

Is this just a hiccup in the dev branch or do I have something misconfigured on my computer?

(Running macOS Sierra 10.12.1)

[2016-11-04 16:02] dustinleblanc commented on #1358
Hi @GH2703,

Terminus plugins are not yet implemented in the 1.0 alpha.

Best Regards,
Dustin LeBlanc
Customer Success Engineer | Pantheon

[2016-11-04 19:56] chrisgross commented on #1186
Still having this issue as of today.

[2016-11-04 20:06] SaraMcCutcheon commented on #1186
@chrisgross I'm sorry that's still troubling you. I'll give this issue another look today.

[2016-11-07 20:39] SaraMcCutcheon commented on #1332
@Mchampsee That is the expected behavior. To initialize a new test or live environment please use `terminus site init-env` first. When you are ready to switch up to 1.0.0, the deploy function has been changed to handle the environment initializations for you.

[2016-11-07 20:39] #1332 closed, assigned to nobody

[2016-11-07 20:43] SaraMcCutcheon commented on #1297
I can't dupe this in any version. Is it just one site this happens to?
![image](https://cloud.githubusercontent.com/assets/868204/20075096/b53d81da-a4e7-11e6-934a-da4f7f9009fb.png)

[2016-11-08 16:47] bwood commented on #1297
This disappeared for me with 0.13.3.  Thanks.

[2016-11-09 16:15] scottbasgaard commented on #1267
+💯

[2016-11-09 16:19] greg-1-anderson commented on #1267
c.f. https://github.com/rvtraveller/terminus-composer/pull/9

[2016-11-09 20:15] derimagia commented on #1012
Will need to look at this once 1.0 is more fleshed out, but I vaguely remember the issue for this was that the command wasn't expecting the partial command to be passed in (so if the user was typing "sites lis" it would send "sites lis" instead of just "sites".

I made this a while back but it's specific to my environment currently and was for terminus 0.13 (zsh with jq)

https://github.com/derima

[2016-11-10 04:24] timatron commented on #1267
🏆

[2016-11-10 14:34] greg-1-anderson commented on #1267
Also, as I mentioned on the Jira card, ob_start takes a callback function, so it would be possible to do both output buffering and incremental output at the same time.

[2016-11-10 23:51] bwood opened #1367 "terminus 1.0.0: Plugin API: Allow plugins to be composer projects"
I'm looking forward to testing plugin functionality in 1.0.0. Rather than clutter up https://github.com/pantheon-systems/terminus/issues/1358 I'm opening a separate ticket for this plugin feature request.

It would be super-awesome if plugins could be separate composer projects.  Perhaps this could work similarly to [composer plugins](https://getcomposer.org/doc/articles/plugins.md).

**Pros**
* P

[2016-11-19 02:04] iamEAP commented on #1156
I built this out as a plugin here: https://github.com/tableau-mkt/terminus-replica

[2016-11-21 02:09] dgautsch opened #1393 "WP Search-Replace Too many positional arguments"
### Expected behavior
Running the terminus wp search-replace command outlined in this article should execute without error.

### Actual behavior
[code]

### Steps to reproduce the behavior
Execute the following command
[code]

I assume this is a whitespace issue, but I can't figure it out. Is there a workaround?

[2016-11-21 15:47] dustinleblanc commented on #1393
Hey @dgautsch You need to run the command args all within one big arg like this:

[code]

If the command passed to `terminus wp` contains any spaces, the whole command needs to be wrapped in quotes. Any internal quotes need to be either escaped or use double quotes..etc. In this case you don't need them. This way the command (`terminus wp`) is correctly getting only _one_ argument, which is a stri

[2016-11-21 19:12] scottbasgaard commented on #1267
WP-ClI import / merge commands are basically useless for now without any progress updates.

Thanks for your input @greg-1-anderson!

[2016-11-21 22:06] philmprice opened #1395 "Feature request: "terminus https:info""
### Expected behavior
I could really use a new command like "terminus https:info" that would report whether or not the site.environment was configured with an SSL certificate or not.

### Actual behavior
At present we are able to add, delete, enable, disable, or set https - but there is no command for simply checking up on whether or not it's running https. We use Pantheon as an Agency and we woul

[2016-11-22 16:18] dgautsch commented on #1393
@dustinleblanc thank you sir. This is exactly what I needed.

[2016-11-22 16:18] #1393 closed, assigned to nobody

[2016-11-22 17:01] kevinhowbrook opened #1399 "Terminus version and documentation differences"
### Expected behavior
`terminus sites aliases` should download site aliases
also `terminus drush --site=site --env=env drush` should run drush but it looks like termnius has been updated
### Actual behavior
I get an error stating the new commands, none of which are alise update or drush related

### Steps to reproduce the behavior
`PHP binary                /usr/bin/php5
  PHP version

[2016-11-24 17:38] kevinhowbrook commented on #1399
Closing this - by carefully reading the terminus help on the CL I found a way with it.
I think you guys are waiting to update the documentation though.
If I can help contribute to the docs in anyway let me know :)

[2016-11-24 17:38] #1399 closed, assigned to nobody

[2016-11-28 10:14] bezlash opened #1406 "terminus drush sitename.env updb"
### Expected behavior
I would expect the command updb to update the database. However the command just hangs.  This is happening in the multidev instance and not the dev/test/prod env's.

### Actual behavior
I ran the command with -vvv at the end and here's the output:

[code]

[2016-11-28 15:37] dustinleblanc commented on #1406
Hi @bezlash,

I believe Terminus still requires the -y flag for any operations passed to Drush that will produce a prompt. There is still work ongoing to handle interactivity within piped commands (I believe), see #1267.

[2016-11-28 21:48] bezlash commented on #1406
Hi @dustinleblanc,

I added the -y flag at the end and it's the same.  I will try and provide you with more info but any ideas why this may be?

Thanks

[2016-11-28 22:15] dustinleblanc commented on #1406
Hi @bezlash it looks like you also opened a support ticket on the issue too. I provided some suggestions there, we can follow up there to troubleshoot the individual issue

[2016-11-30 01:22] bwood opened #1410 "terminus site deploy should exit with a non-zero status if deploy fails"
### Version
0.13.3

### Expected behavior
terminus site deploy should exit with a non-zero status if deploy fails.

### Actual behavior
Here are two snippets from a script which execs `terminus site deploy` and then checks the exit status.  In these two cases the exit status was 0, but the log level was "error".

[code]

[code]

### Steps to reproduce the behavior
Apologies, but I couldn't find a

[2016-11-30 06:55] #1286 closed, assigned to nobody

[2016-11-30 20:57] bwood opened #1413 "Feature request: 'terminus workflows:list' should show start/end timestamps"
### Version
1.0.0-alpha

### Desired behavior
`terminus workflow:list` should provide start and end times for each workflow.

Use case: I want to find what workflows ran on a site during a certain time period.

It would be even better if it was possible to filter `terminus workflow:list` with a windows of time.

### Actual behavior
`terminus workflow:list` does not show start/end times.

Perhaps `

[2016-11-30 21:00] bwood opened #1414 "`terminus workflow:info:operations` should display an operation description"
### Version
1.0.0-alpha

### Expected behavior
`terminus workflow:info:operations` should display an operation description.

### Actual behavior
[code]
### Steps to reproduce the behavior
See above.

[2016-11-30 22:39] iamEAP commented on #1406
I think I have a reliable repro for this.  Seems to be the same thing as #696.

1. __Be sure that you do not have drush installed in a globally executable way.__
2. Run any `terminus drush` command for a site for whom no app server hosts are yet identified the trusted hosts file.
  - Command should hang after the `warning: Permanently added '[blah]' (RSA) to the list of known hosts` message.
3. `c

[2016-11-30 23:38] SaraMcCutcheon commented on #1395
@philmprice Thank you for this feature request. I'm sure we can work this command in for you.

[2016-12-01 00:12] SaraMcCutcheon commented on #1414
Only some workflow operations have descriptions to display, so it is proper that this column be blank.

[2016-12-01 00:18] SaraMcCutcheon commented on #1413
Actually, none of these commands currently give this information, but it wouldn't be difficult to add it. I'm sure we can get this implemented for you. We'll add this to workflow:list and workflow:info:status.

[2016-12-01 00:34] bwood commented on #1414
Your call.  I'm fine with a "won't fix," but from a user perspective I'm thinking "3 things have been done to the platform...I wonder what those three things are...?" The info displayed is not useful to me.

[2016-12-01 00:38] SaraMcCutcheon commented on #1414
I'm reluctant to remove the column when empty because I'd like the data to remain uniform and predictable. Do you suppose that it would be clarifying to put something to this effect into the help output for the command? Perhaps this column ought to be the final one, since it seems odd to have a blank column in the middle.

[2016-12-01 01:02] bwood commented on #1414
Yeah, documenting in help would be good.

Adding "N/A" to these rows would prevent me from thinking it's a bug were data was _supposed_ to be returned.

[2016-12-01 01:05] SaraMcCutcheon commented on #1414
"N/A" sounds entirely reasonable; I'll have to OK it with someone else first, but I think we can do that.

[2016-12-02 19:15] bwood opened #1420 "terminus --help UX improvement ideas"
Just a brain-dump of ideas for you to take or leave. :-)
### Version
1.0.0-alpha

### Expected behavior
When you use `-h` or `--help` on with a terminus command the resulting help should be as clear an concise as possible.

### Actual behavior
Here are some ideas for on improvements to help docs:

#### General improvements
[code]
1. There should just be one line after Usage and it should look like

[2016-12-02 19:24] dustinleblanc commented on #1420
Thanks as always for the input @bwood! @kimby77 I suspect you'll want to see these!

[2016-12-05 01:17] ghost opened #1423 "Problems with instructions for composer install"
I tried to follow instructions on
https://github.com/pantheon-systems/terminus/blob/master/README.md#installation

It says to do this to install with composer:

[code]

That means the alias to run terminus is terminus1x instead of terminus. I confirmed that terminus didn't work but terminus1x did.

I then generated a machine token, the page with the token said to type this into my terminal window:

[2016-12-05 16:33] greg-1-anderson commented on #1423
@karens The installation instructions you are following are on a page that says:
[code]
The stable branch of Terminus is:
[code]
All of the current documentation on the Pantheon site refers to the stable version; hence, the discrepancy between `auth login` and `auth:login`. There are other changes as well. There is a link to the Terminus 1.x documentation at the top of the README file.

[2016-12-05 17:31] ghost commented on #1423
Ah I missed that! Is there a recommended way to remove the alpha version and start over?

[2016-12-05 17:59] greg-1-anderson commented on #1423
You can just delete terminus1x from your home directory and unset the alias, then follow the instructions to install Terminus stable.

[2016-12-06 03:26] #1395 closed, assigned to nobody

[2016-12-06 21:30] #1423 closed, assigned to nobody

[2016-12-06 23:09] #1414 closed, assigned to nobody

[2016-12-09 19:36] SaraMcCutcheon commented on #1413
These have been added, but the merge didn't close this issue. *closes*

[2016-12-09 19:36] #1413 closed, assigned to nobody

[2016-12-09 23:57] SaraMcCutcheon commented on #1069
This is being handled by the Terminus Installer/Composer use in 1.0.

[2016-12-09 23:57] #1069 closed, assigned to nobody

[2016-12-10 00:03] #675 closed, assigned to bensheldon

[2016-12-10 00:04] #1016 closed, assigned to nobody

[2016-12-10 00:05] #1012 closed, assigned to nobody

[2016-12-10 00:05] SaraMcCutcheon commented on #1018
Implemented in 1.0

[2016-12-10 00:05] #1018 closed, assigned to TeslaDethray

[2016-12-10 00:05] #747 closed, assigned to nobody

[2016-12-10 00:06] #1047 closed, assigned to nobody

[2016-12-10 00:06] #1071 closed, assigned to nobody

[2016-12-10 00:07] #1104 closed, assigned to nobody

[2016-12-10 00:07] #1128 closed, assigned to nobody

[2016-12-10 00:08] #1276 closed, assigned to nobody

[2016-12-10 00:08] #1295 closed, assigned to nobody

[2016-12-10 00:08] #1297 closed, assigned to nobody

[2016-12-10 00:09] SaraMcCutcheon commented on #1258
This is skippable in 1.0 and wontfix in 0.13

[2016-12-10 00:09] #1258 closed, assigned to nobody

[2016-12-12 17:52] WardinT opened #1443 "Win10/Cygwin Installation"
Can't install terminus in cygwin on my win10-pc. Composer returns segmentation fault and creates stackdump when executed in terminus subdir of /usr/bin. Afterwards always - irrespective of arguments supplied - returns segmentation fault and creates stackdump until composer is reinstalled.

Stackdump:

Exception: STATUS_ACCESS_VIOLATION at rip=6FFFE670010
rax=000000060014C0D0 rbx=00000006000E2F40 r

[2016-12-12 22:21] azinck opened #1444 "PHP Notice and 404 when trying to use --tag option of terminus sites mass-update command"
### Expected behavior
Update sites, limited to those tagged with the appropriate tag.

### Actual behavior
Receive the following errors:
[code]
### Steps to reproduce the behavior
Tagged some sites with the tag 'school' in the org a7e4d66b-ab92-481b-ab77-626b8562544e

Then ran:
terminus sites mass-update --tag=school --org=a7e4d66b-ab92-481b-ab77-626b8562544e

Using terminal app in OS X 10.11.6
[c

[2016-12-13 17:11] joshkoenig commented on #1444
Looks like it should be a pretty straightfwd issue to resolve. This URL:

`GET https://terminus.pantheon.io/api/organizations//memberships/sites?limit=100`

Seems to be clearly missing the organization UUID.

[2016-12-13 23:49] spiderwisp commented on #1443
I can confirm this same exact issue. I rectified it by using a different version of php and terminus

[2016-12-14 01:51] spiderwisp opened #1446 "TERMINUS_ROOT not set throws exception"
### Expected behavior
Expect terminus to run using cygwin with php 5.5.28

### Actual behavior
[code]

### Steps to reproduce the behavior
`$ bin/terminus -vvv`

[2016-12-15 14:51] dustinleblanc opened #1457 "Aliases command fails"
### Expected behavior
Aliases should be downloaded

### Actual behavior
[code]

### Steps to reproduce the behavior
install Terminus 1.x-alpha on a machine that hadn't used it before (this is my home machine, freshly wiped and installed with Sierra). Run the aliases command, see error.
[code]

[2016-12-15 23:04] bwood opened #1460 "'terminus org:sites "Example Org" --tag="Example Tag"' fails"
### Version
1.0.0-alpha (d9792a9)

### Expected behavior
I should be able to list all of the sites in an org that match a tag.

### Actual behavior
[code]

The equivalent command works in 0.13.5.

[2016-12-15 23:11] bwood commented on #1460
IMO this functionality is similar to `terminus site:list`.  Perhaps consider adding `terminus site:list --tag=Example`? If --org needs to be required to use --tag that's fine.

Currently:

[code]

[2016-12-15 23:21] bwood opened #1461 "Feature Request 'terminus site:list --member'"
### Version
1.0.0-alpha

### Expected behavior
Often we want to audit our sites to figure out on which sites user X is a team member.  It would be sweet if we could do this:

`terminus site:list --member=jane@example.com`

The user would see a list of sites representing the intersection of
- the sites they can list by name
- the sites on which they are a team-member
- the sites on which jane@examp

[2016-12-19 22:50] SaraMcCutcheon commented on #1443
@WardinT @spiderwisp What what is the command you are entering when you get this result?

[2016-12-19 22:52] #1105 closed, assigned to nobody

[2016-12-19 22:52] #1406 closed, assigned to nobody

[2016-12-19 22:52] #1267 closed, assigned to nobody

[2016-12-19 22:52] #17 closed, assigned to nobody

[2016-12-19 22:54] SaraMcCutcheon commented on #1326
We are no longer recommending global installation for installing Terminus. In order to maintain PHP 5.5 compatibility, we use a number of older dependencies. These are bound to cause conflicts for regular `composer global require` users.

[2016-12-19 22:54] #1326 closed, assigned to nobody

[2016-12-19 22:54] SaraMcCutcheon commented on #663
This has been added.

[2016-12-19 22:54] #663 closed, assigned to nobody

[2016-12-20 01:50] SaraMcCutcheon commented on #1446
@spiderwisp I cannot duplicate this issue. This occurs when Terminus cannot locate its own root directory because its `composer.json` file is missing. Is it possible that your copy's `composer.json` file was moved?

[2016-12-20 08:45] WardinT commented on #1443
I worked along the installation instructions on github. git clone
worked, composer install did not, threw the error.

Am 19.12.2016 um 23:50 schrieb Sara McCutcheon:

--

Dr. Thomas Wardin • Talweg 2 • 51469 Bergisch Gladbach, Germany
Phone +49 2202 108800 • Fax +49 2202 244401 • Mobile +49 171 2158565

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/an

[2016-12-20 14:20] spiderwisp commented on #1446
I've triple-checked and my composer.json file is fine. I've replaced it several times with fresh copies. I'm facing this issue after getting around this issue https://github.com/pantheon-systems/terminus/issues/1443#issuecomment-268101982 which I did by using an older version of Terminus and php.

[2016-12-20 19:27] #1460 closed, assigned to nobody

[2016-12-20 19:37] #1444 closed, assigned to nobody

[2016-12-20 19:39] #1367 closed, assigned to nobody

[2016-12-20 19:39] #1358 closed, assigned to nobody

[2016-12-20 21:48] phathaway69 opened #1477 "terminus throws a PharException about Phar::mapPhar()"
I'm new to php.  I installed php but I didn't see a way to install php-cli however when I ran the sample myfile.php which is an example on the php-cli page, it ran just fine. So I don't know if I need to install something else for php-cli.

My issue:  I ran this
 ./terminus -vvv site backups get --element=code --latest

### Expected behavior
I expected terminus to retrieve a back up

### Actual be

[2016-12-20 22:53] #1457 closed, assigned to nobody

[2016-12-22 01:58] greg-1-anderson opened #1487 "Warnings with `terminus auth:login`"
### Expected behavior
`terminus auth:login` should succeed without printing stack traces

### Actual behavior
A stack trace is printed before auth:login succeeds
[code]
### Steps to reproduce the behavior
Run `terminus auth:login` with current HEAD of master branch

[2016-12-22 03:55] bval opened #1488 "Terminus incompatible with current stable drush release"
![But they're incompatible!](https://media.giphy.com/media/3orif7DKcHLWR6GMIE/giphy.gif)

### Expected behavior
It should be possible to `composer require drush/drush` and then `composer require terminus-systems/pantheon dev-master` and have both succeed.

### Actual behavior
You cannot install both because terminus has a dependency on `"consolidated/robo": "^1.0.5"`. That package requires `"conso

[2016-12-22 15:29] dustinleblanc commented on #1488
Thanks for the super detailed issue report @bval. Personally, I am a fan of allowing the absolute latest possible version of everything in all packages as long as they don't break the build. Loosening up Robo's requirement would be great if it continues to work, however that might be worth an issue in the Robo queue.

This is *definitely* a tricky problem, one any Rails dev can tell you they've sp

[2016-12-22 15:48] greg-1-anderson commented on #1488
@bval Why do you need these two tools to be part of the same project? Drush needs to be part of the Drupal project if you want to avoid dependency hell, but could you install Terminus globally?  I would recommend using [cgr](https://github.com/consolidation/cgr) to install Terminus.

If there is some reason why you must install Terminus in the same project as Drush, then I think that the best solu

[2016-12-22 15:59] greg-1-anderson commented on #1488
The thing about trying to fix this, though, is that you will be forever chasing dependency problems. The root of the issue here is that terminus is not a dependency of drush, nor visa-versa; therefore, semver is of no help in keeping these projects compatible, as independent projects are going to select their dependencies... independently. The solution is to not try to mix independent projects int

[2016-12-22 16:13] dustinleblanc commented on #1488
I've definitely installed Terminus, Drupal Console, Drush, and Robo, all together in a single composer project. It is a painful version dance, but is at times possible. I did this because I had automation scripts that relied on Drush, Robo, and Terminus to grab a backup, bootstrap Drupal with it, run tests, deploy to the platform.

The only outlier was Drupal Console which I use only locally, but

[2016-12-22 17:01] greg-1-anderson commented on #1488
@DavertMik has historically been uninterested in separating out a robo-lib from robo-php; however, I think that would be the ideal first step to enact @dustinleblanc's vision of a fluent PHP object interface for Terminus. The Robo factoring would be pretty easy; however, it would be quite a project to re-do the Terminus libraries with tasks. Maybe we could settle for factoring out just the existin

[2016-12-22 18:18] dustinleblanc commented on #1488
@greg-1-anderson I guess I look at it one layer further inside the onion. I'd think of this without Robo at all, just Terminus models and services with a simple wrapper object/client.

The biggest impediment I see is reliance on sessions to perform any operations from Terminus.

[2016-12-22 18:23] greg-1-anderson commented on #1488
@dustinleblanc That was actually what I was suggesting as the second option. Terminus sessions would just come along as part of this library, right? I haven't looked to see if there are any dependencies that would make that hard, but it seems like there shouldn't be.

[2016-12-22 18:37] dustinleblanc commented on #1488
I suppose they would, handling them seems to up the complexity considerably though. Does the implementor pick a spot on disk to write a session cache? Could they use a database backend? What if they have limited file writing permissions? those are the kind of things that I'd like to never have to answer when using an API wrapper 😄

[2016-12-22 20:04] uberhacker opened #1491 "installer.phar installs version 0.13.6 instead of 1.0.0-beta.1"
### Expected behavior

The latest version (>= 1.0.0-beta.1) should be installed.

### Actual behavior

Version 0.13.6 was installed instead.

### Steps to reproduce the behavior

Execute `curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install`.

[2016-12-22 20:25] #1487 closed, assigned to nobody

[2016-12-22 20:26] ajbarry commented on #1491
Thanks for the report @uberhacker ... we're working on a fix to allow beta versions to be installed in this manner by default.

As a work-around you can specify the version to the installer with:
`curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install --install-version=1.0.0-beta.1`

[2016-12-22 20:55] uberhacker commented on #1491
@ajbarry: Thanks, I probably should have included my system specs.
[code]
This issue is apparently caused by a previously installed version of Terminus via composer.

[2016-12-23 00:50] thomas-thackery opened #1492 "Installation/upgrade to 1.0.0-beta.1 issue: Can only install one of: psy/psysh"
### Expected behavior
Expected ```curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install --install-version=1.0.0-beta.1``` to install new version of Terminus.

### Actual behavior
Received installation error:
Problem 1
    - Can only install one of: psy/psysh[v0.8.0, v0.7.2].
    - Can only install one of: psy/psysh[

[2016-12-23 08:29] bval commented on #1488
Wow, y'all have been busy. 😃

I was unaware of cgr, so thanks @greg-1-anderson for the recommendation. I was actually putting these in my global composer home, not in a specific project as my steps to reproduce above would indicate, but didn't want to assume the person reading this issue had a working global composer installation below her user account. cgr looks like a much better way to manage t

[2016-12-23 08:35] bval commented on #1488
Annd I just found @greg-1-anderson's [excellent detailed issue on the composer repo](https://github.com/composer/composer/issues/5390) about this very problem. Nice work.

[2016-12-23 08:52] miles-ulrich opened #1493 "Making remote:drush compatible with cron"
Hi,

I am working on upgrading some cron scripts I run to use the terminus 1.x branch.

When using `remote:drush`, I am seeing:

It looks like the `sendCommandViaSsh` function is always using `execInteractive`:
https://github.com/pantheon-systems/terminus/blob/master/src/Models/Environment.php#L711

I was able to sidestep this problem by calling `exec` instead of `execInteractive`.
Is there some w

[2016-12-23 08:55] hugovk commented on #1491
I got the same thing, and the [workaround](https://github.com/pantheon-systems/terminus/issues/1491#issuecomment-268883476) results in https://github.com/pantheon-systems/terminus/issues/1492.

[code]
[code]

[2016-12-23 08:56] hugovk commented on #1492
Same for me with:

[code]
[code]

[2016-12-23 16:48] greg-1-anderson commented on #1488
Thanks. Closing.

[2016-12-23 16:48] #1488 closed, assigned to nobody

[2016-12-24 16:32] greg-1-anderson commented on #1493
I started looking into this just on general interest. It appears to me that the Symfony Process component requires `$process->setTty(true);` in order for interactive commands to work correctly. However, using a tty prevents the command from working at all when a tty is not available, e.g. in the case of calling Terminus from `cron`, as shown above. To fix this problem and continue using the Symfon

[2016-12-29 16:18] hawkemediadev opened #1496 "mass-update fails"
### Expected behavior
update upstream on all sites tagged with "Test" in my organization.

### Actual behavior
[code]

[2016-12-29 17:37] QueSaraSera opened #1497 "Terminus 1.0.x does not have update-checking capabilities"
### Expected behavior
If there is a newer version of Terminus available, 1.0.x should alert the user.

### Actual behavior
Terminus ignores new versions.

### Steps to reproduce the behavior
- Issue a new release or set the version of the one you're using back.
- Run commands
- No notice appears

[2017-01-03 18:29] joshkoenig commented on #1496
Looks like it's missing the org uuid in the request:

`/api/organizations//memberships/sites?limit=100`

So this shouldn't be too hard to fix quickly.

[2017-01-03 22:56] greg-1-anderson opened #1500 "`terminus env:info` fails when environment is frozen"
### Expected behavior
If an environment is frozen, the `env:info` command should produce useful information about the environment.
[code]

The site env `dev-my-great-security-demo.pantheonsite.io` is not frozen, and therefore produces the correct output.

### Actual behavior
If the environment is frozen, then the `env:info` command fails without producing any output (other than the error message):

[2017-01-04 15:18] derimagia opened #1502 "Ignore Dot Directories in ~/terminus/plugins"
### Expected behavior
Dot files found in this directory are not actually plugins and I can't think of a case that they should be loaded. They probably should not even be looked at or warned about. If there is a chance they will be used for plugins, maybe just not warn about the directories if they aren't valid plugins?

### Actual behavior
Having a IntelliJ metadata folder throws a warning:
`[warn

[2017-01-04 15:55] uberhacker commented on #1500
@greg-1-anderson: Did you mean `If an environment is frozen, the env:info command produces useful information about the environment.` for the expected behavior?  You had `not` before frozen.  But yeah, I definitely think it should not error out.  Should there also be an indication that the site is frozen?  Is this flagged anywhere currently?

[2017-01-04 16:19] greg-1-anderson commented on #1500
Whoops. Edited the original post to correct all of my typos. Thanks!

[2017-01-04 17:32] iamEAP opened #1503 "@return on plugin command methods is unforgiving"
### Expected behavior
The following two command declarations should behave identically:

[code]

[code]

### Actual behavior
When authoring a plugin for terminus 1.x, if my `@return` declaration in my docblock includes comments after the return type of `RowsOfFields` or `PropertyList`, the returned output is not formatted as expected.

### Steps to reproduce the behavior
See above.

[2017-01-04 17:50] JoshShashaty opened #1504 "Terminus 1.0 WP-CLI options "does not exist""
### Expected behavior
WP-CLI global options and single command options, like `--skip-plugins` aren't recognized it seems.

Examples:
`terminus remote:wp site.env wp search-replace search-string replace string --dry-run`
`terminus remote:wp site.env wp search-replace plugin list --format=json`

### Actual behavior
Returns respectively
[code]

[code]

### Steps to reproduce the behavior
Test out tho

[2017-01-04 20:21] greg-1-anderson commented on #1504
The syntax for this has changed. Use the `--` argument separator to divide options intended for Terminus from options intended for wp-cli.

ex:
[code]

[2017-01-04 20:21] #1504 closed, assigned to nobody

[2017-01-04 21:56] ataylorme opened #1505 "Cannot pass options using a double dash to WP-CLI in 1.0.0-beta.1"
Specifically any items starting with a double dash, like `--format=json`. The same commands work fine with WP-CLI locally. This is blocking me from updating [WordPress at Scale Auto Updates](https://github.com/ataylorme/wordpress-at-scale-auto-update) to Terminus `1.x`.

### Expected behavior
WP-CLI output returned

### Actual behavior
No WP-CLI output returned

### Steps to reproduce the behavior

[2017-01-04 21:58] ataylorme commented on #1504
`--dry-run` may not work. See #1505

[2017-01-04 22:03] ataylorme commented on #1505
@stevector or @greg-1-anderson have you had similar issues with drush commands?

[2017-01-04 22:15] meguofc opened #1506 "ReflectionException error after install of terminus beta"
### Expected behavior
for any terminus command, anything but this error

### Actual behavior
[code]

### Steps to reproduce the behavior
- we have our live Terminus 0.x scripts running on centos7 and php5.5
- to test the terminus 1.0 beta we use windows7 running a Vagrant box bento/centos-7.2 with VirtualBox as provider
- then bootstrap it to install php5.5 using attached file (bootstrap.sh rename

[2017-01-05 00:35] greg-1-anderson commented on #1505
`$ terminus drush -- my-site.dev status --format=yaml` working for me with Terminus 1.0.0-beta.1. Will try some wp commands next.

[2017-01-05 00:39] greg-1-anderson commented on #1505
@ataylorme Works for me:
[code]

[2017-01-05 02:40] iamEAP opened #1507 "Unable to capture stdout of remote commands"
### Expected behavior
I would expect the following to be true:

[code]

### Actual behavior
No manner of bash trickery will capture stdout of the remote command.  All of the following result in the output of the command printed to the screen, but empty redirection/capture:

[code]

Interestingly, stderr _can_ be captured/redirected:

[code]

...While still spilling all of the contents of the subsh

[2017-01-05 02:41] iamEAP commented on #1507
Some debugging leads me to believe this is related to using tty mode in the Symfony Console process.

It's also possible that anything written using `Output::writeLn()` behaves this way too.

[2017-01-05 04:29] greg-1-anderson commented on #1507
Confirmed that commenting out tty mode allows standard output to be captured. Disabling tty mode also produces double output, as the `drush` and `wp` commands incorrectly return the command output as the function result, causing the output formatter to print the output a second time. When tty mode is used, no output is captured, so the double-output is not visible.

[2017-01-05 04:38] greg-1-anderson commented on #1507
Interactive commands, such as `core-cli` fail with tty mode disabled. Replacing the Symfony Process component with `passthru` allows `core-cli` to be called, but output is not properly flushed before waiting for input at prompts. `drush @pantheon.site.env core-cli` also fails, because Drush uses `ssh -t`. This worked in the past, but now fails in Pantheon SSH with an error that tty allocation fail

[2017-01-05 14:12] ataylorme commented on #1505
@greg-1-anderson weird, same command (on the same site) isn't working for me. I completely blew up my Terminus directory locally, re-downloaded `1.0.0-beta.1` and ran a fresh `composer install` but that didn't help either.

<img width="1002" alt="screen shot 2017-01-05 at 8 00 02 am" src="https://cloud.githubusercontent.com/assets/2133004/21683069/512866ba-d31d-11e6-9412-2efc4428c242.png">

I'll p

[2017-01-05 18:09] joshkoenig opened #1508 "Fresh installation: PHP Warnings on auth:login"
On a fresh installation, we are throwing PHP warnings due to directories not being created for tokens:

[code]

[2017-01-05 18:35] bwood opened #1509 "backup:restore fails to restore latest backup"
### Version
Terminus version 1.0.0-beta.1

### Expected behavior
Per `terminus backup:restore -h`, `backup:restore terminus backup:restore <site>.<env>` should restore the latest backup.

### Actual behavior
There *are* backups:
[code]

The restore command fails:
[code]

The error message is confusing.  Is it trying to communicate the success/failure of **queuing** the workflow, or the success/fai

[2017-01-05 20:41] bwood commented on #1420
The help output suggests that `upstream:updates` and `upstream:updates:list` are equivalent:

[code]

...but they are not:

[code]

This seems to be true of other commands e.g:

[code]

[2017-01-05 20:43] bwood commented on #1420
A nice to have that would improve UX: If the environment is not needed, discard it and make the command work anyway:

[code]

That way the user isn't penalized for providing more info than needed.

[2017-01-05 20:58] greg-1-anderson commented on #1420
^^ That would also be great for simple bash scripts et. al. that already have a variable `example.dev`

[2017-01-05 23:34] joshkoenig commented on #1507
This is bizarre.

It's also a blocker. If we can't script with Terminus it's missing a major feature.

Should we consider using `proc_open()` as drush does?

https://github.com/drush-ops/drush/blob/1b14090466c7b47ad601650bc5033051f0411f35/includes/exec.inc#L240

[2017-01-06 00:18] greg-1-anderson commented on #1507
I'm pretty sure that using `proc_open` like Drush, and `ssh -T` like Terminus, ~should probably~ might work. However, I haven't tested this yet. This might just behave like `passthru`.

The other option would be to use tty mode only for those commands that need it. The trick is determining which commands need it. Fallback would be to assume that the command was NOT interactive, and add tty mode if

[2017-01-06 00:20] greg-1-anderson commented on #1507
In the past, Drush w/ `ssh -t` worked on Pantheon, but a change sometime in the last year made it impossible to create TTYs for pantheonssh.  This may have been a deliberate decision to preserve resources, since TTYs are limited. I'm not sure what Symfony Console "tty mode" is doing that makes it work (interactively) or not work (capturing stdout) as it does.

[2017-01-06 04:37] andreiashu opened #1510 "terminus auth:login throws warning stack trace in src/Collections/SavedTokens.php"
### Expected behavior

This is with latest master (as of today) by the way:
terminus auth:login should succeed without printing stack traces

### Actual behavior
A stack trace is printed before auth:login succeeds

### Steps to reproduce the behavior

[code]

[2017-01-06 18:17] joshkoenig opened #1513 "remote:drush has fatal errors parsing some commands?"
### Expected behavior
I'm attempting to reproduce a specific mode of cache-clear with Drush (copying the exact set of flags we us internally) and would expect to see Terminus attempt to run the commands remotely.

### Actual behavior
PHP Fatal error:  Class 'Pantheon\Terminus\Commands\Remote\ProcessUtils' not found

### Steps to reproduce the behavior
[code]

[2017-01-06 18:28] joshkoenig commented on #1513
Looks like any command containing either of these syntaxes will fail in this way

[code]

[2017-01-06 18:52] greg-1-anderson commented on #1513
`Pantheon\Terminus\Commands\Remote\ProcessUtils` - code is missing a `use [Symfony-blah]\ProcessUtils`. I think this is my typo. I'll submit a PR.

[2017-01-06 18:57] joshkoenig commented on #1513
@stevector already got it. Fixed in master.

https://github.com/pantheon-systems/terminus/commit/8d077be47a6ea8848be3782ad389682ed9b38ef3

We should think about a beta2 release if we can get a few more things done (e.g. stdout capture)

[2017-01-06 18:57] #1513 closed, assigned to nobody

[2017-01-06 19:42] tlb420 opened #1514 "terminus site:create - Can't create new site on custom upstream within organization."
### Expected behavior
To create a new site using a custom upstream within our organization using site:create supplying upstream and organization arguments.

### Actual behavior

[code]
[code]

### Steps to reproduce the behavior

[code]
### Steps...
[code]

Failing in ./vendor/pantheon-systems/terminus/src/Commands/Site/CreateCommand.php
@ $org = $user->getOrganizations()->get($org_id)->fetch();

[2017-01-06 21:31] obicke commented on #1492
Ran into this... got help... passing it along...

1) composer remove pantheon-systems/terminus
2) composer update
3) run the curl install

[2017-01-08 05:45] trgreen17 opened #1515 "Fatal error with version 1.0.0-beta.1 when running: terminus drush studiokats.dev 'en libraries s3fs -y’"
### Expected behavior
Using Terminus 1.0.0-beta.1, and the instructions on this page: https://pantheon.io/docs/drupal-s3/, I ran terminus drush studiokats.dev 'en libraries s3fs -y’ - expecting it to download and enable the Libraries and s3fs modules.

### Actual behavior
When I ran the command above I received the following error:

Fatal error: Class 'Pantheon\Terminus\Commands\Remote\ProcessUtil