[2017-01-08 20:40] ataylorme commented on #1505
I was unable to re-create this on CIrcleCI, looks like it's just my machine.
<img width="1280" alt="screen shot 2017-01-08 at 2 39 59 pm" src="https://cloud.githubusercontent.com/assets/2133004/21753317/6a9fd548-d5b0-11e6-99b0-9b05c4d29e63.png">

[2017-01-08 20:40] #1505 closed, assigned to nobody

[2017-01-08 20:50] ataylorme commented on #1507
+1. This is blocking me from migrating the scalewp.io auto update script to Terminus `1.x`.

I'm trying to use `PLUGIN_UPDATES="$(terminus wp 02854fa0-b6e4-4349-932a-8aa7d9cab884.update-wp -- plugin list --update=available --format=count)"` to capture whether any plugin updates are available from WP-CLI.

This worked in Terminus `0.x` but in `1.x` just displays the output (0 in this case) rather t

[2017-01-10 06:29] sukottokun opened #1517 "wp-cli commands with optional params not completing, in quotes or not."
### Expected behavior
`terminus wp migration-example.dev plugin update --all` should update all plugins with pending updates
`terminus wp migration-example.dev theme install orvis --activate` should download and activate the orvis theme

### Actual behavior
Running `terminus wp migration-example.dev plugin update akismet` works as expected
Running `terminus wp migration-example.dev plugin update -

[2017-01-10 14:38] greg-1-anderson commented on #1517
Instead of `terminus wp migration-example.dev plugin update --all`, use:

`terminus wp migration-example.dev -- plugin update --all`

The `--` indicates that everything that follows should be sent to wp-cli. Without it, Terminus interprets `--all` as one of its own parameters.

[2017-01-10 14:44] sukottokun commented on #1517
@greg-1-anderson Thanks, dude!!

[2017-01-10 14:44] #1517 closed, assigned to nobody

[2017-01-10 17:00] JoshShashaty commented on #1506
I ran into the same issue but with ubuntu. Turns out after upgrading to php7, I didn't install the PHP DOM extension.  Installed it and good to go. For centos, looks like `sudo yum install php-xml`

[2017-01-10 17:08] JoshShashaty commented on #1515
I got the same.  Adding `use Symfony\Component\Process\ProcessUtils;` to the top of  `pantheon-systems/terminus/src/Commands/Remote/SSHBaseCommand.php` fixed it for me, but not sure how Pantheon wants to address it.

[2017-01-10 19:15] makbeta commented on #1446
Experiencing the same issue.
The only warning I got during the installation as follows, not sure if that's applicable.

`<warning>Skipped installation of bin bin/terminus.bat for package pantheon-systems/terminus: file not found in package</warning>`

[2017-01-10 19:42] bensheldon opened #1518 ""Wake" command should use platform hostname, not first hostname"
### Expected behavior
The `wake` command should use the `type=platform` domain/hostname when it emits a healthcheck http request to wake an environment as well as use `https` protocol. The `type` is a property of the domain object that the hostnames API returns,

### Actual behavior
Currently `wake` uses the first hostname for an environment with hardcoded `http` protocol. Due to misconfiguration

[2017-01-10 19:45] greg-1-anderson commented on #434
https://github.com/pantheon-systems/terminus-rsync-plugin

[2017-01-10 19:45] SaraMcCutcheon commented on #1518
For future reference:
[code]

[2017-01-10 20:37] meguofc commented on #1506
install of php-xml fixed it.  thanks Josh!

[2017-01-10 21:12] clayball commented on #1514
Hi tlb420,

I was having a similar issue today. I pull down the latest terminus repo updates and then successfully created a new site based on our custom upstream.

```terminus site:create --org=org-id site-name site-label custom-upstream-id```

Try updating to Terminus version 1.0.0-beta.1

Cheers,
Clay

[2017-01-10 21:41] SaraMcCutcheon commented on #1515
@JoshShashaty `use Symfony\Component\Process\ProcessUtils;` is already on line 10 of SSHBaseCommand

@trgreen17 I cannot duplicate this issue. Please add the steps to duplicate, the command, and its output in debug mode as per the issue template. Could it be that you're entering the command incorrectly? Using the quotes was the 0.x style. 1.0 doesn't use quotes.

Your sample output should be gener

[2017-01-10 21:45] JoshShashaty commented on #1515
@TeslaDethray it's not in the 1.0.0-beta.1, but I also didn't check to see if it was in the latest on master.  Sorry about that!

[2017-01-10 21:46] SaraMcCutcheon commented on #1515
Ahh, I'll press a beta.2 then. @JoshShashaty

[2017-01-10 22:55] SaraMcCutcheon commented on #1515
Thanks for replying back @JoshShashaty! I've pressed a 1.0.0-beta.2 release with the fix you pointed out (which had been added back in December, so _I_ should apologize to _you_, not the other way around).

[2017-01-10 23:12] #1515 closed, assigned to nobody

[2017-01-10 23:58] SaraMcCutcheon commented on #1446
@makbeta terminus.bat was the autocomplete file for >Terminus 0.7. How did you install Terminus? Was it Homebrew?

[2017-01-11 02:59] makbeta commented on #1446
@TeslaDethray No, I'm on Windows and used the curl command to install Terminus, as mentioned in [Pantheon Guide](https://pantheon.io/docs/terminus/install/).  I did have a Terminus v0.13 installed before that, but I first removed it with a composer command before installing a new one.

[2017-01-11 18:06] ronan opened #1522 "Proposal: Remove 'login' part of authentication"
I don't believe the current authorization ux is terribly intuitive and it does not take advantage of our machine tokens. The current is sort of a legacy of the previous way of authenticating and it is a bit awkward. That awkwardness will increase when we reduce the session length, and we may see breaking changes when we move from sessions to access tokens (jwts).

It may be too late to make this c

[2017-01-11 18:11] dustinleblanc commented on #1522
+11million This is one step closer to session-less key based authentication which is the expected norm for CLI application authentication. Simply store a unique string (the token) either as a file, a value in a file, or an env variable and never ever ask folks about authentication again. This is one of my biggest gripes with the Terminus experience (that prompted me to beg for machine-tokens in th

[2017-01-11 18:13] greg-1-anderson commented on #1522
This proposal doesn't sound too different than what Terminus is already doing. I think it is an improvement, and could be dropped in without too much impact. Existing scripts using `auth:login --machine-token` will continue to work, and as you mention, adding the ability to put the machine token in an environment variable is a big win for CI.

+1

[2017-01-11 19:02] SaraMcCutcheon commented on #1522
How would we start the token creation process from Terminus and how can we make sure this is able to be run without interactivity?

[2017-01-11 19:17] joshkoenig commented on #1510
Looks like it could be the same issue as #1508 - but different output under Ubuntu. Same scenario, and same `Invalid argument supplied for foreach()`

[2017-01-11 20:25] SaraMcCutcheon commented on #1510
Duplicate of #1508

[2017-01-11 20:25] #1510 closed, assigned to nobody

[2017-01-11 20:27] SaraMcCutcheon commented on #1491
This is a Terminus installer issue and has been resolved.

[2017-01-11 20:27] #1491 closed, assigned to nobody

[2017-01-11 20:28] SaraMcCutcheon commented on #1492
This is a Terminus Installer issue. Moved here: https://github.com/pantheon-systems/terminus-installer/issues/22

[2017-01-11 20:28] #1492 closed, assigned to nobody

[2017-01-11 20:33] ronan commented on #1522
@TeslaDethray: Starting the auth process would be the same as it is now. Although auto-opening a browser window to get you on your way would be a nice addition.

Interactivity is required to generate a machine-token by definition, but assuming you have already created one, then `auth:login --machine-token=xxx` or `TERMINUS_MACHINE_TOKEN=xxx terminus site:list` should do it.

It might make sense fo

[2017-01-11 21:38] chrisgross commented on #1186
I am still having this problem. Both on the old version of terminus and the 1.0.0-beta.2. I see upstream updates on the dashboard but terminus is not seeing them, even though I pushed the latest commit two hours hours ago.

[2017-01-11 21:58] ronan commented on #1522
After a face-to-face conversation about this my concerns may be overblown. For a user with a single account the experience is currently more or less what I described. The only part that holds true is that `auth:logout` is essentially meaningless since you would be logged back in automatically next time you run terminus.

For users juggling multiple accounts, the interface could be simplified some

[2017-01-11 22:53] gravelpot commented on #1493
FWIW, we are also experiencing this same problem when trying to set up automation of drush commands on our Jenkins server using Terminus 1.x. Same root cause, I'm guessing?

[2017-01-12 06:58] SaraMcCutcheon commented on #1359
@amklose This file has been changed to no longer (directly) use the container. Please update and give it a whirl.

[2017-01-12 06:58] #1359 closed, assigned to nobody

[2017-01-12 18:11] ronan commented on #1507
This feels like the best solution. I don't think it's unreasonable to make a user specify that they want to open an interactive session.

[2017-01-12 18:23] ronan commented on #1507
Or, even easier: Changing the setTty call to:

`$process->setTty(posix_isatty(STDOUT));`

Seems to solve the problem.

https://github.com/pantheon-systems/terminus/blob/master/src/Helpers/LocalMachineHelper.php#L50

[2017-01-12 18:43] SaraMcCutcheon commented on #1186
I'm sorry you've waited so long for this, @chrisgross. It is now on our scheduled work for this sprint (lasting until 1/20).

[2017-01-12 18:45] SaraMcCutcheon commented on #1186
Could I ask you to run the command with a `-vvv` and share that for debug so that I can see what your Terminus install is sending and receiving? This'll go a long way to helping me figure out what's gone awry for you. @chrisgross You will want to be sure to expunge identifying information like your site's UUID and your session token from your output before posting it .

[2017-01-12 19:02] #1304 closed, assigned to TeslaDethray

[2017-01-12 19:02] #1497 closed, assigned to nobody

[2017-01-12 19:06] greg-1-anderson commented on #1507
Booyah, @ronan+++

[2017-01-12 20:44] #1507 closed, assigned to nobody

[2017-01-12 22:31] chrisgross commented on #1186
The sanitized output is below. This is hard to troubleshoot on my end, because I have multiple sites, and it works fine for some and not others, and also it doesn't happen every time. So I couldn't get you a standard example, which is that I push a single commit and some sites don't see it.

So, in this situation I only noticed something odd in the debug after I had unsuccessfully tried to get fou

[2017-01-13 00:33] tynor opened #1526 "Environment::commitChanges() incorrectly uses the result of LocalMachineHelper::exec()"
### Expected behavior
When committing changes, author email and name should be plain strings of the local git configuration email and name.

### Actual behavior
Environment::commitChanges() uses the immediate result from LocalMachineHelper::exec(), which is an array rather than the command's output as a string. This causes the commit author to be incorrect, e.g. `OrderedDict([(u'output', u'Alice\n

[2017-01-17 17:03] brookemahoney opened #1528 "Issue closed with no explanation"
The issue, https://github.com/pantheon-systems/terminus/issues/1128 , was closed without any comment. Was there any resolution? I created this issue because I think closing issues without a comment explaining why isn't nice for the people who are watching the issue.

Thanks,
Jeff

[2017-01-17 17:03] brookemahoney commented on #1128
Is this still a problem? Why was the issue closed?
Follow up: https://github.com/pantheon-systems/terminus/issues/1528

[2017-01-17 18:11] #1509 closed, assigned to nobody

[2017-01-17 18:14] ghost commented on #1446
Confirming this issue

PHP 5.6.21
Attempted update from terminus v0.13
Installed via CURL from git bash (mintty) on Win 10 x64
Same warning regarding bin/terminus.bat

[2017-01-17 20:33] #1526 closed, assigned to nobody

[2017-01-17 20:41] ari-gold opened #1531 "env:wake throws PHP Undefined Property Notice"
[code]

[2017-01-18 17:05] bentekwork opened #1532 "workflows:watch no longer outputs php script"
### Expected behavior
Using this script (https://github.com/pantheon-systems/quicksilver-examples/tree/master/debugging_example).  I expected that when running terminus workflow:watch that I would see the payload output from the script.

[code]

### Actual behavior
There is no output from the script using Terminus 1.0.0-beta.2.  I did confirm that the output does work on 0.13.x.

### Steps to repr

[2017-01-18 18:55] SaraMcCutcheon commented on #1531
Does this still happen on master for you, @ari-gold? I made changes to this yesterday.

[2017-01-18 19:09] QueSaraSera opened #1534 "Terminus should use my last-used session to log me back in"
### Expected behavior
Terminus should log me in with my most recently used account after my session has expired.

### Actual behavior
If I have more than one saved machine token, Terminus will not know which to use when my session expires and will require me to run `auth:login --email=handle@domain.ext` to reaffirm my login.

### Steps to reproduce the behavior
- Log in using account A
- Log in us

[2017-01-18 19:12] SaraMcCutcheon commented on #1534
This came from the discussion around #1522

[2017-01-18 19:13] SaraMcCutcheon commented on #1522
I've opened #1534 stemming from this conversation.

[2017-01-18 19:13] #1522 closed, assigned to nobody

[2017-01-18 19:33] #1518 closed, assigned to nobody

[2017-01-18 19:40] SaraMcCutcheon commented on #1317
We had this functionality implemented initially, but had to remove it because the site's framework property is not reliable and, I'm told, due to be removed. @timetric

[2017-01-18 19:40] #1317 closed, assigned to nobody

[2017-01-18 20:57] mosaiceye opened #1535 "TERMINUS_CHECKOUT=$(terminus auth whoami), output bug in a bash script"
### Expected behavior
I'm expecting to read the output string in my bash var, however it always returns empty or null.

### Actual behavior
The command works fine, it's just not returning the output properly. It must have an 'exit 1' at the end of it or something. Here's a sample bash script included:
`#!/bin/bash

TERMINUS_CHECKOUT="$(terminus auth whoami -vvv --debug)";
echo $TERMINUS_CHECKOUT;

[2017-01-18 23:42] ari-gold commented on #1531
Looks good! Thanks @TeslaDethray

[2017-01-18 23:42] #1531 closed, assigned to nobody

[2017-01-19 04:19] greg-1-anderson commented on #1535
I just tried `T=$(terminus auth:whoami)` using Termius 1.x, and that worked fine. I'd recommend trying the new beta.

[2017-01-19 18:06] mosaiceye commented on #1535
It worked thanks!

[2017-01-19 18:06] #1535 closed, assigned to nobody

[2017-01-19 20:13] danheisel commented on #1446
Confirming the issue as well.

Clean install with PHP 5.6.21 on a Win 10 x64 machine. Followed the same steps for another machine that is working fine. The other machine was set up about two months ago.

[2017-01-19 20:48] danheisel commented on #1446
Rolling back to 0.13.5 at least allowed me to get Terminus going on this new machine without a hitch. I was receiving the errors with beta 2.

[2017-01-19 21:18] greg-1-anderson commented on #1493
Try this again with the latest HEAD of master; I think that one of @ronan's recent PRs fixed this.

[2017-01-19 22:05] joshkoenig commented on #1532
This was working as of `dev-master c74c39f`, which is what I had installed before updating to beta2.

Confirmed broken on `1.0.0-beta2` and current `dev-master 6d33c57`

[2017-01-19 22:06] joshkoenig commented on #1532
Customers report it working on `beta1`.

Looking at `-vvv` output it seems like we lost the `"query":{"hydrate":"operations_with_logs"}` part of the request for the workflow.

[2017-01-19 23:17] ataylorme commented on #1507
@ronan and @greg-1-anderson capturing stdout of remote commands is not working for me using the latest version of Terminus from `master`.

I'm trying to capture WP-CLI output in a variable for use in a bash script. Specifically I'm running `wp plugin list --update=available --format=count` which provides a count of plugins that have updates available.

Locally it returns `0` if no plugin updates a

[2017-01-19 23:57] greg-1-anderson commented on #1507
@ataylorme Confirmed -- if you redirect output with the `terminus wp` command, you get some spurrious output, usually lines containing "out" or "err".  For example:
[code]
These lines do not appear when output is sent to the tty directly.

This also happens with `terminus drush site.env -- version`, but not with other Terminus commands.

Seems to be something with the way the Symfony Process compo

[2017-01-19 23:58] greg-1-anderson commented on #1507
The function prototype for the callback provided to the `wait` function is wrong. See [running-processes-asynchronously](https://symfony.com/doc/current/components/process.html#running-processes-asynchronously).

I'll submit a PR.

[2017-01-20 00:18] ataylorme commented on #1507
Thanks for investigating @greg-1-anderson. Can you copy me on the PR? Looking forward to getting the scalewp.io auto updates running on Terminus `1.0`.

[2017-01-20 00:46] greg-1-anderson commented on #1507
@ataylorme n.b. #1539 ^^

[2017-01-20 01:07] #1500 closed, assigned to nobody

[2017-01-20 01:33] #1022 closed, assigned to TeslaDethray

[2017-01-20 01:33] SaraMcCutcheon commented on #1508
Fixed in #1536

[2017-01-20 01:33] #1508 closed, assigned to nobody

[2017-01-20 02:04] greg-1-anderson commented on #1507
@ataylorme PR merged. Please give feedback as soon as possible if you're still having trouble.

[2017-01-20 02:06] SaraMcCutcheon commented on #434
As @greg-1-anderson said, this was implemented in a plugin. Closing this issue.

[2017-01-20 02:06] #434 closed, assigned to nobody

[2017-01-20 02:09] SaraMcCutcheon commented on #1506
I will add this to the debugging section of the README.

[2017-01-20 02:59] #1506 closed, assigned to nobody

[2017-01-20 15:21] ataylorme commented on #1507
@greg-1-anderson fix confirmed and tested - see [WordPress at Scale Auto Update on CircleCI](https://circleci.com/gh/ataylorme/wordpress-at-scale-auto-update/300). Thank you!

[2017-01-20 18:24] joshkoenig commented on #1493
Currently I'm seeing that the string `out` is prepended to STDOUT when I capture it; this may be an issue if it interferes with our ability to parse structured output for scripting purposes.

[2017-01-20 18:26] joshkoenig commented on #1493
Confirmed this is a problem. Here's an easy example to test against:

[code]

[2017-01-20 18:36] ronan commented on #1493
@joshkoenig I am not currently able to reproduce the issue with terminus master:

[code]

Let me poke around and see if I can figure out where that 'out' is coming from.

[2017-01-20 18:58] dan-ddb commented on #1446
I am experiencing the same error. I ran the installer which gave me beta 2. I am running php 7.0.15 and the error appears both in windows cmd.exe as well as git bash.

Windows Server 2012 (64bit)

Also received this error during installation:

<warning>Skipped installation of bin bin/terminus.bat for package pantheon-systems/terminus: file not found in package</warning>

Does anyone have step by s

[2017-01-20 19:04] danheisel commented on #1446
For me, I just pulled down 0.13.5 into a new folder and ran the composer install as normal from that new folder. All seems to be going fine now. I had installed alpha 2 on another laptop and it works perfectly fine.

[2017-01-20 19:16] joshkoenig commented on #1493
Confirmed working with dev-master. Thanks!

[2017-01-20 19:16] #1493 closed, assigned to nobody

[2017-01-20 19:23] joshkoenig commented on #1514
Working for me as well on the current master:

[code]

[2017-01-20 19:23] #1514 closed, assigned to nobody

[2017-01-20 19:43] dan-ddb commented on #1507
I am receiving an error when trying to run a drush command (via terminus):

PHP Fatal error:  Uncaught Error: Call to undefined function Pantheon\Terminus\Helpers\posix_isatty() in E:\producemarketguide.com\terminus\vendor\pantheon-systems\terminus\src\Helpers\LocalMachineHelper.php:51

It appears these functions are not available on windows:
http://ca3.php.net/manual/en/intro.posix.php

Is this r

[2017-01-20 20:11] greg-1-anderson commented on #1493
@joshkoenig Yep, that was fixed last night.

[2017-01-20 20:29] joshkoenig commented on #1446
We likely need to use `DIRECTORY_SEPARATOR` when locating `composer.json` to determine the root:

https://github.com/pantheon-systems/terminus/blob/c973f9cb8eaeed3ea332a624a78d197f5ec095f7/src/Config/DefaultsConfig.php#L59

[2017-01-20 20:32] tessak22 commented on #1446
@makbeta How did you resolve your error as I am also receiving the same error. I am on a new computer with literally no changes made so I am curious if I am missing some major installation or configuration.

<warning>Skipped installation of bin bin/terminus.bat for package pantheon-systems/terminus: file not found in package</warning>

[2017-01-20 20:32] greg-1-anderson commented on #1446
I don't believe you need DIRECTORY_SEPARATOR for `file_exists()`; PHP should convert filepaths for built-in commands. It is necessary when calling `exec` et. al.

Problem is probably somewhere else. Haven't tried to reproduce though.

[2017-01-20 20:35] joshkoenig commented on #1446
@greg-1-anderson PHP isn't so good if there are mixed sets of separators. User reported that hard-coding in a `\` got it working.

@tessak22 - that `terminus.bat` warning should not prevent you from successfully using terminus. If we can reproduce it, we should create a separate lower-priority issue.

[2017-01-20 20:36] joshkoenig opened #1544 "posix_isatty() is not available in Windows Environments"
via @dan-ddb who is using Windows12 Server:

I am receiving an error when trying to run a drush command (via terminus):

PHP Fatal error: Uncaught Error: Call to undefined function Pantheon\Terminus\Helpers\posix_isatty() in E:\producemarketguide.com\terminus\vendor\pantheon-systems\terminus\src\Helpers\LocalMachineHelper.php:51

It appears these functions are not available on windows:
http://ca3.

[2017-01-20 23:22] makbeta commented on #1446
@tessak22 I was not able to resolve the issue. Because I was pressed for time and have relatively few site on Pantheon, I just skipped the terminus approach and got things done via the FTP.

[2017-01-21 04:30] greg-1-anderson commented on #1544
Addressed in #1545

[2017-01-23 18:19] danielbachhuber opened #1549 "Terminus could throw an error when old-style wp-cli / drush parameter quoting is used."
When I try to run `wp solr index` via Terminus, I see this unexpected error:

[code]

When I run `wp solr` via Terminus, I see the expected result:

[code]

The nature of the original error message leads me to believe Terminus is incorrectly quoting WP-CLI subcommands.

If  I run an incorrect WP-CLI subcommand, WP-CLI correctly interprets the parent as a valid command and the child as an invalid s

[2017-01-23 18:22] danielbachhuber commented on #1549
In the process of writing this issue, I came across one solution: `terminus wp solr-demo-redux.dev -- solr index` (#1517, #1505)

If this is the new preferred syntax, shouldn't `terminus wp solr-demo-redux.dev "solr index"` (e.g. no `--`) produce a Terminus error?

[2017-01-23 18:39] greg-1-anderson commented on #1549
@danielbachhuber You are correct that using `--` is the preferred syntax. Quoting is now used to pass a single parameter that contains spaces. This is a break from Terminus 0.x, and more in line with what other Symfony Console apps and other commandline tools use.

Terminus could, in fact, throw a helpful error message if the first parameter (the wp-cli command) contained a space. That's a good su

[2017-01-24 00:34] arderyp opened #1550 "updating terminus itself?"
### Expected behavior
not applicable

### Actual behavior
not applicable

### Steps to reproduce the behavior
not applicable

I just installed version 1.0.0.  I've been testing pre-release versions, and its been an awesome tool.  Since the official install instructions rely on a curl call, and I don't see any options to call for self-updating terminus, I am wondering what the official advice is fo

[2017-01-24 01:26] SaraMcCutcheon commented on #1532
@bentekwork @joshkoenig  This should be all cleared up once you update to 1.0.0 (stable).
![image](https://cloud.githubusercontent.com/assets/868204/22230186/0f3eb2e0-e191-11e6-9416-7da7de89ea2e.png)

[2017-01-24 01:26] #1532 closed, assigned to TeslaDethray

[2017-01-24 20:09] joshkoenig opened #1552 "Remove terminus.bat from composer.json"
A fresh install throws a warning currently because we have a legacy `terminus.bat` file reference in our composer manifest:

https://github.com/pantheon-systems/terminus/blob/master/composer.json#L7

At the end of any install, the following warning appears:

[code]

This is confusing to users. I don't think we need that in the `composer.json` going forward, so we should probably remove it.

[2017-01-24 22:18] jribe opened #1554 "Error on Travis: 'The "--format" option does not exist.'"
### Expected behavior
`terminus connection:info --format=json <site>.<env>` should work on Travis.

### Actual behavior
When run on Travis, `terminus connection:info --format=json <site>.<env>` spits out an error saying that `The "--format" option does not exist.`. This behavior does not reproduce on either of my mac machines.

### Steps to reproduce the behavior
This [.travis.yml](https://github.

[2017-01-25 04:06] greg-1-anderson commented on #1554
It seems that perhaps installing Drush and Terminus together in the same project via `composer global require` is causing you to get different dependencies than you get when installing Terminus alone. Composer global require is deprecated for this reason. See [Fixing the Composer Global Command](https://pantheon.io/blog/fixing-composer-global-command).

Try installing Termius and Drush using cgr;

[2017-01-25 16:23] aaronbauman opened #1558 "Annotated Command Drops the Third Parameter Description"
### User story
As a team administrator
When I add a person to a team
Or when I add a role to a person
I want to know the possible values for roles
So that I can provide the correct argument to the terminus command

### Description
Commands like ```org:ppl:role``` and ```site:team:add``` accept a "role" argument, but there's no way to know what the posible values are.

### Proposed resolution:
Help

[2017-01-25 18:33] aaronbauman opened #1560 "Feature Request: multidev:create from existing git branch"
As a developer
I would like to create a new multidev environment from terminus from an existing git branch
So that I don't have to log into Pantheon Dashboard to do so

[2017-01-25 18:39] greg-1-anderson commented on #1560
[code]
If there is an existing branch named `<multidev>`, then it will be used when the new multidev is created.

See also the [Terminus Build Tools Plugin](https://github.com/pantheon-systems/terminus-build-tools-plugin)

[2017-01-25 18:47] joshkoenig opened #1562 "Guard against content clones from empty source environment"
Feature request from a customer - can we prevent terminus from issuing database clones which use an un-initialized/empty source environment? The dashboard does this: environments that have never had code deployed to them (lacking `target_commit` metadata) are not selectable in the workflow area.

Full original request below.

---

Hello,

First, thanks for creating and nurturing an amazing product

[2017-01-25 18:54] joshkoenig commented on #1562
One quick follow-up, it looks like we do have some notion in Terminus as of 1.0 of whether an environment is `Initialized` or not:

[code]

[2017-01-25 19:18] greg-1-anderson commented on #1560
Fixed by #1560

[2017-01-25 19:18] #1560 closed, assigned to nobody

[2017-01-26 19:22] SaraMcCutcheon commented on #1558
Thank you for this request, @aaronbauman. I'm making adjustments to the help text today and this will be included.

[2017-01-26 22:27] SaraMcCutcheon commented on #1558
@greg-1-anderson I've been looking into this and am having difficulty finding out why this happens. The `role` param has a description, but about as soon as AnnotatedCommand receives it, it drops whichever description is third. This happens on all commands wherein there is a `role` parameter, but not other commands which have three or more parameters (such as `site:create`). Have you seen this bef

[2017-01-26 22:47] greg-1-anderson commented on #1558
@TeslaDethray Odd. I'll look at it.

[2017-01-26 22:56] greg-1-anderson commented on #1558
Definitely a bug in the upstream. When I add `array $options = ['foo' => 'bar']` on the end of the parameters to the command, then the help description for `role` renders correctly. It seems that the annotated command is incorrectly deciding that `role` is the options at some point.

I'll fix it in the upstream.

[2017-01-26 23:32] #1552 closed, assigned to nobody

[2017-01-26 23:34] SaraMcCutcheon commented on #1558
Thanks a bunch, @greg-1-anderson!

[2017-01-27 02:34] #1558 closed, assigned to nobody

[2017-01-27 06:37] orjhor opened #1566 "Unable to execute commands with spaces in them, returning [Exit: 1]"
Trying to execute:
`terminus wp mysite.dev "core version`"

The same goes for **all commands with spaces** in them. E.g.
`terminus wp mysite.dev "core"` works
`terminus wp mysite.dev "core version"` does not

`terminus wp mysite.dev "theme"` works
`terminus wp mysite.dev "theme list"` does not

Getting:

Pantheon support-chat said my command syntax looked OK and that this is most likely a bug?

[2017-01-27 07:10] orjhor commented on #1566
All though support-chat told me my syntax was OK, it was not.
This works: `terminus wp babyverden.dev -- core version`

**Closed**

[2017-01-27 07:10] #1566 closed, assigned to nobody

[2017-01-27 14:04] dustinleblanc commented on #1566
@orjhor Thanks for letting us know how it worked out! Since we just changed the command structure, everyone is having quite the time mentally changing gears, sorry we gave some bad info :(

I suspect within the next few months we'll all forget the old syntax existed. Our docs should be up to date as well, I know I personally submitted a few changes based on the new system. If you run across any ot

[2017-01-27 17:05] greg-1-anderson opened #1567 "Terminus self:cc is not deleting the command cache"
### Expected behavior
Terminus self:cc should delete the command cache, making changes to commands active.

### Actual behavior
Changes make to Terminus core or plugin commands (e.g. updated options or help text) are not reflected in the command's execution after `terminus self:cc`

### Steps to reproduce the behavior
[code]
Open up the source to the org:ppl:add command and add the word **awesome*

[2017-01-27 18:24] greg-1-anderson commented on #1567
Note that the need to clear the command cache will be greatly reduced once https://github.com/consolidation/annotated-command/pull/72 is included in a stable release and pulled into Terminus. However, `self:cc` should still delete the command class, so that there is a way to flush the whole thing, should it ever be necessary to do so.

I'm deliberately going to hold off on tagging https://github.c

[2017-01-27 18:43] SaraMcCutcheon commented on #1550
Thank you for making this request @arderyp. I'll be updating for this today.

[2017-01-27 18:57] jrisebor commented on #1115
I'd just like to chime in and say I'm also having this issue with Terminus 1.0.0.

Adding `--yes` does not solve the problem for me.

The dashboard seems to be able to pick up the sftp changes pretty quickly (or refreshing the page seems to guarantee it), and after that everything works as expected, but If I don't load the environment's dashboard page first, Terminus usually doesn't notice that th

[2017-01-27 21:06] FRNetwork opened #1568 "Need terminus to allow plugin updates for multiple sites with one command"
### Expected behavior
The current command (terminus wp my-site.dev -- plugin update --all) will update a single site.
We need a command that allows us to push out plugin updates (and other types of updates really) to multiple sites without running the command multiple times.
A sort of
terminus wp my-sites.alias -- plugin update --all
command where I have all of my sites from the site:list command

[2017-01-30 21:30] phathaway69 commented on #1477
The underlying issue was that using curl and cygwin at my corporate desk, behind a corporate firewall, I didn't have the corporate certs in place for an SSL handshake.  Instead of following the ideal path where I put the appropriate corporate certificates in the correct trust store, I continued to work around the SSL limitations and was able to download terminus and get around some other download

[2017-01-30 22:26] #1567 closed, assigned to TeslaDethray

[2017-01-30 23:08] chrisgross commented on #1186
Do you have any updates about this? This problem has effectively crippled my ability to deploy sites other than manually doing it through the dashboard. This is highly critical.

[2017-01-30 23:51] jribe commented on #1554
Using `cgr` fixed it. Thanks!

[2017-01-31 15:06] deltafactory opened #1572 "Allow opt-out of git-mode warning"
The warning introduced in #807 might be useful when getting started but it's unnecessary output for those who know what they're doing.

Is it possible to introduce a local setting to optionally remove that warning and reserve output messages for actual error conditions?

[2017-01-31 19:04] iamEAP opened #1573 "Add "processing" output to potentially long-running commands"
### Expected behavior
In terminus 0.x, potentially long-running commands (like multidev creates) would periodically print output (dots), indicating that the command was still actively running.  This was useful on CI services (like Travis CI) that will mark builds as `error'd` if no output from a command is detected for some period of time.

![screen shot 2017-01-31 at 10 54 56 am](https://cloud.gi

[2017-01-31 22:53] pbuyle opened #1574 "connection:info is not usable"
### Expected behavior
Displays connection information for Git, SFTP, MySQL, and Redis in a format that an human can understand, parse and use.

### Actual behavior
The command display all the information as a single block of text, with not particular separator between the different between each.

### Steps to reproduce the behavior
[code]
[code]

[2017-01-31 23:02] pbuyle commented on #1574
Removing Drush from the project's composer dependencies solve the issue.

I guess I need to install Terminus and/or Drush using `composer global require`.

[2017-01-31 23:06] greg-1-anderson commented on #1574
Do not use `composer global require` to install commandline tools; this will only exacerbate your problems.  Use [cgr](https://github.com/consolidation/cgr), or the [Terminus installer](https://github.com/pantheon-systems/terminus-installer).

See [Fixing the Composer Global command](https://pantheon.io/blog/fixing-composer-global-command).

[2017-02-01 14:24] pbuyle commented on #1574
Indeed, cgr is what I had in mind.

Shoudn't Terminus composer's file state its dependencies in a way that would prevent installation of both Drush and Terminus?

[2017-02-01 15:08] greg-1-anderson commented on #1574
There is no need to prohibit Drush; the problem is that Terminus does not stipulate its minimum versions for some components where it has unstated dependencies.

The solution would be to do [highest / lowest dependency testing](https://blog.wyrihaximus.net/2015/06/test-lowest-current-and-highest-possible-on-travis/) like [Robo](https://github.com/consolidation/Robo/blob/master/.travis.yml#L9) does

[2017-02-01 19:11] alphex opened #1577 "Support ".env" file in the docroot."
### Expected behavior
I expect this behavior to work :
https://github.com/pantheon-systems/terminus/blob/master/README.md#setting-default-user-site-environment-etc-and-dotenv

Having the ability to place a `.env` file in my site docroot, following this model https://github.com/pantheon-systems/terminus/blob/master/.env.example (or something like it) that eases the use of the `terminus` command whe

[2017-02-01 21:41] ajoy39 commented on #1568
There is a plugin available for this at the moment https://medium.com/@Pixo/automating-plugin-module-updates-on-pantheon-bfc6e13dac39#.fcscnndnm

[2017-02-01 21:42] FRNetwork commented on #1568
Yep, saw that it came out today via the Pantheon blog, makes me very happy.

[2017-02-01 21:48] ajoy39 opened #1578 "Terminus site list command exits with PHP Error"
### Expected behavior
 terminus site:list --format=list should return a list of sites

 terminus org:site:list <organization> --format=list should return a list of sites belonging to the specified organization

### Actual behavior
Command fails with a a PHP error, output below:

[code]

### Steps to reproduce the behavior

run the specififed command with terminus installed via homebrew on MacOS Si

[2017-02-01 21:58] ajoy39 commented on #202
Is there a command in Terminus 1.0 similar to terminus cli-cmd-dump? I might be willing to give this feature request a shot but that command doesn't work anymore.

[2017-02-01 22:52] greg-1-anderson commented on #202
`terminus list --format=json` will get a list of all of the commands, and `terminus help cmd --format=json` will get you specific information about one of those commands.

[2017-02-01 22:53] grok opened #1579 "Feature Request: Update Warnings"
Would be great if when you ran terminus, periodically it checked in with "home base" and would alert the user if the binary was out of date.

[2017-02-01 22:55] grok opened #1580 "Feature Request: Running WP-CLI Commands at Scale"
Right now we are doing this god awful black magic:

`terminus site:list | grep wordpress | awk '{print $1}' | xargs -I{} terminus wp {}.live -- core check-update`

or

`terminus site:list | grep wordpress | awk '{print $1}' | xargs -I{} terminus wp {}.live -- plugin list`

IT WOULD BE AMAZING -- if I could do something where we target an array of sites or just all WordPress sites and execute comma

[2017-02-02 19:38] SaraMcCutcheon commented on #1579
@grok We've totally added this and it'll be included in the next release.
...which the version of Terminus you have isn't going to tell you about. Sorry about that.

[2017-02-02 19:38] #1579 closed, assigned to nobody

[2017-02-02 19:51] SaraMcCutcheon commented on #1578
@ajoy39 I'm sorry you're seeing this issue. I am not able to reproduce it on master nor in version 1.0.0, but I am getting different warning that we've since resolved. The notice you're seeing is being thrown from this line, which doesn't change between versions:
[code]
Which means you maybe have a site with a invalid creation time. Could I ask you to check out the master branch and try running th

[2017-02-02 19:56] SaraMcCutcheon commented on #1580
This would be smart for us to implement. +1

[2017-02-02 20:41] ajoy39 commented on #1578
Hi @TeslaDethray, unfortunately when I run this command on terminus head with -vvv the output is so long that the start of it gets pushed out of the console buffer. I've pasted in just the request/response pair where the error shows up, as well as the request/response after it appears (which is the last one in the output) in case it's relevant

Request
[code]
Response
[code]
Request after:
[code]

[2017-02-02 21:55] SaraMcCutcheon commented on #1578
You're right, @ajoy39, that was always going to be too much text. The cause of the error isn't in the reply. Would you mind outputting it to a file and emailing that to `sara at pantheon.io` so I could root around in it? I'm trying to find the site that throws out the error. If you'd rather not I can whip up a branch that'll print out the offending site's UUID.

[2017-02-03 02:03] SaraMcCutcheon commented on #1477
Thanks for updating this @phathaway69. Actually, the reference to \Phar is no longer necessary, so I removed it.

[2017-02-03 02:03] #1477 closed, assigned to nobody

[2017-02-03 02:54] SaraMcCutcheon commented on #1580
Duplicate of #1568

[2017-02-03 02:54] #1580 closed, assigned to nobody

[2017-02-03 04:39] settermjd opened #1585 "Terminus `site:list` command displays a PHP warning before site list output"
### Expected behavior

To list the sites that I have linked to my account.

### Actual behavior

When I run `vendor/bin/terminus site:list`, in addition to the site listing, a PHP warning is also printed out, prior to the site list output.

[code]

#### With -vvv option

[code]

### Steps to reproduce the behavior

All that's required is to run `vendor/bin/terminus site:list`.

[code]

[2017-02-03 05:01] settermjd opened #1586 "Bug when applying site updates"
### Expected behavior

When I attempted to apply the available site updates, of which the dashboard said there were eight, I received the following error:

[code]

![dashboard-updates-screenshot](https://cloud.githubusercontent.com/assets/196801/22580088/c5ec5e92-e9d5-11e6-88a9-8136539c6315.png)

### Actual behavior

I was expecting that either:

1. The updates would be applied and a notification

[2017-02-03 09:07] miloskroulik commented on #311
Is this still available somewhere? I wasn't able to find code from #313 in `master`

[2017-02-03 14:30] pbuyle opened #1587 "Plugin's commands detection does not work when multiple directories are used for the same prefix"
If using the array notation to configure multiple directories for the same namespace prefix, plugin's commands detection does not work.

### Expected behavior
Terminus should see the plugin's command.

### Actual behavior
Terminus does not see the plugins's command.

### Steps to reproduce the behavior
composer.json:
[code]
/src/Commands/HelloWorldCommand.php
[code]

Multiple directories for the s

[2017-02-03 14:50] greg-1-anderson commented on #1587
@pbuyle This is a  simple omission in Terminus' composer.json validator that can easily be fixed. Note, however, that at the moment Terminus is **not** loading the autoloader for plugins; only Command classes are loaded. Once this bug is fixed, more work will be needed before plugins may use multiple classes.

[2017-02-03 19:26] ajoy39 commented on #1578
I would be fine sending you a file, do you know how to go that while grabbing the -vvv output though? The only method I know of is just using > output.txt but that only gives me the unhelpful php error we started with.

[2017-02-03 19:28] greg-1-anderson commented on #1578
@ajoy39 Try `terminus ... > output.txt 2>&1` to capture both stdout and stderr to the same file.

[2017-02-03 19:30] ajoy39 commented on #1578
Thanks @greg-1-anderson ! Sending that output file over now @TeslaDethray

[2017-02-03 21:25] tayo1734 opened #1588 "-bash: terminus: command not found"
I installed Terminus via the instructions here: https://pantheon.io/docs/terminus/install/

But this error
`-bash: terminus: command not found`
when trying to  authenticate Terminus.

Any guidance is appreciated. Alternatively, how can I uninstall Terminus from my machine using Terminal.

[2017-02-03 21:32] QueSaraSera opened #1589 "Parallelize the Applicaiton Upstream Updates"
### Expected behavior
You have to wait for one site to update before updating the next. In addition to updating all the sites at once, I don't want to have to wait for one site to finish before moving onto the next.

### Actual behavior
You have to wait for one site to finish updating before the next

### Steps to reproduce the behavior
Run upstream:updates:apply on an account with lots of sites.

[2017-02-03 23:58] lauren-kelly opened #1590 "Cannot authenticate with machine token on Windows 7"
### Actual behavior
```terminus auth:login --machine-token=<token>```
results in:
```[error] cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)```

### Steps to reproduce the behavior
Along with the steps, please run `terminus self:info` (`terminus cli info` in 0.x) and paste its output here between a pair of ``` m

[2017-02-04 04:55] joshkoenig commented on #1590
This looks like your local curl + TLS setup doesn't trust Pantheon's certs, which could be a common problem if xampp doesn't ship with the right authorities/intermediaries, etc.

Could you add the output of `curl --version`? That might help us understand.

[2017-02-04 17:52] danielbachhuber opened #1592 "Pipe Terminus output to log"
When I try:

[code]

I expected STDOUT to be logged to `index-movies.log`. The observed behavior is that nothing is written to `index-movies.log`.

When I created an `index-movies.sh` file containing:

[code]

And ran:

[code]

I expected STDOUT to be logged to `index-movies.log`. The observed behavior is that nothing is written to `index-movies.log`.

What's the recommended way to log Terminus ou

[2017-02-05 12:51] greg-1-anderson commented on #1592
This works for me using the latest HEAD of master on a mac. Are you using the latest version of Terminus? What OS?

[2017-02-05 12:55] greg-1-anderson opened #1595 "Terminus autocomplete"
### Expected behavior
In bash shells et. al., when I type `terminus` and perhaps the beginning of some command, and then I type `[tab]`, the shell should show me a selection of available commands / options that match what I have already typed.

### Actual behavior
Autocomplete not currently supported.

### Notes
Some discussion of autocomplete in Symfony Console applications at https://github.com/

[2017-02-05 16:41] ataylorme commented on #1115
I can confirm this in Terminus `1.x` as well.

@TeslaDethray this is causing issues [this script](https://github.com/ataylorme/wordpress-at-scale-auto-update/blob/master/bin/wordpress-at-scale-auto-update.sh) I'm using to auto deploy WordPress updates with visual regression.

Basically I spin up a new multidev environment, switch it to SFTP mode and then check for theme/plugin updates with WP-CLI.

[2017-02-05 16:47] danielbachhuber commented on #1592
Yes

CentOS release 6.8

[2017-02-06 17:28] aaronbauman opened #1596 "site:team:role doesn't work"
### Expected behavior
site:team:role should add a team member to a pantheon site

### Actual behavior
command errors out with:

` [error]  This site does not have its change-management option enabled. `

### Steps to reproduce the behavior
- Install terminus (either 1.0.0 or latest dev)
- auth:login (sandbox site)
- site:team:add errors out with the above message no matter what value is given for

[2017-02-06 17:29] aaronbauman commented on #1596
rubberducking ftw.
should have been using site:team:add

[2017-02-06 17:29] #1596 closed, assigned to nobody

[2017-02-06 17:42] stevector commented on #1585
@settermjd, is your user account connecting to any Pantheon orgs? Judging by the code, https://github.com/pantheon-systems/terminus/blob/master/src/Collections/Sites.php#L74, I'm guessing this is an error for users not tied to organizations.

[2017-02-06 19:38] QueSaraSera opened #1598 "self:console throws errors"
### Expected behavior
I expect the console command to work and not throw errors.

### Actual behavior
[code]

### Steps to reproduce the behavior
Run `self:console` on master

[2017-02-06 19:48] SaraMcCutcheon commented on #1598
This only happens in 7.1.

[2017-02-06 21:46] SaraMcCutcheon commented on #1598
Open issue on PSYSH repo:
https://github.com/bobthecow/psysh/issues/345

[2017-02-06 23:58] QueSaraSera opened #1601 "Update self:console to work in 7.1"
### Expected behavior
When using `self:console` in PHP 7.1 the behavior is indistinguishable from < 7.1.

### Actual behavior
When using `self:console` inPHP 7.1, I receive an error message about its incompatibility with my PHP version.

### Steps to reproduce the behavior
Run `self:console` with PHP 7.1.

[2017-02-07 00:00] SaraMcCutcheon commented on #1598
Closed by #1599
Reimplementation issue is #1601

[2017-02-07 00:00] #1598 closed, assigned to TeslaDethray

[2017-02-07 00:00] SaraMcCutcheon commented on #1601
The message was added in #1599 to prevent a fatal error.
Blocked by bobthecow/psysh#345

[2017-02-07 13:06] dsnopek commented on #1585
We're seeing this with a user that doesn't have any organizations. This is unfortunately polluting the JSON returned via `--format=json` which we're parsing with an automated tool :-/

[2017-02-07 22:15] jribe opened #1602 "php warnings print to stdout instead of stderr"
### Expected behavior
All errors and warnings should to print to stderr, keeping stdout clean for parsing.

### Actual behavior
When running commands that produce php warnings (e.g. `terminus org:list` or `terminus site:list` when logged in as a user with no orgs), the warnings print to stdout.

### Steps to reproduce the behavior
* log in as a user with no organizations
* run `terminus site:list

[2017-02-07 22:34] jribe opened #1603 "terminus org:list explodes for users with no orgs"
### Expected behavior
org:list should print an empty list or a single error message when the user has no orgs.

### Actual behavior
`$ terminus org:list` :
[code]

`$ terminus org:list -vvvv`:
[code]
### Steps to reproduce the behavior
* Log in as a user with orgs
* Run `terminus org:list`

self:info
[code]

[2017-02-07 22:50] jribe opened #1604 "The new issue instructions tell you to post your credentials on the public internet"
The new issue instructions tell you to run your command with `-vvv` and copy/paste the output into your issue. Whenever an http request is made, `-vvv` outputs all of the request headers, including the basic auth header. An unwitting user would then end up pasting their terminus credentials into the issue, publishing them to the world.

For example, running `terminus site:view -vvv jribe-test.live

[2017-02-08 04:44] greg-1-anderson commented on #1604
The identifier in `https://terminus.pantheon.io:443/api/sites/<REDACTED>` is just the site id; this id does not contain any credentials, and is not particularly secret. It does not need to be redacted.

Terminus should, however, omit the `Authorization` header from the logs.

[2017-02-08 10:19] settermjd commented on #1585
@stevector I don't believe that it is. I created a patch over the weekend, but in all the excitement (I was at a wedding) I don't believe I've submitted it. I'll do that in a few mins.

[2017-02-08 15:55] kourylape opened #1606 "Pantheon team members with "Developer" role can still run powerful drush commands on test and live"
### Expected behavior
The developer role shouldn't be allowed to run `remote:drush` commands on the test and live environments.

### Actual behavior
Developers cannot do most of the terminus commands on the test and live environments; but using `remote:drush`, for the most part, allows them to do the same thing.

**This is probably worst case scenario:**
Running `terminus env:wipe site.live` fails

[2017-02-08 19:06] jribe commented on #1604
Doing a search for `"Authorization":` in issues on this repo yields credentials for a few sites. Probably a good idea to redact those and notify the owners that they need to rotate their keys.

[2017-02-09 09:18] dbuch opened #1607 "Feature request: Support zero-conf"
It would be nice with support for zero-conf like bonjour/avahi.
Maybe a opt-in configuration so we only resolve when connected to WiFi and/or in a particular subnet.

[2017-02-09 19:34] RoloDMonkey commented on #1446
I am getting this error for a fresh install on MacOS Sierra v10.12.3.

[2017-02-10 02:52] SaraMcCutcheon commented on #1603
This has been resolved since the release and is awaiting the next release to ship. If you are comfortable with using (and care to use) dev-master, the app responds appropriately.
![image](https://cloud.githubusercontent.com/assets/868204/22812333/f263be84-eef8-11e6-9e1b-1aeb331a0e9e.png)

[2017-02-10 02:52] #1603 closed, assigned to TeslaDethray

[2017-02-10 02:54] SaraMcCutcheon commented on #1585
The fix has been accepted. Thank you, @settermjd.

[2017-02-10 02:54] #1585 closed, assigned to nobody

[2017-02-10 03:28] SaraMcCutcheon commented on #1602
My logs do print to stderr.
![image](https://cloud.githubusercontent.com/assets/868204/22813154/20fff582-eefe-11e6-977b-ee2b6d4693f2.png)

[2017-02-10 05:43] SaraMcCutcheon commented on #1606
This is a good idea, although this is a platform-level issue; it needs to be stanched higher up than this because the user could just download the aliases and do the same with Drush alone.

I've added a task in Jira to change this, but I'm afraid there's no way to link it where you can see it here.

![image](https://cloud.githubusercontent.com/assets/868204/22815556/039ac496-ef11-11e6-9ed3-b17d034

[2017-02-10 05:51] SaraMcCutcheon commented on #1604
We should either make instruction about removing the session info clear, or make the debug output obscure it itself. Thank you, @jribe. I'll change that now.

[2017-02-10 05:52] QueSaraSera opened #1609 "Make debug output hide sensitive information"
### Expected behavior
Debug output doesn't include sensitive information

### Actual behavior
It does

### Steps to reproduce the behavior
Run any command which connects with the API using -vvv, see your session token. If we want our users posting that data here, we should expunge sensitive data.

[2017-02-10 05:53] SaraMcCutcheon commented on #1604
Continued in #1609

[2017-02-10 05:53] #1604 closed, assigned to nobody

[2017-02-10 15:02] ghost commented on #1446
Experiencing the same problem:

[code]

[2017-02-10 16:55] dustinleblanc commented on #1446
@RoloDMonkey there are a few errors mentioned in this issue, so I'll assume you are referring to the lack of a TERMINUS_ROOT? The warning related to terminus.bat can be safely ignored.

@paulbooker The first warning can be ignored, the second warning is likely caused by an existing phar or symlink in /usr/local/bin, just make sure to remove it and you should be able to run the Symlink by hand:

[c

[2017-02-10 18:54] jribe commented on #1602
This is also related to any bugs that produce php warnings (e.g. https://github.com/pantheon-systems/terminus/issues/1603).

On my machine (my account is not in any orgs):

[code]

[code]

[2017-02-10 19:05] greg-1-anderson commented on #1602
It looks like php by default sends php warnings to both stdout and stderr:
[code]
Terminus should set its own error handler and send warnings to stderr only.
[code]
There's no output in that last example.

[2017-02-10 20:18] ajoy39 commented on #1578
Did you receive the email I sent last week @TeslaDethray ? Anything I can help with?

[2017-02-14 03:23] pembo13 commented on #1267
I'm not at all clear what the resolution of this ticket was. Was an option added to disable the buffering? If so, what is the option?

[2017-02-14 03:31] greg-1-anderson commented on #1267
The Terminus `wp` and `drush` commands no longer buffer output.

[2017-02-14 07:00] jakewrfoster commented on #1267
@pembo13 the newest version of `terminus` has been buffed up and the syntax has changed a bit. You should brush up on the [new version usage](https://pantheon.io/docs/terminus/examples/).

example command: `terminus wp my-site.dev -- plugin update --all`

It should be noted that in order to print the output of `terminus` to a local log file, I used [`script`](http://man7.org/linux/man-pages/man1/s

[2017-02-15 05:49] step21 opened #1611 "Running terminus with anything fails"
### Expected behavior
Describe what you had expected the command to do.
running terminus with anything

### Actual behavior
When running terminus, this happens:

PHP Fatal error:  Uncaught ReflectionException: Class DOMDocument does not exist in /home/user/bin/terminus/vendor/consolidation/output-formatters/src/Transformations/DomToArraySimplifier.php:24
Stack trace:
#0 /home/user/bin/terminus/ven

[2017-02-15 10:23] dustinleblanc commented on #1611
Hi @step21,

I ran the first part of that error through google and it looks like the first things that come up mention a missing `php-xml` extension: http://drupal.stackexchange.com/questions/218268/uncaught-reflectionexception-class-domdocument-does-not-exist-error

Can you doublecheck that you have the xml extension installed?

Thanks!

[2017-02-15 16:07] step21 commented on #1611
Hi @dustinleblanc thanks for the reply. I only installed what was listed under requirements, and then terminus installed the rest of its dependencies. You were right that php-xml was not installed, but even after installing it (with apt-get update) the error staid the same. Turns out that it was some sort of weird mix between php versions, so that php-xml was installed for 7.1 and then only after

[2017-02-15 17:18] greg-1-anderson commented on #1611
Drupal, Drush, Robo and Terminus all require php-xml. This requirement is not well documented.

[2017-02-15 18:14] jmevalentin commented on #1446
I get this error during installation:
`- Installing pantheon-systems/terminus (1.0.0) Downloading: 100%
    <warning>Skipped installation of bin bin/terminus.bat for package pantheon-systems/terminus: file not found in package</warning>
symfony/var-dumper suggests installing ext-symfony_debug ()`

The <warning> section is the issue, and it repeats by itself at the end.

However, running "terminus"

[2017-02-15 19:27] SaraMcCutcheon commented on #1611
https://github.com/pantheon-systems/terminus#debugging

[2017-02-15 19:27] #1611 closed, assigned to nobody

[2017-02-15 19:30] #1562 closed, assigned to nobody

[2017-02-15 21:37] SaraMcCutcheon commented on #1446
The terminus.bat issue has been fixed and will be shipped with 1.0.1.

[2017-02-15 21:37] #1446 closed, assigned to nobody

[2017-02-17 14:29] chrisgross opened #1614 "Get sites by org without using org ID"
Would it be possible to be able to use terminus org:site:list to get the sites for an organization without using the org ID, such as with a human-readable name? Otherwise, could you tell me whether the org id should be considered sensitive information? I just updated terminus and the old version did not require this argument at all. Since I am using a script, this means I have to put the org ID in

[2017-02-17 22:49] pembo13 opened #1615 "Reading from STDIN no longer works"
### Expected behavior
WP_CLI commands that utilize `file_get_contents('php://stdin')` work as they would in a local environment.

### Actual behavior
WP_CLI command that read from STDIN now hang/deadlock, presumably till the function tring to read from `php://stdin` times out.

### Steps to reproduce the behavior
Any WP_CLI command that requires this now hangs. Something as simple as the following

[2017-02-18 18:02] lanec opened #1616 "Terminus won't execute"
### Expected behavior
Terminus should run when "terminus" is executed in the command line.

### Actual behavior
\`
root@sfs:~# terminus -vvv
PHP Fatal error:  Uncaught exception 'ReflectionException' with message 'Class DOMDocument does not exist' in /root/vendor/consolidation/output-formatters/src/Transformations/DomToArraySimplifier.php:24
Stack trace:
#0 /root/vendor/consolidation/output-format

[2017-02-18 18:12] greg-1-anderson commented on #1616
This is getting to be quite a common question!

Terminus, like Drupal and Drush, requires the php-xml extension to run.

I believe this is `sudo apt-get install php5.6-dom` on Ubuntu.

[2017-02-18 18:33] lanec commented on #1616
That along with Git should be added to the requirements section on the Terminus Installation Page: https://pantheon.io/docs/terminus/install/

[2017-02-21 15:40] ataylorme commented on #1115
This has now been causing timeouts on the script in CircleCI. See [build #338](https://circleci.com/gh/ataylorme/wordpress-at-scale-auto-update/338).

Plugin updates exist on the server from running WP-CLI in SFTP mode but the code commit fails as Terminus/Pantheon doesn't detect the file changes. That leads to the multidev merge failing.

[2017-02-21 18:36] SaraMcCutcheon commented on #1614
You can already use the organization's name. If it has a space, put it in quotes.

[2017-02-21 18:36] #1614 closed, assigned to nobody

[2017-02-21 19:43] digisavvy commented on #1592
I'm wondering about this, too. I tried setting verbosity with -v and also tried to output to a text file and it didn't log any details in the file.

[2017-02-22 00:32] joshkoenig commented on #1592
Capturing output works for me:

[code]

However I'm not on CentOS. That should be easy to test though.

I think we also want to separate the issue of "what is the verbose output for a command look like".

@digisavvy - can you confirm that the output from `-v` to the _screen_ is what you want? If not, then we should separate that issue from whether or not it can be piped to a file.

[2017-02-22 02:37] trangunghoa opened #1620 "Call to undefined function posix_isatty() on the window by terminus"
### Expected behavior
PHP Fatal error:  Call to undefined function Pantheon\Terminus\Helpers\posix_isatty() in D:\xampp\htdocs\drupal\pantheon_terminate\vendor\pantheon-systems\terminus\src\Helpers\LocalMachineHelper.php on line 51
Fatal error: Call to undefined function Pantheon\Terminus\Helpers\posix_isatty() in D:\xampp\htdocs\drupal\pantheon_terminate\vendor\pantheon-systems\terminus\src\Helpe

[2017-02-22 03:03] greg-1-anderson commented on #1620
Try the HEAD of the latest `master` branch. I think this has been recently fixed.

[2017-02-22 07:15] westonruter opened #1622 "Failure to update WP Core to specific version due to --version arg not being forwarded to WP-CLI on remote"
### Expected behavior
I expect to be able to update WP Core to the nightly version via running:

[code]

### Actual behavior
Instead of communicating with the remote, Terminus short-circuits thinking that the user is asking for for the version of _Terminus_ not supplying the `--version` param to WP-CLI on the server. So instead of upgrading, instead the terminal exits with:

[code]

### Steps to r

[2017-02-22 13:32] aczietlow commented on #1588
I think you might have to add the location of the terminus binary to your PATH.

[2017-02-22 21:20] SaraMcCutcheon commented on #1616
Maybe this section is hard to find?
https://github.com/pantheon-systems/terminus/blob/master/README.md#debugging

[2017-02-22 21:20] #1616 closed, assigned to nobody

[2017-02-22 21:21] rachelwhitton commented on #1616
Will add to the Terminus Manual Install page under Troubleshooting

[2017-02-22 21:27] SaraMcCutcheon commented on #1620
Duplicate of #1544

[2017-02-22 22:55] ari-gold commented on #1115
Workaround (not a very nice one):
Open site dashboard
`terminus dashboard <site.env>`

[2017-02-22 23:04] ataylorme commented on #1115
@ari Loading the dashboard works but doesn't solve the issue in the context of scripting as the next commands in the script (like code commit) fail due to the change not being detected.

If a user has to hit the dashboard or do things manually it takes away from the power of Terminus, especially in the context of automation.

[2017-02-22 23:27] greg-1-anderson opened #1624 "Consider backwards compatibility policy for Terminus API"
### Expected behavior
If I write a Terminus plugin for Terminus 1.0.0, it should continue to work for all Terminus versions < 2.0.0.

### Actual behavior
A number of methods have been removed since Terminus 1.0.0; some of these are probably just renames.
[code]

### Steps to reproduce the behavior
Download latest .phar of [tomzx/php-semver-checker](https://github.com/tomzx/php-semver-checker). The

[2017-02-23 00:06] SaraMcCutcheon commented on #1624
@greg-1-anderson Almost all of these were not removed, they were moved into traits and abstract parents and therefore are equally as accessible as before. A simple scan of a class file is insufficient to discern all available functions.

[2017-02-23 00:10] SaraMcCutcheon commented on #1624
Of these all, only these were actually removed as they either didn't do anything they said they'd do, or they were superseded by a long-extant superior function:
[code]

[2017-02-23 00:10] #1624 closed, assigned to nobody

[2017-02-23 00:33] SaraMcCutcheon commented on #1606
@ckylape The reply I've gotten so far to my issue is that this is already how it should be. If you have a low-access user able to run these, please open a support ticket.

[2017-02-23 00:33] #1606 closed, assigned to nobody

[2017-02-23 00:42] greg-1-anderson commented on #1624
Looks like the tool isn't capable enough to be worthwhile. 😿  Sorry for the noise, and thanks for looking into it.

[2017-02-23 02:22] greg-1-anderson commented on #1622
Ooooooo. Spooky. I suspect Symfony/Console is at work here.

[2017-02-23 02:32] greg-1-anderson commented on #1622
Yep. In Symfony\Component\Console\Application:
[code]

And, of course, `ArgvInput::hasParameterOption()` ignores the `--` when searching for `--version`.

I think that the best workaround here would be for Terminus to subclass its own version of ArgvInput, and fix the implementation of hasParameterOption() locally. We can submit a fix to the upstream as well.

[2017-02-23 06:00] ari commented on #1115
Who are you? Why are you emailing me?

[2017-02-23 06:01] greg-1-anderson commented on #1115
@ari: @ataylorme meant @ari-gold

[2017-02-23 22:49] greg-1-anderson commented on #1622
This has actually already been fixed in the upstream. However, Terminus is prevented from using Symfony/Console 3.x, because it requests ^2 of sebastianbergmann/phpcov. Upgrading to phpcov ^3 would fix this, but unfortunately, that requires phpunit ^5, which requires php 5.6.

@TeslaDethray: Would it be possible to remove phpcov from Terminus' composer.json file, and perhaps download the phar from

[2017-02-23 22:57] greg-1-anderson commented on #1622
To be clear, we can still hack around this particular problem; however, my thought is that there are probably lots of other advantages to be had / problems to avoid by getting Terminus on Symfony/Console 3.x, so we should do that if possible.

[2017-02-23 23:22] greg-1-anderson commented on #1622
@TeslaDethray: Looks like phpcov is no longer used. I made a PR ^^ that I believe fixes this.

[2017-02-24 15:12] rvtraveller opened #1626 "New Relic Info Command Not Working"
### Expected behavior
As an authenticated user, I should be able to retrieve information about New Relic for a site using `terminus new-relic:info <site-name>`.  The information should, at a minimum, include whether or not New Relic is enabled/disabled.

### Actual behavior
An empty table/output is returned.  Data is not accurate.

[code]

### Steps to reproduce the behavior
1.  Authenticate in Te

[2017-02-24 17:17] somenode opened #1627 "Permit backup to directory w/o filename in backup:get"
### Expected behavior
Shell script to automate backup where the backup should go to a local directory.

`path = "/path/to/dir/folder/"`
`terminus backup:get <mysite>.<myenv> --element=code --to=$path`

### Actual behavior
Error thrown and no backup created in local backup directory.
`[error] Target file /path/to/dir/folder/ already exists`

I also tried creating a new directory `/path/to/dir/other

[2017-02-27 00:16] #1622 closed, assigned to greg-1-anderson

[2017-02-27 17:12] greg-1-anderson opened #1630 "Turn on Scrutinizer for Terminus"
### Expected behavior
When I submit a PR, a static analysis tool should provide useful information about my work, including advice on complexity, duplication and coupling.

### Actual behavior
Codacy tells me my variable names are too long.

### Steps to reproduce the behavior
Submit a PR. Wait for the test results to run. Click on "Details" next to "Scrutinizer"

I actually already turned on Scru

[2017-02-27 20:06] greg-1-anderson commented on #1622
@westonruter This has been fixed in the `master` branch of Terminus. Could you please confirm this addresses your issue?

[2017-02-27 20:50] westonruter commented on #1622
@greg-1-anderson Confirmed!! After a `composer update`:

[code]

[2017-02-28 00:08] joshkoenig commented on #1589
Prior experience with customers who pushed the envelope and did this themselves suggests some caution is in order. While it's totally doable to build a client that can operate with some parallelization, the platform has only rudimentary rate-limiting capabilities. We need to insure that people don't immediately run into issues, or that we aren't creating a risk of backlogged workflow queues, etc.

[2017-02-28 23:33] SaraMcCutcheon commented on #1578
@ajoy39 I'm about to merge a fix to this. Indeed one of the sites is quite old and has a formatted datetime instead of a Unix datetime. Because other older sites will surely see this issue as well, I've guarded against it by running the creation dates through `strtotime()`.

[2017-03-01 06:00] #1578 closed, assigned to nobody

[2017-03-01 15:31] aaronbauman opened #1633 "PHP Warning: array_key_exists() expects parameter 2 to be array, boolean given ReorderFields.php line 46"
### Actual behavior
upstream:updates:list <site.env> --field=hash throws array_key_exists() warning when no updates are available.

terminus version 1.0.0

Here's a stack trace:
[code]

[2017-03-01 15:45] greg-1-anderson commented on #1633
The output formatters library does not like it when a command declared to return RowsOfFields instead returns a boolean.

Could this command perhaps simply return nothing (from the function return) when there are no updates?

[2017-03-01 20:10] SaraMcCutcheon commented on #1633
@greg-1-anderson It's doable, but I like getting an empty array when scripting with Terminus using JSON. Wouldn't doing this mean that everybody who had scripts which don't have to check for null before iterating would have to update those scripts?

[2017-03-01 20:29] greg-1-anderson commented on #1633
@TeslaDethray Didn't look at the code at first -- yes, an empty array should be fine, and I see that's what `upstream:updates:list` is doing. I'll look at output-formatters, and see why it's ending up with a boolean in that instance.

[2017-03-01 20:48] greg-1-anderson commented on #1633
This is a bug in output formatters: https://github.com/consolidation/output-formatters/pull/50

New release coming shortly.

[2017-03-01 21:20] greg-1-anderson commented on #1633
@aaronbauman Could you please check and see if #1634 resolves your issues?

[2017-03-01 21:28] aaronbauman commented on #1633
Yup, fixed it for me.
Thanks!

[2017-03-01 21:56] #1633 closed, assigned to nobody

[2017-03-01 22:01] #1554 closed, assigned to nobody

[2017-03-02 17:50] SaraMcCutcheon commented on #1627
@somenode You have to provide a file name as well, although having it download using its original file name would be a good improvement. I will change the title here to be a feature request for it.

[2017-03-03 00:32] greg-1-anderson opened #1636 "Potential information disclosure in `terminus drush` / `terminus wp` commands"
### Expected behavior
It should be possible to use Terminus commands in Continuous Integration scripts without disclosing sensitive information.

### Actual behavior
The commands `terminus drush` and `terminus wp` echo the command with exit code after termination. Sometimes, these commands may include sensitive information; for example, `drush site-install` might include the password for the new s

[2017-03-03 13:51] stevector commented on #1636
Yeah, our WordPress plugins install WordPress with completely suppressed output to get around this problem: https://github.com/pantheon-systems/wp-redis/blob/83846fdf598414ebe6557b2ad8547a8f8d6d24c0/bin/behat-prepare.sh#L77

I'd prefer something in Terminus to suppress output more granularly.

[2017-03-03 14:34] greg-1-anderson commented on #1636
I considered fixing this with a `--redact` option, but that seemed a little complicated -- and also implies that Terminus is offering to redact the tool output itself, which I think might be going a little too far.

Instead, I think I will submit a proposed PR that modifies SSHBaseCommand::executeCommand() to log only the first two parameters of any command it runs, invariantly.  So, you would get

[2017-03-03 17:28] greg-1-anderson commented on #1636
See: #1637

[2017-03-03 18:30] #1636 closed, assigned to nobody

[2017-03-04 02:01] dalin- opened #1639 "multidev:create without files"
It would be great (especially for automated commands) if there was an option for `multidev:create` to do so without cloning files.  I just want to make a quick multi-dev for some automated code changes, and if all tests pass, merge it back into master immediately. No need to have a files directory.

[2017-03-06 16:44] dalin- opened #1640 "Turning down the error reporting for automated scripts"
I'm working on [some automated scripts](https://github.com/Advomatic/pantheon-update) that call Terminus a lot, and I'm finding that it can be a bit chatty.  e.g. "Notice: everything is fine".

Is there a way to change the error reporting level so that notices are not shown, but warnings and errors are?

[2017-03-06 21:59] grok opened #1641 "WordPress Update Data is wrong for Production"
**Note: There's more to this -- see the comment below.**

### Expected behavior

When I run something like: `terminus wp mywebsite.live -- core check-update` it should tell me that the site is NOT up to date using the latest information available about WordPress Core... not the upstream.

### Actual behavior
When I run: `terminus wp mywebsite.live -- core check-update` it says

When I know it's be

[2017-03-06 22:11] grok commented on #1641
Oh wow...

Was talking to my engineers and turns out there's a bit more to this...

It has to do with running this/these commands against the live environment. If you do it against dev -- you get the actual results.

This is not ideal.

I want to know "is the production environment using the latest secure code for Core and Plugins?". I do not want to ask "is the development environment using lates

[2017-03-06 22:33] greg-1-anderson commented on #1641
Confirmed that `wp core check-update` does not work on the test or live environments. I have an old test site with WordPress 4.5.3 in live, and it still claims to be up-to-date in that environment. The test environment similarly always claims to be up-to-date.

Dev and multidev environments work correctly.

[2017-03-07 18:34] gholder opened #1643 "backup expiration time needed"
### Expected behavior
backup:list displays filename, size, date, and type.

It does not include a expiration date which would be a nice field to be able to access from terminus.

### Actual behavior
backup:list displays filename, size, date, and type.

### Steps to reproduce the behavior
[code]
Version info
[code]

[2017-03-07 19:38] QueSaraSera opened #1645 "AL-777 - Terminus Semantic Versioning"
## Purpose
I am adding this here in advance of a new version release to discuss, clarify, and refine our definitions and methods.

## Generally
The format of a version is x.y.z. All variables are assumed to be any nonnegative integer unless otherwise constrained.

* Any x.y.a, where a > z, is a later version of x.y.z with bug fixes. This is a **minor release**.
* Any x.b.z, where b > y, is a later

[2017-03-07 19:53] QueSaraSera opened #1646 "Terminus checks for the latest release EVERY TIME"
### Expected behavior
Terminus should only check Github for the latest release one week after it last checked.

### Actual behavior
It checks every time and causes Github API to quit after 100 such requests in an hour. Furthermore, it is a waste of bandwidth.

### Steps to reproduce the behavior
* Run any command with `-vvv` twice and see it check Github twice.

[2017-03-07 20:34] greg-1-anderson commented on #1646
This might be the cause of https://getpantheon.atlassian.net/browse/AL-869. Checking once a week would nicely solve that problem as well.

[2017-03-07 20:53] greg-1-anderson commented on #1645
Terminology note: [Semantic versioning 2.0](http://semver.org/) names the components of a version MAJOR.MINOR.PATCH.  The PATCH version is sometimes called a BUGFIX or POINT release.

Beyond the semantic issues, the proposal is good. It might be desirable to explicitly state the procedure for releasing an important bugfix release when there are already new features on the master branch. There are

[2017-03-07 20:55] SaraMcCutcheon commented on #1645
Thank you, @greg-1-anderson. I had hewn to the terminology we'd been using, but this is a good chance to conform to a more widely used standard.

[2017-03-07 21:39] QueSaraSera opened #1647 "Add expiry to backup:list output"
### Expected behavior
The list of backups includes the expiration date of the backups listed.

### Actual behavior
The list of backups does not include their dates of expiry.

### Steps to reproduce the behavior
Run `backup:list` on any site which has a backup.

[2017-03-08 00:58] #1646 closed, assigned to nobody

[2017-03-08 17:05] #1609 closed, assigned to nobody

[2017-03-08 19:42] SaraMcCutcheon commented on #1645
_Amended:_

## Purpose
I am adding this here in advance of a new version release to discuss, clarify, and refine our definitions and methods.

## Generally
The format of a version is x.y.z. All variables are assumed to be any nonnegative integer unless otherwise constrained.

* Any x.y.a, where a > z, is a later version of x.y.z with bug fixes. This is a **patch release**.
* Any x.b.z, where b > y

[2017-03-08 20:28] thomas-thackery opened #1652 "Add backup:delete command"
### Proposed behavior
Remove backup by date. This would be the counterpart to `backup:create`

Listed backups from `backup:list` are files, database, and code and are listed by filename and date. Since a backup include all three files—as listed in the Dashboard—remove by date or some other ID might be good options.

### Use Case
If there were backups that contained undesirable configurations, code

[2017-03-08 21:01] greg-1-anderson commented on #1645
👍 Looks great to me.

[2017-03-09 01:54] SaraMcCutcheon commented on #1645
I am adding this to the Github Wiki here and to the Terminus release page in our internal Wiki.

[2017-03-09 01:54] #1645 closed, assigned to nobody

[2017-03-09 22:16] ccharlton opened #1658 "Reinstalling Terminus - Command "update" is not defined"
When trying to update to Terminus 1.1.0 using the cURL command, I got the following errors:

[code]

[2017-03-10 20:34] ghost opened #1659 "Can't run terminus aliases after installing 1.1.1"
### Expected behavior
command: terminus --version gives me Terminus 1.1.1
expected: terminus aliases should give me my aliases (like it normally does)

what I get:
[error]  Client error: `GET https://terminus.pantheon.io/api/users/ed482ada-ffa3-4957-a1d0-502a2db538ec/drush_aliases` resulted in a `401 Unauthorized` response:
"Invalid or expired session header: X-Pantheon-Session\n"

$ terminus alia

[2017-03-10 20:52] SaraMcCutcheon commented on #1658
This is an issue for https://github.com/pantheon-systems/terminus-installer, but has nevertheless already been resolved.

[2017-03-10 20:52] #1658 closed, assigned to nobody

[2017-03-10 21:38] ghost commented on #1659
I just dlownloaded the aliases manually in the meantime. But I would like to be able to just terminus aliases in the future.

[2017-03-10 21:59] greg-1-anderson commented on #1659
I just ran `terminus aliases` with Terminus 1.1.1, and it worked fine for me. Maybe some sort of an install issue? Not sure what might be wrong. Try `terminus auth:logout`, `terminus self:cc` and then log in again maybe?

[2017-03-10 23:46] greg-1-anderson opened #1660 "Terminus should report more specific version information on dev-master"
### Expected behavior
When running a development version of Terminus, the version should be reported as `1.1.1-dev` (or similar)

### Actual behavior
Terminus reports that it is version 1.1.1 for the stable version, and all dev versions after it, until the next stable tags.

### Steps to reproduce the behavior
Install a dev version of Terminus (e.g. git clone, or composer require pantheon-systems/

[2017-03-12 16:37] trangunghoa commented on #1620
I used window, so I think it's not available on the window. Right?

[2017-03-12 20:04] greg-1-anderson commented on #1620
Try Terminus 1.1. Should be working on Windows now.

[2017-03-13 16:32] trangunghoa commented on #1620
Thanks @greg-1-anderson. It worked. but I still have another issue. I think that issue because my environment on the pantheon.

[2017-03-13 20:27] SaraMcCutcheon commented on #1660
I think this is a good idea. I've been similarly bamboozled.

To implement this, we would need to
- Change the version number on Terminus' master branch to a.b.c-dev after the release is tagged
- Add this as a step in our Terminus release guide
- Also do for 0.x because why not

Do you concur @greg-1-anderson? If so, I'll implement.

[2017-03-13 20:36] greg-1-anderson commented on #1660
Yes, that looks right.

Some form of version-string-manipulation-dance is what most projects do (remove -dev to tag a release, put it back when done).

[2017-03-15 17:42] SaraMcCutcheon commented on #1659
I think this issue is being caused by the fact that there's a typo in the command. It's using `@authorized` instead of `@authorize`, so @rjh123's expired session is not being renewed from the saved token. Will push a fix right now.

[2017-03-15 17:48] SaraMcCutcheon commented on #1647
Duplicate of #1643

[2017-03-15 17:48] #1647 closed, assigned to nobody

[2017-03-15 17:48] #1615 closed, assigned to nobody

[2017-03-15 17:49] #1602 closed, assigned to nobody

[2017-03-15 18:00] SaraMcCutcheon commented on #1652
Added to Jira AL-888

[2017-03-15 18:00] SaraMcCutcheon commented on #1643
Added to Jira AL-885

[2017-03-15 18:12] SaraMcCutcheon commented on #1640
This would require adding a new option to set the verbosity level to that point. Not sure what we'll call it. `--laconic`? `--reticent`?

Added to Jira, AL-900

[2017-03-15 18:17] SaraMcCutcheon commented on #1639
I think we can do this without changing the API, we've just not tried it.

Created in Jira, AL-901

[2017-03-15 18:18] SaraMcCutcheon commented on #1630
This has been done. Closing the issue.

[2017-03-15 18:18] #1630 closed, assigned to nobody

[2017-03-15 18:18] grok commented on #1641
![](https://media.giphy.com/media/1M9fmo1WAFVK0/giphy.gif)

[2017-03-15 18:21] SaraMcCutcheon commented on #1659
@rjh123 Please comment back on here if the fix made did not solve your issue.

[2017-03-15 18:36] SaraMcCutcheon commented on #1627
Added to Jira, AL-902

[2017-03-15 18:37] SaraMcCutcheon commented on #1626
Fixed in latest release

[2017-03-15 18:37] #1626 closed, assigned to nobody

[2017-03-15 18:37] #1620 closed, assigned to nobody

[2017-03-15 18:37] hawkeyetwolf commented on #1572
Also, the environment check added [here](https://github.com/pantheon-systems/terminus/pull/807/files#diff-1a5fdee94894f19e97553e2b4be6bc44R161) was not restored in the refactor, so the warning shows on test and live (should only show for dev + multidevs).

[2017-03-15 18:38] SaraMcCutcheon commented on #1601
This is unblocked now.

[2017-03-15 19:37] #1601 closed, assigned to nobody

[2017-03-15 19:37] #1660 closed, assigned to nobody

[2017-03-15 19:39] #1590 closed, assigned to nobody

[2017-03-15 19:43] SaraMcCutcheon commented on #1588
@BadOmbre Terminus was installed to whichever directory the installer was run from. If the `terminus` alias did not install correctly, you may have to make your own or add the thatdir/vendor/bin directory to your PATH for it to be foun

If you have Composer, you can uninstall by running `composer remove pantheon-systems/terminus` in that directory. If you are not using Composer, you can remove Ter

[2017-03-15 19:43] #1588 closed, assigned to nobody

[2017-03-15 19:48] #1574 closed, assigned to nobody

[2017-03-15 19:48] #1550 closed, assigned to TeslaDethray

[2017-03-15 19:48] SaraMcCutcheon commented on #1550
This was finally completed last week.

[2017-03-15 19:52] SaraMcCutcheon commented on #1503
Added to Jira in BUGS-1138

[2017-03-15 19:55] SaraMcCutcheon commented on #1534
Added to Jira in AL-903

[2017-03-15 19:55] #1589 closed, assigned to nobody

[2017-03-15 19:59] SaraMcCutcheon commented on #1577
Added to Jira in AL-904

[2017-03-15 20:00] greg-1-anderson commented on #1503
This should really be tracked in the annotated-command project.

[2017-03-15 20:02] SaraMcCutcheon commented on #1503
Copied to https://github.com/consolidation/annotated-command/issues/91

[2017-03-15 20:02] #1503 closed, assigned to greg-1-anderson

[2017-03-15 20:14] SaraMcCutcheon commented on #1572
Added to Jira, AL-905

[2017-03-15 20:16] SaraMcCutcheon commented on #1573
Added to Jira, AL-906

[2017-03-15 20:19] arderyp commented on #1550
Awesome!

Sent from a phone

[2017-03-15 22:28] joshkoenig opened #1666 "Restore progress indicators to long(er) running commands"
Sometimes things can take a while with Terminus:

1. Commands that can require fetching a large amount of data (e.g. `terminus site:list` for users with big orgs, etc)
2. Commands that block on completing workflows on the platform (e.g. `terminus site:create`)

It would definitely be nice to have some general-purposes approaches to providing more feedback to users so it doesn't feel like things ha

[2017-03-15 23:33] dustinleblanc commented on #1666
There is an easy to use progress bar within Symfony Console. I added it to one of the 1.0-alpha commands but the consensus was to hold on implementing it until a later date. This could be that time.

[2017-03-16 16:14] hawkeyetwolf opened #1667 "symfony/console version constraint incompatible with drush"
[This change](https://github.com/pantheon-systems/terminus/commit/67748f74657540d0fc0c3a66b6c1e837a014d08a) is incompatible with drush since `8.1.0`, which requires `symfony/console ~2.7`.

[2017-03-16 16:20] greg-1-anderson commented on #1667
Please do not install Terminus, Drush, or any other PHP commandline tool using `composer global require`. Please use [cgr](https://github.com/consolidation/cgr) instead. See [Fixing the Composer Global command](https://pantheon.io/blog/fixing-composer-global-command).

[2017-03-16 16:20] #1667 closed, assigned to nobody

[2017-03-16 16:21] greg-1-anderson commented on #1667
Using the Terminus installer also works, and does not require Terminus to be compatible with Drush's dependencies.

[2017-03-16 16:23] hawkeyetwolf commented on #1667
@greg-1-anderson This isn't for installing globally but rather on an individual project via the `drupal-project` template, which includes drush on per-project basis by default. We'd rather install Terminus per project, too.

[2017-03-16 16:25] greg-1-anderson commented on #1667
You cannot install Terminus per-project. This is not supported. Composer manages dependencies on a per-project basis. Drush and Drupal Console are designed to be combined with Drupal; Terminus is not.

[2017-03-16 16:32] hawkeyetwolf commented on #1667
Okay thanks @greg-1-anderson.

FYI @RobLoach we'll need to change our CI workflow on our [`drupal-project` fork](https://github.com/kalamuna/drupal-project/).

[2017-03-16 16:46] greg-1-anderson commented on #1667
I use Terminus in CI in quite a few projects. For example, see:

https://github.com/pantheon-systems/example-drops-8-composer/blob/master/circle.yml#L51

The project example-drops-8-composer is the Pantheon reference implementation of drupal-composer/drupal-project. You might want to fork from there.

[2017-03-16 19:39] SaraMcCutcheon commented on #1666
Duplicate of #1573

[2017-03-16 19:39] #1666 closed, assigned to nobody

[2017-03-17 17:54] ataylorme opened #1668 "Create backup:info command"
### Expected behavior
I expect the URL returned from the `backup:get` command from site **A** to be importable with `import:database` on site **B**

### Actual behavior
Terminus returns `[error]  Could not import database, unable to locate a database dump. `

Note this works with files, e.g. `terminus import:files andrew-golden-image.dev $(terminus backup:get andrew-test-golden-image.dev --latest

[2017-03-17 17:55] ataylorme commented on #1668
![screen shot 2017-03-17 at 12 42 36 pm](https://cloud.githubusercontent.com/assets/2133004/24056249/f4c97dce-0b10-11e7-862e-2f6f2cd529ff.png)

[2017-03-20 20:56] SaraMcCutcheon commented on #1668
**TLDR** Unfortunately, the response from `backup:get` wasn't included in your otherwise wholesome data because you have to stick a `--vvv` on the inner command to get its debug output, as well. Could I ask you to capture what you get from `backup:get` with `-vvv`, please? This will help me mock what's going on.

Thanks for reporting this bug. I'm having a difficult time pinning down the cause of

[2017-03-20 21:09] ataylorme commented on #1668
@TeslaDethray thanks for checking this out. `terminus backup:get` is displaying a files URL for me as well. Sorry I didn't notice that before.

![screen shot 2017-03-20 at 4 07 32 pm](https://cloud.githubusercontent.com/assets/2133004/24121763/74fd9fca-0d87-11e7-9325-05ae64115cec.png)

Here is the trace from the `terminus backup:get andrew-test-golden-image.dev --latest --element=database -vvv` ca

[2017-03-20 21:14] ataylorme commented on #1668
[code]

Looks like Terminus is requesting the files backup, even through the `--element=database` argument is used.

[2017-03-20 21:16] SaraMcCutcheon commented on #1668
Yep, that's definitely where it's going wrong. I'm on it.

Created in JIRA AL-911

[2017-03-20 21:27] ataylorme commented on #1668
@TeslaDethray I think order of arguments might matter here.

`terminus backup:get andrew-test-golden-image.dev --latest --element=db` returns the files backup

`terminus backup:get andrew-test-golden-image.dev --element=db --latest` returns the database backup

`terminus backup:get andrew-test-golden-image.dev --element=db` (no `--latest`) also return the database backup.

It looks like you were t

[2017-03-20 21:44] SaraMcCutcheon commented on #1668
Ah, you've hit on it, @ataylorme!
![image](https://cloud.githubusercontent.com/assets/868204/24122984/1961bbbc-0d7b-11e7-8dd4-523d8d5e50c0.png)
I'd forgotten until now that `--latest` is actually not an option for this command anymore. Adding the invalid option to anywhere but the end causes the element to set to its default

![image](https://cloud.githubusercontent.com/assets/868204/24123159/a6da

[2017-03-20 22:07] ataylorme commented on #1668
`I'd forgotten until now that --latest is actually not an option for this command anymore.`

@TeslaDethray ah, so `backup:get` pulls the most recent backup. I totally misunderstood the command, thinking it would allow you to grab any backup from `backup:list`.

Does `backup:list` take the `--latest` argument? From the help text on the command I think not. I'm using `backup:list` in the context to

[2017-03-24 05:04] digisavvy commented on #1592
@joshkoenig - Thanks for the reply. What I was after was to get the output piped to a file. Sorry for the lack of clarity there. =)

[2017-03-24 14:18] greg-1-anderson commented on #1592
@digisavvy Output from the logger goes to stderr, not stdout. So:
[code]
Or:
[code]

[2017-03-24 20:54] derimagia opened #1669 "TERMINUS_CACHE_DIR variable not setting command cache directory appropriately"
### Expected behavior

Set TERMINUS_CACHE_DIR env variable (not TERMINUS_COMMAND_CACHE_DIR). Notice cache directory is set to ~/.terminus/cache/commands even though you have a cache directory set.  $TERMINUS_CACHE_DIR/commands should be set to the command cache dir.

### Actual behavior
~/.terminus/cache/commands is used for cache dir.

### Steps to reproduce the behavior
```rm -rf ~/.terminus/cac

[2017-03-30 15:42] danheisel opened #1671 "Error with Drush"
**Expected behavior**
Run Drush commands with Terminus 1.1.1 or 1.1.2-dev

**Actual behavior**
Returns Exit 255 error with any Drush command.

**Steps to reproduce the behavior**
  PHP binary                C:\Program Files\PHP\v7.0\php.exe
  PHP version               7.0.9
  php.ini used              C:\Program Files\PHP\v7.0\php.ini
  Terminus project config
  Terminus root dir         C:\vendor

[2017-03-30 17:57] ttrowell opened #1672 "Terminus operation failed to complete"
### Expected behavior
`terminus env:clone-content <site>.<env> <env>`   clones files and db as expected to indicated environment

### Actual behavior
When I run: `terminus env:clone-content <site>.<env> <env>`

bc. [error] The operation failed to complete.

bc. [error] cURL error 28: Operation timed out after 0 milliseconds with 0 out of 0 bytes received (see http://curl.haxx.se/libcurl/c/libcurl-

[2017-03-30 18:12] danny-englander commented on #1672
Just adding that I had the above mentioned errors happen with terminus 1.1.1

[2017-03-31 16:02] danny-englander commented on #1672
I am continuing to get these errors and wanted to add that I can clone the very same DB and files via the UI and do not get any errors.

[2017-03-31 19:35] villav opened #1673 "Fatal error after composer update form 1.0.0 to 1.1 version"
### Expected behavior
running terminus command

### Actual behavior
Fatal error: Call to a member function set() on null in .../terminus/vendor/consolidation/robo/src/Config/Config.php on line 67

### Steps to reproduce the behavior
Run `terminus`

[2017-03-31 23:35] deltafactory commented on #1673
Same issue. Update was done via `composer update`

[2017-04-01 05:25] greg-1-anderson commented on #1673
Terminus 1.1.1 is incompatible with Robo 1.0.6 due to an unusual edge case (bug). Try dev-master of Terminus until 1.1.2 is tagged.

[2017-04-01 06:46] greg-1-anderson commented on #1673
Fixed in 1.1.2.

[2017-04-01 06:46] #1673 closed, assigned to nobody

[2017-04-03 23:14] SaraMcCutcheon commented on #1668
@ataylorme I don't mind adding an already-deprecated `latest` option if it helps with scripting. It took me _quite_ a while longer than I'd like to even remember that it wasn't an option anymore, and I wrote no small part of this app. Otherwise, using no argument on `backup:get` will deliver you the freshest backup.

Perhaps a `backup:info` command with that same selection logic is in order?

[2017-04-04 00:05] SaraMcCutcheon commented on #1668
@ataylorme How's this suit you?
![image](https://cloud.githubusercontent.com/assets/868204/24636512/a72b3aa8-188f-11e7-9087-123372201c36.png)

![image](https://cloud.githubusercontent.com/assets/868204/24636524/bb62183e-188f-11e7-9dac-43c96dd9f245.png)

[2017-04-04 19:35] #1643 closed, assigned to nobody

[2017-04-04 19:35] #1668 closed, assigned to nobody

[2017-04-04 19:58] ataylorme commented on #1668
@TeslaDethray I ended up using `terminus backup:get <site_env> --element=database` for the backup URL. Should I switch to `backup:info` instead?

It would also be nice if either `backup:get` or backup:info` allowed you to choose a backup, rather than the latest, as I can see that scenario occurring. For example, the client says "the new deployment removed X from the menu on live". I could go in an

[2017-04-05 00:11] ghost commented on #1443
Pantheon Support sent me here from a ticket I created there. They don't have a solution for me. Pardon the long, detailed comment, but I want to really convey in real-world terms the level of exasperation I experience _every time_ I run into a situation requiring Terminus on Windows with Pantheon.

Here’s just the latest thing I’m trying to do and how I got to this point.

I need to create a WordP

[2017-04-05 00:20] spiderwisp commented on #1443
It would be really nice to have a resolution to this problem.

On Tue, Apr 4, 2017 at 7:11 PM, intechrahealth <notifications@github.com>
wrote:

--
Tim Hallman
SpiderWisp, LLC
http://spiderwisp.com

[2017-04-05 04:57] ghost commented on #1443
Fixed. Reinstalled all the Cygwin packages, namely:

- php-curl
- php-mbstring
- php-xml
- php-gd

Then ran the terminus install command and then `terminus -v` to test it in the Cygwin prompt.

Who knows if it'll work the next time, but it did this time!

Now if Kalabox would just work on Windows 10 Home, I'd be all set.

[2017-04-05 18:55] generalredneck opened #1677 "Running Terminus programmatically from node fails."
Just a quick note... This is an issue with Terminus >=1.1.0. Before that, using 1.0.0 worked (and still works) beautifully. I may try a `git bisect` between 1.0.0 and 1.1.0 later.

### Expected behavior
Terminus should behave identically whether run as a specific user programmatically or via commandline.

### Actual behavior
Running terminus in aquifer causes the command to fail after it makes all

[2017-04-05 20:35] greg-1-anderson commented on #1677
Maybe this has something to do with I/O redirection; this is something that changed post-1.0.0.

Does it work better to run the commands non-interactively, e.g.:

`terminus -n drush craft-council.sprint -- updb --yes`

[2017-04-06 15:41] generalredneck commented on #1677
No change in fact.

[2017-04-06 15:46] giteshk opened #1678 "Terminus command to unfreeze a site"
A command to unfreeze a frozen site would be good. When automating site maintenance this is useful.

[2017-04-06 19:09] ataylorme opened #1679 "`env:commit` description implies commit can only be made on the dev environment (and not a multidev)"
##Issue
`terminus list` shows a description of

for the `env:commit` command when commits can be made on a multidev environment, not just **the** development environment.

##Solution
Update [src/Commands/Env/CommitCommand.php](https://github.com/pantheon-systems/terminus/blob/adcff91294962f46ab7b807773bf53c4fc6b38ed/src/Commands/Env/CommitCommand.php#L18) and change the message to

[2017-04-07 11:57] meason opened #1680 "Terminus gives the wrong command to update it"
### Expected behavior
The upgrade to 1.1.2 would install 1.1.2.

### Actual behavior
My Terminus version is still 1.1.1 after the upgrade.

### Steps to reproduce the behavior
1. Ran the command:
curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install

2. During install, these messages come up.
Installing Terminus...

[2017-04-07 14:17] greg-1-anderson commented on #1680
This should be fixed by https://github.com/pantheon-systems/terminus/pull/1675

[2017-04-10 19:56] JameySteinmann opened #1681 "Connection:Info output formatting"
### Expected behavior
Running commands like
`terminus connection:info --fields=git_user -- site.env`
should yield just the field's value

### Actual behavior
Instead it returns a prettified value that has all kinds of formatting around the expected value, which then needs to be filtered out for scripts to work appropriately
[code]

[2017-04-10 20:33] greg-1-anderson commented on #1681
Use:
[code]

With `field` (singular), the output format is forced to  `string`.

You should also try `--format=json` (or `yaml` or `var_export` or `list` or `string`) just to see some of the options available for transforming output from Terminus commands.

[2017-04-10 21:05] SaraMcCutcheon commented on #1680
@meason Does the `update` command work? You're using the `install` command and the `install` command won't run the `update` command for you.

I checked and the copy-paste command for updating does use `update` instead of `install`.
https://github.com/pantheon-systems/terminus#updating-via-the-terminus-installer

[2017-04-10 21:17] SaraMcCutcheon commented on #1679
At first I disagreed but now that I've chewed on it I do agree it's ambiguous. Will change this command's text and that of `env:diffstat`, which reads the same.

[2017-04-10 21:19] #1681 closed, assigned to nobody

[2017-04-10 21:30] ataylorme commented on #1679
I completely agree that but that assumes a pretty intimate familiarity with Pantheon and our terminology. Newer users could get assume `dev === development` (which is what it's short for, right)?

I only opened the issue since I encountered this confusion with a user.

[2017-04-10 21:31] SaraMcCutcheon commented on #1678
Added to our JIRA board as AL-972

[2017-04-10 21:37] SaraMcCutcheon commented on #1679
I'm sorry @ataylorme, I changed my mind to agree with you before you responded. 😛

[2017-04-10 21:50] #1679 closed, assigned to nobody

[2017-04-11 00:10] SaraMcCutcheon commented on #1680
@meason I was working on another issue when I noticed that the instructions are coming from Terminus itself. >_< */me headdesks* I'm going to fix that now. Please try again with the `update` command.

[2017-04-11 00:37] #1680 closed, assigned to TeslaDethray

[2017-04-11 01:14] SaraMcCutcheon commented on #1669
@derimagia I'm afraid I can't duplicate the issue. Here's my `self:config:dump` output (showing that TEMRINUS_CACHE_DIR is being set, arrows added to help you find it in the list).

[code]

[2017-04-11 07:26] meason commented on #1680
Thanks @TeslaDethray.  I changed to use the update instead of install.  I get the following:

[code]
It stays on 1.1.1. for me still.

[2017-04-11 12:35] JameySteinmann commented on #1681
Thanks, that worked. Is this documented somewhere? I don't recall seeing in in the terminus documentation.

[2017-04-11 12:59] greg-1-anderson commented on #1681
Terminus is built on top of Robo PHP; see the [Robo Getting Started Guide](http://robo.li/getting-started/). The format options are provided by the [output formatters](https://github.com/consolidation/output-formatters)  project. End-user documentation is rather scant.

cc: @alexfornuto

[2017-04-11 13:53] derimagia commented on #1669
@TeslaDethray Thanks for your reply, can you check the ~/.terminus directory? The environment variables are consistent with mine, but the ~/.terminus and ~/.terminus/cache directory keeps getting created for me.

[2017-04-11 17:31] joshkoenig commented on #1115
I suspect that this is because the watcher process (which is invoked by dashboard running) isn't spun up. There aught to be a way for Terminus to spin up a watcher, then request the diffstat, then spin it down?

[2017-04-13 19:20] SaraMcCutcheon commented on #1115
The issue I've had in fixing this issue isn't that I can't fix it, but that I can't duplicate it anymore. For me, Terminus never fails to know when I have new code to commit or not. I fixed the branch name being checked by Terminus back in February, but the change was not released for a while after.
https://github.com/pantheon-systems/terminus/blob/master/src/Models/UpstreamStatus.php#L44

[2017-04-13 19:22] SaraMcCutcheon commented on #1115
It looks like this was fixed on Feb 2, but the change was not released until Mar 9. @ataylorme Can you still dupe this with version 1.2.1?

[2017-04-13 19:44] SaraMcCutcheon commented on #1115
With multidev:
![screenshot-1](https://cloud.githubusercontent.com/assets/868204/25021395/dbb097e6-2046-11e7-89cb-54361d15868c.png)
![screenshot-2](https://cloud.githubusercontent.com/assets/868204/25021396/dbb3d19a-2046-11e7-8022-2333107550ac.png)

With dev:
![image](https://cloud.githubusercontent.com/assets/868204/25021328/a931934c-2046-11e7-932f-032b9ae2563a.png)

[2017-04-13 21:04] ataylorme commented on #1115
@TeslaDethray [here](https://circleci.com/gh/ataylorme/wordpress-at-scale-auto-update/390) are the logs for the update script we reviewed via screen share.

Seems this only happens to site where the site dashboard hasn't been visited in some time and the file watcher becomes inactive.

If you need more info from me just let me know - happy to help debug further. Once updates run on my script I'll

[2017-04-13 22:03] lauren-kelly commented on #1671
Just a bit more info on this one:
This is Terminus, installed on Windows 10, in the GitHub Desktop default shell.

Terminus commands are working.
Terminus drush commands fail
for example **terminus drush "cc all"*  returns
`[notice] Command: drupalbase-master.dev -- drush cc all [Exit: 255]
[error]`

Installing a local version of drush did not help (although attempting to use drush aliases return

[2017-04-13 22:29] greg-1-anderson commented on #1671
In Terminus 1.0 and later, Drush should be called as follows:

`$ terminus drush site.env -- cc all`

Quoting the Drush command and parameters was how Terminus 0.x did it, but now Terminus is following the standard used in Symfony Console.

[2017-04-13 22:47] danheisel commented on #1671
Thanks. Yes, I ran the command without the quotes. Terminus itself runs fine. It's only using Drush when the 255 pops up.

I was able to get things running by forgoing the Git shell and using CygWin. What's odd is Terminus 0.9 was running fine on my machine using the Git shell. Only after updating to 1.2 did the errors appear. Even downgrading would not fix the issue. Getting it all running with C

[2017-04-15 21:21] crobertwatson commented on #801
Funny. I just tried installing Terminus again on this Win10 Home Anniversary Build Developer Mode machine just now, having this same problem again, and found this thread which I had completely forgotten about. Still a problem for me more than a year later. I have set both the Windows PATH and the .bashrc alias as it recommends, restarted Powershell, and tried the "terminus" command at the bash pro

[2017-04-17 18:01] crobertwatson opened #1689 "How do I autoexecute .bashrc in Win10 Powershell so I can run Terminus?"
### Expected behavior
I'm trying to efficiently use Terminus on a Win10 Home Anniversary Update box. I've got Terminus installed, finally, but it's a pain to get it running without making a note to remind myself that I need to run the `export PATH` command. I had wanted to have that command run as part of the .bashrc profile when I start bash. But that's not working and I can't find anything on St

[2017-04-17 18:19] greg-1-anderson commented on #1689
If your .bashrc file is at $HOME/.bashrc, that looks right to me; however, I don't have a Win10 machine to confirm. Double-check its location, maybe add an `echo` statement to confirm that the .bashrc is being loaded.

[2017-04-17 18:27] crobertwatson commented on #1689
Yes, .bashrc is at $HOME/.bashrc (in my case `rob@MYMACHINE:/mnt/c/Users/Rob$`).

I added an echo statement to .bashrc and restarted bash, but the echo statement didn't appear. That tells me bash isn't executing .bashrc at startup. BUT, when I do source .bashrc and the echo statement appears, indicating that the script is executed, the export PATH command still doesn't have the effect of pathing t

[2017-04-17 18:43] crobertwatson commented on #1689
Turns out I needed to be in `/home/rob` not in `/mnt/c/Users/Rob`. I added it to the `.bashrc` in `/home/rob` and it's working now.

[2017-04-17 18:43] #1689 closed, assigned to nobody

[2017-04-17 18:48] greg-1-anderson commented on #1689
Glad you got this figured out. For future reference, if you want to test a .bashrc, you must run it via `source /path/to/.bashrc`.  Without using `source`, environment variables set in the rc file will not be applied to the current process.  A shortcut for `source` is `.`, so you can also run `. .bashrc`.

[2017-04-18 13:36] ioskevich opened #1690 "terminus site:create fails with timeout"
### Expected behavior
terminus site:create should create a site at Pantheon with name, label and upstream provided under Organization provided as param

### Actual behavior
Site is created with no upstream and framework associated:

[code]

### Steps to reproduce the behavior

terminus self:info output:
[code]
Command run:
[code]
Debug before fail:
[code]

[2017-04-18 16:29] sukottokun opened #1691 "Can't login with new machine token"
### Expected behavior
Running auth:login copied from dashboard with new install of Terminus with new machine token should get me up and terminus-ing.

### Actual behavior
[code]

### Steps to reproduce the behavior
Create machine token with my regular user account, created machine token, run command.

[2017-04-18 17:47] SaraMcCutcheon commented on #1691
Yes, there is definitely something awry here. Your request body should say `"machine_token":"***HIDDEN***"` instead of `null`. I'll dive into this bug today.

[2017-04-18 22:24] greg-1-anderson commented on #1691
FWIW, just did a fresh install of Terminus 1.2.1 and created a fresh machine token from the dashboard, and it worked fine.

Maybe try updating Terminus, running `terminus self:cc`, create a new machine token, etc. and see if it clears up.

[2017-04-18 22:50] populist commented on #1115
I am seeing the error as part of work I am doing on an automatic update script for Drupal. The error happens even after the wake command has been explicitly run, but when the Multidev environment on which the SFTP code is placed has not been accessed via the dashboard.

[2017-04-19 03:33] ghost opened #1692 "Can't perform http:// to https:// search-replace with terminus wp command?"
### Expected behavior
`terminus wp mysite.live search-replace http://mysite.com https://mysite.com`

should replace all instances of http://mysite.com with https://mysite.com

### Actual behavior
Zero replacements, even when I know via View Source that some http:// URLs still exist.

I also get a possibly truncated message (error?) stating:

`tput: No value for $TERM and no -T specified`

and a se

[2017-04-19 19:40] sukottokun commented on #1691
I can't replicate now, after creating a new machine token. If I'm the only one, it's probably my multiple users crossing paths.

[2017-04-20 16:55] #1691 closed, assigned to nobody

[2017-04-20 17:02] SaraMcCutcheon commented on #1692
@intechrahealth I cannot duplicate this issue.
[code]

What is the result when you attempt to search-replace on a dev or multidev environment using a ubiquitous string (like "the")?

[2017-04-20 19:24] ronan commented on #1115
A workaround for this (now merged into master) is to add a `--force` flag to `env:commit` if you know there are committable files but they're not showing up in `env:diffstat`.

This flag does exactly what you think it does. If there are no files to commit it'll commit anyway leaving you with an empty commit.

We will hopefully get a more permanent solution into the pipeline soon.

[2017-04-26 18:36] bwood opened #1696 "terminus upstream:updates:list should display pending updates in chronological order"
### Expected behavior
When I run
`terminus upstream:updates:list openucb-testing-ofew-ob-pantheon`
I should see a list of updates ordered by timestamp.  (The web dashboard displays updates latest to earliest, so consistency with that would be logical.)

### Actual behavior
[code]
[code]
[code]

[2017-04-27 19:56] ilovelamp commented on #1690
Hi,

I suspect the issue was a temporary issue connecting on the server or with your connection to terminus.pantheon.io.  Are you able to browse to https://terminus.pantheon.io ?

1) Could you try the `site:create` again and let me know how it works for you?

2) You can also update to the latest Terminus for good measure (which is currently 1.3.0).

3) Here are the results of my site creation test

[2017-04-27 23:43] dalin- commented on #1115
FWIW I had luck with running `env:clear-cache` before the commit.

[2017-04-28 22:28] SaraMcCutcheon commented on #1696
This request has been added to our Jira queue as AL-1026.

[2017-05-02 21:52] danny-englander commented on #1672
I am continuing to get these kinds of errors. After upgrading to Terminus 1.3.0, I just ran:

`terminus multidev:create ourorg.live staging-858`

... and after a time, got this error:

`[error]  cURL error 28: Operation timed out after 0 milliseconds with 0 out of 0 bytes received (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)`

However, in this case the multidev did get created. I wonder

[2017-05-03 21:23] danielbachhuber opened #1697 "`terminus whoami` no longer exits with return code 1 when unauthenticated"
In terminus 0.x, `terminus whoami` would exit with return code 1 when unauthenticated.

In terminus 1.x, `terminus whoami` exits with return code 0 when unauthenticated.

As a terminus user, it's easier to use `terminus whoami` in scripts when its return codes reflect authentication state.

Related https://github.com/lcache/wp-lcache/issues/119

[2017-05-05 16:13] jacerider opened #1698 "Remove `--element=all` as an option for the `backup:get` command"
### Expected behavior
When I run `backup:get site_env --element=all` I should get a URL to an archive containing the code, files and database that can then be used within the command `terminus import:site sitename url`

### Actual behavior
When I run `backup:get site_env --element=all` I get the same result as if I were to run `backup:get site_env --element=files`. It returns the URL to the files

[2017-05-05 17:18] SaraMcCutcheon commented on #1697
Added to our Jira queue as AL-1038

[2017-05-05 17:20] SaraMcCutcheon commented on #1698
@jacerider There is no element `all` selection unfortunately. All archives are created separately and cannot be retrieved together. `all` should be removed as an option in the help text. Perhaps a note saying that an "all" archive cannot be retrieved. Would it be more helpful if it instead gave you all three URLs (and if using `--to=`, tried to download them all)?

[2017-05-05 20:50] jacerider commented on #1698
@TeslaDethray Thanks for the info. Providing all 3 URLs might be helpful -- for now I'll just do each request separately. Thanks again!

[2017-05-12 15:56] mattbailey37 opened #1699 "Terminus always runs commands over interactive SSH even in non-interactive mode"
We've been using Terminus and Drush to deploy, update the db, etc on Travis. When we upgraded from Terminus 1.0.0 to 1.2, we noticed that Drush commands weren't returning back to Terminus and the whole build was failing due to a timeout.

I have been going back and forth with the Pantheon support to confirm it wasn't a server-side issue or something with our SSH keys. Yesterday I pinged @greg-1-an

[2017-05-12 18:55] greg-1-anderson commented on #1699
@mattbailey37 Could you please test https://github.com/pantheon-systems/terminus/pull/1700 and confirm that it works for your use-case?

[2017-05-16 19:38] #1699 closed, assigned to nobody

[2017-05-19 09:01] elrokket opened #1701 "Problem with terminus site:list"
Using this command i have this warning and dont display sites list:

Status Code: 200
PHP Warning:  Illegal offset type in unset in /home/vagrant/terminus/vendor/consolidation/output-formatters/src/Transformations/Wrap/ColumnWidths.php on line 229

Any solution? how i can view site id name by web interface ?

[2017-05-19 13:42] greg-1-anderson commented on #1701
Are you running `terminus site:list` without any other parameters? What version of Terminus are you using? Try the latest (1.3.0) if you are on an older version.

What does `terminus site:list --format=yaml` give you?

[2017-05-22 05:06] guyoron opened #1702 "Allow viewing and filtering by upstream in site:list"
`upstream` is not one of the fields available to view and filter by in the site:list command. It would be useful if this was possible, as we often need to run operations on all sites within an organization that share an upstream.

[2017-05-22 15:26] greg-1-anderson commented on #1677
Try again with `-n` on the latest dev version of Terminus. Potentially fixed by https://github.com/pantheon-systems/terminus/pull/1700

[2017-05-22 16:39] ioskevich commented on #1690
I have another bulk sites creation on Pantheon - I will update this issue once I have results. Thanks!

[2017-05-25 00:46] joshkoenig opened #1704 "Allow Terminus to specify `-o StrictHostKeyChecking=no` on `wp` or `drush` commands to help automation"
People who want to make scripts or have Terminus run `drush` or `wp` (or `rsync`, or create SSH Tunnels) automatically run into problems where the environment invoking Terminus doesn't have the target host in `~/.ssh/known_hosts`.

It'd be great to allow us to specify a flag that would cause `SSHBaseCommand` to include something like `-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no`.

[2017-05-25 00:47] joshkoenig commented on #1704
Thanks to @1dwaynemcdaniel for bringing this to our attention.

[2017-05-25 02:58] greg-1-anderson commented on #1704
As a workaround, in **~/.ssh/config**:
[code]

[2017-05-25 23:27] SaraMcCutcheon commented on #1704
Added to Jira as AL-1078

[2017-05-25 23:29] SaraMcCutcheon commented on #1702
Added to Jira as AL-1079

[2017-05-25 23:33] SaraMcCutcheon commented on #1698
Renamed issue, added to Jira as AL-1080

[2017-05-26 21:49] #1698 closed, assigned to nobody

[2017-06-01 13:21] saraboppre commented on #1701
@greg-1-anderson I have been having the same issue. I am using the latest version of Terminus installed with curl. I tried terminus site:list --format=list and that only showed encrypted data. I then used terminus site:list --format=list -vvv and that displayed a long list of text followed by encryption. When I tried terminus site:list --format=yaml, everything but the site names showed up. I got

[2017-06-01 18:41] jasonlancaster commented on #1701
Same issue here on my end, --format=yaml works, but the default crit errors and gives the following error after a number of column width warnings:

PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 262144 bytes)

[2017-06-01 18:43] iamEAP opened #1711 "Add a --async flag, or similar for long running commands"
### Proposed behavior
For longer running commands (like environment creates or site creates), I'm looking for the ability to trigger the workflow, but return immediately without caring about the result of the workflow.  For example:

[code]

...Would be run in series in quick succession.

### Current behavior
In the above example, each env:create blocks until the multidev is fully spun up.

A work

[2017-06-02 20:32] doublecompile opened #1712 "Add frozen column to org:site:list"
I'm using Terminus 1.3.0.

### Expected behavior
The `site:list` command has available the column `frozen` (label *Is Frozen?*). It would be very helpful to have this field available on `org:site:list` as well to use in the `--fields` parameter.

### Actual behavior
The `org:site:list` command does not currently have this field available. (Just look at the help screens for `site:list` versus `org:

[2017-06-03 00:48] jeffturcotte commented on #1577
Adding to this issue...

`parse_ini_string` is currently used as the .env parser: https://github.com/pantheon-systems/terminus/blob/master/src/Config/DotEnvConfig.php#L33

While using `parse_ini_string` is elegant, INI is not a one to one replacement for dotenv. `parse_ini_string` chokes on some undelimited values.

[code]

The second value will completely crash terminus, while 'source .env' and o

[2017-06-06 15:48] stevector commented on #1701
@greg-1-anderson, @TeslaDethray, I'm now getting this error too. I first saw it yesterday, though I had not made any recent changes to how Terminus was installed. And I know I ran `terminus site:list` without issue last week.

When I first encountered this problem I had Terminus installed via `cgr`. I altered the composer.json created by `cgr` to use `dev-master` of Terminus and I still got the er

[2017-06-06 16:08] stevector commented on #1701
The error can also be seen inside CircleCI:

https://github.com/stevector/example-wordpress-composer/compare/terminus-site-list
https://circleci.com/gh/stevector/example-wordpress-composer/95

[2017-06-06 17:19] stevector commented on #1701
I tried adding `terminus site:list` to a CircleCI script that was using a Terminus token other than the one for my main user account (which `example-wordpress-composer` is using). So I tried https://github.com/pantheon-systems/search_api_pantheon and again, I got the same error.  I ssh'ed in the the container for that build investigate further. By jumping over to the Pantheon dashboard I found the

[2017-06-06 17:46] greg-1-anderson commented on #1701
I found the bug in the table wrapper. It's unrelated to which sites you are a member of. There's a typo that causes everything to blow up under certain circumstances. I'll make a new release of the Output Formatters library today.

[2017-06-06 18:30] greg-1-anderson commented on #1701
Fix in referenced issue ^^. I'll tag a release shortly.

[2017-06-06 19:05] #1701 closed, assigned to nobody

[2017-06-07 19:24] dan-ddb commented on #1544
There still appears to be an issue with the latest Terminus I installed on windows via composer. In Terminus 1.3.0 I cannot perform a drush call with terminus. I receive a message like the following:

[notice] Command: mysite.dev -- drush cr [Exit: 0]

Running the same command on Terminus 1.0.0-alpha installed on another machine results in a proper 'drush cr' call - drush clears the cache and retu

[2017-06-09 20:36] dalin- opened #1719 "Version 1.4 prints some things twice to the screen"
### Expected behavior
`echo 'print drupal_get_profile();' | terminus mysite.dev php-script -`
should return a single string like `standard` or `lightning`

### Actual behavior
It's printing it twice:
[code]

This bug did not happen with 1.3

[2017-06-13 03:00] greg-1-anderson commented on #1544
Try again with dev-master; I believe this has been fixed. Not sure if the fix is in the latest release (1.4.0).

[2017-06-13 16:22] tlb420 opened #1722 "Version v1.4.0 does not return output from remote:wp command when --quiet parameter is supplied"
### Expected behavior
Expect results from wp:remote command to display when --quiet is used to squelch terminus verbosity.  WP-CLI output only displayed when --verbose (or -vvv) is used. Works fine in v1.3.0. Example:
[code]

### Actual behavior
[code]
### Steps to reproduce the behavior

No output from any wp:remote command using v1.4.0 with the --quiet terminus option.
Run the following remote:w

[2017-06-13 17:12] greg-1-anderson commented on #1722
`--quiet` is supposed to suppress all output, so I'd say that the former behavior was a bug. However, it looks like it was a useful bug. Might be helpful to have some sort of flag to do that behavior, although I'm not sure it should be `--quiet`, as then Terminus would behave differently than other Symfony Console applications.

In the meantime, try:
[code]

[2017-06-13 18:24] tlb420 commented on #1722
The terminus "--quiet" used to behave much like the WP-CLI "--quiet" where only informational messages are suppressed.  As long as the "stdout" and "stderr" aren't blended as they used to be in earlier terminus versions redirecting to /dev/null should be an appropriate work-around.  Will separate streams be used moving forward with terminus, i.e. like other Symphony Console applications?

[2017-06-14 21:00] giteshk commented on #1678
@TeslaDethray Do we have an estimated date for this?

[2017-06-17 16:59] thejimbirch opened #1723 "Read me has incorrect command for updating with Homebrew"
### Expected behavior
The Read me instructs to update using Homebrew run the following command:

`brew update homebrew/php/terminus`

### Actual behavior
The command returns the following error:

Error: This command updates brew itself, and does not take formula names.
Use 'brew upgrade <formula>'.

### Solution
Update Read me.  Pull request to follow.

[2017-06-21 20:11] #1719 closed, assigned to nobody

[2017-06-22 17:59] SaraMcCutcheon commented on #1723
@thejimbirch Thank you for fixing this. I've merged your pull request.

[2017-06-22 17:59] #1723 closed, assigned to nobody

[2017-06-22 18:00] SaraMcCutcheon commented on #1711
@iamEAP We had considered doing this in the past, but decided against it because of the probability of our servers being slammed by a runaway script.

[2017-06-22 18:01] #1711 closed, assigned to nobody

[2017-06-22 18:10] SaraMcCutcheon commented on #1712
@doublecompile I've opened #1726 to add this column to `org:site:list`

#1089 was closed because that was a feature request for `organizations sites list` in Terminus 0.x ,not `org:site:list` in 1.x. It looks like we dropped this when reimplementing in the latter. This makes this issue either a regression or a feature request. I'm not sure.

[2017-06-22 19:16] #1712 closed, assigned to TeslaDethray

[2017-06-23 16:16] finteractive opened #1727 "Terminus needs option to output "working ..." text to cli on slow running commands"
When setting up a bash script for managing multiple sites with a custom upstream a number of commands will time out because terminus displays no output.

I'm noticed this these commands on larger sites:

[code]

**My script does the following functions:**

1. Run a terminus env:wake to wake all environments.
2. env:clone-content Live environment's content and files to Clone-Live environment.
3. Cl

[2017-06-23 20:19] greg-1-anderson opened #1728 "Plugin installation workflow"
Copying this report over from https://github.com/pantheon-systems/terminus-build-tools-plugin/issues/49:

[2017-06-26 18:58] generalredneck commented on #1677
doesn't appear to be the case... it gets suck right before displaying `[notice] Command: craft-council.live -- drush cr [Exit: 0]`

[2017-06-26 19:01] chrisgross opened #1729 "env:deploy command not clearing cache or running database updates."
### Expected behavior
When I use the `env:deploy `command, with `--cc` and` --updatedb` flags, the remote caches should clear and database updates should run.

### Actual behavior
The caches are not being cleared after deployment, nor are database updates running

### Steps to reproduce the behavior
`terminus -y env:deploy --cc --updatedb --note="Deployed via Terminus" -- "$SITE"."$COMMAND"`

[2017-06-26 19:30] greg-1-anderson commented on #1677
What version of Terminus are you using? There have been some changes / improvements in I/O handling recently. Try 1.4.0 or `master` if you are on something earlier.

[2017-06-26 19:45] generalredneck commented on #1677
1.4.0 Sorry bout not supplying that earlier.

[2017-06-27 14:36] generalredneck commented on #1677
This script will reproduce it
[code]
Save this as test.js and run `node test.js`. Be sure to change the site name and environment to something you can use. I am currently testing with node v7.2.1

[2017-06-27 15:06] azinck commented on #1690
I have also seen a similar problem. Out of 50 sites I bulk-created with a script, 7 of them were created with no upstream (despite all of them having the same upstream specified).

I didn't have verbose logging turned on, so I have less info than the OP, but here's what we get.

The unsuccessful sites show:
[notice] Creating a new site…
[error] Successfully queued converge_hostname

In contrast, t

[2017-06-27 15:27] azinck commented on #1586
I, too, am seeing this. I have about 100 sites and they state that applying upstream updates failed even though it seems to have succeeded.
![image](https://user-images.githubusercontent.com/1158159/27595755-8c1941c2-5b2b-11e7-8b11-da865f31a5b9.png)

[2017-06-29 20:50] stevector commented on #1728
I would prefer this method for plugins too. I think it is confusing to tell people to make two directories within `$HOME`: `$HOME/terminus` for Terminus and `$HOME/.terminus` for plugins.

[2017-07-03 18:06] azinck commented on #1672
I have also seen this.

[2017-07-03 18:06] azinck commented on #1727
I, too, get this error a lot.  And it makes using Terminus almost impossible.

[2017-07-05 18:43] aaronbauman opened #1731 "site:team:add "role" argument is required, even though it's ignored"
### Expected behavior
- Role argument should be optional, default to "team_member".
- site:team:add should expose some version of the command which doesn't result in an error or warning.
- Related: terminus should expose visibility into "change management" feature.

### Actual behavior
- Role argument is required, but ignored.
- There's no way to add a team member without receiving a warning.

###

[2017-07-06 15:59] ataylorme opened #1732 "Does --upatedb run on WordPress?"
### Expected behavior
`terminus env:deploy --updatedb` should run WordPress database updates

### Actual behavior
Command description says `Run update.php after deploy (Drupal only)`

### Steps to reproduce the behavior
`terminus env:deploy -h`

![screen shot 2017-07-06 at 10 57 59 am](https://user-images.githubusercontent.com/2133004/27920457-3e89b12e-623a-11e7-8627-a01d7f983fdf.png)

[2017-07-07 12:36] mvc1095 opened #1733 "Generated aliases include path alias for %files which doesn't use web docroot"
### Expected behavior

When web_docroot is true in pantheon.yml the command `terminus aliases` should generate the path alias for `%files` as `code/web/sites/default/files`

### Actual behavior

Currently the path alias is generated as `code/sites/default/files` regardless of whether web_docroot is set (terminus version 1.4.0).

### Steps to reproduce the behavior

* Create D8 site with web_docroo

[2017-07-07 18:24] ataylorme opened #1734 "WP-CLI output not capturable"
### Expected behavior
WP-CLI output will be shown in the terminal and can be captured in bash variables. The output also cannot be captured with `pbcopy`.

### Actual behavior
WP-CLI output is shown in the terminal but cannot be captured in bash variables

### Steps to reproduce the behavior
I'm working with the WP-CLI command `plugin list --update=available --format=count` which will return the n

[2017-07-07 18:27] ataylorme commented on #1734
@danielbachhuber if you can comment of how WP-CLI returns output that might be useful

[2017-07-07 20:15] ataylorme commented on #1734
Seem to be having the same issue with Drush and can reproduce with a simple command such as `drush --version`

![screen shot 2017-07-07 at 3 15 18 pm](https://user-images.githubusercontent.com/2133004/27975294-20e32608-6327-11e7-86b0-06678c780ed2.png)

[2017-07-10 14:37] danielbachhuber commented on #1734
I'm not sure I follow. WP-CLI simply writes normal information to `STDOUT`, and errors to `STDERR`.

[2017-07-10 14:42] ataylorme commented on #1734
Cool, thanks. I've been able to reproduce this with Drush as well so I think it's a Terminus issue and not anything with WP-CLI but knowing it writes to the normal places is good to know.

[2017-07-11 07:53] sergiuteaca opened #1735 "git clone with terminus"
I am doing some Continuous Integration using pantheon repo. And I have a problem with cloning pantheon's site repo. I used terminus to log in with `auth:login` with a machine-token.
I guess I do not need another layer of authentication to make a `git clone` command.
I searched through terminus's commands and didn't find something that will do that. The only command that uses git, that I found, is

[2017-07-11 12:55] greg-1-anderson commented on #1735
Run:
[code]
That will give you a `git clone` command that you may `exec` to get a local working copy of the codebase.

[2017-07-11 12:55] #1735 closed, assigned to nobody

[2017-07-11 14:01] ataylorme commented on #1734
This is also blocking use of the WordHat extension for Behat. I'm attempting to use the `wp-cli` driver with Terminus but it [checks the wp-cli version](https://github.com/paulgibbs/behat-wordpress-extension/blob/master/src/Driver/WpcliDriver.php#L77:L89).

The output is not being captured, so the version check fails even though we are running version `1.2.1`.

I'd rather not hack the extension/dr

[2017-07-11 15:27] greg-1-anderson commented on #1734
We'll fix this today in our hack session, then!

[2017-07-11 15:51] ataylorme commented on #1734
@greg-1-anderson WordHat has other issues once I got past this. The admin login scenario fails, for example.

I definitely think this is still a good thing to fix though as not being able to capture wpcli/drush output with Terminus makes scripting difficult if not impossible for some tasks.

[2017-07-11 17:45] greg-1-anderson commented on #1734
This fails:
[code]
This works:
[code]
Maybe we can do a better job of figuring out whether to force non-interactive mode when `-n` isn't explicitly declared. In any event, any CI script that calls `terminus` should always set `-n` for every Terminus command.

[2017-07-11 18:12] greg-1-anderson commented on #1734
@ataylorme Try #1736

[2017-07-11 22:05] ataylorme commented on #1734
#1736 fixes the issue for me

[2017-07-11 23:34] #1734 closed, assigned to nobody

[2017-07-11 23:45] ataylorme opened #1737 "Notices on every wpcli command, even when successful"
### Expected behavior
I expect Terminus to not display notices in `stderr` when things are proceeding as expected.

### Actual behavior
Terminus outputs `[notice] Command: site.env -- wp [Exit: 0]` to `stderr` every time a wpcli command is run.

### Steps to reproduce the behavior
Run any wpcli command via Terminus

### Proposed resolution
Remove the notice entirely _or_ only display it when the e

[2017-07-11 23:46] ataylorme commented on #1737
<img width="1280" alt="screen shot 2017-07-11 at 4 41 50 pm" src="https://user-images.githubusercontent.com/2133004/28095657-775300c4-6658-11e7-94fc-01932f92737f.png">

[2017-07-11 23:56] greg-1-anderson commented on #1737
I think it would be helpful to improve the `firstArguments` method to show which command was executed if the status code is > 0, so you have some info on why your CI test failed.

[2017-07-12 09:04] sergiuteaca commented on #1735
Thank you, @greg-1-anderson, for the quick response.

But doing this in an environment that you only have authentication to pantheon through terminus with a machine-token doesn't give you permissions to clone that repo.

Executing that command will wait for a password input.

[2017-07-12 12:53] greg-1-anderson commented on #1735
You need to set up your ssh keys as described in the document [Generate and Add SSH Keys](https://pantheon.io/docs/ssh-keys/)

[2017-07-12 13:32] sergiuteaca commented on #1735
I did that and I can clone it on my local with no problems.
The problem appears in a remote environment.
I know that I can create a dummy ssh-key pair and add the private key to that environment and the public one on pantheon.

I was just wondering if I already am logged in to pantheon using terminus and I could do a lot of stuff with it. But I can't clone the repo.

So as I understood there is no

[2017-07-12 17:43] greg-1-anderson commented on #1735
You are correct -- ssh authentication is independent from Terminus machine token authentication.

For automatic configuration of CI services, see the [Terminus Build Tools Plugin](https://github.com/pantheon-systems/terminus-build-tools-plugin). Currently supports only GitHub / Circle CI, but more environments will be added in time.

[2017-07-12 18:02] gholder commented on #1652
Let me second thomas-thackery's suggestion.

[2017-07-13 15:21] stevector commented on #1573
@TeslaDethray, could you give me feedback on https://github.com/pantheon-systems/terminus/pull/1738 which is a start for this issue.

[2017-07-13 17:26] iamEAP commented on #1728
I'm interested in helping move this along.  Sounds like a "one-true-approach" to installing plugins is desired, and it sounds like per #1498 that a composer-based approach is desired over a terminus-based approach?

Would be great to nail down a direction that we can start building toward.

[2017-07-13 19:07] greg-1-anderson commented on #1728
@thom8 had a good idea in https://github.com/acquia/blt/issues/1793

[2017-07-13 19:16] greg-1-anderson commented on #1728
One of the initial driving requirements for Terminus plugins was that it had to be possible for someone to just drop a couple of files in the right location in the filesystem in order to get started.

The plugin manager added the additional requirement that a plugin must use Composer and be registered with Packagist in order to be shared.

With the above-mentioned idea, it would probably be possib

[2017-07-14 15:20] stevector commented on #1728
The installer currently creates the file `~/terminus/composer.json`

[code]

I think the most straightforward way to manage additional plugins is to simply add them to the `require` list in this file.

[2017-07-14 19:11] greg-1-anderson commented on #1728
See https://github.com/consolidation/Robo/pull/604, implemented for Robo & BLT. This would work well with the `~/terminus/composer.json` file described above.

If that Robo PR is merged, Terminus would just need to define a well-known namespace, e.g. `TerminusPlugin\\`, and inject this value into the Runner() along with the Composer autoloader from the autoload file.

This would be really easy to

[2017-07-15 15:43] arosboro opened #1739 "Terminus 1.4 causing CI builds to fail"
### Expected behavior
terminus --version shows version information

### Actual behavior
PHP Fatal error:  Uncaught InvalidArgumentException: The tag "@usage: terminus env:view <site>.<env>
   Opens the browser to <site>'s <env> environment." does not seem to be wellformed, please check it for errors in /home/ubuntu/.composer/global/pantheon-systems/terminus/vendor/phpdocumentor/reflection-docblock

[2017-07-15 20:34] greg-1-anderson commented on #1739
Not having this problem myself. Installing via cgr should work. Lately, for CI testing, I have been installing like this:
[code]
That saves a few seconds, as you then do not need to install cgr. Be sure to add `$HOME/bin` to your `$PATH` if you switch to this method.

[2017-07-15 22:55] calmher commented on #1739
I am able to replicate this error by doing these steps:

1. Removing all instances of terminus
2. Installing via curl or composer

Same error as above.
Happening on a fresh install in a linux box as well.

Installing Terminus through Homebrew works though.

[2017-07-15 23:16] greg-1-anderson commented on #1739
@calmher Could you be more explicit about the installation steps you are using?

[2017-07-15 23:55] thomas-thackery commented on #1739
Linux/Ubuntu 16.04
Prereqs: Installed php, php-xml, and composer
Ran installation script from documentation and then ran `terminus`:

[code]

[2017-07-16 00:01] calmher commented on #1739
Hi @greg-1-anderson, yes sure!

So I first removed Terminus and made sure I don't have any instances on my end to mimic a fresh install. I did the following in my home directory:

`~> mkdir terminus`
`~> cd terminus`
`~> curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install`

Ran `terminus  -v`:
[code]

[2017-07-16 00:10] calmher commented on #1739
Sorry, I just realized it must be confusing because this issue is for a CI Build ^^ - but I'm getting the same error on any Terminus command (not in a CI Build) with a fresh install of 1.4.

[2017-07-16 16:19] agnosticdev commented on #1739
Yes, I worked with @calmher in this issue and am experiencing the same scenario.  I am on Ubuntu 16.04 and have tried with `PHP 7.0` and `PHP 5.6` to remove an old version of terminus and then install a new version of terminus with the list errors above:

Steps to reproduce.
1) Grep for all things terminus on my system and remove them.  This includes anything in `/usr/local/bin`, my `.terminus`, `

[2017-07-17 15:29] kbasarab commented on #1739
Had this same issue as well. Running the following resolved it for me until the above fix hits stable:

`composer remove pantheon-systems/terminus`
`composer require phpdocumentor/reflection-docblock:~3.1.1`
`curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install`

[2017-07-17 16:14] greg-1-anderson commented on #1739
See also #1739

[2017-07-17 18:30] #1739 closed, assigned to nobody

[2017-07-17 20:57] doublejosh commented on #1739
### Updating to `1.4.1` should fix the problem.

[2017-07-18 10:59] agnosticdev commented on #1739
Success.  Thank you very much for the resolution!
I am now able to install as described above and see a successful response from `$terminus --version`.

[code]

[2017-07-18 14:22] ahebrank commented on #1690
Searching the issues for "curl error 7" brings me here -- we're having lots of intermittent problems with our builds that run env backups.  For instance, a build task that runs `terminus backup:create --element=all ${PANTHEON_SITE}.${PANTHEON_ENV}` might sometimes return:

[code]

and fail the build.

I don't know whether this is the fault of terminus or due to increased load on the endpoint, but

[2017-07-19 16:04] arderyp commented on #1729
I don't have any pending db updates to test this.  I was always suspicious that the cache clearing didn't work, but didn't have technical proof.

If the issue you described is indeed happening, it could cause major problems (particularly the failure to update the DB) for anyone using terminus deployment in production, which I am.

Can one of the terminus contributors chime in on this?

[2017-07-19 16:20] chrisgross commented on #1729
Just to update, I can confirm that this has happened repeatedly since I reported the issue. I have had to resort to using terminus drush to manually clear caches and run updates after each deployment. I don't know how long this problem has existed (I knew it hasn't always happened), but countless clients may have pending database updates and not know it. Very bad.

[2017-07-19 16:25] arderyp commented on #1729
I've also been using `terminus drush <SITE>.<ENV> -- cc all` to clear cache after running the deployment command.  Is the database update command you are using `terminus drush <SITE>.<ENV> -- updatedb`?

[2017-07-19 16:44] chrisgross commented on #1729
That's the one.

[2017-07-19 16:59] arderyp commented on #1729
thanks.  Hopefully this issue will be fixed, thanks for opening it.

[2017-07-24 15:57] jenniferstipe opened #1743 "After upgrading to 1.4.1, wd-show drush command is not returning results"
### Expected behavior
In 1.4.0, when I ran this command:

 terminus remote:drush costco-np.dev wd-show

I got a list of the last 10 rows in the watchdog table, nicely formatted.

### Actual behavior
Now in 1.4.1 when I run this command, I get these results:
`
$  terminus remote:drush costco-np.dev -vvv -- wd-show
 [debug] Plugin Autoload: %dir is a Terminus source file.
 [debug] #### REQUEST ####

[2017-07-24 16:09] greg-1-anderson commented on #1743
`-vvv` is asking for maximum verbosity. Is that what you intended? Does the output contain information you do not want when you run without `-vvv`?

[2017-07-24 16:17] jenniferstipe commented on #1743
Hi - I ran it with -vvv as instructed when I started the post.  The same behavior happens whether or not i use -vvv.

[2017-07-24 16:45] greg-1-anderson commented on #1743
Do you have a ~/.terminus/config.yml file? Does it define debug mode? Do you have any environment variables set, e.g. TERMINUS_DEBUG? (Not sure exactly what the variable names are here.)

[2017-07-24 16:49] greg-1-anderson commented on #1743
Regarding the reason for why you are not seeing the data from your watchdog table, note that hidden in your output there is:
[code]
Make sure you have set up a public/private key pair between the account you are running Terminus from, and the Pantheon dashboard. This won't get rid of the extraneous debug info, but the data you need should show up if you fix your authentication credentials.

[2017-07-24 17:17] jenniferstipe commented on #1743
Hi - I'm ok with setting up the public/private key pair but this used to work with basic auth in 1.4.0, did that change in 1.4.1?

[2017-07-24 17:39] greg-1-anderson commented on #1743
`terminus drush` and `terminus wp` have always passed through Pantheon SSH, which uses public / private keys for authentication. Simply typing in your password at the ssh prompt is not recommended. I'm not sure if there has been any change of behavior vis-a-vis ssh password entry. Terminus has changed its handling of stty mode, so it is possible.

[2017-07-25 16:17] arrubiu opened #1744 "Download drush alias for single sites"
When I download drush alias from the dashboard, or with Terminus, I obtain a single file with all drush alias for my sites on Pantheon.

It could be very useful to download drush alias for single sites.
On the dashbaord you could be add, on the site page, a button to download specific alias. And with Terminus a parameter when executing the command.

Thanks,
Sergio

[2017-07-25 19:30] arosboro opened #1745 "terminus build-env:delete:ci deletes non ci-build environments"
### Expected behavior
```terminus build-env:delete:ci``` deletes circle build environments but leaves pr environments untouched.

### Actual behavior
```- terminus build-env:delete:ci -n "$TERMINUS_SITE" --keep=2 --yes```
Results in all but the latest 2 ci environments being removed (including environments not prefixed with "ci-")

[2017-07-25 20:07] greg-1-anderson commented on #1745
Ouch. Moving to https://github.com/pantheon-systems/terminus-build-tools-plugin/issues/87

[2017-07-25 20:07] #1745 closed, assigned to nobody

[2017-07-25 20:10] greg-1-anderson commented on #1745
I presume this is only happening on the `master` branch of the Terminus Build Tools plugin?

[2017-07-25 20:14] arosboro commented on #1745
I'm using the default circle.yml it looks like terminus-build-tools-plugin:^1

composer create-project -n -d ~/.terminus/plugins pantheon-systems/terminus-build-tools-plugin:^1

[2017-07-25 20:17] greg-1-anderson commented on #1745
Which version was installed? If you look at the output from the create-project in your circle.yml file, it should tell you the exact tag it installed.

I just tested the latest HEAD of the 1.x branch, and it worked fine.

[2017-07-25 20:18] greg-1-anderson commented on #1745
HEAD of 1.x == 1.3.9

[2017-07-25 20:19] greg-1-anderson commented on #1745
Also tested HEAD of master, and it worked fine for me.

[2017-07-25 20:19] arosboro commented on #1745
Looking in my recent CI builds it looks like I'm seeing 1.3.7, this was as of 5 days ago:

Installing pantheon-systems/terminus-build-tools-plugin (1.3.7)
  - Installing pantheon-systems/terminus-build-tools-plugin (1.3.7): Downloading (connecting...)Downloading (100%)         
Created project in /home/ubuntu/.terminus/plugins/terminus-build-tools-plugin
Loading

[2017-07-25 20:23] arosboro commented on #1745
It may not be the command that is at issue, but the delete:pr command found below:

deployment:
  build-assets:
    branch: master
    commands:
      - terminus build-env:merge -n "$TERMINUS_SITE.$TERMINUS_ENV" --yes
      - terminus drush -n $TERMINUS_SITE.dev -- updatedb --yes
      - |
        [ ! -f "config/system.site.yml" ] || terminus drush "$TERMINUS_SITE.dev" -- config-import --yes

[2017-07-25 20:24] greg-1-anderson commented on #1745
Hm, I also tested 1.3.7, and it also worked fine for me.

My test site has only ci-1 (which is preserved), and two pr-* multidevs (which are ignored).

Output:
[code]
Note that the multidev environments not prefixed with `ci-` are not mentioned.

OK, I will try testing the delete:pr command as well.

[2017-07-25 20:26] arosboro commented on #1745
Delete all of the build environments matching the pattern for pull request branches, i.e., all multidevs whose name begins with "pr-".

I think the command works as designed, but it's not nice if other developers have other pr environments to delete them.  I think it just requires a flag to pass in the specific pr to target.

[2017-07-25 20:27] greg-1-anderson commented on #1745
The `build:env:delete:pr` command is only supposed to delete multidev environments that no longer have corresponding pull requests open on GitHub.  Did you (or other devs) close the pull requests associated with the mulitdev environments that were deleted?

[2017-07-25 20:31] arosboro commented on #1745
Our workflow is to create a branch, work locally or on multidev, and open a pull request when ready to merge into master.  We can change this to open a PR immediately and keep it open until review passes.  Thanks for the clarification.

[2017-07-25 20:36] greg-1-anderson commented on #1745
@arosboro I can change the logic in the command to look for a matching **closed** PR, rather than the absence of an open PR.

Sorry about the deleted multidevs.

[2017-07-25 20:43] arosboro commented on #1745
That would be great, can you check against the commit in closed PR as well to see that the branch is up to date with the closed PR?  We have feature branches which we keep open and make PRs from as development progresses.  It's okay we just lost some test content for staging, no code changes or anything significant was lost.

[2017-07-25 21:12] greg-1-anderson commented on #1745
I don't think that your feature request would effectively meet your needs. For example, if you open two PRs off of one feature branch, first (A) and then (B), and (B) has more commits than (A), but (A) is for some reason blocked and unfinished, and then (B) is closed, then your multidev would be deleted.

Instead, I could change the code to only delete multidev environments that:
- Are named start

[2017-07-25 21:14] arosboro commented on #1745
You are right, thanks for your help.  I'll talk to my team and see how we go from here, but it is helpful to have your analysis handy.

[2017-07-25 21:39] greg-1-anderson commented on #1745
Suggestion above implemented on the `master` branch: https://github.com/pantheon-systems/terminus-build-tools-plugin/pull/88

I'll backport that to 1.x if it works out.

[2017-07-25 23:02] greg-1-anderson commented on #1745
@arosboro It would be helpful if you could test https://github.com/pantheon-systems/terminus-build-tools-plugin/pull/89 before I merge it into the 1.x branch.

For using within the tests for some project:
[code]

[2017-07-26 15:45] tlb420 opened #1746 "What exactly is cleared with "env:clear-cache""
### Expected behavior
Per documentation, "Clears caches for the environment." Would like to know exactly what happens to avoid redundancy within shell scripts.
### Actual behavior
Seems like this command issues the REDIS-CLI "FLUSHALL" command to the Redis cache server if Redis is enabled for a site, please confirm. If so, no need for us to use the REDIS-CLI to perform this function.

Seems like t

[2017-07-27 00:57] arosboro commented on #1745
I recently tested terminus-build-tools-plugin:dev-require-closed-pr-1x.

My project had three CI multi-dev environments, three PR multi-dev environments, and one regular multi-dev environment.  One of the pull requests was merged into master and its branch was deleted, but the multi-dev corresponding to that pull request was not removed.  The CI delete command removed one CI environment leaving tw

[2017-07-27 01:57] greg-1-anderson commented on #1745
Did the branch name for that multidev begin with "pr-"?

[2017-07-27 02:00] arosboro commented on #1745
No the branch was restore-hero, and the environment name was pr-restore.

[2017-07-27 19:57] greg-1-anderson commented on #1745
Yeah, I mis-spoke; that's what I meant. Thanks.

I'm going to merge that PR, because I think that it's better to occasionally leave an environment behind than to delete environments that are still needed. Further improvements in future PRs.

[2017-07-27 20:56] arosboro commented on #1745
Thanks @greg-1-anderson

[2017-07-31 19:46] chrisgross commented on #663
I have to use `--accept-upstream ACCEPT-UPSTREAM` instead of just `--accept-upstream` to make this work, which seems completely redundant. In fact, this repetition is required for `--updatedb` and `--cc`, too. Why? Makes no sense to me.

[2017-07-31 19:52] chrisgross commented on #1729
So, upon troubleshooting why the `--accept-upstream` does not seem to actually resolve conflicts, I discovered that this command, alone with `--updatedb and --cc`, now require additional, completely redundant arguments or they will not work. So you now have to type `--updatedb UPDATEDB`, `--cc CC`, `--accept-upstream ACCEPT-UPSTREAM`, which seems unnecessary, confusing, and ridiculous. Why?

[2017-07-31 20:02] chrisgross commented on #663
Also https://pantheon.io/docs/terminus/commands and https://pantheon.io/docs/terminus/examples/ are inaccurate in this regard. The output from terminus itself does not make this very clear, either.

[2017-07-31 20:02] chrisgross commented on #1729
Also https://pantheon.io/docs/terminus/commands and https://pantheon.io/docs/terminus/examples/ are inaccurate in this regard. The output from terminus itself does not make this very clear, either.

[2017-08-01 00:25] arderyp commented on #1729
thanks for the info @chrisgross.  Hopefully someone from Pantheon will chime in soon, since people realying on these arguments without knowing that they don't do anything could run into major headaches (particularly regarding unexecuted migrations)...

[2017-08-04 03:24] SaraMcCutcheon commented on #1746
@tlb420 This command only clears the framework's cache.

[2017-08-06 20:53] goodwillhinton opened #1748 "Installation error"
When I try installing Terminus I get the following error:

How do I resolve this?

[2017-08-07 12:54] ioskevich opened #1749 "domain:dns returns php errors"
### Expected behavior
domain:dns sitename>.env should return list of recommended DNS records for the sitename.env

### Actual behavior
domain:dns sitename.env returns PHP errors (seems to be one PHP error per domain name associated with the env.

[code]

### Steps to reproduce the behavior

Run terminus domain:dns

Terminus info:

[code]

[2017-08-08 17:01] SaraMcCutcheon commented on #1749
@ioskevich Thanks for bringing this up - this was a piece of cake to duplicate. I will push a fix today.

Entered in Pantheon's JIRA as BUGS-1474

[2017-08-08 17:06] SaraMcCutcheon commented on #1748
@goodwillhinton One way to resolve this is to install it to a different directory. It appears that in the directory being used already has guzzlehttp/guzzle 6.1.1 in its vendor files. (The installer simply extends Composer.) By installing it in a different directory, Terminus can use the updated version of Guzzle without destroying the version saved for whichever other Composer-installed software

[2017-08-08 17:08] SaraMcCutcheon commented on #1744
@arrubiu This can be done, and I think the best way to go about it would be to add the functionality to the All Aliases plugin (which itself needs updating and could be part of this task). I am curious, however, about why you only want a specific alias. What use to you is one alias where the others interfere?

[2017-08-08 17:13] SaraMcCutcheon commented on #1733
Terminus does not generate the aliases itself, but receives the list from the API and delivers it. (It uses the same API call as did the Dashboard for this.) I will forward this bug on to the API team (or tackle it myself should I find the time) and keep this issue open to serve as a way to remind me to check up on its status.

This issue was added to Pantheon's Jira board as BUGS-1475.

[2017-08-08 17:17] SaraMcCutcheon commented on #1731
@aaronbauman Thank you for pointing this out. The role is only accepted from certain users which are permitted to change roles or assign roles, which it looks like I missed because I've always got admin access/the works. I think the appropriate action here would be to set a default value for the 'role' parameter for those who aren't needing to set it and to make a note that it isn't useful for all

[2017-08-08 17:22] SaraMcCutcheon commented on #1732
@ataylorme This is how the API works (Terminus only passes `--updatedb` straight into the `deploy` API), and perhaps it needs to be reconsidered in light of how popular WordPress has become on our platform.

I added this to JIRA as FEAT-425

[2017-08-08 17:22] #1732 closed, assigned to nobody

[2017-08-09 01:51] SaraMcCutcheon commented on #1749
After digging into this issue, it seems that the problem lies at the API level - although the Terminus API request has not changed, suddenly the hydration of DNS records is not being heeded. I'll leave this issue open to check back in about the status of this issue. @ioskevich

[2017-08-10 05:29] ccharlton commented on #311
Related?

- https://github.com/pantheon-systems/terminus-installer/issues/25
- https://github.com/pantheon-systems/terminus/issues/1595

[2017-08-10 16:48] danielbachhuber opened #1751 "Use a more descriptive error message when env can't be created when a site is frozen"
When a site is frozen, and you attempt to create a new environment, you'll see a cryptic "The operation failed to complete" error message:

![image](https://user-images.githubusercontent.com/36432/29181686-e9c27e72-7db0-11e7-92dd-6ab384f5b642.png)

Instead, it would be helpful if the error message communicates that an environment can't be created because the site is frozen.

[2017-08-14 13:02] ghost opened #1752 "Cannot upgrade using command line instructions"
### Expected behavior
I expected to run the command provided in the terminal to upgrade.

### Actual behavior
It doesn't work. I receive the following message and no upgrade occurs:

[code]

### Steps to reproduce the behavior
Run the upgrade command provided by the CLI:
[code]

<details>
<summary>Environment info</summary>
<pre> ------------------------- ------------------------------------------

[2017-08-14 13:10] ghost commented on #1752
The ideal experience here is something like WP-CLI where you issue `wp cli update` and it Just Works™

[2017-08-14 13:57] greg-1-anderson commented on #1752
Composer changed behavior recently. The `composer require` command in the installer must now be changed to `composer require -n` to maintain the historic behavior.

[2017-08-14 19:21] SaraMcCutcheon commented on #1749
@ioskevich I've tracked the change that broke this command down in the API and we're on the case.

[2017-08-14 22:38] #1731 closed, assigned to nobody

[2017-08-15 00:37] SaraMcCutcheon commented on #1731
@aaronbauman We got a fix in for this a couple of hours ago. I'll cut a new minor version tomorrow morning.

[2017-08-18 01:06] bwood opened #1755 "https:info is using the wrong API calls to determine HTTPS status"
### Expected behavior
`terminus https:info drupalops-701-lets-encrypt.live` will show that HTTPS is enabled on this site which has a Let's Encrypt certificate.

![image](https://user-images.githubusercontent.com/185537/29440022-8f8fcbfa-8376-11e7-8e8a-70119e5d82f3.png)
![image](https://user-images.githubusercontent.com/185537/29440033-a331ddba-8376-11e7-90c6-a2a1f08ca2f1.png)

### Actual behavior

[2017-08-18 01:07] bwood commented on #1755
Since `https:info` might not be working, I'm not confident that `https:set` will work.

Terminus version: 1.5.0

[2017-08-19 00:17] #1749 closed, assigned to nobody

[2017-08-20 20:18] iamEAP opened #1757 "Provide ability to suppress update message text"
### Expected behavior
In order to reduce log verbosity, I should be able to prevent the "update terminus" message from appearing when terminus is run in an automated or scripted environment.

Perhaps an environment variable could be used to control this, e.g. `TERMINUS_HIDE_UPDATE_MSG=1`

### Actual behavior
Terminus outputs an "update" message with every command invocation when using an outdated

[2017-08-21 18:57] jtjones3 opened #1760 "Script update to Terminus 1.5"
### Expected behavior
I’m trying to update our deploy script to Terminus 1.5. I expect the dev site to be backed up and the script to reply 'succeeded'

### Actual behavior
The script is failing when backing up the dev environment (with ‘Export code, files and database from dev FAILED’) but in reality dev is being backed up. However, the script will not continue to the next step.

**Never mind**:

[2017-08-23 23:51] #1760 closed, assigned to nobody

[2017-08-28 21:08] SaraMcCutcheon commented on #1755
@bwood I added myself to the site in your issue and have found that the way in which Terminus determines whether a site has HTTPS is out-of-date. Terminus is trying to find information about the environment's loadbalancers (https://github.com/pantheon-systems/terminus/blob/master/src/Commands/HTTPS/InfoCommand.php#L41), and that field is empty for environments covered by Let's Encrypt.

I also too

[2017-08-28 21:08] SaraMcCutcheon commented on #1755
This was added to Pantheon's JIRA as BUGS-1527

[2017-08-28 21:23] SaraMcCutcheon commented on #1751
@danielbachhuber You're right. We even get the information about whether a site is frozen or not before we attempt to create the environment, but we don't use it. Heck, we even already have the function to do it. (https://github.com/pantheon-systems/terminus/blob/master/src/Site/SiteAwareTrait.php#L103-L113) I'll switch the function that `env:create` is using to retrieve a site for use so it'll th

[2017-08-28 21:25] SaraMcCutcheon commented on #1751
This has been added to Pantheon's JIRA as AL-1203

[2017-08-28 21:35] #1748 closed, assigned to nobody

[2017-08-28 21:49] SaraMcCutcheon commented on #1729
@chrisgross @arderyp I've been unable to duplicate your findings. I am also unable to disern how `--updatedb UPDATEDB --cc CC --accept-upstream ACCEPT-UPSTREAM` would work; when I attempted to use this format, Terminus simply erred for too many command arguments. Indeed, these options all default to false unless they are present which will produce true, then whatever is fed in through the option (

[2017-08-28 22:01] SaraMcCutcheon commented on #1757
This has been added to Pantheon's Jira as AL-1204

[2017-08-29 01:33] arderyp commented on #1729
I am not sure about the redundant `ACCEPT-UPSTREAM` and `UPDATEDB` arguments that @chrisgross mentioned.  The [code](https://github.com/pantheon-systems/terminus/blob/adcff91294962f46ab7b807773bf53c4fc6b38ed/src/Commands/Upstream/Updates/ApplyCommand.php#L51-L52) I am looking at doesn't seem to suggest that said problem exists, but I may be missing something.

@chrisgross can you confirm that `--u

[2017-08-29 17:32] nstielau commented on #1727
@finteractive are you sure this is related to timeouts?  To me it seems like it is just one request that fails due to SSL issues which fails the terminus command.  Looking at the loop in #1738, we are periodically checking of the Workflow status, so the longer the Workflow the more calls are made and the more likely one of them is to fail.

[2017-08-30 16:56] joshkoenig commented on #1641
This does not make sense. Is it possible that because we set the flag that doesn't allow you to _do_ udpates in Test/Live (the code is immutable at that stage for good reasons) that WP-CLI also refuses to _check the update status_?

/cc @danielbachhuber?

[2017-08-30 18:01] danielbachhuber commented on #1641
WP-CLI depends upon the WordPress core data stored in the `update_core` transient to determine which updates to display:

![image](https://user-images.githubusercontent.com/36432/29886954-b7cbc386-8d70-11e7-89a9-75e22d5c90f3.png)

Prior to https://github.com/pantheon-systems/WordPress/pull/126, the Pantheon WordPress upstream filtered this `update_core` transient to hide updates (e.g. https://gith

[2017-08-30 19:06] SaraMcCutcheon commented on #1757
@iamEAP I merged your PR.

[2017-08-30 20:51] grok commented on #1641
You could probably obscure these particular instances in a way that doesn't mess with the database -- à la CSS or JS would be sufficient.

[2017-09-04 20:25] iamEAP commented on #1757
Thank you!

[2017-09-04 20:43] greg-1-anderson commented on #1757
Note that in addition to the environment variable, this effect can also be achieved by adding a line to your `~/.terminus/config.yml` file:
[code]

[2017-09-05 17:29] SaraMcCutcheon commented on #1751
Fixed in #1761

[2017-09-05 17:29] #1751 closed, assigned to nobody

[2017-09-06 03:37] WernerCD commented on #1164
I'm have this issue (machine token auth'd but required to enter password for Drupal 7 and 8 websites.). Is there a fix for it?

[2017-09-08 22:11] chrisgross commented on #1729
I just confirmed that `--updateb` and `-cc` do not work properly without additional arguments in terminus 1.5.1-dev. I cannot currently test `--accept-upstream`, but I presume it does not work, either. It makes sense that a text argument like `ACCEPT-UPSTREAM` would work because it probably resolves to `TRUE`. So, it turns out that passing `1` as an argument is sufficient, but that's not clear at

[2017-09-10 02:48] Mchampsee opened #1764 "Terminus thinks unfrozen sites are still frozen."
### Steps to reproduce the behavior
1)Go onto the website and unfreeze a frozen site
2)Run a terminus command against that site

### Expected behavior
Command to execute properly
### Actual behavior
I get an error message "[error]  This site is frozen. Its test and live environments are unavailable."

[code]

[2017-09-11 06:39] brian-reachlocal opened #1765 "Get PHP warning when trying to upstream:updates:apply"
### Expected behavior
Tried to update a site with terminus and received error. Tired it multiple times with and without the ".dev" extension.

I had expected it to update the site and return info about applying updates.

### Actual behavior

[code]

If your issue is with a command not working, please run the command again with the `-vvv` option (`--debug` in 0.x) and copy everything from the comma

[2017-09-11 17:12] #1755 closed, assigned to nobody

[2017-09-12 01:06] SaraMcCutcheon commented on #1765
@brian-reachlocal I'm afraid I've been unable to duplicate this error. I even updated PHP 7.1 and dry-ran it on `air-duct-express` with no trouble. From the output you're getting it looks like the message you're getting back from the API is somehow an array. I'm perplexed about that - if you can get the debug (`-vvv`) output on the last API call that command makes before quitting that would probab

[2017-09-12 03:50] brian-reachlocal commented on #1765
Sara,

Thanks for looking into this issue.

I expect to have a run with the full debug log within the next day.  I will
be sure to post the error log to the issue on github and I will let you
know.

I am starting to wonder if I have some library (or something else?) that is
interfering with the tool ?

Thanks again and I will let you know when I get the debug output posted.

==>brian.

On Mon, Sep

[2017-09-12 05:10] arderyp commented on #1729
thanks for the info @chrisgross!

[2017-09-13 16:59] abrahaa4 commented on #1544
I was trying to run the terminus site:mass-update command and I get the  error "call to undefined function posix_isatty()."  I am using the latest terminus version 1.5.1-dev.  Can someone help me resolve this. Thanks
![pastedimage](https://user-images.githubusercontent.com/29128346/30390206-484a6562-9883-11e7-9b1c-f77f1f43d591.png)

[2017-09-13 17:19] greg-1-anderson commented on #1544
The error above appears to be an unguarded posix_isatty (bug) in the Terminus Mass Update plugin.

[2017-09-13 17:22] greg-1-anderson commented on #1544
I created an issue in the appropriate plugin project.

[2017-09-13 17:44] abrahaa4 commented on #1544
Thanks Greg

[2017-09-17 21:33] sean-e-dietrich opened #1767 "Issue when running aliases command after fresh install"
### Expected behavior
When running command on remote machine without `--location` flag should automatically output aliases file to ` ~/.drush/pantheon.aliases.drushrc.php`

### Actual behavior
I am currently getting an error message that says it's unable to create directory.

[code]

### Steps to reproduce the behavior
[code]

[2017-09-18 02:07] cleverington commented on #1767
Ran into same issue after updating from Terminus 1.3 to Terminus 1.5.

Running the command as `terminus aliases --location ~/.drush/pantheon.aliases.drushrc.php` worked fine to create the file.  However, trying the command again without the `--location` still returned the error.

[2017-09-18 05:33] sean-e-dietrich commented on #1767
@cleverington I have also been able to do this as a work around but just recently started to have this issue.

[2017-09-18 15:09] stevector commented on #1767
I also saw this error on a personal project too. I suspect it is related to a new release of symfony components.

Here is a a build on the master project of that project that passed 8 days ago: https://circleci.com/gh/stevector/nerdologues-d8/857 Symfony versions `3.3.8` were installed for components like `symfony/filesystem`. Here is a fail from yesterday where `3.3.9` was installed: https://circ

[2017-09-18 19:37] rbayliss opened #1768 "Several failing commands following update to consolidation/annotated-command:2.5.0"
Following an update to consolidation/annotated-command:2.5.0, I'm getting several strange errors when running different commands.  Examples:

**auth:login with no machine token:**
[code]
**backup:get**
[code]

Rolling back to consolidation/annotated-command:2.4.13 locally resolves both of these issues, so I'm certain that it's not just a bad site name or machine token.  This issue has popped up ac

[2017-09-18 21:57] greg-1-anderson commented on #1768
This should not affect anyone who is using Terminus with the composer.lock file checked in to the Terminus GitHub repository. However, installing Terminus via `composer create-project`, or running `composer update` on a Terminus install would bring an individual user up to annotated-command:2.5.0 prior to any official Terminus release including it.

annotated-command:2.5.0 was intended to be backw

[2017-09-18 22:54] rbayliss commented on #1768
Awesome.  Works for me, thanks!

[2017-09-18 22:54] #1768 closed, assigned to nobody

[2017-09-19 20:08] greg-1-anderson commented on #1767
This is a duplicate of https://github.com/pantheon-systems/terminus/issues/1768.

A newer version of the incompatible libraries have been released, so @stevector's workaround is no longer necessary. However, you may wish to install via `git clone` + `composer install` as suggested above, as this will give a more stable Terminus build.

Also, see the latest tests in [example-drops-8-composer](https

[2017-09-19 21:13] ataylorme commented on #1765
@TeslaDethray the `-vvv` output has some info @brian-reachlocal doesn't want to post the log with all it's info but we debugged on a call.

It seems without `--accept-upstream` there are enough merge conflicts to cause a buffer overflow

[2017-09-20 12:48] kuntyiblinkreaction opened #1771 "Drush not shows messages"
### Expected behavior
$ terminus remote:drush almonds-newsroom.dev -- status
 [warning] This environment is in read-only Git mode. If you want to make changes to the codebase of this site (e.g. updating modules or plugins), you will need to toggle into read/write SFTP mode first.
 [notice] Command: almonds-newsroom.dev -- drush status [Exit: 0]

### Actual behavior
$ terminus remote:drush almonds-

[2017-09-20 21:32] alisonjo315 opened #1774 "Feature Request: plugin:info command"
There's no version info for your installed terminus plugins.  For example, I can't figure out what version of `pantheon-systems/terminus-build-tools-plugin` I have installed.  Per greg-1-anderson on power-users slack channel: _(2017-09-20 -- thread started by alisonjo2786, 14:51 ET)_

Obviously, this isn't exactly a terminus issue; I'm submitting it here "because Greg said so" 😁 -- with the idea o

[2017-09-20 21:32] alisonjo315 commented on #1774
(a) I hope I used "META" correctly...
(b) @greg-1-anderson

[2017-09-21 17:24] SaraMcCutcheon commented on #1767
Closing issue due to successful dupe being linked to

[2017-09-21 17:24] #1767 closed, assigned to nobody

[2017-09-21 17:26] SaraMcCutcheon commented on #1764
Terminus does no info API info caching of any sort. It only stores your machine tokens and the program's command cache. There has been some work on this since you posted; is it still a problem for you?

[2017-09-21 17:26] #1764 closed, assigned to nobody

[2017-09-21 17:29] Mchampsee commented on #1764
By cached, I meant on the server side. Terminus doesn't appear to know that a site was unfrozen. I realized that I probably didn't document it properly.

[2017-09-24 02:20] Mchampsee commented on #1764
@TeslaDethray - I've re-written the issue so that its more clear.

[2017-09-26 21:49] thomas-thackery opened #1775 "machine-token:list not returning list of machine tokens"
### Expected behavior
Should return list of machine-tokens

### Actual behavior
[code]

### Steps to reproduce the behavior
Run `machine-token:list`

[code]

[2017-09-26 22:01] ttrowell commented on #1775
@TeslaDethray I was also able to reproduce. FYI.

[2017-09-27 18:38] dunin commented on #1775
Hi there.

@TeslaDethray @ttrowell I can not reproduce.

[code]
[code]

[2017-10-02 20:42] danielbachhuber opened #1778 "Terminus can break WXR imports using WordPress importer"
WordPress has an export/import workflow using WXR, an XML format.

The import process can be run on the command line via WP-CLI's `wp import` command.

At the very end of an import, the WordPress importer plugin [calls three methods which don't provide any output](https://plugins.trac.wordpress.org/browser/wordpress-importer/trunk/wordpress-importer.php#L117):

[code]

Because these methods don't

[2017-10-02 22:27] danielbachhuber commented on #1778
I tried working around this by providing some random keyboard input but that didn't work:

[code]

[2017-10-05 19:27] davidneedham commented on #1775
I'm able to recreate this issue. Furthermore, I'm not able to add new machine tokens. It may be a different issue, so I'll open a different issue for that.

[code]

Note: this also happens for me running PHP 7.0 and 7.1. It looks like we're all managing PHP with homebrew. Could that be related?

I tried `brew unlink php56` and confirmed I'm now running the standard version of PHP:
[code]
But `term

[2017-10-05 20:07] mattbailey37 commented on #1677
@generalredneck just want to chime in and say I've run into this (see #1699 and #1700). @greg-1-anderson made some fixes for the tty/interactive part, but that didn't have the desired effect. We had to disable some of the Terminus usage via node in the meanwhile. I finally had some cycles to take another look.

Here's an interesting datapoint I discovered: if you use `execSync` instead of `exec`,

[2017-10-10 09:10] mbelchev commented on #1506
Thank you @JoshShashaty!

[2017-10-12 00:50] SaraMcCutcheon commented on #1775
This issue lies deeper than Terminus. It is being worked on presently. FWIW, I cannot dupe at the moment, although I have seen this in the past. You will notice that when it occurs on Terminus, it simultaneously occurs in the Dashboard.
![image](https://user-images.githubusercontent.com/868204/31473978-b3def510-aeac-11e7-8d90-145c85d2e3a9.png)
![image](https://user-images.githubusercontent.com/868

[2017-10-12 00:51] #1775 closed, assigned to nobody

[2017-10-18 16:38] #1757 closed, assigned to nobody

[2017-10-18 16:45] SaraMcCutcheon commented on #1743
There hasn't been any change in behaviour about the password entry. Closing because this probably worked back in July.

[2017-10-18 16:45] #1743 closed, assigned to nobody

[2017-10-18 17:00] SaraMcCutcheon commented on #1771
When I run this command on this environment, I am definitely getting some messages from the server although I doubt these are the ones you wanted to see.
![image](https://user-images.githubusercontent.com/868204/31731630-849ab74c-b3ea-11e7-9cdd-f09e9e2e05fe.png)

In fact, every command on almonds-newsroom yields this error. When running on another Drupal site, we have output:
![image](https://user

[2017-10-18 17:00] #1771 closed, assigned to nobody

[2017-10-18 17:04] greg-1-anderson commented on #1771
Looks like the user is on Windows. The AppVeyor Windows tests are failing in some tty test. That failure might be related to these reports of `terminus drush` / `terminus wp` not working on Windows.

(This issue is a duplicate, but I'm not sure where the duplicate issue/issues are.)

[2017-10-18 17:19] SaraMcCutcheon commented on #1778
@danielbachhuber Does this command work when SFTPing into the server to try it? (It doesn't for me citing missing PHP components.) What is the output your are given?

[2017-10-18 17:21] SaraMcCutcheon commented on #1765
@ataylorme So you were able to duplicate the issue? If so, how?

[2017-10-18 17:27] danielbachhuber commented on #1778
@TeslaDethray How would I SFTP into the server and run a CLI command?

Also, to clarify, you'll need a very large WXR file with thousands of posts and attachments to reproduce the issue. Without a large amount of data, the aforementioned methods will execute quickly.

Correct me if I'm wrong, but I believe this is already a known issue: SSH connections are dropped if there's no output for some per

[2017-10-19 14:33] arrubiu commented on #1765
Same problem with Terminus 1.6.0.
I'm trying to update a Drupal 8 core from 8.3.7 to 8.4.0:

[code]

[EDIT] I've upload a log of terminus launched with -vvv option
[terminus_outptut.log](https://github.com/pantheon-systems/terminus/files/1398894/terminus_outptut.log)

[2017-10-20 15:01] ataylorme opened #1785 "Terminus tab auto complete"
### Expected behavior
When I start typing a Terminus command and press `tab` I expect auto complete to work, as it did in Terminus `1.x` #311

### Actual behavior
Nothing hapens

### Steps to reproduce the behavior
Type `terminus env:comm` then press `tab`

[2017-10-20 15:04] arrubiu commented on #1744
I'm working with docker, with other people. I use to copy drush alias on drush folder, in D8 installation, so who have to work on a project finds the alias inside the document root.
So, thinking about an automation of the development, it could be useful to use a script that update the alias only for the project.

[2017-10-20 15:30] stevector commented on #1785
@ataylorme is this a duplicate of https://github.com/pantheon-systems/terminus/issues/1595 ?

[2017-10-20 15:30] stevector commented on #1595
I have autocomplete of commands working on my machine via https://github.com/bamarni/symfony-console-autocomplete

[2017-10-20 16:08] ataylorme commented on #1785
Yes, guess my search for "auto complete" didn't find it since I had a space

[2017-10-20 16:08] #1785 closed, assigned to nobody

[2017-10-20 21:43] giteshk opened #1786 "Can we have the date the site was frozen in the terminus site:info or terminus sites:list command"
It would be awesome if we can have the date the site was frozen as one of the attributes returned by the commands.

It would give us the ability to make decisions about which sites can be safely archived and removed.

[2017-10-20 22:45] ghost opened #1787 "wp launchcheck fails when run via terminus"
### Expected behavior

Expected normal output for the we launchcheck secure command.

### Actual behavior

` [debug] Plugin Autoload: %dir is a Terminus source file.
 [debug] #### REQUEST ####
Headers: {"Content-type":"application\/json","User-Agent":"Terminus\/1.6.0 (php_version=5.6.30&script=bin\/terminus)","Authorization":"**HIDDEN**"}
URI: https://terminus.pantheon.io:443/api/site-names/www-ai

[2017-10-23 14:52] arrubiu commented on #1765
In the protected method "interpolateString($message, $replacements)" message is an array, bu strtr needs a string (vendor/pantheon-systems/terminus/src/Exceptions/TerminusException.php on line 72).
This is $message in my installation:

[code]

[2017-10-23 23:47] SaraMcCutcheon commented on #1787
@xq42 I switched my PHP to 5.6.31 and ran the same to success
![image](https://user-images.githubusercontent.com/868204/31918352-074a0c04-b811-11e7-92bb-0e9b35b86869.png)

The text you included directly implicates code on the server in the failure. It appears that the `wp-content` directory in your WP install may not be present where the script is looking for it.
[code]

If I go into an environmen

[2017-10-23 23:47] #1787 closed, assigned to nobody

[2017-10-23 23:54] SaraMcCutcheon commented on #1786
@giteshk This would be very simple to add. The date is provided via the API in the very call by which the proffered information is gleaned. I'll whip up change this in a jiffy.

[2017-10-24 23:23] ptsoftware commented on #1765
I'm running into the same issue. I thought it might be an issue with the terminus version but I updgraded to Terminus 1.6.0 and I was getting the same issue. All of my other terminus scripts seem to be working but this command has an issue.

**Command:** terminus multidev:merge-from-dev $SITE.$SITEENV where $SITEENV is a multi-dev environment

**Error:**  PHP Warning:  strtr() expects parameter 1

[2017-10-26 22:46] populist opened #1790 "Support for Multiple Values for TAG?"
Does anyone else make use of the multiple types of tags with their organizations and have the need to provide multiple values in --tag to terminus via:

_terminus org:site:list [--tag [TAG]]_

For organizations looking to do lots of automatic around their updates, having more fine grain control might be helpful. Looking for additional use cases.

[2017-11-03 04:19] giteshk commented on #1786
@TeslaDethray Thank you for this. When can I expect the PR to be merged?

[2017-11-03 15:58] SaraMcCutcheon commented on #1790
This has been added to Pantheon's Jira workboard as AL-1293

[2017-11-03 16:23] #1786 closed, assigned to TeslaDethray

[2017-11-03 18:54] ssteigen opened #1793 "Terminus won't update from 1.5.0 to 1.6.1"
### Expected behavior
When I execute `terminus --version`, I get the following output:

[code]

When I run the command `curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar update`, I expect terminus to update to version 1.6.1.

### Actual behavior
When I run `curl -O https://raw.githubusercontent.com/pantheon-systems/term

[2017-11-08 17:17] jurgenhaas opened #1794 "How to use Terminus library inside another package"
I wasn't able to find an example and wonder if anyone could quickly give me a hint on how to utilize Terminus from within my own package.

As an example, I'd like to do something along the lines of this:

[code]

I guess i need to run auth and sites through Robo somehow. Can anyone shed some light on this?

[2017-11-08 17:24] greg-1-anderson commented on #1794
Depends on what you are trying to do. From the snippet above, it looks like your best course of action would be to write a Terminus plugin.

What sort of environment are you running this code in, and what sort of use cases do you have for Terminus?

[2017-11-08 17:31] SaraMcCutcheon commented on #1793
@ssteigen I'm able to duplicate this error. I'm moving this issue to the Terminus Installer repository. In the mean time, do you have [Composer](https://getcomposer.org/download/)? If you do, you can update Terminus by going to the dir in which you installed it, updating the version of Terminus to either `1.6.1` or `^1.6` (or any other setting that pleases you) and running `composer update`.

[2017-11-08 17:32] SaraMcCutcheon commented on #1793
Moved to and combined with https://github.com/pantheon-systems/terminus-installer/issues/31

[2017-11-08 17:32] #1793 closed, assigned to nobody

[2017-11-09 11:19] jurgenhaas commented on #1794
Thanks @greg-1-anderson for your attention on this. My use case is coming from a discussion with Damien McKenna over at the Drupal Remote Dadhboard issue queue (https://www.drupal.org/project/drd) where we have integrated DRD with Pantheon such that we are able to import the inventory from a Pantheon account to have a quick setup with all the sites hosted there so that DRD can monitor and manage t

[2017-11-09 22:00] greg-1-anderson commented on #1794
One very important thing to note is that Terminus was not designed to be installed inside a Drupal site. Terminus requires Symfony 3, so you'll have a better chance of everything working if you are using Drupal 8.4.0 or later. There is no guarentee that your integration will keep working with new versions of Drupal &/or Terminus, though, as this is not a supported installation method. I would ther

[2017-11-10 05:43] giteshk opened #1795 "Can you add the last_frozen_at to the site:list command too?"
Thank you for adding the last_frozen_at to the site:info command.

It would be nice if we could also return the same values in site:list or org:site:list command output too

[2017-11-10 13:00] jurgenhaas commented on #1794
So, yes. DRD is on Drupal core 8.4 or later and only the remote sites can be anything different from that. However, it get the feeling that for the job we're looking at, Terminus in either way (as external executable or embedded library) might be too heavy weight.

What we really need are 2 functions only:

- Get a list of all sites in all projects
- Launch a drush command on one of those sites

O

[2017-11-10 14:09] greg-1-anderson commented on #1794
Terminus is open source, so you can take a look at the implementation of the various commands you need for guidance.  Calling a Drush command on a Pantheon site is pretty easy. Terminus uses ssh, and authenticates with a public/private key pair. This code would be easy to duplicate. Note also that Drush is available on the Pantheon platform, and you can make remote calls to a different Pantheon si

[2017-11-10 16:53] jeffam opened #1796 "Terminus dependencies are incompatible with drupal-composer/drupal-project"
I'd like to include terminus as a dependency in an existing composer-based Drupal 8 project. This project was started with [`drupal-composer/drupal-project`](https://github.com/drupal-composer/drupal-project).

When I try to add terminus as a dependency, I get an error.

I'm guessing that some version constraints on the terminus package just need to be adjusted. Or maybe the issue is with the depe

[2017-11-10 23:17] greg-1-anderson commented on #1796
You could try removing your composer.lock file, and see if Composer can then generate a resolvable set of dependencies. However, please note that Terminus was not designed to be compatible with Drupal. Even if this works today, future versions of Drupal or future versions of Terminus might require different dependencies, making it no longer possible to install them together.

Since Terminus was ne

[2017-11-10 23:17] #1796 closed, assigned to nobody

[2017-11-11 00:27] jeffam commented on #1796
Thanks for your quick reply @greg-1-anderson!

No worries. I was mainly interested in including terminus in an existing Drupal project in a way that would ensure that all developers a) got it installed automatically, and 2) all got the same version.

[2017-11-11 14:54] greg-1-anderson commented on #1796
You could commit all of Terminus + its vendor directory somewhere outside your Drupal root. When you run `composer install` in your Terminus directory, you could set `COMPOSER_BIN_DIR` to point at `vendor/bin` for your Drupal site so that you do not have multiple directories to add to your `$PATH`

[2017-11-13 10:46] jurgenhaas commented on #1794
OK, I've now implemented all neccessary queries directly by using the Guzzle client and won't be using Terminus or other Pantheon libraries for that.

[2017-11-13 10:46] #1794 closed, assigned to nobody

[2017-11-14 08:28] mxr576 commented on #1771
I have the same issue on OSX with PHP 7.1. I had to switch to 1.5.0. with PHP 5.6 in a Linux VM to make it work again, because even with 1.5.0 on OSX I was not able to make this work.

[2017-11-14 18:58] reesscot opened #1797 "workflow:watch command doesn't work on v1.6.x"
### Expected behavior
Terminus command 'workflow:watch' should show QS Hooks status running on Pantheon platform.

### Actual behavior
Terminus command 'workflow:watch' DOES NOT show QS Hooks status running on Pantheon platform. (works after downgrading to 1.4.1, did not test on 1.5.x)

### Steps to reproduce the behavior
1. Run `terminus workflow:watch PROPERTY` (with v1.6.1)
2. Start a clone dat

[2017-11-16 03:44] kopepasah opened #1798 "Disable Terminus update notices in the command line."
### Expected behavior
No update notices show.

### Actual behavior
Every time I run a script or command:
[code]

[2017-11-16 03:48] greg-1-anderson commented on #1798
Create a file `~/.terminus/config.yml`. Put in the following content:
[code]
Add that line to the existing file if you already have a `~/.terminus/config.yml`

[2017-11-16 03:48] #1798 closed, assigned to nobody

[2017-11-16 03:49] greg-1-anderson commented on #1798
If you'd prefer to do this from `.bashrc`:
[code]

[2017-11-16 06:09] kopepasah commented on #1798
Excellent, thanks.

[2017-11-16 07:07] kopepasah commented on #1737
Disabling notices is something I too would utilize. When running large scripts, especially those which have our own messages written, the notices from Terminus sometimes disrupt the flow of the messages.

[2017-11-16 07:08] kopepasah commented on #1737
I am curious as to the reason why this cannot be added. (e.g. the label `wontfix` is set)

[2017-11-16 15:23] stevector commented on #1797
I'm experiencing the same behavior in 1.6.1 and 1.6.0. I saw output after switching back to 1.5.0

[2017-11-16 15:24] ataylorme commented on #1797
I tested `terminus workflow:watch` on a few sites and it failed to log any workflows, not just Quicksilver output. Cancelling `workflow:watch` and running `workflow:list` showed the events properly. @reescott try using `workflow:list` after the fact for now.

[2017-11-16 15:51] reesscot commented on #1797
@ataylorme Thanks for the workaround. I will use that for now until it is fixed.

[2017-11-16 16:13] greg-1-anderson commented on #1737
As a workaround, you could use `terminus wp site.env -- cmd 2>/dev/null`

[2017-11-17 08:25] rubelyn opened #1799 "PHP Fatal error: Terminus has colliding constructor definitions -- PHP 5.5.9"
### Actual behavior

Terminus throwing errorr after updating to latest version:

`PHP Fatal error: Pantheon\Terminus\Models\Environment has colliding constructor definitions coming from traits in /usr/local/google/home/markwill/bin/terminus/vendor/pantheon-systems/terminus/src/Models/Environment.php on line 879`

`PHP Fatal error: Pantheon\Terminus\Models\Branch has colliding constructor definitio

[2017-11-17 19:41] greg-1-anderson commented on #1799
I discussed this with a customer in #power-users last night. I could not reproduce in PHP 7.0 or in PHP 5.5.  Perhaps this is only a problem in older versions of PHP 5.5, or could depend on settings in php.ini.

https://pantheon-community.slack.com/archives/C2GJ3JG7Q/p1510880255000042

[2017-11-17 20:09] SteveRyan-ASU commented on #1790
👍 for me regarding this request as well with the specific application of scripting updates for a specific subset of sites in our organization.

[2017-11-17 20:20] SteveRyan-ASU opened #1800 "Additional help text requested for `upstream:updates:status`"
### Expected behavior
It would be great if the `--help` option for this command would display a list of all possible results. Through trial & error, I figured out that it either displays `current` or `outdated` but having a list in the documentation would be more beneficial.

### Actual behavior
`terminus upstream:updates:status --help` produces:
[code]
### Steps to reproduce the behavior
`terminu

[2017-11-21 19:17] davewilford commented on #1765
Has anyone progressed with this? I am also getting the same error trying to update to Drupal 8.4.

[2017-11-22 12:13] angela-G commented on #1799
I ran into a similar problem on a Windows machine.

[code]

PHP version is 5.5.12

[code]

Is there any information, what settings in php.ini can cause this error?

[2017-11-22 14:58] greg-1-anderson commented on #1799
Try upgrading to php 5.6, or at least use a later version of 5.5.

[2017-11-27 09:07] angela-G commented on #1799
Upgrading to php 5.6 helped.

Thanks for help!

[2017-12-03 17:42] sarahg opened #1803 "404 response from site:team:remove when removing yourself from a team"
### Expected behavior
When I remove myself from a site team using Terminus,
command returns: Status Code: 200
 [notice] Removed a user from site team

### Actual behavior
When I remove myself from a site team using Terminus,
command returns: [error]  Client error: `GET https://terminus.pantheon.io/api/sites/1e5155c6-e7de-479a-a5fd-4ea20735fcb8/workflows/07cfd02a-d84e-11e7-b3a6-42010a800117` result

[2017-12-07 14:17] claytron5000 commented on #1797
I experienced the same behavior. However, `workflow:list` was not outputting runtime messages. I am developing a quicksliver script, so I wanted to be able to view the script's output (`echo` and the like). I found downgrading to `1.5.0` did the trick.

[2017-12-07 18:43] megclaypool commented on #1790
👍  -- was looking for this feature and I'm sad to see it's still just a twinkle in Cheney's eye... :wry grin:

[2017-12-08 21:36] dalin- opened #1804 "PHP fatal errors when merging master into a multi-dev and there are merge conflicts"
### Steps to reproduce
`terminus multidev:merge-from-dev site.multidev`

### Expected behavior
Merge fails and conflicts are reported.

### Actual behavior
PHP Warning:  strtr() expects parameter 1 to be string, array given in /Users/dave/.composer/global/pantheon-systems/terminus/vendor/pantheon-systems/terminus/src/Exceptions/TerminusException.php on line 72

Warning: strtr() expects parameter 1

[2017-12-11 06:36] tdmalone opened #1806 "`getCommits()` function error when running env:deploy"
### Expected behavior
Expected the site to deploy from the dev to test environment.

### Actual behavior
Receive the following error:
[code]
As requested, the verbose output (I've redacted anything which looked like it contained identifying information):
[code]

### Steps to reproduce the behavior
1. Run `terminus env:deploy SITE_NAME.dev`

As requested, output of `terminus self:info`:

[code]

Th

[2017-12-11 14:51] arrubiu commented on #1804
It seems like #1765

[2017-12-11 17:56] greg-1-anderson commented on #1765
Didn't track this down in the code, but from the symptoms above it looks like someone is taking the output from an `exec` and passing it as the message to an exception. Since `exec` returns an array of strings, this should be `implode`d first.

Probably, anyway.

[2017-12-11 21:14] generalredneck commented on #1677
Ok as of 1.6.1 this appears to be fixed.

[2017-12-11 21:16] generalredneck commented on #1677
Well crap... jumped the gun... still gets hung up at the end of the script complete.

[2017-12-13 17:42] arosboro opened #1808 "Terminus dependencies have changed upstream"
Upstream symfony/process requires symfony 4.0 now, which has removed a method which terminus relies on to escape argument strings: https://github.com/symfony/console/blob/231cf982dbb5e91070dda505240a528fec307eb7/composer.json#L28

### Expected behavior
Terminus creates an environment

### Actual behavior
[code]

The Error:
[code]

### Steps to reproduce the behavior
Install Terminus 1.6.1

[2017-12-13 20:20] dustinleblanc commented on #1771
@mxr576 Quite interesting, we have tons of folks running Terminus on OSX (including almost the entire development team) without that issue. I've definitely seen this reproduced in windows, but perhaps you use a non-standard setup for your Terminal on OSX?

[2017-12-13 20:23] dustinleblanc commented on #1796
@jeffam Hey Jeff! Hope you are well! Another great way to solve that problem is with [Lando](https://docs.devwithlando.io/). Each dev will get the exact same set of infrastructure that includes Terminus in the same version for everyone on the team.

[2017-12-13 20:47] greg-1-anderson commented on #1808
This bug is actually evidenced in the Terminus Build Tools plugin, not Terminus; however, it would be better if Terminus would pin symfony/process to version 3, just as it pins symfony/console to version 3, to prevent its dependencies from

As of yesterday, the Robo php task runner supports Symfony 2, 3 and 4. Because symfony/process has no direct dependency on any other Symfony components, it is

[2017-12-13 20:52] chertzog commented on #1808
Is there any way to apply this now, maybe via patch so that we can get a deployment out?

[2017-12-13 20:52] arosboro commented on #1808
We're looking into using https://patch-diff.githubusercontent.com/raw/pantheon-systems/terminus/pull/1809.patch in the interim until official resolution is made.

[2017-12-13 20:54] greg-1-anderson commented on #1808
After installing Terminus via `composer require`, you can just `cd` to the installation directory and run `composer require symfony/process:^3`. That should get you back to the right version of symfony/process.

[2017-12-13 21:01] greg-1-anderson commented on #1808
Note that when I install Terminus in a CI process, I do not use `cgr`; instead, I use the equivalent `composer require` command typed out in full:
[code]
I modified my usual install line to also include the pin of symfony/process:^3.

For this to work, you also need whichever `bin` dir you use to be in your $PATH. In Circle 1.x, in the `environment:` section, add:
[code]
If using Circle 2.x, you c

[2017-12-13 21:18] #1808 closed, assigned to nobody

[2017-12-13 21:20] greg-1-anderson commented on #1808
Note that the fix is now merged to master, so the other workaround that is available now is to install `dev-master` of Terminus instead of `^1`. This should only be done as a short-term solution, though, as your CI builds would vulnerable to more frequent breakage if you installed Terminus dev releases long-term.

[2017-12-14 18:47] mxr576 commented on #1771
I have Terminus and [robbyrussell/oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh) installed. I think I do not have anything special in my setup.

[2017-12-14 19:50] dustinleblanc commented on #1771
Yeah I use oh my zsh with iterm. wierd that you ran into this.

[2017-12-18 02:13] tdmalone opened #1810 "Having trouble getting output on Windows"
### Expected behavior

Expected the standard wp-cli help output, eg:

[code]

### Actual behavior

On my Linux box, this works as expected.

On my Windows box, I get the following output in Mingw64 (aka git bash):

[code]

And in cmd:

[code]

No other command output is given, including what the error message was when running through cmd.

(Note I have replaced the actual site name with SITE_NAME

[2017-12-18 05:52] tdmalone commented on #1806
I've just realised I should have been running `terminus env:deploy SITE_NAME.test`, not `.dev`. D'oh!

Having said that, I'll leave this open in case you want to look at catching that error. A more friendly 'you cannot deploy _to_ the dev environment' would probably be helpful ;)

[2017-12-18 16:47] jeffam commented on #1796
Thanks for the info, @dustinleblanc! Lando looks like another fine entry in the ever-growing development environment space. I just wish that it were easier for the Docker devs to improve file sharing performance issues on macOS.

[2017-12-18 17:26] dustinleblanc commented on #1796
Yep, @jeffam, they've definitely gotten better, but it is still slow on OSX.

Since using Lando, at least all the complication of setting it up has gotten easier. It is way, way faster on a Linux desktop though, I've tested the same project on both systems with massively different results. I put up with the speed hit for the other benefits, but I've also spent time on the other side of that coin.

[2017-12-19 18:07] hussainweb commented on #1808
Just faced this issue. I hope a 1.6.2 is tagged soon. I am requiring symfony/process in my Docker image manually for now but I don't want to stay on these workarounds for long.

[2017-12-20 23:35] jeremysimmons commented on #1704
@TeslaDethray any update on this? Is there some other way to get the hostkeys for a list of sites?

[2018-01-02 16:30] ataylorme opened #1811 "Add aliases to service-level:set"
### Expected behavior
[Pantheon plans](https://pantheon.io/pricing) are externally listed as sandbox, personal, professional and business. I expect `sandbox`, `personal` or `professional` to be valid options for `service-level:set`

### Actual behavior
`service-level:set` uses `free` for sandbox, `basic` for `personal` and `pro` for `professional`. These are internal names. We should alias the ext